hetzner-2c-4g/AI SEO Blog Writer-wnOdP0gpgSdIGLsO.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Key Takeaways AI Agent": {
      "main": [
        [
          {
            "node": "Set Key Takeaways",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Key Takeaways": {
      "main": [
        [
          {
            "node": "Outline Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Outline Agent": {
      "main": [
        [
          {
            "node": "Set Post Outline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SERPs, Writing, KWs, Insights": {
      "main": [
        [
          {
            "node": "Set Post KWs and Insights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final Edit Agent": {
      "main": [
        [
          {
            "node": "Set Final Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "SERPs, Writing, KWs, Insights",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Update post titles",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SERPs, Writing, KWs, Insights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "SERPs, Writing, KWs, Insights",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Get post titles": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Post New Title": {
      "main": [
        [
          {
            "node": "Key Takeaways AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Post KWs and Insights": {
      "main": [
        [
          {
            "node": "Refine the Title",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Post Outline": {
      "main": [
        [
          {
            "node": "Post Content Writer Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Draft Post": {
      "main": [
        [
          {
            "node": "Post Assembly Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Final Post": {
      "main": [
        [
          {
            "node": "Post Meta Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Post Folder": {
      "main": [
        [
          {
            "node": "Create Post Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get post titles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Refine the Title",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI1": {
      "ai_tool": [
        [
          {
            "node": "Post Content Writer Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Refine the Title": {
      "main": [
        [
          {
            "node": "Set Post New Title",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Assembly Agent": {
      "main": [
        [
          {
            "node": "Final Edit Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Content Writer Agent": {
      "main": [
        [
          {
            "node": "Set Draft Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Meta Agent": {
      "main": [
        [
          {
            "node": "Set Post Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "Post Meta Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Set Post Metadata": {
      "main": [
        [
          {
            "node": "Generate Post Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Post Image": {
      "main": [
        [
          {
            "node": "Set Post Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Post Image": {
      "main": [
        [
          {
            "node": "Markdown Final Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Post Doc": {
      "main": [
        [
          {
            "node": "Update a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Share Post Doc": {
      "main": [
        [
          {
            "node": "Set Post Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Post Drive": {
      "main": [
        [
          {
            "node": "Set Sheet Vars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Sheet Vars": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown Final Post": {
      "main": [
        [
          {
            "node": "Create Post Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a document": {
      "main": [
        [
          {
            "node": "Share Post Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "SERPs, Writing, KWs, Insights",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Key Takeaways AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Refine the Title",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "Final Edit Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "Post Assembly Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Post Content Writer Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Outline Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model7": {
      "ai_languageModel": [
        [
          {
            "node": "Post Meta Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-30T10:50:20.322Z",
  "id": "wnOdP0gpgSdIGLsO",
  "isArchived": false,
  "meta": null,
  "name": "AI SEO Blog Writer",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eafbe44d-f811-4660-9f89-0ebe61febdcc",
              "name": "key_takeaways",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        976,
        752
      ],
      "id": "ebbbdc23-33c4-4600-a422-2bef02592cbd",
      "name": "Set Key Takeaways"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create Key Takeaways using:\n\n- **Optimized Title**: {{ $('Set Post New Title').item.json.new_title }}\nPrimary Keyword: {{ $('Loop Over Items1').item.json['OG:Keywords'] }}\nTitle: {{ $('Loop Over Items1').item.json['OG:Title'] }}\nSearch intent: {{ $('Set Post KWs and Insights').item.json.search_intent }}\nSemantic analysis: {{ $('Set Post KWs and Insights').item.json.semantic_analysis }}\nSecondary keywords: {{ $('Set Post KWs and Insights').item.json.keywords }}\nWriting style: {{ $('Set Post KWs and Insights').item.json.writing_style }}\nWriting tone: {{ $('Set Post KWs and Insights').item.json.writing_tone }}\nArticle goal: {{ $('Set Post KWs and Insights').item.json.article_goal }}",
        "options": {
          "systemMessage": "You are an expert content strategist specializing in crafting structured, insightful, and engaging **key takeaways** for articles. Your goal is to summarize the most important information while ensuring the takeaways are **concise, impactful, and easy to digest**.\n\n### **Your Task:**\n1. **Generate an introductory paragraph** that sets up the key takeaways and provides context for the reader.\n2. **Extract the most valuable takeaways** from the provided data:\n   - **Key concepts** covered in the article.\n   - **Relevant semantic subtopics** that align with the topic.\n   - **Hidden insights** (if applicable) that add unique value.\n3. **Format each takeaway in Markdown** as:\n[Action-driven bolded heading]: Concise explanation inline.\n- The **bolded heading** should be **engaging and impactful** (not generic).  \n- The **explanation should be concise and inline with the heading**.  \n- **No section headers, extra spaces, or dividers**.  \n4. **Ensure takeaways provide substantial knowledge** but are not overwhelming:\n- If the **hidden insight** adds value, incorporate it as a **dedicated takeaway** or **enhance an existing one**.\n- If the **hidden insight does not fit naturally**, exclude it.\n5. **Write an outro paragraph** that smoothly leads into the main body of the article.\n\n### **Formatting & Style Guidelines**\n✅ **Use Markdown for formatting**  \n✅ **Bullet points with inline bolded headings**  \n✅ **No extra section headers, dividers, or spaces**  \n✅ **Use engaging, action-driven takeaway headers** (e.g., \"Beyond fixed rules: AI adapts in real time\" instead of \"A paradigm shift from traditional automation\")  \n✅ **Ensure takeaways are concise yet informative**  \n\n### **Example Inputs & Outputs**\n---\n#### **Input Example**\n**Article Title:** `\"AI Automation for Small Businesses: How to Save Time & Boost Revenue\"`  \n**Primary Keyword:** `\"AI automation for small businesses\"`  \n**Hidden Insight:** `\"Most AI automation content focuses on efficiency, but a major benefit is reducing decision fatigue.\"`  \n**Common Subtopics:** `[\"What is AI automation?\", \"How small businesses can use AI\", \"Best AI tools for automation\"]`\n\n---\n#### **Output Example**\n```markdown\nAI automation is transforming small businesses by optimizing workflows, improving efficiency, and enhancing decision-making. Below are the key takeaways highlighting its potential.\n\n- **AI enables true autonomy through adaptive learning:** Unlike traditional systems, AI learns and evolves over time, reducing human supervision by refining its decision-making processes independently.  \n- **Beyond fixed rules: AI adapts in real time:** Traditional AI follows static rules, whereas AI-driven automation dynamically adjusts to changing environments, solving complex, unsupervised tasks.  \n- **AI agents optimize complex workflows effortlessly:** These intelligent systems manage intricate processes with greater efficiency, improving operations like customer support, supply chain management, and fraud detection.  \n- **Seamless integration into business operations:** AI integrates with existing systems like CRMs and ERP platforms, allowing businesses to modernize workflows without overhauling infrastructure.  \n- **Scalability without added complexity:** AI systems manage process complexity and expand capabilities, enabling businesses to scale efficiently without requiring proportional increases in resources.  \n- **AI minimizes decision fatigue, maximizing human focus:** By handling routine and complex decisions autonomously, AI reduces cognitive load on human teams, allowing them to focus on high-value tasks.  \n- **AI ensures resilience through continuous optimization:** Through machine learning, AI refines its models over time, ensuring consistent performance even in dynamic and unpredictable environments.  \n- **AI innovation transforming industries:** Sectors like manufacturing, healthcare, and finance leverage AI for predictive maintenance, personalized care, and risk assessment.  \n\nAI-driven automation offers a new frontier for workflow innovation by replacing static rule-based automation with intelligent, adaptive systems. In the sections ahead, we’ll explore its core components, industry applications, and strategies for seamless business integration.\n\nOutput Format:\nReturn the final takeaways in Markdown format, structured as:\n\nIntro paragraph\nBullet points with inline bolded headings and concise explanations\nOutro paragraph\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        688,
        752
      ],
      "id": "1ef3ce0c-724c-40c4-a294-6b45390fecfa",
      "name": "Key Takeaways AI Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert SEO content writer tasked with creating a comprehensive, well-researched blog post. Use the provided data to craft an engaging, authoritative article that ranks well in search engines while delivering exceptional value to readers.\n\nARTICLE SPECIFICATIONS\nPrimary Keyword: {{ $('Loop Over Items1').item.json['OG:Keywords'] }}\nTitle: {{ $('Set Post New Title').item.json.new_title }}\nOriginal Title Reference: {{ $('Loop Over Items1').item.json['OG:Title'] }}\nTarget Word Count: 2,500-3,500 words\nWriting Tone: {{ $('Set Post KWs and Insights').item.json.writing_tone }}\nWriting Style: {{ $('Set Post KWs and Insights').item.json.writing_style }}\n\nSTRATEGIC FOUNDATION\nSearch Intent\n{{ $('Set Post KWs and Insights').item.json.search_intent }}\nSemantic Context\n{{ $('Set Post KWs and Insights').item.json.semantic_analysis }}\nApplication: Use this semantic framework to ensure comprehensive topic coverage and natural keyword integration.\nArticle Goal\n{{ $('Set Post KWs and Insights').item.json.article_goal }}\n\nKEY CONTENT ELEMENTS\nKey Takeaways\n{{ $('Set Key Takeaways').item.json.key_takeaways }}\nIntegration Strategy: These key takeaways should be woven throughout the article and summarized prominently. Consider featuring them in a highlighted box near the introduction or as a summary section.\nIntroduction Content\n{{ $json.introduction }}\nUsage: Use this as the foundation for your introduction, ensuring you expand it to 150-200 words while incorporating the primary keyword naturally in the first 100 words.\n\nSEO KEYWORD STRATEGY\nPrimary Keyword: {{ $('Loop Over Items1').item.json['OG:Keywords'] }}\nRequired Placements:\n\nH1 (title)\nFirst 100 words of introduction\nAt least 2-3 H2 headings\nMeta description\nURL slug\nConclusion\nMaintain 1-2% keyword density throughout\n\nSecondary Keywords (LSI/Semantic)\n{{ $('Set Post KWs and Insights').item.json.keywords }}\nDistribution:\n\nNaturally integrate throughout all sections\nUse in H2 and H3 subheadings where relevant\nInclude in introduction and conclusion\nSprinkle contextually in body paragraphs\nUse variations and long-tail versions\n\n\nCONTENT STRUCTURE\nUse the provided outline as your structural framework, ensuring all sections flow logically and comprehensively cover the topic.\n\nLATEST INDUSTRY CONTEXT (October 2025)\nIncorporate these cutting-edge developments where relevant:\nAI-Powered Field Agents in Airtable\n\nField Agents: AI-enabled fields that automatically retrieve, analyze, or generate data at the cell level\nInternet Search Capability: Field agents can perform web searches and browse URLs (note credit consumption)\nAI-Suggested Records: New feature for linked record fields using AI to suggest related records based on multiple field contexts\nOmni Integration: Airtable's AI assistant can create field agents using natural language requests\n\nSupported File Types\n\nPDF, DOCX, PPTX, XLSX (coming soon), JPG, PNG, WEBP\nAI can reference and analyze these files directly within field agents\n\nFormula Field AI Assistance\n\n\"Generate formula\" button now available in formula field editor\nNatural language formula creation\n\nField Configuration Best Practices\n\nField agents work on intra-linked (same table) and inter-linked (different tables) records\nConnect multiple fields for better AI context and precise suggestions\nBalance internet search usage with credit consumption\n\n\nWRITING INSTRUCTIONS\nIntroduction (150-200 words)\n✅ Must Include:\n\nBuild upon the provided introduction content: {{ $json.introduction }}\nExpand to 150-200 words with compelling hook addressing reader's pain point\nPrimary keyword ({{ $('Loop Over Items1').item.json['OG:Keywords'] }}) in first 100 words (natural placement)\nClear statement of article coverage\nSet reader expectations\nPreview key takeaways naturally\n\nBody Content (Main Sections)\nFor Each Major Section:\n\nStart with engaging H2 heading containing relevant keywords\nLead with main point or benefit\nProvide 2-3 supporting paragraphs with examples\nInclude practical, actionable steps\nUse smooth transitions between sections\nEnsure key takeaways are addressed throughout\n\nContent Enhancement Requirements:\n\n3-4 Real-World Examples: Practical use cases and scenarios\nStep-by-Step Instructions: Clear, numbered steps for complex processes\nCode Snippets: JavaScript examples for Airtable scripting (where relevant)\nVisual Descriptions: Describe what users should see/do (note screenshot placements)\nPro Tips: Insider knowledge and efficiency hacks\nCommon Pitfalls: Warn about frequent mistakes and solutions\n\nTechnical Accuracy Must Include:\n\nLatest Airtable API documentation references\nCorrect field type formats (string, number, array, boolean)\nField naming consistency importance\nTypecast option for automatic data conversion\nRecord ID requirements for updates\n\nLatest Features to Highlight:\n\nField Agent Configuration:\n\nToggle AI-suggested records\nSelect context fields for better suggestions\nManage internet search settings\nCredit consumption considerations\n\n\nAPI Integration Best Practices:\n\nPOST vs PATCH vs PUT methods for different scenarios\nProper JSON structure for field updates\nHandle different field types (linked records, attachments, multiple select)\nError handling and validation\n\n\nScripting Examples:\n\nFetch and transform external JSON data\nCreate batch record updates\nUse map() for data transformation\nImplement loops for multiple record creation\n\n\n\nConclusion (150-200 words)\n✅ Must Include:\n\nSummarize key takeaways: {{ $('Set Key Takeaways').item.json.key_takeaways }}\nReinforce main benefit/transformation\nClear call-to-action\nInspiring or forward-looking statement\nPrimary keyword ({{ $('Loop Over Items1').item.json['OG:Keywords'] }}) - natural placement\n\n\nVOICE & TONE GUIDELINES\nFor {{ $('Set Post KWs and Insights').item.json.writing_tone }} tone:\n❌ Avoid:\n\n\"One must carefully configure the field parameters...\"\n\"The implementation of said features requires...\"\nOverly formal or academic language\nPassive voice constructions\n\n✅ Use:\n\n\"Here's how you can quickly set up your field parameters...\"\n\"Setting this up takes just a few clicks...\"\nActive, conversational language\nDirect, actionable statements\n\nFor {{ $('Set Post KWs and Insights').item.json.writing_style }} style:\n\nUse active voice: \"Configure the field\" NOT \"The field should be configured\"\nChoose concrete words: \"Save 3 hours per week\" NOT \"Save significant time\"\nKeep sentences under 25 words when possible\nBreak complex ideas into digestible chunks\nUse short paragraphs (3-4 sentences maximum)\n\n\nFORMATTING REQUIREMENTS\nUse Markdown:\n\nClear heading hierarchy: H1 → H2 → H3\nBold for key terms and concepts\nItalics for emphasis (use sparingly)\nBullet points for lists\nNumbered lists for sequential steps\nCode blocks for technical examples\n\nParagraph Structure:\n\nMaximum 3-4 sentences per paragraph\nOne main idea per paragraph\nScannable with clear subheadings\n\n\nDELIVERABLES CHECKLIST\nYour output must include:\n1. SEO Elements\n\n SEO-optimized H1 title: {{ $('Set Post New Title').item.json.new_title }}\n Meta description (155-160 characters with primary keyword: {{ $('Loop Over Items1').item.json['OG:Keywords'] }})\n URL slug suggestion\n\n2. Main Article\n\n Complete article following the structural outline\n 2,500-3,500 words\n All sections fully developed with examples\n Code snippets where applicable\n Pro tips and common pitfalls integrated\n Key takeaways clearly presented\n Introduction based on: {{ $json.introduction }}\n\n3. Supplementary Content\n\n FAQ section (4-6 questions with answers)\n Keyword density report summary\n Suggested internal linking opportunities (5-7 suggestions)\n Image placement recommendations with alt text (6-8 images)\n\n4. Quality Assurance\n\n Primary keyword ({{ $('Loop Over Items1').item.json['OG:Keywords'] }}): 1-2% density, appears in title, intro, 2-3 headings, conclusion\n Secondary keywords ({{ $('Set Post KWs and Insights').item.json.keywords }}) naturally distributed throughout\n No keyword stuffing - all integrations feel natural\n Headers follow proper hierarchy (H1 > H2 > H3)\n All technical information accurate and current (October 2025)\n Code examples functional and tested\n Tone ({{ $('Set Post KWs and Insights').item.json.writing_tone }}) and style ({{ $('Set Post KWs and Insights').item.json.writing_style }}) consistent throughout\n Key takeaways prominently featured\n\n\nQUALITY STANDARDS\nContent Quality\n✅ Provides unique insights not found in competitors\n✅ Includes current October 2025 information\n✅ Offers actionable, practical advice\n✅ Uses clear, accessible language aligned with {{ $('Set Post KWs and Insights').item.json.writing_tone }} tone\n✅ Maintains logical flow between sections\n✅ Answers common questions comprehensively\n✅ Key takeaways clearly communicated\nSEO Optimization\n✅ Primary keyword ({{ $('Loop Over Items1').item.json['OG:Keywords'] }}) placement optimized\n✅ Secondary keywords naturally distributed\n✅ Keyword density 1-2%\n✅ Proper header hierarchy\n✅ Internal linking opportunities identified\n✅ Meta description ready\nEngagement Factors\n✅ Compelling, benefit-driven headlines\n✅ Short paragraphs (3-4 sentences max)\n✅ Scannable content with clear subheadings\n✅ Examples and use cases included\n✅ Clear takeaways in each section\n✅ Strong opening hook and closing CTA\nTechnical Accuracy\n✅ All code examples tested and functional\n✅ API endpoints and methods correct\n✅ Field type specifications accurate\n✅ Best practices aligned with Airtable documentation\n✅ No outdated information or deprecated features\n\nCOMPETITIVE DIFFERENTIATION\nWhat makes this article unique:\n\nAddresses search intent: {{ $('Set Post KWs and Insights').item.json.search_intent }}\nSemantic coverage: {{ $('Set Post KWs and Insights').item.json.semantic_analysis }}\nLatest October 2025 feature updates (Field Agents, Omni integration)\nPractical scripting examples with current APIs\nReal-world use case scenarios\nPerformance optimization tips\nTroubleshooting common issues\nClear key takeaways that provide immediate value\n\nAuthority Building:\n\nReference official Airtable documentation\nCite recent updates and release notes\nInclude technical specifications\nDemonstrate deep platform knowledge\nProvide advanced tips for power users\n\n\nSUCCESS CRITERIA\nThis article should achieve:\n\nArticle Goal: {{ $('Set Post KWs and Insights').item.json.article_goal }}\nSearch Rankings: First page for primary keyword ({{ $('Loop Over Items1').item.json['OG:Keywords'] }}) within 3 months\nUser Engagement: Average time on page 4+ minutes\nConversions: Clear path to next action\nAuthority: Backlink-worthy comprehensive resource\nFreshness: Relevant for 6-12 months with minor updates\n\n\nCRITICAL REMINDERS\n\nStay Current: Reflect Airtable's October 2025 capabilities, especially AI Field Agents and Omni integration\nBalance Depth and Accessibility: Technical but understandable for intermediate users, valuable for advanced users\nPrioritize Practical Value: Every section answers \"How does this help me?\" and \"What do I do with this?\"\nNatural SEO: Keywords flow naturally within valuable content—never forced or repetitive\nKey Takeaways Front and Center: Feature the key takeaways prominently and ensure they're addressed throughout\nBuild from Introduction: Use the provided introduction ({{ $json.introduction }}) as your foundation\nAlign with Article Goal: Ensure everything serves the stated article goal",
        "options": {
          "systemMessage": "You are an expert content strategist specializing in structuring articles for clarity, engagement, and SEO effectiveness. Your goal is to generate a **detailed, logical outline** that ensures a smooth reading experience and maximizes content relevance.\n\n### **Your Task:**\n1. **Analyze the provided inputs**, including the article title, primary keyword, key takeaways, semantic analysis, secondary keywords, and hidden insights (if applicable).\n2. **Generate an optimized outline** by:\n   - Structuring the article with a **clear hierarchy of sections**.\n   - Aligning with **SEO best practices** and **user intent**.\n   - Ensuring **logical progression** from start to finish.\n   - Incorporating **hidden insights** if they enhance the content.\n   - **Using secondary keywords and semantic elements (common subtopics & related questions) naturally in headings/subheadings** for SEO.\n3. **Ensure the outline includes:**\n   - **Main sections covering key aspects of the topic**\n   - **Logical sub-sections** that break down complex ideas\n4. **The article title, introduction, and conclusion should be used as references but NOT included in the outline.**\n5. **Format the output in Markdown**:\n   - Use `##` for main sections.\n   - Use `###` for subsections.\n   - Avoid unnecessary headings—keep sections focused and purposeful.\n\n### **Formatting & Style Guidelines**\n✅ **Use Markdown formatting.**  \n✅ **Ensure a logical, structured progression from start to finish.**  \n✅ **Incorporate hidden insights if they enhance the outline.**  \n✅ **Use secondary keywords and semantic elements naturally in headings.**  \n✅ **Exclude the article title, introduction, and conclusion from the final outline.**  \n✅ **Use concise but descriptive section explanations.**  \n\n### **Example Inputs & Outputs**\n---\n#### **Input Example**\n**Article Title:** `\"AI Automation for Small Businesses: How to Save Time & Boost Revenue\"`  \n**Primary Keyword:** `\"AI automation for small businesses\"`  \n**Secondary Keywords:** `[\"AI workflow automation\", \"small business AI tools\", \"automating business operations\"]`  \n**Key Takeaways:** `[\"AI automation reduces decision fatigue.\", \"It improves operational efficiency and workflow management.\", \"Small businesses can implement AI affordably.\"]`  \n**Hidden Insight:** `\"Most discussions on AI automation focus on efficiency, but its real impact is on business adaptability—helping companies pivot faster in changing markets.\"`  \n**Semantic Analysis:**  \n- **Common Subtopics:** `[\"What is AI automation?\", \"How small businesses can use AI\", \"Best AI tools for automation\"]`  \n- **Related Questions:** `[\"What are the best AI automation tools for small businesses?\", \"How does AI improve small business efficiency?\"]`  \n\n---\n#### **Output Example** markdown\n## What is AI Automation?  \n### Understanding AI-powered business automation *(Secondary Keyword Applied)*  \n- Definition of AI automation and its key components.  \n- How AI-powered automation differs from traditional workflow automation.  \n\n### Why small businesses need AI workflow automation *(Semantic & SEO Applied)*  \n- How AI helps small businesses optimize time and improve operations.  \n- Examples of industries benefiting from AI-driven efficiency.  \n\n## Key Benefits of AI in Small Business Operations  \n### Reducing decision fatigue in business owners *(Key Takeaway Applied)*  \n- How AI automation minimizes repetitive decision-making.  \n- Freeing up business owners to focus on strategy and innovation.  \n\n### Boosting efficiency with small business AI tools *(Secondary Keyword Applied)*  \n- The role of AI in automating workflows, customer interactions, and task management.  \n- How automation tools improve productivity.  \n\n### Improving business adaptability with AI *(Hidden Insight Applied)*  \n- How AI enables businesses to pivot quickly in response to market changes.  \n- Case studies on AI-driven adaptability.  \n\n## Implementing AI for Small Business Growth  \n### Choosing the best AI automation tools *(Semantic & SEO Applied)*  \n- Factors to consider when selecting AI-powered solutions.  \n- Overview of top AI tools for small businesses.  \n\n### Automating business operations without disrupting workflows *(Secondary Keyword Applied)*  \n- Best practices for integrating AI seamlessly into existing processes.  \n- How to ensure a smooth transition without disrupting operations.  \n\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1136,
        752
      ],
      "id": "afc099a7-6cb8-4297-bbe3-09998c879599",
      "name": "Outline Agent"
    },
    {
      "parameters": {
        "content": "## 1. Get researched titles and keywords \n",
        "height": 592,
        "width": 1044,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "c2501745-ac23-482a-b93c-edfca0a74ae4",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## 2. Content Planning & Creation\n\n",
        "height": 488,
        "width": 1916,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        640
      ],
      "id": "3ad54f7b-c36d-4a75-98ad-89cefeb4fe59",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Use the given:\nTitle: {{ $json[\"OG:Title\"] }}\nAnd the SERP Results tool to perform research for the primary keyword, {{ $json[\"OG:Keywords\"] }}. \n\nFormat your response as a JSON object:\nIMPORTANT: Do not include extra text, introduction messages, line breaks \\n, or any additional characters.\nJSON Output\n{\n  \"search_intent\": \"<string: informational | transactional | navigational | commercial>\",\n  \"writing_style\": \"<string: concise and professional | engaging and storytelling | data-driven and technical | etc.>\",\n  \"writing_tone\": \"<string: friendly and conversational | formal and authoritative | persuasive and compelling | etc.>\",\n  \"hidden_insight\": \"<string: unique insight if found, otherwise 'No significant insights detected beyond existing content trends.'>\",\n  \"target_audience\": \"<string: who this article is for, e.g., small business owners, tech enthusiasts, marketers, etc.>\",\n  \"goal_of_article\": \"<string: main objective of the article based on search results and insights>\",\n  \"semantic_analysis\": {\n    \"common_subtopics\": [\n      \"<string: subtopic 1>\",\n      \"<string: subtopic 2>\",\n      \"<string: subtopic 3>\"\n    ],\n    \"related_questions\": [\n      \"<string: question 1>\",\n      \"<string: question 2>\",\n      \"<string: question 3>\"\n    ]\n  },\n  \"keywords\": {\n    \"primary_keyword\": \"<string: main focus keyword>\",\n    \"secondary_keywords\": [\n      \"<string: related keyword 1>\",\n      \"<string: related keyword 2>\",\n      \"<string: related keyword 3>\"\n    ],\n    \"semantic_keywords\": [\n      \"<string: semantic keyword 1>\",\n      \"<string: semantic keyword 2>\",\n      \"<string: semantic keyword 3>\"\n    ],\n    \"long_tail_keywords\": [\n      \"<string: long-tail keyword 1>\",\n      \"<string: long-tail keyword 2>\",\n      \"<string: long-tail keyword 3>\"\n    ]\n  }\n}\n\n\nExample JSON Output with Hidden Insight\n{\n  \"search_intent\": \"informational\",\n  \"writing_style\": \"engaging and storytelling\",\n  \"writing_tone\": \"friendly and conversational\",\n  \"hidden_insight\": \"Most content focuses on efficiency and cost savings, but small business owners struggle with decision fatigue. AI automation is not just a time-saver—it helps reduce stress by eliminating repetitive decisions.\",\n  \"target_audience\": \"small business owners, solopreneurs, and startup founders\",\n  \"goal_of_article\": \"Educate small business owners on how AI automation reduces decision fatigue while increasing efficiency and revenue.\",\n  \"semantic_analysis\": {\n    \"common_subtopics\": [\n      \"What is AI automation?\",\n      \"How small businesses can use AI\",\n      \"Best AI tools for business automation\",\n      \"Cost vs. benefit analysis of AI automation\"\n    ],\n    \"related_questions\": [\n      \"How does AI reduce decision fatigue?\",\n      \"What’s the easiest way for small businesses to start using AI?\",\n      \"Is AI automation worth the cost for small businesses?\"\n    ]\n  },\n  \"keywords\": {\n    \"primary_keyword\": \"AI automation for small businesses\",\n    \"secondary_keywords\": [\n      \"AI-powered automation tools\",\n      \"best AI software for small businesses\",\n      \"workflow automation for entrepreneurs\"\n    ],\n    \"semantic_keywords\": [\n      \"business process automation\",\n      \"machine learning in small business\",\n      \"how AI helps efficiency\"\n    ],\n    \"long_tail_keywords\": [\n      \"how can AI help small businesses save time?\",\n      \"best AI automation tools for startups\",\n      \"AI vs manual workflow optimization\"\n    ]\n  }\n}\n\n\nExample JSON Output No Hidden Insight\n{\n  \"search_intent\": \"commercial\",\n  \"writing_style\": \"concise and professional\",\n  \"writing_tone\": \"informative and trustworthy\",\n  \"hidden_insight\": \"No significant insights detected beyond existing content trends.\",\n  \"target_audience\": \"cycling enthusiasts, winter sport athletes, and outdoor adventurers\",\n  \"goal_of_article\": \"Provide an in-depth comparison of the best winter cycling gear and help cyclists choose the right products based on weather conditions.\",\n  \"semantic_analysis\": {\n    \"common_subtopics\": [\n      \"What to look for in winter cycling gear\",\n      \"Top-rated winter cycling jackets and gloves\",\n      \"How to layer clothing for winter rides\",\n      \"Cycling safety tips for cold-weather conditions\"\n    ],\n    \"related_questions\": [\n      \"What is the warmest winter cycling jacket?\",\n      \"Are insulated cycling gloves worth it?\",\n      \"How do I stay warm on long winter bike rides?\"\n    ]\n  },\n  \"keywords\": {\n    \"primary_keyword\": \"best winter gear for cyclists\",\n    \"secondary_keywords\": [\n      \"winter cycling jackets\",\n      \"best gloves for cold weather cycling\",\n      \"waterproof cycling gear\"\n    ],\n    \"semantic_keywords\": [\n      \"insulated bike clothing\",\n      \"cold-weather cycling apparel\",\n      \"bike safety in winter\"\n    ],\n    \"long_tail_keywords\": [\n      \"how to choose winter cycling gloves?\",\n      \"best winter cycling gear for long-distance rides\",\n      \"how to keep hands warm while biking in winter\"\n    ]\n  }\n}\n\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an advanced AI content strategist trained to analyze search results and generate precise writing guidelines for an SEO-optimized blog post. Your goal is to ensure that the article aligns with **search intent**, **semantic relevance**, and **audience expectations** while also uncovering **hidden insights** that may provide a unique angle.\n\n### **Your Task:**\nYou will be given:\n- A **working title**\n- An **article description**\n- A **primary keyword**\n- A **set of search results** (retrieved via the Tavily search results tool)\n\nYour job is to analyze the data and generate **optimized writing guidelines** with the following structured JSON output:\n\n### **1️⃣ Search Intent Detection**  \nDetermine whether the primary intent of the keyword is:  \n- **informational** (learning about a topic)  \n- **transactional** (considering a purchase or service)  \n- **navigational** (finding a specific brand/website)  \n- **commercial** (comparing options before making a decision)  \n\n### **2️⃣ Writing Style & Tone**  \n- Identify the best **writing style** based on search results (e.g., “concise and professional,” “engaging and storytelling,” “data-driven and technical,” etc.).  \n- Identify the **appropriate tone** (e.g., “friendly and conversational,” “formal and authoritative,” “persuasive and compelling,” etc.).  \n\n### **3️⃣ Hidden Insight Extraction**  \n- Analyze **patterns in competitor content** to identify **an insight that is not immediately obvious** but could provide a unique angle.  \n- If no meaningful insight is found, return `\"hidden_insight\": \"No significant insights detected beyond existing content trends.\"`  \n- If an insight is found, clearly explain it.  \n- **Do NOT modify writing style or tone based on the insight**—insights should be separate observations, not tone/style adjustments.  \n\n### **4️⃣ Semantic Analysis (Content Structuring)**  \n- Extract the **common subtopics** frequently covered in top-ranking pages.  \n- Identify **related questions** users ask.  \n\n### **5️⃣ Keyword Extraction**  \n- Categorize keywords based on **how they should be used** later in the workflow.  \n- Format them as follows:  \n  - **Primary Keyword** → The main topic focus.  \n  - **Secondary Keywords** → Variations of the primary keyword that should be used naturally in the content.  \n  - **Semantic Keywords** → Contextually related terms that improve topic relevance.  \n  - **Long-Tail Keywords** → Natural search queries and phrases that match user questions.  \n\n### **Format your response strictly in valid JSON.**\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        672,
        272
      ],
      "id": "c11a930e-9c51-451e-943a-9dce729f30c3",
      "name": "SERPs, Writing, KWs, Insights",
      "retryOnFail": true
    },
    {
      "parameters": {
        "content": "## 3. Content Assembly\n\n\n",
        "height": 424,
        "width": 1080,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        1184
      ],
      "id": "6ea96fb6-71b3-4c11-aa55-3cada9ba4830",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Perform the final edit on:\n {{ $json.output }}",
        "options": {
          "systemMessage": "You are an expert SEO-optimized content final editor.\n\nYour task is to enhance and expand the provided article to near-perfect quality (9.5+/10) while maintaining clarity, logical flow, and readability. The final article should be well-structured, engaging, and adaptable to any topic, including (but not limited to) business, healthcare, technology, education, finance, environmental science, legal, consumer guides, and marketing.\n\n✅ General Refinement Guidelines\n1️⃣ Expand, Don’t Cut\nPreserve all valuable content while adding depth where necessary.\nDo not shorten or remove sections unless redundant or unclear.\nIf something feels incomplete, expand rather than delete it.\n2️⃣ Strengthen Section Transitions for Seamless Flow\nEnsure smooth transitions between sections by adding brief lead-ins before introducing a new concept.\nEach section should naturally build on the previous one—avoiding abrupt shifts.\nImplementation:\nIf a new section introduces a major topic, insert a transition sentence summarizing why the previous section matters.\nExample:\nBefore (Abrupt Shift):\n\"While automation improves efficiency, its true power emerges when integrated with existing systems.\"\nAfter (Smoother Transition):\n\"Efficiency gains are only part of the equation—true business impact comes from seamlessly integrating automation with existing workflows to ensure sustainable improvements.\"\n✅ Ensures smoother flow between ideas.\n\n3️⃣ Diversify Real-World Applications Across More Industries\nDo NOT over-focus on one industry or domain (e.g., AI, tech, or automation).\nWhere applicable, ensure varied examples in fields like:\nHealthcare (diagnostic automation, patient management)\nFinance (risk assessment, fraud detection, portfolio management)\nEducation (personalized learning, curriculum adaptation)\nLegal (contract automation, compliance monitoring)\nMarketing (data-driven campaigns, customer behavior analysis)\nRetail & E-commerce (inventory optimization, demand forecasting)\nConsumer Behavior (product recommendations, pricing strategies)\nEnvironmental Science (climate impact modeling, resource allocation)\nImplementation:\nIf the article lacks industry diversity, add 1–2 additional sector applications.\nExample:\nBefore (Too Narrow):\n\"Predictive analytics is transforming logistics and finance.\"\nAfter (Expanded with More Fields):\n\"Predictive analytics is transforming industries beyond logistics and finance. In healthcare, it enhances diagnostic accuracy; in education, it customizes learning paths; in marketing, it optimizes ad spend by predicting customer behavior.\"\n✅ Expands article relevance to a broader audience.\n\n4️⃣ Strengthen the Conclusion with a Future-Focused Perspective\nAvoid generic wrap-ups—end with a compelling strategic takeaway or challenge.\nEnsure future trends, competitive implications, and thought-provoking insights are included.\nImplementation:\nInstead of simply summarizing, pose a challenge or future opportunity.\nExample:\nBefore (Weak Ending):\n\"The question remains: How will businesses use this technology to redefine operations? The time to act is now.\"\nAfter (More Forward-Thinking):\n\"Looking ahead, businesses that embrace adaptable strategies and data-driven decision-making will lead in an increasingly competitive landscape. Whether through emerging technologies, customer-first innovation, or operational agility, the next era of success will belong to those who can not just adapt—but anticipate change. The real question isn’t if you’ll adopt these advancements—but how effectively you’ll use them to gain a competitive edge.\"\n✅ Leaves the reader with a clear action step or thought-provoking challenge.\n\n\n5️⃣ Expand Instead of Reduce Content\nDO NOT cut content unless it is redundant or weakens clarity.\nIf a section feels too brief or lacks depth, expand it by:\nProviding real-world examples\nAdding practical applications\nElaborating on key insights\nStrengthening data-backed statements\nExample Fix:\nBefore (Overly brief):\n\"Sustainable practices benefit businesses.\"\nAfter (More informative & engaging):\n\"Sustainable practices provide both environmental and financial advantages. Businesses that invest in renewable energy, reduce waste, and optimize resource consumption see long-term cost savings and increased brand loyalty.\"\n\n6. Do not add any commentary on what improvements you made. Just output the refined article.\n7. Do not add dividing lines between sections (\"---\") or any extra spacing or line breaks.\n\nMake every article a 9.5+/10 by refining structure, depth, and industry relevance while keeping it universally applicable across topics."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        560,
        1280
      ],
      "id": "f2abcabd-fe50-4881-b2ee-1274da02f120",
      "name": "Final Edit Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        736,
        448
      ],
      "id": "d1e86f10-93b5-4642-9a6f-d1d578449ac4",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "MXUBy1Lkn9kviK1F",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        480,
        224
      ],
      "id": "5f6d9c08-073c-47a7-a99d-09909ea5312a",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "content": "## 5. Blog Publishing",
        "height": 384,
        "width": 1648,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        2048
      ],
      "id": "e287dc70-07f1-425c-82d5-72bafa2931c2",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"$schema\": \"https://json-schema.org/draft/2020-12/schema\",\n  \"title\": \"SEO Research Output\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"search_intent\": {\n      \"type\": \"string\",\n      \"enum\": [\"informational\", \"transactional\", \"navigational\", \"commercial\"]\n    },\n    \"writing_style\": {\n      \"type\": \"string\",\n      \"description\": \"Describes the overall writing style, e.g., engaging and storytelling, data-driven and technical, concise and professional.\"\n    },\n    \"writing_tone\": {\n      \"type\": \"string\",\n      \"description\": \"Defines the tone of the writing, e.g., friendly and conversational, persuasive and compelling, formal and authoritative.\"\n    },\n    \"hidden_insight\": {\n      \"type\": \"string\",\n      \"description\": \"Unique or uncommon insight derived from SERP analysis, or 'No significant insights detected beyond existing content trends.'\"\n    },\n    \"target_audience\": {\n      \"type\": \"string\",\n      \"description\": \"Specifies who the content is meant for, such as marketers, tech enthusiasts, small business owners, etc.\"\n    },\n    \"goal_of_article\": {\n      \"type\": \"string\",\n      \"description\": \"The main objective or purpose of the article based on search intent and SERP analysis.\"\n    },\n    \"semantic_analysis\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"common_subtopics\": {\n          \"type\": \"array\",\n          \"items\": { \"type\": \"string\" },\n          \"minItems\": 1,\n          \"description\": \"List of common subtopics found across top SERP results.\"\n        },\n        \"related_questions\": {\n          \"type\": \"array\",\n          \"items\": { \"type\": \"string\" },\n          \"minItems\": 1,\n          \"description\": \"Common related questions found via SERP or People Also Ask.\"\n        }\n      },\n      \"required\": [\"common_subtopics\", \"related_questions\"]\n    },\n    \"keywords\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"primary_keyword\": {\n          \"type\": \"string\",\n          \"description\": \"The main keyword focus of the article.\"\n        },\n        \"secondary_keywords\": {\n          \"type\": \"array\",\n          \"items\": { \"type\": \"string\" },\n          \"minItems\": 1\n        },\n        \"semantic_keywords\": {\n          \"type\": \"array\",\n          \"items\": { \"type\": \"string\" },\n          \"minItems\": 1\n        },\n        \"long_tail_keywords\": {\n          \"type\": \"array\",\n          \"items\": { \"type\": \"string\" },\n          \"minItems\": 1\n        }\n      },\n      \"required\": [\n        \"primary_keyword\",\n        \"secondary_keywords\",\n        \"semantic_keywords\",\n        \"long_tail_keywords\"\n      ]\n    }\n  },\n  \"required\": [\n    \"search_intent\",\n    \"writing_style\",\n    \"writing_tone\",\n    \"hidden_insight\",\n    \"target_audience\",\n    \"goal_of_article\",\n    \"semantic_analysis\",\n    \"keywords\"\n  ],\n  \"additionalProperties\": false\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        864,
        448
      ],
      "id": "ea52966d-8736-4383-9c92-4d4e31ba655c",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1w7vfPU8svocF9a2-R9ziZXt8oYbQCkd2uhc6pGMZtk0",
          "mode": "list",
          "cachedResultName": "High-Quality Blog Posts - n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1w7vfPU8svocF9a2-R9ziZXt8oYbQCkd2uhc6pGMZtk0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1w7vfPU8svocF9a2-R9ziZXt8oYbQCkd2uhc6pGMZtk0/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "NEW:Title"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        304,
        224
      ],
      "id": "8e0c6d96-3a51-4c8b-916b-e753de94e7c3",
      "name": "Get post titles"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1w7vfPU8svocF9a2-R9ziZXt8oYbQCkd2uhc6pGMZtk0",
          "mode": "list",
          "cachedResultName": "High-Quality Blog Posts - n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1w7vfPU8svocF9a2-R9ziZXt8oYbQCkd2uhc6pGMZtk0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1w7vfPU8svocF9a2-R9ziZXt8oYbQCkd2uhc6pGMZtk0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "OG:Title"
          ],
          "schema": [
            {
              "id": "OG:Title",
              "displayName": "OG:Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "OG:Keywords",
              "displayName": "OG:Keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NEW:Title",
              "displayName": "NEW:Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Article Link",
              "displayName": "Article Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SEO:Title",
              "displayName": "SEO:Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SEO:Description",
              "displayName": "SEO:Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        656,
        96
      ],
      "id": "ce4d12b6-8e10-4690-b2fa-0182bd62d2fe",
      "name": "Update post titles"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "438738d8-d610-47e3-9ddf-efcfb97d3701",
              "name": "new_title",
              "value": "={{ $json.output.revised_title }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        752
      ],
      "id": "b6cd1ead-cb6b-4e70-b553-4494b8dd2988",
      "name": "Set Post New Title"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7e444c83-3d2b-4bd3-a23b-6fb5ca68e670",
              "name": "writing_style",
              "value": "={{ $json.output.writing_style }}",
              "type": "string"
            },
            {
              "id": "e16b5d65-587d-49d8-af5d-4ff1930633a8",
              "name": "writing_tone",
              "value": "={{ $json.output.writing_tone }}",
              "type": "string"
            },
            {
              "id": "ab756373-0186-454a-8e98-d5a5f96cba87",
              "name": "search_intent",
              "value": "={{ $json.output.search_intent }}",
              "type": "string"
            },
            {
              "id": "a14b7657-038a-4b08-911d-314336261a0c",
              "name": "hidden_insight",
              "value": "={{ $json.output.hidden_insight }}",
              "type": "string"
            },
            {
              "id": "19ef4221-5a5d-4321-8a07-4e04f5dcaf44",
              "name": "target_audience",
              "value": "={{ $json.output.target_audience }}",
              "type": "string"
            },
            {
              "id": "0ab17e84-4a2e-4df3-b0a3-91e9ce26cb72",
              "name": "article_goal",
              "value": "={{ $json.output.goal_of_article }}",
              "type": "string"
            },
            {
              "id": "84e7f6a4-48b2-43b2-92cc-7e0337311661",
              "name": "semantic_analysis",
              "value": "={{ $json.output.semantic_analysis }}",
              "type": "string"
            },
            {
              "id": "5e943a46-bb03-438d-b6da-2a6ec414f5af",
              "name": "keywords",
              "value": "={{ $json.output.keywords }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        752
      ],
      "id": "eaf0ef8a-0a24-4b62-a179-29c1a266643e",
      "name": "Set Post KWs and Insights"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5b6a40be-b640-4caf-a531-50a45df07be8",
              "name": "outline",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1424,
        752
      ],
      "id": "a5947b7a-c64f-4b43-8a16-c6477190cdba",
      "name": "Set Post Outline"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7c282be5-3020-44b9-bf77-61639e3dd763",
              "name": "main_body",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        112,
        1280
      ],
      "id": "f53c2e16-deec-4f35-9562-0c7113699cb7",
      "name": "Set Draft Post"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4d5ae86e-7aec-4a4c-9256-7042d2e32497",
              "name": "final_post",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        1280
      ],
      "id": "b240f53c-abc6-4185-be0b-96aa0a554be8",
      "name": "Set Final Post"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $('Set Post New Title').item.json.new_title }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1Q4daaJhlyVPGATXHgLYHNorrUO3_L7ie",
          "mode": "list",
          "cachedResultName": "High-Quality Blog Posts",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Q4daaJhlyVPGATXHgLYHNorrUO3_L7ie"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        480,
        2176
      ],
      "id": "ada33686-46ff-4922-a4e0-15bfd15ea11d",
      "name": "Create Post Folder"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        128,
        224
      ],
      "id": "da731dc7-570e-4e34-8e96-059fa10580d3",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"$schema\": \"https://json-schema.org/draft/2020-12/schema\",\n  \"title\": \"RevisedBlogTitleResponse\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"revised_title\": {\n      \"type\": \"string\",\n      \"description\": \"The improved and SEO-optimized version of the blog post title.\"\n    },\n    \"reasoning\": {\n      \"type\": \"string\",\n      \"description\": \"A brief explanation describing why this revised title was chosen, referencing keywords, search intent, and tone considerations.\"\n    }\n  },\n  \"required\": [\"revised_title\", \"reasoning\"],\n  \"additionalProperties\": false\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        288,
        976
      ],
      "id": "33ca473f-03e1-4ce0-a70f-1ea25dc55970",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        1632,
        944
      ],
      "id": "3bf63ee5-5a55-4844-9856-dcffefa5b62a",
      "name": "SerpAPI1",
      "credentials": {
        "serpApi": {
          "id": "MXUBy1Lkn9kviK1F",
          "name": "SerpAPI account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Revise the blog post title. Consider:\nPrimary keywords: {{ $('Loop Over Items1').item.json['OG:Keywords'] }}\nWorking title: {{ $('Loop Over Items1').item.json['OG:Title'] }}\nSearch intent: {{ $('Set Post KWs and Insights').item.json.search_intent }}\nSemantic analysis: {{ $('Set Post KWs and Insights').item.json.semantic_analysis }}\nSecondary keywords: {{ $('Set Post KWs and Insights').item.json.keywords }}\nWriting style: {{ $('Set Post KWs and Insights').item.json.writing_style }}\nWriting tone: {{ $('Set Post KWs and Insights').item.json.writing_tone }}\nArticle goal: {{ $('Set Post KWs and Insights').item.json.article_goal }}\n\n\nOutput only JSON\nIMPORTANT: Do not add extra spaces, extra characters or include any additional text.\n\nOutput only JSON:\n{\n  \"revised_title\": \"string\",\n  \"reasoning\": \"string\"\n}\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an expert in crafting highly engaging, SEO-optimized article titles that drive clicks and rank well in search engines. \n\nYour goal is to refine the **initial working title** into a **clear, compelling, and search-friendly title** that aligns with:\n- **Primary and Secondary Keywords** → Ensure relevance for search engines.\n- **Search Intent** → Match the intent behind the keyword (informational, transactional, navigational, or commercial).\n- **Common Subtopics & Related Questions** → Reflect what users want to learn.\n- **Writing Style & Tone** → Ensure consistency with the article's voice.\n- **Click-Worthiness** → Make the title engaging and appealing for readers.\n\n### **Your Task:**\n1. **Analyze the given input data**, including the working title, primary keyword, and supporting data.\n2. **Refine the title** to be more **SEO-friendly, engaging, and aligned with search intent**.\n3. **Incorporate relevant keywords naturally**, without keyword stuffing.\n4. **Ensure clarity and readability**—avoid overly complex or vague titles.\n5. **Return only the final refined title as a plain text string.**\n\n---\n### **Title Guidelines:**\n- Keep it **between 50-60 characters** (ideal for SEO).\n- Use **power words** or numbers when appropriate (e.g., \"10 Proven Ways,\" \"Ultimate Guide\").\n- Avoid unnecessary words or fluff.\n- Ensure it **reads naturally** and **appeals to human curiosity**.\n\n---\n### **Example Inputs & Outputs:**\n\n#### **Example 1**\n**Working Title:** \"Understanding AI Automation for Businesses\"  \n**Primary Keyword:** \"AI automation for small businesses\"  \n**Search Intent:** Informational  \n**Refined Title Output:** **AI Automation for Small Businesses: How to Save Time & Boost Revenue**\n\n---\n#### **Example 2**\n**Working Title:** \"The Best Winter Gear for Cyclists\"  \n**Primary Keyword:** \"best winter gear for cyclists\"  \n**Search Intent:** Commercial  \n**Refined Title Output:** **Best Winter Cycling Gear: Stay Warm & Ride Safely in Cold Weather**\n\n---\n### **Output Format:**\nReturn the refined title in standard JSON. Do not include triple ''' or extra line breaks or spaces.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        224,
        752
      ],
      "id": "d633997e-f509-4cef-b1ce-8c81a6f7aab0",
      "name": "Refine the Title",
      "retryOnFail": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Assemble the article from the following components into a single cohesive output formatted in Markdown:\n\n- **Key Takeaways**: {{ $('Set Key Takeaways').item.json.key_takeaways }}\n- **Main Content**: {{ $json.main_body }}\n\n### Output Format:\n- Use `##` for main section headings like Key Takeaways, Introduction, and Conclusion.\n- Use `##` for primary headings (H2s) in the main content.\n- Use `###` for subheadings (H3s) under those primary headings.\n- Format lists as bulleted lists using `-`.\n- Write paragraphs in plain text, separated by line breaks.\n\nExample Output:\n\n## Key Takeaways\n- AI automation reduces costs and improves efficiency for SMBs.\n- Examples show how AI streamlines workflows and enhances customer service.\n- Step-by-step advice helps SMBs adopt AI effectively.\n\n## Introduction\nAI automation is a transformative tool for small businesses, offering improved efficiency, cost reduction, and scalability.\n\n## How Intelligent Process Automation Works\nIntelligent process automation (IPA) isn’t just about speed—it’s about working smarter.\n\n### Reducing Manual Work and Process Errors with Automation\nAutomating manual tasks like payroll processing slashes error rates by up to 90%.\n\n### Boosting Process Efficiency Across Business Functions\nFrom HR to sales, IPA ensures consistency and efficiency.\n\n## Conclusion\nAI automation is a pathway to transforming how small businesses operate and grow. By streamlining workflows, enhancing customer experiences, and enabling smarter decision-making, AI empowers businesses to achieve more with less effort.",
        "options": {
          "systemMessage": "You are an expert content assembler. Your task is to take separate elements of an article—key takeaways, introduction, main content (including subheadings), and conclusion—and assemble them into a single cohesive output. The final output should be formatted in Markdown for a CMS blog post field.\n\nGuidelines:\n\n1. Use `##` for section headings (Key Takeaways, Introduction, and Conclusion).\n2. Use `##` for primary headings (H2s) from the main content.\n3. Use `###` for subheadings (H3s) under those primary headings.\n4. Write paragraphs as plain text, separated by line breaks.\n5. Ensure the output is clean and properly formatted in Markdown without unnecessary placeholders like \"Main Content.\"\n6. Do not include triple backticks (''') or any additional spaces or text outside of the conclusion itself.\nEnsure clean and structured formatting without unnecessary dividers or extra line breaks.\n\n\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        272,
        1280
      ],
      "id": "6cc75eda-c234-46f7-b87b-07dbbad7fbe6",
      "name": "Post Assembly Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert content writer with a strong command of clear, structured, and value-driven writing. Your task is to write a high-quality content block based on the inputs provided.\n\n### INPUTS:\n**Block Title:** {{ $('Set Post New Title').item.json.new_title }}\n** Keywords to Include:** {{ $('Get post titles').item.json['OG:Keywords'] }}\n**Outline / Structure to Follow:**  {{ $json.outline }}\n**Key Takeaways (must be reflected in writing):**  {{ $('Set Key Takeaways').item.json.key_takeaways }}\n### SUB-DATA (Use this to guide positioning, depth, and writing style — DO NOT copy directly):\n- **Writing Style:** {{ $('Set Post KWs and Insights').item.json.writing_style }}\n- **Writing Tone:** {{ $('Set Post KWs and Insights').item.json.writing_tone }}\n- **Search Intent:** {{ $('Set Post KWs and Insights').item.json.search_intent }}\n- **Hidden Insight to Highlight:** {{ $('Set Post KWs and Insights').item.json.hidden_insight }}\n- **Target Audience:** {{ $('Set Post KWs and Insights').item.json.target_audience }}\n- **Article Goal:** {{ $('Set Post KWs and Insights').item.json.article_goal }}\n- **Semantic Insights & Related Topics:** {{ $('Set Post KWs and Insights').item.json.semantic_analysis }}\n- **Keyword Strategy & Variations:** {{ $('Set Post KWs and Insights').item.json.keywords }}\n\n\n### INSTRUCTIONS:\n1. Write a well-structured **content block body** that fits the block title and follows the outline strictly.\n2. Incorporate the given keywords **naturally** without keyword stuffing.\n3. Optimize the writing to satisfy the **search intent** and align with the **target audience** and **article goal**.\n4. Infuse the **hidden insight** into the narrative so the piece feels unique and high-authority.\n5. The writing must:\n   - Be original (no copying from the scrubbed data or sub-data).\n   - Be clear, concise, engaging, and written in a professional yet friendly tone.\n   - Provide value, actionable insights, and smooth flow between sections.\n6. Use the SERP scrubbed data only as **supporting reference**, not as direct text.\n7. Ensure the key takeaways are clearly communicated across the block.\n8. Avoid filler, generic language, repetition, and unnecessary fluff.\n9. Add examples, micro-case studies, or short explanations to improve clarity if needed.\n10. Output must be **1–4 paragraphs** (depending on outline length) unless otherwise stated.\n\n### OUTPUT:\nProvide the final **Content Block Body only**, with no preface or explanation.\n",
        "options": {
          "systemMessage": "You are an AI writing agent responsible for generating only the main body of an article based on a structured prompt. Your writing must be well-formatted in Markdown, insightful, logically structured, and engaging for the target audience.\n\nGuidelines\n✅ Follow the provided prompt exactly. Ensure adherence to the user-provided outline and structure.\n✅ Format the article in Markdown using:\n\nH2 (##) for main sections\nH3 (###) for subsections\nBullet points (-), numbered lists (1. 2. 3.), and bold formatting (**bold text**) where necessary.\n✅ Ensure smooth transitions between sections.\nEnd sections with a transition sentence that leads into the next topic.\nAvoid abrupt shifts—maintain logical flow.\n✅ Enhance depth with real-world case studies.\nProvide measurable outcomes (e.g., \"A 20% efficiency gain led to $5M in annual savings\").\nDetail implementation challenges, solutions, and business results.\n✅ Balance readability with a mix of paragraphs & lists.\nUse bullet points sparingly—convert them into mini-paragraphs where needed.\nLists should highlight key takeaways, not dominate sections.\n✅ Ensure keyword optimization.\nNaturally integrate primary and secondary keywords within the article.\nAvoid overuse—prioritize readability over keyword stuffing.\n✅ Fact-driven & logically structured.\nAvoid redundant explanations—each section should introduce new insights.\nEnsure distinctions between related topics (e.g., “Managing Complexity” should not repeat “Adaptive Learning”).\n✅ No introduction or conclusion.\nFocus only on the main body sections based on the structured prompt.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1600,
        752
      ],
      "id": "b1b85b29-54d3-43f8-bcea-a786ef6f4e62",
      "name": "Post Content Writer Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate an SEO-optimized meta description for the following article. Ensure it is concise (150–160 characters), engaging, and includes high-impact keywords.\n\n{{ $('Set Final Post').item.json.final_post }}\n\nFormat the output in Markdown as follows:\n\n\nReturn the response in JSON format:\n{\n  \"seo_meta\": {\n    \"title\": \"string\",\n    \"description\": \"string\"\n  }\n}\n\n❌ Do not return anything else besides this JSON output.\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an SEO-optimized Meta Description Generator. Your task is to generate a compelling, keyword-rich meta description for the provided article. The description should be concise, engaging, and optimized for search engines while accurately summarizing the article’s core value.\n\nGuidelines:\n✅ Length: Keep the meta description between 150–160 characters to ensure full visibility in search results.  \n✅ Keyword Optimization: Incorporate primary and secondary keywords naturally, focusing on high-impact phrases relevant to the article.  \n✅ Engagement & Clarity:  \n- Write in an active voice with a clear and compelling hook.  \n- Summarize the key benefit of the article—why should someone read it?  \n- Avoid vague statements—be specific about what the article covers.  \n✅ Call to Action (Optional, but Preferred): Where possible, include a soft CTA to encourage clicks (e.g., “Discover how…”, “Learn the best strategies…”).  \n✅ Formatting:  \nUse Markdown format with an ## Meta Description heading.  \nNo extra spacing or unnecessary formatting—the output should be clean and ready to use.  \n\nExamples:\nBefore (Weak Example):  \n\"This article discusses agentic AI and how it can be used in businesses.\" ❌ Too vague, lacks engagement.\n\nAfter (Optimized Example):  \n## Meta Description  \nUnlock the power of agentic AI automation! Learn how businesses enhance efficiency, decision-making, and scalability with self-evolving AI-driven workflows.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        256,
        1744
      ],
      "id": "acbad59f-c79f-4099-a82f-0ee01d39783a",
      "name": "Post Meta Agent"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"$schema\": \"https://json-schema.org/draft/2020-12/schema\",\n  \"title\": \"SeoMetaSchema\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"seo_meta\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"title\": {\n          \"type\": \"string\",\n          \"description\": \"The SEO-optimized title of the article.\"\n        },\n        \"description\": {\n          \"type\": \"string\",\n          \"description\": \"The SEO-optimized meta description of the article, concise (150-160 characters), engaging, and keyword-rich.\"\n        }\n      },\n      \"required\": [\"title\", \"description\"],\n      \"additionalProperties\": false\n    }\n  },\n  \"required\": [\"seo_meta\"],\n  \"additionalProperties\": false\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        336,
        1904
      ],
      "id": "13b1412d-5c7c-49e0-a462-c53bb239b403",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "content": "## 4. Content Creation Finalization\n\n",
        "height": 352,
        "width": 1104,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        1648
      ],
      "id": "9f8a40f5-88c1-4fe0-9129-f63921a6e2e0",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fb68117e-7039-4cb1-83b2-599cd8edb26c",
              "name": "title",
              "value": "={{ $json.output.seo_meta.title }}",
              "type": "string"
            },
            {
              "id": "fdb707c9-52f4-4e13-bfb7-8fb2a4238e98",
              "name": "description",
              "value": "={{ $json.output.seo_meta.description }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        576,
        1744
      ],
      "id": "e24044ab-d39b-4184-97ae-e6b64d8bf93c",
      "name": "Set Post Metadata"
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "=Generate an AI image prompt that visually represents the following article. Ensure the description is detailed, engaging, and optimized for an eye-catching featured image.\n\nTitle: {{ $json.title }}\nDescription: {{ $json.description }}\n",
        "options": {
          "dalleQuality": "standard",
          "size": "1792x1024",
          "style": "natural",
          "returnImageUrls": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        768,
        1744
      ],
      "id": "1044fed5-ce33-454d-9b76-9305e9dff01b",
      "name": "Generate Post Image",
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "99610299-d679-4976-aed5-98653fee7407",
              "name": "url",
              "value": "={{ $json.url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        112,
        2176
      ],
      "id": "f48a486f-26fa-4ee9-8bd3-b616d1bb4e58",
      "name": "Set Post Image"
    },
    {
      "parameters": {
        "folderId": "={{ $json.id }}",
        "title": "={{ $('Set Post New Title').item.json.new_title }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        672,
        2176
      ],
      "id": "8a42fd49-23db-4c49-bce5-b6cf093017cd",
      "name": "Create Post Doc"
    },
    {
      "parameters": {
        "operation": "share",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.documentId }}",
          "mode": "id"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "reader",
            "type": "anyone"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1056,
        2176
      ],
      "id": "d6b4c8c1-8cf3-422e-90ee-9c2fead05952",
      "name": "Share Post Doc"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b5d2b743-090c-4432-a7e7-c25b2e4bd76f",
              "name": "url",
              "value": "=https://docs.google.com/document/d/{{ $('Update a document').item.json.documentId }}/edit",
              "type": "string"
            },
            {
              "id": "80a98d09-46c0-4008-a255-521a6fc35627",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1248,
        2176
      ],
      "id": "edd9b3cc-55bb-41e8-807f-8e67edd1945b",
      "name": "Set Post Drive"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "62c2e214-dca2-4204-b6c1-c4735ec84e31",
              "name": "OG:Title",
              "value": "={{ $('Loop Over Items1').item.json['OG:Title'] }}",
              "type": "string"
            },
            {
              "id": "cfb65a83-138b-4197-92a8-e970986cc82f",
              "name": "OG:Keywords",
              "value": "={{ $('Loop Over Items1').item.json['OG:Keywords'] }}",
              "type": "string"
            },
            {
              "id": "c1883698-2bbf-4b61-b033-ddab283b7e29",
              "name": "NEW:Title",
              "value": "={{ $('Set Post New Title').item.json.new_title }}",
              "type": "string"
            },
            {
              "id": "59280c34-2899-46c1-b3b1-451400180434",
              "name": "Article Link",
              "value": "={{ $json.url }}",
              "type": "string"
            },
            {
              "id": "4089cebe-7b28-4684-989b-753444133631",
              "name": "SEO:Title",
              "value": "={{ $('Set Post Metadata').item.json.title }}",
              "type": "string"
            },
            {
              "id": "4d87610f-c8d1-4d74-a879-bf3df2404077",
              "name": "SEO:Description",
              "value": "={{ $('Set Post Metadata').item.json.description }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1424,
        2176
      ],
      "id": "ce472bd7-c9c6-4939-9ee3-7e4f01eca67b",
      "name": "Set Sheet Vars"
    },
    {
      "parameters": {
        "jsCode": "const title = $('Set Post New Title').first().json.new_title\nconst seo_title = $('Set Post Metadata').first().json.title\nconst seo_description = $('Set Post Metadata').first().json.description\nconst image = $('Set Post Image').first().json.url\nconst final_post = $('Set Final Post').first().json.final_post\n\nconst data = `\n## Title: ${title}\n\\n\n*SEO Title:* ${seo_title}\n\\n\n*SEO Description:* ${seo_description}\n\\n\n*Featured Image Link:*\n${image}\n\\n\n*Post Content:*\n${final_post}\n`;\n\n\nreturn {\n  json : {\n    data\n  }\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        2176
      ],
      "id": "db1e7d0f-353f-428d-bfe3-2be65bf7ef2e",
      "name": "Markdown Final Post"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('Markdown Final Post').item.json.data }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        864,
        2176
      ],
      "id": "de04bfc8-ebdc-43ff-9e36-31952485b161",
      "name": "Update a document"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        608,
        448
      ],
      "id": "6d985008-3525-4965-b5ef-a9ce9aa0071d",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        176,
        976
      ],
      "id": "d04cc4b5-4413-4fdd-9dd1-0300789437f8",
      "name": "OpenAI Chat Model1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        640,
        976
      ],
      "id": "73ddd9bc-2c5a-4a5e-8a08-5eb6185af17d",
      "name": "OpenAI Chat Model2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1104,
        976
      ],
      "id": "01dc0cfc-93c4-4062-87b7-29c312aecc55",
      "name": "OpenAI Chat Model3"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1504,
        944
      ],
      "id": "2e65feff-8f12-4c9b-a305-1c1364482271",
      "name": "OpenAI Chat Model4"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        224,
        1456
      ],
      "id": "e032e0f5-8ce3-48b5-aba6-2046b23aa107",
      "name": "OpenAI Chat Model5"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        480,
        1456
      ],
      "id": "6203a2bf-7e59-41e3-845e-b72bf324437e",
      "name": "OpenAI Chat Model6"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        224,
        1904
      ],
      "id": "7144f731-d49c-433c-8241-d244011f2801",
      "name": "OpenAI Chat Model7"
    }
  ],
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2025-12-30T10:50:20.322Z",
      "createdAt": "2025-12-30T10:50:20.322Z",
      "role": "workflow:owner",
      "workflowId": "wnOdP0gpgSdIGLsO",
      "projectId": "XqkS7oX8lMj4YbIK"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-30T11:00:07.577Z",
  "versionId": "08629a0e-f7d0-47a2-aa26-bab12cd5e219"
}