hetzner-2c-4g/B2B Showcase Event-s5QjOWSR0jqoqpx4kLein.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-01-13T08:07:40.735Z",
    "createdAt": "2026-01-13T08:07:36.225Z",
    "versionId": "d644e80d-a1d5-406e-b08d-6a00350937ea",
    "workflowId": "s5QjOWSR0jqoqpx4kLein",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "777fcb4d-fa4e-42ff-9495-a544e612e009",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          0,
          0
        ],
        "id": "120cf122-eb3b-4d57-a0b8-6ebfb5c7025c",
        "name": "Webhook",
        "webhookId": "777fcb4d-fa4e-42ff-9495-a544e612e009"
      },
      {
        "parameters": {
          "operation": "create",
          "base": {
            "__rl": true,
            "value": "appguDlqQGvhY2Tso",
            "mode": "list",
            "cachedResultName": "B2B Showcase Event",
            "cachedResultUrl": "https://airtable.com/appguDlqQGvhY2Tso"
          },
          "table": {
            "__rl": true,
            "value": "tblMNFvxJDWjvb1In",
            "mode": "list",
            "cachedResultName": "Table 1",
            "cachedResultUrl": "https://airtable.com/appguDlqQGvhY2Tso/tblMNFvxJDWjvb1In"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Počet účastníků": "={{ $json.body['Předpokládaná velikost týmu'] }}",
              "GHL ID": "={{ $json.body.contact_id }}",
              "Název firmy": "={{ $json.body.first_name }}",
              "Jméno": "={{ $json.body.last_name }}",
              "Pozice ve firmě": "={{ $json.body['Pozice ve firmě'] }}",
              "Email": "={{ $json.body.email }}",
              "Telefon": "={{ $json.body.phone }}",
              "Poznámka a další členové týmu": "={{ $json.body['Zde nám můžete napsat dotaz nebo vzkaz'] }}",
              "Status": "Registrován",
              "Datum a čas registrace": "={{ $json.body.date_created }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "GHL ID",
                "displayName": "GHL ID",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Datum a čas registrace",
                "displayName": "Datum a čas registrace",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "dateTime",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Název firmy",
                "displayName": "Název firmy",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Jméno",
                "displayName": "Jméno",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Pozice ve firmě",
                "displayName": "Pozice ve firmě",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Telefon",
                "displayName": "Telefon",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Email",
                "displayName": "Email",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Počet účastníků",
                "displayName": "Počet účastníků",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Poznámka a další členové týmu",
                "displayName": "Poznámka a další členové týmu",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Status",
                "displayName": "Status",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "options",
                "options": [
                  {
                    "name": "Registrován",
                    "value": "Registrován"
                  },
                  {
                    "name": "Informace zaslány",
                    "value": "Informace zaslány"
                  },
                  {
                    "name": "Poslední připomínka",
                    "value": "Poslední připomínka"
                  },
                  {
                    "name": "Zúčastnil se",
                    "value": "Zúčastnil se"
                  }
                ],
                "readOnly": false,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.airtable",
        "typeVersion": 2.1,
        "position": [
          416,
          0
        ],
        "id": "8f3f46f0-23d1-45fe-a877-86c3f9714a85",
        "name": "Create a record",
        "credentials": {
          "airtableTokenApi": {
            "id": "112UtIzO07XgrN7A",
            "name": "Airtable - zmidloch@z-agency.cz"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "let items = $input.all(); // Načtení všech položek [cite: 27]\n\nfor (let item of items) {\n  // Cesta k původnímu poli v n8n struktuře [cite: 7, 13]\n  let originalValue = item.json.body[\"Předpokládaná velikost týmu\"];\n  \n  if (originalValue) {\n    // Extrakce čísla (např. \"4 osoby\" -> 4)\n    let onlyNumber = parseInt(originalValue.replace(/[^0-9]/g, ''));\n    \n    // Přepsání původního pole číselnou hodnotou\n    item.json.body[\"Předpokládaná velikost týmu\"] = onlyNumber;\n  }\n}\n\nreturn items; // Vrácení upraveného pole objektů [cite: 12, 38]"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          208,
          0
        ],
        "id": "99f54a37-27e0-47c4-a70a-f517e163058b",
        "name": "Code in JavaScript"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Create a record",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Jiri Zmidloch",
    "name": "Version d644e80d",
    "description": "",
    "autosaved": false
  },
  "activeVersionId": "d644e80d-a1d5-406e-b08d-6a00350937ea",
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-12T22:59:07.778Z",
  "id": "s5QjOWSR0jqoqpx4kLein",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "B2B Showcase Event",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "777fcb4d-fa4e-42ff-9495-a544e612e009",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "120cf122-eb3b-4d57-a0b8-6ebfb5c7025c",
      "name": "Webhook",
      "webhookId": "777fcb4d-fa4e-42ff-9495-a544e612e009"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appguDlqQGvhY2Tso",
          "mode": "list",
          "cachedResultName": "B2B Showcase Event",
          "cachedResultUrl": "https://airtable.com/appguDlqQGvhY2Tso"
        },
        "table": {
          "__rl": true,
          "value": "tblMNFvxJDWjvb1In",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appguDlqQGvhY2Tso/tblMNFvxJDWjvb1In"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Počet účastníků": "={{ $json.body['Předpokládaná velikost týmu'] }}",
            "GHL ID": "={{ $json.body.contact_id }}",
            "Název firmy": "={{ $json.body.first_name }}",
            "Jméno": "={{ $json.body.last_name }}",
            "Pozice ve firmě": "={{ $json.body['Pozice ve firmě'] }}",
            "Email": "={{ $json.body.email }}",
            "Telefon": "={{ $json.body.phone }}",
            "Poznámka a další členové týmu": "={{ $json.body['Zde nám můžete napsat dotaz nebo vzkaz'] }}",
            "Status": "Registrován",
            "Datum a čas registrace": "={{ $json.body.date_created }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "GHL ID",
              "displayName": "GHL ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Datum a čas registrace",
              "displayName": "Datum a čas registrace",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Název firmy",
              "displayName": "Název firmy",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Jméno",
              "displayName": "Jméno",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Pozice ve firmě",
              "displayName": "Pozice ve firmě",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Telefon",
              "displayName": "Telefon",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Počet účastníků",
              "displayName": "Počet účastníků",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Poznámka a další členové týmu",
              "displayName": "Poznámka a další členové týmu",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Registrován",
                  "value": "Registrován"
                },
                {
                  "name": "Informace zaslány",
                  "value": "Informace zaslány"
                },
                {
                  "name": "Poslední připomínka",
                  "value": "Poslední připomínka"
                },
                {
                  "name": "Zúčastnil se",
                  "value": "Zúčastnil se"
                }
              ],
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        416,
        0
      ],
      "id": "8f3f46f0-23d1-45fe-a877-86c3f9714a85",
      "name": "Create a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "112UtIzO07XgrN7A",
          "name": "Airtable - zmidloch@z-agency.cz"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let items = $input.all(); // Načtení všech položek [cite: 27]\n\nfor (let item of items) {\n  // Cesta k původnímu poli v n8n struktuře [cite: 7, 13]\n  let originalValue = item.json.body[\"Předpokládaná velikost týmu\"];\n  \n  if (originalValue) {\n    // Extrakce čísla (např. \"4 osoby\" -> 4)\n    let onlyNumber = parseInt(originalValue.replace(/[^0-9]/g, ''));\n    \n    // Přepsání původního pole číselnou hodnotou\n    item.json.body[\"Předpokládaná velikost týmu\"] = onlyNumber;\n  }\n}\n\nreturn items; // Vrácení upraveného pole objektů [cite: 12, 38]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "99f54a37-27e0-47c4-a70a-f517e163058b",
      "name": "Code in JavaScript"
    }
  ],
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Europe/Prague",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "zVAjJgKV17IWzFP7"
  },
  "shared": [
    {
      "updatedAt": "2026-01-12T22:59:07.778Z",
      "createdAt": "2026-01-12T22:59:07.778Z",
      "role": "workflow:owner",
      "workflowId": "s5QjOWSR0jqoqpx4kLein",
      "projectId": "XqkS7oX8lMj4YbIK"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-01-13T08:13:10.575Z",
  "versionId": "d644e80d-a1d5-406e-b08d-6a00350937ea"
}