hetzner-2c-4g/Blog Article Generator V2 - Sequential Processing-NuywzeKmOAcxUjkh.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Schedule Trigger (5 min)": {
      "main": [
        [
          {
            "node": "Fetch Actionable Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Actionable Articles": {
      "main": [
        [
          {
            "node": "Has Articles?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Articles?": {
      "main": [
        [
          {
            "node": "Process One at a Time",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Process One at a Time": {
      "main": [
        [
          {
            "node": "Merge All Branches",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Current Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Current Article": {
      "main": [
        [
          {
            "node": "Route by Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Status": {
      "main": [
        [
          {
            "node": "Set Status: Researching",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Article for Writing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Article for Humanizing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Article for Publishing1",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Set Status: Researching": {
      "main": [
        [
          {
            "node": "Tavily Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tavily Research": {
      "main": [
        [
          {
            "node": "Perplexity Deep Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Perplexity Deep Research": {
      "main": [
        [
          {
            "node": "Prepare Wikipedia Terms",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Wikipedia Terms": {
      "main": [
        [
          {
            "node": "Loop Wiki Terms",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Wiki Terms": {
      "main": [
        [
          {
            "node": "Aggregate Research Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wikipedia Lookup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia Lookup": {
      "main": [
        [
          {
            "node": "Loop Wiki Terms",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Research Data": {
      "main": [
        [
          {
            "node": "Research Synthesis Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude 4.5 Opus (Research)": {
      "ai_languageModel": [
        [
          {
            "node": "Research Synthesis Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 3.0 Flash (Fallback)": {
      "ai_languageModel": [
        [
          {
            "node": "Research Synthesis Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Research Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Research Synthesis Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Research Synthesis Agent": {
      "main": [
        [
          {
            "node": "Prepare Research for Save",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Research for Save": {
      "main": [
        [
          {
            "node": "Save Research & Set Writing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Research & Set Writing": {
      "main": [
        [
          {
            "node": "Research Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research Complete": {
      "main": [
        [
          {
            "node": "Merge All Branches",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Fetch Article for Writing": {
      "main": [
        [
          {
            "node": "Parse Article Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Article Data": {
      "main": [
        [
          {
            "node": "Keyword Strategy Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude 4.5 Opus (Keywords)": {
      "ai_languageModel": [
        [
          {
            "node": "Keyword Strategy Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Fallback (Keywords)": {
      "ai_languageModel": [
        [
          {
            "node": "Keyword Strategy Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Keywords Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Keyword Strategy Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Keyword Strategy Agent": {
      "main": [
        [
          {
            "node": "Title Refinement Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude 4.5 Opus (Title)": {
      "ai_languageModel": [
        [
          {
            "node": "Title Refinement Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Title Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Title Refinement Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Title Refinement Agent": {
      "main": [
        [
          {
            "node": "Key Takeaways Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude 4.5 Opus (Takeaways)": {
      "ai_languageModel": [
        [
          {
            "node": "Key Takeaways Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Key Takeaways Agent": {
      "main": [
        [
          {
            "node": "Outline Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude 4.5 Opus (Outline)": {
      "ai_languageModel": [
        [
          {
            "node": "Outline Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Outline Agent": {
      "main": [
        [
          {
            "node": "Content Writer Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude 4.5 Opus (Writer)": {
      "ai_languageModel": [
        [
          {
            "node": "Content Writer Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Fallback (Writer)": {
      "ai_languageModel": [
        [
          {
            "node": "Content Writer Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Content Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Content Writer Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Content Writer Agent": {
      "main": [
        [
          {
            "node": "Word Count Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Word Count Check": {
      "main": [
        [
          {
            "node": "Over Word Limit?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Over Word Limit?": {
      "main": [
        [
          {
            "node": "Compression Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save Draft & Set Humanizing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude 4.5 Opus (Compress)": {
      "ai_languageModel": [
        [
          {
            "node": "Compression Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Compression Agent": {
      "main": [
        [
          {
            "node": "Merge Compressed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Compressed": {
      "main": [
        [
          {
            "node": "Save Draft & Set Humanizing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Draft & Set Humanizing": {
      "main": [
        [
          {
            "node": "Content Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Content Complete": {
      "main": [
        [
          {
            "node": "Merge All Branches",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Fetch Article for Humanizing": {
      "main": [
        [
          {
            "node": "Humanizer Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Article for Humanizing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude 4.5 Opus (Humanizer)": {
      "ai_languageModel": [
        [
          {
            "node": "Humanizer Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Humanizer Agent": {
      "main": [
        [
          {
            "node": "Prepare for Verification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for Verification": {
      "main": [
        [
          {
            "node": "Verification Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude 4.5 Opus (Verify)": {
      "ai_languageModel": [
        [
          {
            "node": "Verification Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Verification Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Verification Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Verification Agent": {
      "main": [
        [
          {
            "node": "Prepare Final Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Final Content": {
      "main": [
        [
          {
            "node": "Save Final & Set Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Final & Set Review": {
      "main": [
        [
          {
            "node": "Send Review Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Review Notification": {
      "main": [
        [
          {
            "node": "Humanization Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Humanization Complete": {
      "main": [
        [
          {
            "node": "Merge All Branches",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Publishing Complete": {
      "main": [
        [
          {
            "node": "Merge All Branches",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Merge All Branches": {
      "main": [
        [
          {
            "node": "Process One at a Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Fallback (Title)": {
      "ai_languageModel": [
        [
          {
            "node": "Title Refinement Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Gemini Fallback (Takeaways)": {
      "ai_languageModel": [
        [
          {
            "node": "Key Takeaways Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Gemini Fallback (Outline)": {
      "ai_languageModel": [
        [
          {
            "node": "Outline Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Gemini Fallback (Compress)": {
      "ai_languageModel": [
        [
          {
            "node": "Compression Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Gemini Fallback (Humanizer)": {
      "ai_languageModel": [
        [
          {
            "node": "Humanizer Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Gemini Fallback (Verify)": {
      "ai_languageModel": [
        [
          {
            "node": "Verification Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Prepare WP Data": {
      "main": [
        [
          {
            "node": "Create WordPress Post1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Image Generation": {
      "main": [
        [
          {
            "node": "Generate an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Image Passthrough1": {
      "main": [
        [
          {
            "node": "Send Published Notification1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Context for AI": {
      "main": [
        [
          {
            "node": "Taxonomy Classifier Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude 4.5 (Taxonomy)": {
      "ai_languageModel": [
        [
          {
            "node": "Taxonomy Classifier Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Taxonomy Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Taxonomy Classifier Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Taxonomy Classifier Agent": {
      "main": [
        [
          {
            "node": "Assign Categories & Tags1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model9": {
      "ai_languageModel": [
        [
          {
            "node": "Taxonomy Classifier Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Generate an image": {
      "main": [
        [
          {
            "node": "Process Image Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Article for Publishing1": {
      "main": [
        [
          {
            "node": "Set Status: Publishing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Status: Publishing1": {
      "main": [
        [
          {
            "node": "Prepare WP Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get WP Categories1": {
      "main": [
        [
          {
            "node": "Get WP Tags1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get WP Tags1": {
      "main": [
        [
          {
            "node": "Prepare Context for AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Published Status1": {
      "main": [
        [
          {
            "node": "Prepare Image Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Final WP Data1": {
      "main": [
        [
          {
            "node": "Update Published Status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assign Categories & Tags1": {
      "main": [
        [
          {
            "node": "Prepare Final WP Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create WordPress Post1": {
      "main": [
        [
          {
            "node": "Get WP Categories1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Image Response1": {
      "main": [
        [
          {
            "node": "Has Image?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Image?1": {
      "main": [
        [
          {
            "node": "Upload Image to WordPress1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Image Passthrough1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Image to WordPress1": {
      "main": [
        [
          {
            "node": "Set Image Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Image Data1": {
      "main": [
        [
          {
            "node": "Set Featured Image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Featured Image1": {
      "main": [
        [
          {
            "node": "Send Published Notification1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Published Notification1": {
      "main": [
        [
          {
            "node": "Publishing Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Published Articles": {
      "main": [
        [
          {
            "node": "Prepare Linking Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Linking Data": {
      "main": [
        [
          {
            "node": "Linking Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Linking Agent": {
      "main": [
        [
          {
            "node": "Insert Internal Links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Sonnet (Linking)": {
      "ai_languageModel": [
        [
          {
            "node": "Linking Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Fallback (Linking)": {
      "ai_languageModel": [
        [
          {
            "node": "Linking Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Linking Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Linking Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-23T08:06:02.599Z",
  "id": "NuywzeKmOAcxUjkh",
  "isArchived": false,
  "meta": null,
  "name": "Blog Article Generator V2 - Sequential Processing",
  "nodes": [
    {
      "parameters": {
        "content": "# Blog Article Generator V2 - Sequential Processing\n\n**Improvements over V1:**\n- Handles multiple articles in queue\n- Processes articles one at a time (no race conditions)\n- Schedule-based polling instead of event trigger\n\n**Flow:**\n1. Schedule Trigger (every 5 minutes)\n2. Fetch all articles with actionable status\n3. Split In Batches (1 at a time)\n4. Route by Status → Process → Loop back\n\n**Statuses handled:**\n- New → Researching → Writing → Humanizing → Review → Approved → Publishing → Published",
        "height": 450,
        "width": 852,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1424,
        -80
      ],
      "id": "info-note",
      "name": "Workflow Info V2"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1344,
        400
      ],
      "id": "schedule-trigger",
      "name": "Schedule Trigger (5 min)"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "=https://airtable.com/appNKJUeljGoHYjQf/tbljRtFFKlUXYAO6M/viwCXaxhEJzyyFE8z?blocks=hide",
          "mode": "url"
        },
        "table": {
          "__rl": true,
          "value": "https://airtable.com/appNKJUeljGoHYjQf/tbljRtFFKlUXYAO6M/viwCXaxhEJzyyFE8z?blocks=hide",
          "mode": "url"
        },
        "filterByFormula": "OR(Status='New', Status='Writing', Status='Humanizing', Status='Approved')",
        "options": {
          "fields": [
            "Title",
            "Status",
            "Primary Keywords",
            "Secondary Keywords",
            "Content",
            "Research Data",
            "Slug",
            "Excerpt",
            "Image Prompt",
            "Categories",
            "Tags",
            "Featured Image URL",
            "Target Length",
            "Verification Status",
            "Verification Notes"
          ]
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        -1088,
        400
      ],
      "id": "fetch-actionable-articles",
      "name": "Fetch Actionable Articles",
      "credentials": {
        "airtableTokenApi": {
          "id": "112UtIzO07XgrN7A",
          "name": "Airtable - zmidloch@z-agency.cz"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-articles",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -880,
        400
      ],
      "id": "if-has-articles",
      "name": "Has Articles?"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -672,
        400
      ],
      "id": "split-in-batches",
      "name": "Process One at a Time"
    },
    {
      "parameters": {
        "jsCode": "// Isolate current article data to prevent race conditions\nconst item = $input.first().json;\n\nreturn {\n  json: {\n    articleId: item.id,\n    articleTitle: item.fields?.Title || '',\n    articleStatus: item.fields?.Status || '',\n    primaryKeywords: item.fields?.['Primary Keywords'] || '',\n    secondaryKeywords: item.fields?.['Secondary Keywords'] || '',\n    content: item.fields?.Content || '',\n    researchData: item.fields?.['Research Data'] || '',\n    slug: item.fields?.Slug || '',\n    excerpt: item.fields?.Excerpt || '',\n    imagePrompt: item.fields?.['Image Prompt'] || '',\n    categories: item.fields?.Categories || [],\n    tags: item.fields?.Tags || '',\n    featuredImageUrl: item.fields?.['Featured Image URL'] || '',\n    targetLength: item.fields?.['Target Length'] || 2000,\n    verificationStatus: item.fields?.['Verification Status'] || '',\n    verificationNotes: item.fields?.['Verification Notes'] || ''\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        464
      ],
      "id": "set-current-article",
      "name": "Set Current Article"
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {
              "operation": "equals",
              "value2": "New"
            },
            {
              "operation": "equals",
              "value2": "Writing"
            },
            {
              "operation": "equals",
              "value2": "Humanizing"
            },
            {
              "operation": "equals",
              "value2": "Approved"
            }
          ]
        },
        "fallbackOutput": 4
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 2,
      "position": [
        -240,
        400
      ],
      "id": "status-router",
      "name": "Route by Status"
    },
    {
      "parameters": {
        "content": "## BRANCH 1: Research Pipeline\n\nTriggers when Status = 'New'\n\n1. Update status to 'Researching'\n2. Tavily search for topic\n3. Perplexity deep research\n4. Wikipedia lookup for key terms\n5. AI synthesis of research data\n6. Save to Airtable\n7. Update status to 'Writing'\n8. Loop back for next article",
        "height": 300,
        "width": 400,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -16,
        -432
      ],
      "id": "research-note",
      "name": "Research Branch Note"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "mode": "url",
          "value": "=https://airtable.com/appNKJUeljGoHYjQf/tbljRtFFKlUXYAO6M/viwCXaxhEJzyyFE8z?blocks=hide",
          "__regex": "https://airtable.com/([a-zA-Z0-9]{2,})"
        },
        "table": {
          "__rl": true,
          "mode": "url",
          "value": "https://airtable.com/appNKJUeljGoHYjQf/tbljRtFFKlUXYAO6M/viwCXaxhEJzyyFE8z?blocks=hide",
          "__regex": "https://airtable.com/[a-zA-Z0-9]{2,}/([a-zA-Z0-9]{2,})"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Researching",
            "id": "{{ $json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Primary Keywords",
              "displayName": "Primary Keywords",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Secondary Keywords",
              "displayName": "Secondary Keywords",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Target Length",
              "displayName": "Target Length",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pending",
                  "value": "Pending"
                },
                {
                  "name": "New",
                  "value": "New"
                },
                {
                  "name": "Researching",
                  "value": "Researching"
                },
                {
                  "name": "Writing",
                  "value": "Writing"
                },
                {
                  "name": "Humanizing",
                  "value": "Humanizing"
                },
                {
                  "name": "Review",
                  "value": "Review"
                },
                {
                  "name": "Approved",
                  "value": "Approved"
                },
                {
                  "name": "Publishing",
                  "value": "Publishing"
                },
                {
                  "name": "Published",
                  "value": "Published"
                },
                {
                  "name": "Failed",
                  "value": "Failed"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Research Data",
              "displayName": "Research Data",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Slug",
              "displayName": "Slug",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Excerpt",
              "displayName": "Excerpt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Image Prompt",
              "displayName": "Image Prompt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Verification Status",
              "displayName": "Verification Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pending",
                  "value": "Pending"
                },
                {
                  "name": "Passed",
                  "value": "Passed"
                },
                {
                  "name": "Issues Found",
                  "value": "Issues Found"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Verification Notes",
              "displayName": "Verification Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Categories",
              "displayName": "Categories",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Tags",
              "displayName": "Tags",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "WordPress Post ID",
              "displayName": "WordPress Post ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "WordPress URL",
              "displayName": "WordPress URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Featured Image URL",
              "displayName": "Featured Image URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Error Log",
              "displayName": "Error Log",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        480,
        -320
      ],
      "id": "update-status-researching",
      "name": "Set Status: Researching",
      "credentials": {
        "airtableTokenApi": {
          "id": "112UtIzO07XgrN7A",
          "name": "Airtable - zmidloch@z-agency.cz"
        }
      }
    },
    {
      "parameters": {
        "query": "={{ $('Airtable Status Change').item.json.fields.Title }} {{ $('Airtable Status Change').item.json.fields['Primary Keywords'] || '' }} {{ $('Airtable Status Change').item.json.fields['Secondary Keywords'] || '' }}",
        "options": {
          "topic": "general",
          "max_results": 10,
          "include_raw_content": true
        }
      },
      "type": "@tavily/n8n-nodes-tavily.tavily",
      "typeVersion": 1,
      "position": [
        688,
        -320
      ],
      "id": "tavily-search",
      "name": "Tavily Research",
      "credentials": {
        "tavilyApi": {
          "id": "KmiWEKpArgJSNmSk",
          "name": "Tavily account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar-pro\",\n  \"web_search_options\": {\n    \"max_search_results\": 10\n  },\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a professional blog content strategist and SEO copywriter. Research topics deeply, analyze search intent, identify content gaps, and generate high-performing blog post frameworks.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Research and analyze the following blog topic for a Czech tech blog: '{{ $('Set Current Article').item.json.articleTitle }}'\\n\\nProvide:\\n1. Search Intent Analysis\\n2. Content Gap identification\\n3. Key Subtopics & Questions\\n4. Primary & Secondary Keywords (Czech and English)\\n5. Competitor Analysis\\n6. Data & Statistics to include\\n7. Target Audience Insights\"\n    }\n  ]\n}",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        880,
        -320
      ],
      "id": "perplexity-research",
      "name": "Perplexity Deep Research",
      "credentials": {
        "httpBearerAuth": {
          "id": "zBYPTqhJcRJXe4RQ",
          "name": "Perplexity 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare Wikipedia lookup terms from research\nconst tavilyResults = $('Tavily Research').first().json.results || [];\nconst currentArticle = $('Set Current Article').first().json;\n\n// Extract key terms for Wikipedia lookup\nconst keyTerms = new Set();\n\n// Add main keywords\nconst keywords = currentArticle.primaryKeywords || '';\nkeywords.split(',').forEach(kw => {\n  const term = kw.trim();\n  if (term.length > 2) keyTerms.add(term);\n});\n\n// Extract important terms from Tavily results\ntavilyResults.slice(0, 5).forEach(result => {\n  const words = result.title.split(/\\s+/);\n  words.forEach(word => {\n    if (word.length > 4 && /^[A-Z]/.test(word)) {\n      keyTerms.add(word);\n    }\n  });\n});\n\n// Limit to 5 terms max\nconst termsArray = Array.from(keyTerms).slice(0, 5);\n\nreturn termsArray.map(term => ({\n  json: {\n    term: term,\n    articleId: currentArticle.articleId,\n    articleTitle: currentArticle.articleTitle\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        -320
      ],
      "id": "prepare-wiki-terms",
      "name": "Prepare Wikipedia Terms"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1280,
        -320
      ],
      "id": "split-wiki-terms",
      "name": "Loop Wiki Terms"
    },
    {
      "parameters": {
        "url": "=https://en.wikipedia.org/api/rest_v1/page/summary/{{ encodeURIComponent($json.term) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1488,
        -320
      ],
      "id": "wikipedia-lookup",
      "name": "Wikipedia Lookup"
    },
    {
      "parameters": {
        "jsCode": "// Aggregate all research data\nconst allWikiItems = $input.all();\nconst tavilyData = $('Tavily Research').first().json;\nconst perplexityData = $('Perplexity Deep Research').first().json;\nconst currentArticle = $('Set Current Article').first().json;\n\n// Collect successful Wikipedia results\nconst wikiData = allWikiItems\n  .filter(item => item.json.extract && !item.json.type?.includes('not_found'))\n  .map(item => ({\n    title: item.json.title || '',\n    summary: item.json.extract || '',\n    url: item.json.content_urls?.desktop?.page || ''\n  }));\n\n// Clean Perplexity content with citations\nlet perplexityContent = '';\nif (perplexityData.choices && perplexityData.choices[0]) {\n  perplexityContent = perplexityData.choices[0].message.content;\n  const citations = perplexityData.citations || [];\n  for (let i = 0; i < 10; i++) {\n    perplexityContent = perplexityContent.replaceAll(\n      `[${i + 1}]`,\n      citations[i] ? ` (source: ${citations[i]})` : ''\n    );\n  }\n}\n\n// Compile research data\nconst researchData = {\n  tavily: {\n    query: tavilyData.query || '',\n    results: (tavilyData.results || []).slice(0, 8).map(r => ({\n      title: r.title,\n      content: r.content,\n      url: r.url,\n      rawContent: r.raw_content?.substring(0, 2000) || ''\n    }))\n  },\n  perplexity: perplexityContent,\n  wikipedia: wikiData,\n  articleId: currentArticle.articleId,\n  articleTitle: currentArticle.articleTitle,\n  primaryKeywords: currentArticle.primaryKeywords,\n  targetLength: currentArticle.targetLength\n};\n\nreturn { json: researchData };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        -320
      ],
      "id": "aggregate-research",
      "name": "Aggregate Research Data"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the following research data and provide a synthesis for blog article writing.\n\n## ARTICLE TOPIC\n{{ $json.articleTitle }}\n\n## PRIMARY KEYWORDS\n{{ $json.primaryKeywords }}\n\n## TAVILY WEB RESEARCH\n{{ $json.tavily.results.map(r => `### ${r.title}\\n${r.content}\\nSource: ${r.url}`).join('\\n\\n') }}\n\n## PERPLEXITY DEEP RESEARCH\n{{ $json.perplexity }}\n\n## WIKIPEDIA VERIFIED FACTS\n{{ $json.wikipedia.map(w => `### ${w.title}\\n${w.summary}\\nSource: ${w.url}`).join('\\n\\n') }}\n\n---\n\nProvide a JSON synthesis with the following structure:\n{\n  \"search_intent\": \"informational|transactional|commercial|navigational\",\n  \"writing_style\": \"description of recommended style\",\n  \"writing_tone\": \"description of recommended tone\",\n  \"target_audience\": \"who is this for\",\n  \"article_goal\": \"main objective\",\n  \"hidden_insights\": [\"unique angles not covered by competitors\"],\n  \"semantic_analysis\": {\n    \"common_subtopics\": [\"topic1\", \"topic2\"],\n    \"related_questions\": [\"question1\", \"question2\"]\n  },\n  \"keywords\": {\n    \"primary\": \"main keyword\",\n    \"secondary\": [\"kw1\", \"kw2\"],\n    \"semantic\": [\"sem1\", \"sem2\"],\n    \"long_tail\": [\"long tail 1\", \"long tail 2\"]\n  },\n  \"key_facts\": [\"verified fact 1\", \"verified fact 2\"]\n}\n\nRespond ONLY with valid JSON.",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {
          "systemMessage": "You are an expert content strategist analyzing research data for a Czech technology blog about AI and automation. Synthesize the provided research into actionable writing guidelines. Focus on practical insights for Czech small and medium businesses. Always respond with valid JSON only."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1904,
        -320
      ],
      "id": "research-synthesis-agent",
      "name": "Research Synthesis Agent"
    },
    {
      "parameters": {
        "model": "anthropic/claude-opus-4.5",
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1824,
        -96
      ],
      "id": "openrouter-research",
      "name": "Claude 4.5 Opus (Research)",
      "credentials": {
        "openRouterApi": {
          "id": "XpZg3NCm0vRTBA75",
          "name": "OpenRouter Z-AGENCY 2026"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1968,
        -96
      ],
      "id": "gemini-research-fallback",
      "name": "Gemini 3.0 Flash (Fallback)",
      "credentials": {
        "googlePalmApi": {
          "id": "",
          "name": "Google AI Studio"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"required\": [\"search_intent\", \"writing_style\", \"writing_tone\", \"target_audience\", \"article_goal\"],\n  \"properties\": {\n    \"search_intent\": { \"type\": \"string\" },\n    \"writing_style\": { \"type\": \"string\" },\n    \"writing_tone\": { \"type\": \"string\" },\n    \"target_audience\": { \"type\": \"string\" },\n    \"article_goal\": { \"type\": \"string\" },\n    \"hidden_insights\": { \"type\": \"array\", \"items\": { \"type\": \"string\" } },\n    \"semantic_analysis\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"common_subtopics\": { \"type\": \"array\", \"items\": { \"type\": \"string\" } },\n        \"related_questions\": { \"type\": \"array\", \"items\": { \"type\": \"string\" } }\n      }\n    },\n    \"keywords\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"primary\": { \"type\": \"string\" },\n        \"secondary\": { \"type\": \"array\", \"items\": { \"type\": \"string\" } },\n        \"semantic\": { \"type\": \"array\", \"items\": { \"type\": \"string\" } },\n        \"long_tail\": { \"type\": \"array\", \"items\": { \"type\": \"string\" } }\n      }\n    },\n    \"key_facts\": { \"type\": \"array\", \"items\": { \"type\": \"string\" } }\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2112,
        -80
      ],
      "id": "research-parser",
      "name": "Research Parser"
    },
    {
      "parameters": {
        "jsCode": "// Combine research synthesis with raw research data\nconst synthesisOutput = $('Research Synthesis Agent').first().json.output;\nconst aggregatedData = $('Aggregate Research Data').first().json;\n\nconst combinedResearch = {\n  synthesis: synthesisOutput,\n  rawData: {\n    tavily: aggregatedData.tavily,\n    perplexity: aggregatedData.perplexity,\n    wikipedia: aggregatedData.wikipedia\n  },\n  articleId: aggregatedData.articleId,\n  articleTitle: aggregatedData.articleTitle,\n  targetLength: aggregatedData.targetLength\n};\n\nreturn { json: combinedResearch };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2336,
        -320
      ],
      "id": "prepare-research-save",
      "name": "Prepare Research for Save"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "mode": "url",
          "value": "=https://airtable.com/appNKJUeljGoHYjQf/tbljRtFFKlUXYAO6M/viwCXaxhEJzyyFE8z?blocks=hide",
          "__regex": "https://airtable.com/([a-zA-Z0-9]{2,})"
        },
        "table": {
          "__rl": true,
          "value": "=https://airtable.com/appNKJUeljGoHYjQf/tbljRtFFKlUXYAO6M/viwCXaxhEJzyyFE8z?blocks=hide",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Target Length": 0,
            "WordPress Post ID": 0
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Primary Keywords",
              "displayName": "Primary Keywords",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Secondary Keywords",
              "displayName": "Secondary Keywords",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Target Length",
              "displayName": "Target Length",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pending",
                  "value": "Pending"
                },
                {
                  "name": "New",
                  "value": "New"
                },
                {
                  "name": "Researching",
                  "value": "Researching"
                },
                {
                  "name": "Writing",
                  "value": "Writing"
                },
                {
                  "name": "Humanizing",
                  "value": "Humanizing"
                },
                {
                  "name": "Review",
                  "value": "Review"
                },
                {
                  "name": "Approved",
                  "value": "Approved"
                },
                {
                  "name": "Publishing",
                  "value": "Publishing"
                },
                {
                  "name": "Published",
                  "value": "Published"
                },
                {
                  "name": "Failed",
                  "value": "Failed"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Research Data",
              "displayName": "Research Data",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Slug",
              "displayName": "Slug",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Excerpt",
              "displayName": "Excerpt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Image Prompt",
              "displayName": "Image Prompt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Verification Status",
              "displayName": "Verification Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pending",
                  "value": "Pending"
                },
                {
                  "name": "Passed",
                  "value": "Passed"
                },
                {
                  "name": "Issues Found",
                  "value": "Issues Found"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Verification Notes",
              "displayName": "Verification Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Categories",
              "displayName": "Categories",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Tags",
              "displayName": "Tags",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "WordPress Post ID",
              "displayName": "WordPress Post ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "WordPress URL",
              "displayName": "WordPress URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Featured Image URL",
              "displayName": "Featured Image URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Error Log",
              "displayName": "Error Log",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        2560,
        -320
      ],
      "id": "save-research-update-status",
      "name": "Save Research & Set Writing",
      "credentials": {
        "airtableTokenApi": {
          "id": "112UtIzO07XgrN7A",
          "name": "Airtable - zmidloch@z-agency.cz"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Signal completion - loop back to process next article\nreturn { json: { completed: 'research', loopBack: true } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2800,
        -320
      ],
      "id": "research-complete",
      "name": "Research Complete"
    },
    {
      "parameters": {
        "content": "## BRANCH 2: Content Generation\n\nTriggers when Status = 'Writing'\n\n1. Keyword Strategy Agent\n2. Title Refinement Agent\n3. Key Takeaways Agent\n4. Outline Agent\n5. Content Writer Agent (Czech)\n6. Word count check\n7. Save draft to Airtable\n8. Update status to 'Humanizing'\n9. Loop back for next article",
        "height": 320,
        "width": 400,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -16,
        48
      ],
      "id": "content-note",
      "name": "Content Branch Note"
    },
    {
      "parameters": {
        "base": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $vars.AIRTABLE_BASE_ID }}"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $vars.AIRTABLE_ARTICLES_TABLE }}"
        },
        "id": "={{ $('Set Current Article').item.json.articleId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        432,
        96
      ],
      "id": "fetch-article-for-writing",
      "name": "Fetch Article for Writing",
      "credentials": {
        "airtableTokenApi": {
          "id": "",
          "name": "Airtable"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse research data and prepare for content generation\nconst article = $input.first().json;\nconst researchData = JSON.parse(article.fields['Research Data'] || '{}');\n\nreturn {\n  json: {\n    articleId: article.id,\n    title: article.fields.Title,\n    primaryKeywords: article.fields['Primary Keywords'] || '',\n    secondaryKeywords: article.fields['Secondary Keywords'] || '',\n    categories: article.fields.Categories || [],\n    tags: article.fields.Tags || '',\n    targetLength: article.fields['Target Length'] || 2000,\n    research: researchData\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        96
      ],
      "id": "parse-article-data",
      "name": "Parse Article Data"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Based on the following research, generate an SEO-optimized keyword strategy for a Czech blog article.\n\n## ARTICLE TITLE\n{{ $json.title }}\n\n## PRIMARY KEYWORDS\n{{ $json.primaryKeywords }}\n\n## RESEARCH SYNTHESIS\n{{ JSON.stringify($json.research.synthesis || {}) }}\n\n---\n\nGenerate:\n1. 5-8 SEO keywords in CZECH relevant to Czech readers\n2. Suggest 1-3 categories from: Umela inteligence, Automatizace, Digitalni transformace, Produktivita, Nastroje a technologie, Pripadove studie, Novinky z oboru\n3. Suggest 3-5 tags in CZECH\n\nReturn JSON:\n{\n  \"seoKeywords\": [\"keyword1\", \"keyword2\"],\n  \"categories\": [\"Category1\"],\n  \"tags\": [\"tag1\", \"tag2\"]\n}",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {
          "systemMessage": "You are an SEO specialist for Czech technology blogs. Generate keywords and taxonomies in Czech language that will resonate with Czech small and medium business owners. Respond ONLY with valid JSON."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        768,
        96
      ],
      "id": "keyword-strategy-agent",
      "name": "Keyword Strategy Agent"
    },
    {
      "parameters": {
        "model": "anthropic/claude-opus-4-5-20251101",
        "options": {
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        576,
        272
      ],
      "id": "openrouter-keywords",
      "name": "Claude 4.5 Opus (Keywords)",
      "credentials": {
        "openRouterApi": {
          "id": "",
          "name": "OpenRouter"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        720,
        272
      ],
      "id": "gemini-keywords-fallback",
      "name": "Gemini Fallback (Keywords)",
      "credentials": {
        "googlePalmApi": {
          "id": "",
          "name": "Google AI Studio"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"required\": [\"seoKeywords\", \"categories\", \"tags\"],\n  \"properties\": {\n    \"seoKeywords\": { \"type\": \"array\", \"items\": { \"type\": \"string\" } },\n    \"categories\": { \"type\": \"array\", \"items\": { \"type\": \"string\" } },\n    \"tags\": { \"type\": \"array\", \"items\": { \"type\": \"string\" } }\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        864,
        272
      ],
      "id": "keywords-parser",
      "name": "Keywords Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Refine and optimize the following blog post title for maximum CTR and SEO performance.\n\n## WORKING TITLE\n{{ $('Parse Article Data').item.json.title }}\n\n## PRIMARY KEYWORDS\n{{ $('Parse Article Data').item.json.primaryKeywords }}\n\n## SEO KEYWORDS\n{{ $json.output.seoKeywords.join(', ') }}\n\n## SEARCH INTENT\n{{ $('Parse Article Data').item.json.research.synthesis?.search_intent || 'informational' }}\n\n---\n\nCreate an optimized title that:\n- Is 50-60 characters max\n- Includes primary keyword naturally\n- Is compelling and drives clicks\n- Is in CZECH language\n\nReturn JSON:\n{\n  \"revisedTitle\": \"Optimized Czech title here\",\n  \"reasoning\": \"Brief explanation\"\n}",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {
          "systemMessage": "You are an expert high-CTR marketing copywriter specializing in Czech headlines. Create titles that drive clicks while being SEO-friendly. Respond ONLY with valid JSON."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1104,
        96
      ],
      "id": "title-refinement-agent",
      "name": "Title Refinement Agent"
    },
    {
      "parameters": {
        "model": "anthropic/claude-opus-4-5-20251101",
        "options": {
          "temperature": 0.5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1008,
        272
      ],
      "id": "openrouter-title",
      "name": "Claude 4.5 Opus (Title)",
      "credentials": {
        "openRouterApi": {
          "id": "",
          "name": "OpenRouter"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"required\": [\"revisedTitle\", \"reasoning\"],\n  \"properties\": {\n    \"revisedTitle\": { \"type\": \"string\" },\n    \"reasoning\": { \"type\": \"string\" }\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1232,
        288
      ],
      "id": "title-parser",
      "name": "Title Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create key takeaways for the following article.\n\n## OPTIMIZED TITLE\n{{ $json.output.revisedTitle }}\n\n## PRIMARY KEYWORDS\n{{ $('Parse Article Data').item.json.primaryKeywords }}\n\n## SEO KEYWORDS\n{{ $('Keyword Strategy Agent').item.json.output.seoKeywords.join(', ') }}\n\n## RESEARCH SYNTHESIS\n{{ JSON.stringify($('Parse Article Data').item.json.research.synthesis || {}) }}\n\n---\n\nCreate:\n1. An introductory paragraph (2-3 sentences) that hooks the reader\n2. 6-8 key takeaways as bullet points with bold headings\n3. An outro paragraph that leads into the main content\n\nWrite in CZECH language. Use engaging, action-driven headings.\n\nReturn the key takeaways in Markdown format.",
        "needsFallback": true,
        "options": {
          "systemMessage": "You are an expert content strategist creating structured, insightful key takeaways for Czech technology articles. Write in excellent Czech, avoid cliches, use concrete examples."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1392,
        96
      ],
      "id": "key-takeaways-agent",
      "name": "Key Takeaways Agent"
    },
    {
      "parameters": {
        "model": "anthropic/claude-opus-4-5-20251101",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1344,
        288
      ],
      "id": "openrouter-takeaways",
      "name": "Claude 4.5 Opus (Takeaways)",
      "credentials": {
        "openRouterApi": {
          "id": "",
          "name": "OpenRouter"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create a detailed article outline for the following topic.\n\n## TITLE\n{{ $('Title Refinement Agent').item.json.output.revisedTitle }}\n\n## KEY TAKEAWAYS\n{{ $json.output }}\n\n## SEO KEYWORDS\n{{ $('Keyword Strategy Agent').item.json.output.seoKeywords.join(', ') }}\n\n## SEMANTIC ANALYSIS\n{{ JSON.stringify($('Parse Article Data').item.json.research.synthesis?.semantic_analysis || {}) }}\n\n## TARGET LENGTH\n{{ $('Parse Article Data').item.json.targetLength }} words\n\n---\n\nCreate a detailed outline with:\n- Main sections (## H2 headings)\n- Subsections (### H3 headings)\n- Brief description of what each section covers\n- Incorporate SEO keywords naturally in headings\n\nFormat in Markdown. Write headings in CZECH.",
        "needsFallback": true,
        "options": {
          "systemMessage": "You are an expert content strategist creating detailed article outlines. Structure content for clarity, engagement, and SEO effectiveness. Use Czech language for all headings and descriptions."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1680,
        96
      ],
      "id": "outline-agent",
      "name": "Outline Agent"
    },
    {
      "parameters": {
        "model": "anthropic/claude-opus-4-5-20251101",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1616,
        288
      ],
      "id": "openrouter-outline",
      "name": "Claude 4.5 Opus (Outline)",
      "credentials": {
        "openRouterApi": {
          "id": "",
          "name": "OpenRouter"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Write a complete blog article based on the following specifications.\n\n## TITLE\n{{ $('Title Refinement Agent').item.json.output.revisedTitle }}\n\n## OUTLINE\n{{ $json.output }}\n\n## KEY TAKEAWAYS\n{{ $('Key Takeaways Agent').item.json.output }}\n\n## SEO KEYWORDS (must include naturally)\n{{ $('Keyword Strategy Agent').item.json.output.seoKeywords.join(', ') }}\n\n## RESEARCH DATA\n\n### Tavily Sources:\n{{ $('Parse Article Data').item.json.research.rawData?.tavily?.results?.map(r => `- ${r.title}: ${r.content}`).join('\\n') || 'No Tavily data' }}\n\n### Wikipedia Verified Facts:\n{{ $('Parse Article Data').item.json.research.rawData?.wikipedia?.map(w => `- ${w.title}: ${w.summary}`).join('\\n') || 'No Wikipedia data' }}\n\n## TARGET LENGTH\n{{ $('Parse Article Data').item.json.targetLength }} words\n\n---\n\n## INSTRUCTIONS\n\n1. Follow the outline EXACTLY\n2. Write the COMPLETE article in CZECH\n3. Use HTML formatting: <p>, <h2>, <h3>, <ul>, <li>, <strong>, <a>\n4. DO NOT use <h1> (title is separate)\n5. Include SEO keywords naturally (1-2% density)\n6. Use ONLY facts from provided research sources\n7. NEVER invent statistics or data\n8. Write like a human journalist, not AI\n9. Vary sentence length\n10. Add practical examples where relevant\n\nReturn JSON:\n{\n  \"title\": \"Final Czech title\",\n  \"content\": \"Full HTML article content\",\n  \"excerpt\": \"SEO meta description (max 160 chars)\",\n  \"slug\": \"url-friendly-slug\",\n  \"imageQuery\": \"English description for image generation\"\n}",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {
          "systemMessage": "Jsi zkuseny cesky technologicky novinar a copywriter specializujici se na AI, automatizaci a digitalni transformaci pro male a stredni podniky.\n\nZAKAZANE FRAZE (nikdy nepouzivej):\n- \"V dnesni dobe\"\n- \"V rychle se menicim svete\"\n- \"Je dulezite poznamenat\"\n- \"Neni zadnym tajemstvi\"\n- \"Pojdme se podivat\"\n- \"Jak jiste vite\"\n- \"Neni prekvapenim\"\n\nPRAVIDLA:\n- Pis ve vyborne cestine, vyhybej se zbytecnym anglicismum\n- Stridej delku vet - kratke s delsimi\n- Pouzivej konkretni priklady, cisla a fakta\n- Pis jako clovek, ne jako AI\n- Vyhybej se pasivnimu rodu\n- NIKDY nevymyslej statistiky - pouzivej pouze dodane zdroje\n\nFORMAT: HTML tagy (p, h2, h3, ul, li, strong, a), bez h1\nOdpovez POUZE platnym JSON objektem."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1968,
        96
      ],
      "id": "content-writer-agent",
      "name": "Content Writer Agent"
    },
    {
      "parameters": {
        "model": "anthropic/claude-opus-4-5-20251101",
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1888,
        288
      ],
      "id": "openrouter-writer",
      "name": "Claude 4.5 Opus (Writer)",
      "credentials": {
        "openRouterApi": {
          "id": "",
          "name": "OpenRouter"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2032,
        288
      ],
      "id": "gemini-writer-fallback",
      "name": "Gemini Fallback (Writer)",
      "credentials": {
        "googlePalmApi": {
          "id": "",
          "name": "Google AI Studio"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"required\": [\"title\", \"content\", \"excerpt\", \"slug\", \"imageQuery\"],\n  \"properties\": {\n    \"title\": { \"type\": \"string\" },\n    \"content\": { \"type\": \"string\" },\n    \"excerpt\": { \"type\": \"string\" },\n    \"slug\": { \"type\": \"string\" },\n    \"imageQuery\": { \"type\": \"string\" }\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2160,
        288
      ],
      "id": "content-parser",
      "name": "Content Parser"
    },
    {
      "parameters": {
        "jsCode": "// Word count check\nconst content = $json.output?.content || '';\nconst trimmed = content.replace(/<[^>]*>/g, ' ').trim();\nconst wordCount = trimmed.split(/\\s+/).filter(Boolean).length;\nconst charCount = content.length;\nconst limit = parseInt($('Parse Article Data').first().json.targetLength) || 2000;\n\nreturn {\n  json: {\n    ...($json.output || {}),\n    wordCount,\n    charCount,\n    wordLimitOver: wordCount > limit * 1.2, // 20% tolerance\n    limit,\n    articleId: $('Parse Article Data').first().json.articleId,\n    categories: $('Keyword Strategy Agent').first().json.output?.categories || [],\n    tags: $('Keyword Strategy Agent').first().json.output?.tags || []\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2352,
        112
      ],
      "id": "word-count-check",
      "name": "Word Count Check"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "word-limit-check",
              "leftValue": "={{ $json.wordLimitOver }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2544,
        112
      ],
      "id": "if-over-limit",
      "name": "Over Word Limit?"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Compress the following article to fit within {{ $json.limit }} words while preserving meaning and value.\n\nCurrent word count: {{ $json.wordCount }}\nTarget: {{ $json.limit }} words\n\n## CONTENT TO COMPRESS:\n{{ $json.content }}\n\n---\n\nReduce word count by:\n1. Removing redundant sentences\n2. Shortening overly long explanations\n3. Eliminating filler phrases\n4. Combining similar points\n\nPreserve:\n- All key information\n- HTML formatting\n- Natural flow\n- Czech language quality\n\nReturn ONLY the compressed HTML content.",
        "needsFallback": true,
        "options": {
          "systemMessage": "You are an expert editor compressing long-form content while preserving meaning, tone, and value. Output only the compressed HTML content in Czech."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2784,
        96
      ],
      "id": "compression-agent",
      "name": "Compression Agent"
    },
    {
      "parameters": {
        "model": "anthropic/claude-opus-4-5-20251101",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2720,
        288
      ],
      "id": "openrouter-compression",
      "name": "Claude 4.5 Opus (Compress)",
      "credentials": {
        "openRouterApi": {
          "id": "",
          "name": "OpenRouter"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Merge compressed content back\nconst originalData = $('Word Count Check').first().json;\nconst compressedContent = $json.output;\n\nreturn {\n  json: {\n    ...originalData,\n    content: compressedContent,\n    wasCompressed: true\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3104,
        96
      ],
      "id": "merge-compressed",
      "name": "Merge Compressed"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $vars.AIRTABLE_BASE_ID }}"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $vars.AIRTABLE_ARTICLES_TABLE }}"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Humanizing",
            "Title": "={{ $json.title }}",
            "Slug": "={{ $json.slug }}",
            "Content": "={{ $json.content }}",
            "Excerpt": "={{ $json.excerpt }}",
            "Image Prompt": "={{ $json.imageQuery }}",
            "Categories": "={{ $json.categories }}",
            "Tags": "={{ $json.tags.join(', ') }}"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        3456,
        256
      ],
      "id": "save-draft-set-humanizing",
      "name": "Save Draft & Set Humanizing",
      "credentials": {
        "airtableTokenApi": {
          "id": "",
          "name": "Airtable"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Signal completion - loop back to process next article\nreturn { json: { completed: 'content', loopBack: true } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3632,
        256
      ],
      "id": "content-complete",
      "name": "Content Complete"
    },
    {
      "parameters": {
        "content": "## BRANCH 3: Humanization & Verification\n\nTriggers when Status = 'Humanizing'\n\n1. Humanizer Agent\n2. Verification Agent\n3. Generate image\n4. Upload to WordPress Media\n5. Update status to 'Review'\n6. Send notification email\n7. Loop back for next article",
        "height": 280,
        "width": 400,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -32,
        576
      ],
      "id": "humanize-note",
      "name": "Humanization Branch Note"
    },
    {
      "parameters": {
        "base": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $vars.AIRTABLE_BASE_ID }}"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $vars.AIRTABLE_ARTICLES_TABLE }}"
        },
        "id": "={{ $('Set Current Article').item.json.articleId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        496,
        640
      ],
      "id": "fetch-article-for-humanizing",
      "name": "Fetch Article for Humanizing",
      "credentials": {
        "airtableTokenApi": {
          "id": "",
          "name": "Airtable"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Transform the following AI-generated Czech content into natural, engaging human writing.\n\n## CONTENT TO HUMANIZE:\n{{ $json.fields.Content }}\n\n---\n\n## RULES:\n1. Vary sentence length - mix short punchy sentences with longer flowing ones\n2. Use active voice predominantly\n3. Remove repetitive phrasing\n4. Add conversational elements where appropriate\n5. Preserve all technical accuracy\n6. Keep HTML formatting intact (<p>, <h2>, <h3>, <ul>, <li>, <strong>, <a>)\n7. Do not add new information\n8. Maintain Czech language quality\n\n## BANNED PATTERNS:\n- Generic AI phrases\n- Overly formal constructions\n- Passive voice where active works better\n- Repetitive sentence structures\n\nReturn ONLY the humanized HTML content.",
        "needsFallback": true,
        "options": {
          "systemMessage": "You are an expert humanizer transforming AI-generated Czech content into natural, engaging human writing. Preserve meaning and formatting while making the text sound authentically human-written."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        784,
        656
      ],
      "id": "humanizer-agent",
      "name": "Humanizer Agent"
    },
    {
      "parameters": {
        "model": "anthropic/claude-opus-4-5-20251101",
        "options": {
          "temperature": 0.6
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        688,
        864
      ],
      "id": "openrouter-humanizer",
      "name": "Claude 4.5 Opus (Humanizer)",
      "credentials": {
        "openRouterApi": {
          "id": "",
          "name": "OpenRouter"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare data for verification\nconst article = $('Fetch Article for Humanizing').first().json;\nconst humanizedContent = $json.output;\nconst researchData = JSON.parse(article.fields['Research Data'] || '{}');\n\nreturn {\n  json: {\n    articleId: article.id,\n    title: article.fields.Title,\n    humanizedContent: humanizedContent,\n    originalContent: article.fields.Content,\n    research: researchData,\n    excerpt: article.fields.Excerpt,\n    slug: article.fields.Slug,\n    imagePrompt: article.fields['Image Prompt'],\n    categories: article.fields.Categories,\n    tags: article.fields.Tags\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        656
      ],
      "id": "prepare-for-verification",
      "name": "Prepare for Verification"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Verify the factual accuracy of the following article against research sources.\n\n## ARTICLE CONTENT:\n{{ $json.humanizedContent }}\n\n## RESEARCH SOURCES:\n\n### Tavily Research:\n{{ $json.research.rawData?.tavily?.results?.map(r => `- ${r.title}: ${r.content}`).join('\\n') || 'No data' }}\n\n### Wikipedia Facts:\n{{ $json.research.rawData?.wikipedia?.map(w => `- ${w.title}: ${w.summary}`).join('\\n') || 'No data' }}\n\n### Perplexity Research:\n{{ $json.research.rawData?.perplexity?.substring(0, 3000) || 'No data' }}\n\n---\n\n## TASK:\n1. Identify factual claims in the article\n2. Check each claim against provided sources\n3. Flag claims that cannot be verified\n4. Suggest specific corrections for problematic claims\n\nReturn JSON:\n{\n  \"verified\": true/false,\n  \"issues\": [\"issue1\", \"issue2\"],\n  \"correctedContent\": \"HTML content with corrections (or original if no issues)\",\n  \"verificationNotes\": \"Summary of verification process\"\n}",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {
          "systemMessage": "You are a strict fact-checker for a technology blog. Identify potential AI hallucinations and unverifiable claims. Be critical but constructive - suggest specific corrections. If the article is factually sound, return verified: true."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1376,
        656
      ],
      "id": "verification-agent",
      "name": "Verification Agent"
    },
    {
      "parameters": {
        "model": "anthropic/claude-opus-4-5-20251101",
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1296,
        880
      ],
      "id": "openrouter-verification",
      "name": "Claude 4.5 Opus (Verify)",
      "credentials": {
        "openRouterApi": {
          "id": "",
          "name": "OpenRouter"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"required\": [\"verified\", \"issues\", \"correctedContent\", \"verificationNotes\"],\n  \"properties\": {\n    \"verified\": { \"type\": \"boolean\" },\n    \"issues\": { \"type\": \"array\", \"items\": { \"type\": \"string\" } },\n    \"correctedContent\": { \"type\": \"string\" },\n    \"verificationNotes\": { \"type\": \"string\" }\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1600,
        864
      ],
      "id": "verification-parser",
      "name": "Verification Parser"
    },
    {
      "parameters": {
        "jsCode": "// Prepare final content data\nconst verificationOutput = $json.output;\nconst prepData = $('Prepare for Verification').first().json;\n\n// Use corrected content if there were issues, otherwise use humanized\nconst finalContent = verificationOutput.correctedContent || prepData.humanizedContent;\n\nreturn {\n  json: {\n    articleId: prepData.articleId,\n    title: prepData.title,\n    content: finalContent,\n    excerpt: prepData.excerpt,\n    slug: prepData.slug,\n    imagePrompt: prepData.imagePrompt,\n    categories: prepData.categories,\n    tags: prepData.tags,\n    verified: verificationOutput.verified,\n    verificationIssues: verificationOutput.issues,\n    verificationNotes: verificationOutput.verificationNotes\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1808,
        656
      ],
      "id": "prepare-final-content",
      "name": "Prepare Final Content"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $vars.AIRTABLE_BASE_ID }}"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $vars.AIRTABLE_ARTICLES_TABLE }}"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Review",
            "Content": "={{ $json.content }}",
            "Featured Image URL": "={{ $json.wpMediaUrl }}",
            "Verification Status": "={{ $json.verified ? 'Passed' : 'Issues Found' }}",
            "Verification Notes": "={{ $json.verificationNotes }}"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        2080,
        656
      ],
      "id": "save-final-set-review",
      "name": "Save Final & Set Review",
      "credentials": {
        "airtableTokenApi": {
          "id": "",
          "name": "Airtable"
        }
      }
    },
    {
      "parameters": {
        "subject": "={{ $json.verified ? '✅' : '⚠️' }} New article for review: {{ $json.title }}",
        "message": "=<h2>{{ $json.title }}</h2>\n\n<p><strong>Excerpt:</strong> {{ $json.excerpt }}</p>\n\n<p><strong>Verification Status:</strong> {{ $json.verified ? 'Passed' : 'Issues Found' }}</p>\n<p><strong>Notes:</strong> {{ $json.verificationNotes }}</p>\n\n{{ $json.verificationIssues?.length > 0 ? '<h3>Issues Found:</h3><ul>' + $json.verificationIssues.map(i => '<li>' + i + '</li>').join('') + '</ul>' : '' }}\n\n<hr>\n\n<p>Please review the article in Airtable and set status to \"Approved\" when ready to publish.</p>\n\n<p style=\"color: #666; font-size: 12px;\">This email was automatically generated by the Blog Article Generator V2 workflow.</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2448,
        656
      ],
      "id": "send-review-notification",
      "name": "Send Review Notification",
      "webhookId": "e1a72b83-cdb6-43f3-ab82-758858c89582",
      "credentials": {
        "gmailOAuth2": {
          "id": "",
          "name": "Gmail"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Signal completion - loop back to process next article\nreturn { json: { completed: 'humanization', loopBack: true } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2928,
        656
      ],
      "id": "humanization-complete",
      "name": "Humanization Complete"
    },
    {
      "parameters": {
        "content": "## BRANCH 4: WordPress Publishing\n\nTriggers when Status = 'Approved'\n\n1. Create WordPress draft post\n2. Get WP categories and tags\n3. Map AI categories to WP IDs\n4. Assign categories and tags\n5. Set featured image\n6. Update Airtable with WP data\n7. Update status to 'Published'\n8. Send success notification\n9. Loop back for next article",
        "height": 320,
        "width": 384,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -32,
        1088
      ],
      "id": "publish-note",
      "name": "Publishing Branch Note"
    },
    {
      "parameters": {
        "jsCode": "// Signal completion - loop back to process next article\nreturn { json: { completed: 'publishing', loopBack: true } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4336,
        1120
      ],
      "id": "publishing-complete",
      "name": "Publishing Complete"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 5,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        4560,
        400
      ],
      "id": "merge-all-branches",
      "name": "Merge All Branches"
    },
    {
      "parameters": {
        "content": "## Loop Back\n\nAll branches merge here and loop back to Split In Batches to process the next article in queue.\n\nThis ensures sequential processing - no race conditions.",
        "height": 200,
        "width": 540,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4128,
        160
      ],
      "id": "loop-note",
      "name": "Loop Note"
    },
    {
      "parameters": {
        "content": "## No Articles\n\nWhen there are no articles with actionable status, the workflow ends here.",
        "height": 150,
        "width": 300,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -896,
        576
      ],
      "id": "no-articles-note",
      "name": "No Articles Note"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1120,
        288
      ],
      "id": "gemini-title-fallback",
      "name": "Gemini Fallback (Title)",
      "credentials": {
        "googlePalmApi": {
          "id": "",
          "name": "Google AI Studio"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1472,
        288
      ],
      "id": "gemini-takeaways-fallback",
      "name": "Gemini Fallback (Takeaways)",
      "credentials": {
        "googlePalmApi": {
          "id": "",
          "name": "Google AI Studio"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1744,
        288
      ],
      "id": "gemini-outline-fallback",
      "name": "Gemini Fallback (Outline)",
      "credentials": {
        "googlePalmApi": {
          "id": "",
          "name": "Google AI Studio"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2864,
        288
      ],
      "id": "gemini-compression-fallback",
      "name": "Gemini Fallback (Compress)",
      "credentials": {
        "googlePalmApi": {
          "id": "",
          "name": "Google AI Studio"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        848,
        864
      ],
      "id": "gemini-humanizer-fallback",
      "name": "Gemini Fallback (Humanizer)",
      "credentials": {
        "googlePalmApi": {
          "id": "",
          "name": "Google AI Studio"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1456,
        896
      ],
      "id": "gemini-verification-fallback",
      "name": "Gemini Fallback (Verify)",
      "credentials": {
        "googlePalmApi": {
          "id": "",
          "name": "Google AI Studio"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare article data for WordPress\nconst rawData = $('Fetch Article for Publishing1').first().json;\nconst article = rawData.fields ? rawData.fields : rawData;\n\nreturn {\n  json: {\n    articleId: rawData.id,\n    title: article.Title,\n    content: article.Content || '',\n    excerpt: article.Excerpt || '',\n    slug: article.Slug || '',\n    categories: article.Categories || '',\n    tags: article.Tags || [],\n    \n    // ZMĚNA 1: Český prompt pro obrázek\n    imagePrompt: article['Image Prompt'] || `Profesionální, moderní úvodní obrázek pro článek na téma: ${article.Title}, high quality, photography style, business context`,\n    \n    // ZMĚNA 2: Natvrdo nastavený jazyk pro Polylang/WPML\n    wpLang: 'cs' \n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        1152
      ],
      "id": "037b2cb9-c248-40e3-8903-5fa68e7558a2",
      "name": "Prepare WP Data"
    },
    {
      "parameters": {
        "jsCode": "// Prepare image generation prompt\nconst prepData = $('Prepare WP Data').first().json;\nconst wpPost = $input.first().json;\n\nreturn {\n  json: {\n    ...prepData,\n    wpPostId: wpPost.id,\n    wpPostLink: wpPost.link,\n    imagePrompt: prepData.imagePrompt\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2800,
        1152
      ],
      "id": "de920bad-189c-46f1-ae8b-22be10ba7202",
      "name": "Prepare Image Generation"
    },
    {
      "parameters": {
        "sendTo": "zmidloch@z-agency.cz",
        "subject": "=✅ Article Published: {{ $json.title }}",
        "message": "=<h2>{{ $json.title }}</h2>\n\n<p>The article has been successfully published to WordPress as a draft.</p>\n\n<p><strong>WordPress Post ID:</strong> {{ $json.wpPostId }}</p>\n\n<p><strong>URL:</strong> <a href=\"https://processgate.ai/{{ $json.slug }}\">https://processgate.ai/{{ $json.slug }}</a></p>\n\n{{ $json.wpMediaUrl ? '<p><strong>Featured Image:</strong> <a href=\"' + $json.wpMediaUrl + '\">View Image</a></p>' : '' }}\n\n<hr>\n\n<p>\n  <a href=\"https://processgate.ai/wp-admin/post.php?post={{ $json.wpPostId }}&action=edit\" \n     style=\"background: #0073aa; color: white; padding: 12px 24px; text-decoration: none; border-radius: 4px; display: inline-block;\">\n     Open in WordPress Admin\n  </a>\n</p>\n\n<p style=\"color: #666; font-size: 12px; margin-top: 20px;\">This email was automatically generated by the Blog Article Generator workflow.</p>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        4128,
        1120
      ],
      "id": "2f914613-ce48-42b5-93ae-7834ec226b7e",
      "name": "Send Published Notification1",
      "webhookId": "ed04287a-794d-436b-847f-38af158abf0c",
      "credentials": {
        "gmailOAuth2": {
          "id": "qNSaYVEcaWOf5U3k",
          "name": "Gmail zmidloch@z-agency.cz"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// No image available - pass through data\nconst prepData = $('Process Image Response1').first().json;\n\nreturn {\n  json: {\n    ...prepData,\n    wpMediaId: null,\n    wpMediaUrl: ''\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3776,
        1376
      ],
      "id": "96212bfa-2eaf-4ed5-9820-a8f9863ecb6b",
      "name": "No Image Passthrough1"
    },
    {
      "parameters": {
        "jsCode": "// Prepare context for the Taxonomy Agent\n// We need to merge the WP Post ID with the list of available categories and tags\n\n// FIXED: Removed \"- old\" from the node name\nconst wpPost = $('Create WordPress Post1').first().json;\nconst article = $('Prepare WP Data').first().json;\n\n// Create readable lists for the AI\nconst categoriesList = $('Get WP Categories1').all().map(item => \n  `ID ${item.json.id}: ${item.json.name} (Slug: ${item.json.slug})`\n).join('\\n');\n\nconst tagsList = $('Get WP Tags1').all().map(item => \n  `ID ${item.json.id}: ${item.json.name}`\n).join('\\n');\n\nreturn {\n  json: {\n    wpPostId: wpPost.id,\n    wpPostLink: wpPost.link,\n    title: article.title,\n    excerpt: article.excerpt,\n    categoriesList: categoriesList,\n    tagsList: tagsList\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1648,
        1152
      ],
      "id": "d6850631-8172-4d00-91a2-59d960789d46",
      "name": "Prepare Context for AI"
    },
    {
      "parameters": {
        "model": "anthropic/claude-sonnet-4.5",
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1664,
        1376
      ],
      "id": "d8ad0bf7-385a-4b0f-bd9a-026a7a7e4d5b",
      "name": "Claude 4.5 (Taxonomy)",
      "credentials": {
        "openRouterApi": {
          "id": "XpZg3NCm0vRTBA75",
          "name": "OpenRouter Z-AGENCY 2026"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"required\": [\"categoryIds\", \"tagIds\"],\n  \"properties\": {\n    \"categoryIds\": {\n      \"type\": \"array\",\n      \"items\": { \"type\": \"number\" }\n    },\n    \"tagIds\": {\n      \"type\": \"array\",\n      \"items\": { \"type\": \"number\" }\n    }\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2000,
        1376
      ],
      "id": "09a3c4d5-09b4-4ec2-9eeb-c1dcbe897961",
      "name": "Taxonomy Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "==Klasifikuj následující článek na základě dostupných seznamů taxonomií.\n\n## DATA ČLÁNKU\nTitulek: {{ $json.title }}\nPerex: {{ $json.excerpt }}\n\n## REFERENČNÍ SEZNAM: KATEGORIE (Formát: \"ID: Název\")\n{{ $json.categoriesList }}\n\n## REFERENČNÍ SEZNAM: ŠTÍTKY (Formát: \"ID: Název\")\n{{ $json.tagsList }}\n\n---\n\nÚKOL:\n1. Vyber 1-2 nejvíce relevantní ID Kategorií ze seznamu výše.\n2. Vyber 3-5 nejvíce relevantních ID Štítků (Tags) ze seznamu výše.\n3. DŮLEŽITÉ: Protože je článek v češtině, vybírej POUZE kategorie a štítky, které dávají smysl pro český obsah (pokud existují české ekvivalenty, použij je).\n\nFORMÁT ODPOVĚDI (JSON):\n{\n  \"categoryIds\": [1, 2],\n  \"tagIds\": [10, 20, 30]\n}",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {
          "systemMessage": "You are an expert AI classifier for WordPress content. Your job is to analyze article metadata and map it to existing taxonomy IDs.\n\nCRITICAL RULES:\n1. You act as a filter/mapper. You do NOT generate content.\n2. You must Output ONLY valid JSON. No markdown, no conversational text.\n3. You must use ONLY the IDs provided in the lists. NEVER invent new categories or tags.\n4. If no tag fits, return an empty array for tags.\n5. Accuracy is key. Do not hallucinate IDs that are not in the provided list."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1808,
        1152
      ],
      "id": "bd167644-64cd-454f-ac49-40c5fa418d79",
      "name": "Taxonomy Classifier Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1792,
        1376
      ],
      "id": "30df44c7-2e67-4b21-8a64-abe21f7ffc3c",
      "name": "Google Gemini Chat Model9",
      "credentials": {
        "googlePalmApi": {
          "id": "uLXCpqN3fa4ZXZmj",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3-pro-image-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3-pro-image-preview (Nano Banana Pro)"
        },
        "prompt": "={\n  \"instances\": [\n    {\n      \"prompt\": \"{{ $json.imagePrompt.replace(/[\\r\\n]+/g, ' ').replace(/\"/g, '\\\\\"') }}, professional, modern tech style, no text, high quality, 16:9 aspect ratio, clean design, business appropriate\"\n    }\n  ],\n  \"parameters\": {\n    \"sampleCount\": 1,\n    \"aspectRatio\": \"16:9\"\n  }\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        2992,
        1152
      ],
      "id": "fe0427e0-342a-4108-8e5d-ed69b1a47c1b",
      "name": "Generate an image",
      "credentials": {
        "googlePalmApi": {
          "id": "uLXCpqN3fa4ZXZmj",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "base": {
          "__rl": true,
          "value": "https://airtable.com/appNKJUeljGoHYjQf/tbljRtFFKlUXYAO6M/viwCXaxhEJzyyFE8z",
          "mode": "url"
        },
        "table": {
          "__rl": true,
          "value": "https://airtable.com/appNKJUeljGoHYjQf/tbljRtFFKlUXYAO6M/viwCXaxhEJzyyFE8z",
          "mode": "url"
        },
        "id": "={{ $('Airtable Status Change').item.json.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        448,
        1152
      ],
      "id": "fd8b9a96-817d-473e-bd0b-d5dbaf51a8bc",
      "name": "Fetch Article for Publishing1",
      "credentials": {
        "airtableTokenApi": {
          "id": "112UtIzO07XgrN7A",
          "name": "Airtable - zmidloch@z-agency.cz"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "https://airtable.com/appNKJUeljGoHYjQf/tbljRtFFKlUXYAO6M/viwCXaxhEJzyyFE8z",
          "mode": "url"
        },
        "table": {
          "__rl": true,
          "value": "https://airtable.com/appNKJUeljGoHYjQf/tbljRtFFKlUXYAO6M/viwCXaxhEJzyyFE8z",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "Status": "Publishing"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Primary Keywords",
              "displayName": "Primary Keywords",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Secondary Keywords",
              "displayName": "Secondary Keywords",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Target Length",
              "displayName": "Target Length",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "New",
                  "value": "New"
                },
                {
                  "name": "Researching",
                  "value": "Researching"
                },
                {
                  "name": "Writing",
                  "value": "Writing"
                },
                {
                  "name": "Humanizing",
                  "value": "Humanizing"
                },
                {
                  "name": "Review",
                  "value": "Review"
                },
                {
                  "name": "Approved",
                  "value": "Approved"
                },
                {
                  "name": "Publishing",
                  "value": "Publishing"
                },
                {
                  "name": "Published",
                  "value": "Published"
                },
                {
                  "name": "Failed",
                  "value": "Failed"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Research Data",
              "displayName": "Research Data",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Slug",
              "displayName": "Slug",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Excerpt",
              "displayName": "Excerpt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Image Prompt",
              "displayName": "Image Prompt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Verification Status",
              "displayName": "Verification Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pending",
                  "value": "Pending"
                },
                {
                  "name": "Passed",
                  "value": "Passed"
                },
                {
                  "name": "Issues Found",
                  "value": "Issues Found"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Verification Notes",
              "displayName": "Verification Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Categories",
              "displayName": "Categories",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Tags",
              "displayName": "Tags",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "options": [
                {
                  "name": "AI",
                  "value": "AI"
                },
                {
                  "name": "SMB",
                  "value": "SMB"
                },
                {
                  "name": "transformace",
                  "value": "transformace"
                },
                {
                  "name": "marketing",
                  "value": "marketing"
                },
                {
                  "name": "nástroje",
                  "value": "nástroje"
                },
                {
                  "name": "automatizace",
                  "value": "automatizace"
                },
                {
                  "name": "case study",
                  "value": "case study"
                },
                {
                  "name": "výroba",
                  "value": "výroba"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Featured Image URL",
              "displayName": "Featured Image URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "WordPress Post ID",
              "displayName": "WordPress Post ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "WordPress URL",
              "displayName": "WordPress URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Error Log",
              "displayName": "Error Log",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        624,
        1152
      ],
      "id": "ae6a0a10-fb89-43d5-bb2d-41f32d52caa6",
      "name": "Set Status: Publishing1",
      "credentials": {
        "airtableTokenApi": {
          "id": "112UtIzO07XgrN7A",
          "name": "Airtable - zmidloch@z-agency.cz"
        }
      }
    },
    {
      "parameters": {
        "url": "https://processgate.ai/wp-json/wp/v2/categories",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "per_page",
              "value": "100"
            },
            {
              "name": "lang",
              "value": "cs"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1248,
        1152
      ],
      "id": "d592d185-f683-49d9-822f-68ca40720179",
      "name": "Get WP Categories1",
      "credentials": {
        "wordpressApi": {
          "id": "flqY5YMCvIpv5fpx",
          "name": "Processgate.ai_propojeni"
        }
      }
    },
    {
      "parameters": {
        "url": "https://processgate.ai/wp-json/wp/v2/tags",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "per_page",
              "value": "100"
            },
            {
              "name": "lang",
              "value": "cs"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1440,
        1152
      ],
      "id": "5e46b27b-1d4d-4843-86b2-74b8d4bb5661",
      "name": "Get WP Tags1",
      "credentials": {
        "wordpressApi": {
          "id": "flqY5YMCvIpv5fpx",
          "name": "Processgate.ai_propojeni"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "mode": "url",
          "value": "https://airtable.com/appNKJUeljGoHYjQf/tbljRtFFKlUXYAO6M/viwCXaxhEJzyyFE8z"
        },
        "table": {
          "__rl": true,
          "value": "https://airtable.com/appNKJUeljGoHYjQf/tbljRtFFKlUXYAO6M/viwCXaxhEJzyyFE8z",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.articleId }}",
            "Status": "Published",
            "WordPress Post ID": "={{ parseInt($json.wpPostId) }}",
            "WordPress URL": "={{ $json.wpUrl }}",
            "Categories": "={{ $json.categoryNames }}",
            "Tags": "={{ $json.tagNames }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Primary Keywords",
              "displayName": "Primary Keywords",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Secondary Keywords",
              "displayName": "Secondary Keywords",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Target Length",
              "displayName": "Target Length",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "New",
                  "value": "New"
                },
                {
                  "name": "Researching",
                  "value": "Researching"
                },
                {
                  "name": "Writing",
                  "value": "Writing"
                },
                {
                  "name": "Humanizing",
                  "value": "Humanizing"
                },
                {
                  "name": "Review",
                  "value": "Review"
                },
                {
                  "name": "Approved",
                  "value": "Approved"
                },
                {
                  "name": "Publishing",
                  "value": "Publishing"
                },
                {
                  "name": "Published",
                  "value": "Published"
                },
                {
                  "name": "Failed",
                  "value": "Failed"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Research Data",
              "displayName": "Research Data",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Slug",
              "displayName": "Slug",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Excerpt",
              "displayName": "Excerpt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Image Prompt",
              "displayName": "Image Prompt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Verification Status",
              "displayName": "Verification Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pending",
                  "value": "Pending"
                },
                {
                  "name": "Passed",
                  "value": "Passed"
                },
                {
                  "name": "Issues Found",
                  "value": "Issues Found"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Verification Notes",
              "displayName": "Verification Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Categories",
              "displayName": "Categories",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Tags",
              "displayName": "Tags",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Featured Image URL",
              "displayName": "Featured Image URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "WordPress Post ID",
              "displayName": "WordPress Post ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "WordPress URL",
              "displayName": "WordPress URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Error Log",
              "displayName": "Error Log",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        2592,
        1152
      ],
      "id": "f937f523-e1f4-4292-8657-e1c8b93c100d",
      "name": "Update Published Status1",
      "credentials": {
        "airtableTokenApi": {
          "id": "112UtIzO07XgrN7A",
          "name": "Airtable - zmidloch@z-agency.cz"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare final data for Airtable update\nconst classifierData = $('Taxonomy Classifier Agent').first().json.output;\nconst contextData = $('Prepare Context for AI').first().json;\n// Načteme původní data článku (Title, Slug, Excerpt...)\nconst originalArticle = $('Prepare WP Data').first().json;\n\n// Funkce pro získání názvů (bez uvozovek a balastu)\nconst getNames = (ids, sourceNodeName) => {\n  if (!ids || !Array.isArray(ids) || ids.length === 0) return [];\n  \n  const allItems = $(sourceNodeName).all();\n  \n  const names = ids.map(id => {\n    const foundItem = allItems.find(item => item.json.id === id);\n    if (!foundItem || !foundItem.json.name) return null;\n    \n    let name = String(foundItem.json.name);\n    name = name.replace(/&quot;/g, '\"').replace(/&amp;/g, '&');\n    name = name.replace(/['\"]/g, ''); \n    return name.trim();\n  }).filter(name => name !== null && name !== '');\n\n  return names;\n};\n\nconst catArray = getNames(classifierData.categoryIds, 'Get WP Categories');\nconst tagArray = getNames(classifierData.tagIds, 'Get WP Tags');\n\nreturn {\n  json: {\n    // 1. Přenášíme původní metadata (TOHLE CHYBĚLO)\n    title: originalArticle.title,\n    slug: originalArticle.slug,\n    excerpt: originalArticle.excerpt,\n    \n    // 2. Data pro WordPress (IDčka)\n    categoryIds: classifierData.categoryIds,\n    tagIds: classifierData.tagIds,\n    \n    // 3. Data pro Airtable (Texty)\n    categoryNames: catArray.join(', '),\n    tagNames: tagArray.join(', '),\n    \n    // 4. Systémová data\n    wpPostId: contextData.wpPostId,\n    wpUrl: contextData.wpPostLink,\n    articleId: originalArticle.articleId\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2384,
        1152
      ],
      "id": "2906bedb-5b67-4824-b349-1fab3377da64",
      "name": "Prepare Final WP Data1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://processgate.ai/wp-json/wp/v2/posts/{{ $('Prepare Context for AI').item.json.wpPostId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"categories\": {{ JSON.stringify($json.output.categoryIds) }},\n  \"tags\": {{ JSON.stringify($json.output.tagIds) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2176,
        1152
      ],
      "id": "b98120b4-3fbb-48ec-b119-c8def69cb1d2",
      "name": "Assign Categories & Tags1",
      "credentials": {
        "wordpressApi": {
          "id": "flqY5YMCvIpv5fpx",
          "name": "Processgate.ai_propojeni"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://processgate.ai/wp-json/wp/v2/posts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": \"{{ $json.title }}\",\n  \"content\": {{ JSON.stringify($json.content) }},\n  \"slug\": \"{{ $json.slug }}\",\n  \"status\": \"draft\",\n  \"lang\": \"{{ $json.wpLang }}\" \n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1040,
        1152
      ],
      "id": "a87d3f19-fbd3-43f4-a161-15a545489dac",
      "name": "Create WordPress Post1",
      "credentials": {
        "wordpressApi": {
          "id": "flqY5YMCvIpv5fpx",
          "name": "Processgate.ai_propojeni"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract image from Gemini Imagen response and prepare for WordPress upload\n\n// 1. DŮLEŽITÁ ZMĚNA:\n// Načítáme data z uzlu \"Prepare Final WP Data\", protože ten obsahuje wpPostId i slug.\nlet prepData = {};\ntry {\n    prepData = $('Prepare Final WP Data1').first().json;\n} catch (error) {\n    console.log(\"Uzel Prepare Final WP Data nebyl nalezen, data mohou chybět.\");\n}\n\nconst inputItem = $input.first();\n\nlet hasImage = false;\nlet imageBase64 = '';\nlet binaryOutput = undefined;\n\n// Zpracování binárních dat (obrázku)\nif (inputItem.binary) {\n    const binaryKeys = Object.keys(inputItem.binary);\n    if (binaryKeys.length > 0) {\n        hasImage = true;\n        const key = binaryKeys[0];\n        const binaryObject = inputItem.binary[key];\n        \n        // Připravíme binární výstup\n        binaryOutput = {\n            data: binaryObject\n        };\n    }\n}\n\n// Vytvoříme název souboru\nconst slug = prepData.slug || 'article'; // Slug už máme z Prepare Final WP Data\nconst filename = `${slug}-featured.png`;\n\nif (binaryOutput && binaryOutput.data) {\n    binaryOutput.data.fileName = filename;\n}\n\nreturn {\n  json: {\n    // 2. Tímto předáme dál VŠECHNA data (wpPostId, title, url...)\n    ...prepData,\n    \n    // A přidáme info o obrázku\n    hasImage: hasImage,\n    filename: filename\n  },\n  binary: binaryOutput\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3200,
        1152
      ],
      "id": "350a0f0c-2f6e-4ae5-8ab8-e59609cf9282",
      "name": "Process Image Response1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-image-check",
              "leftValue": "={{ $json.hasImage }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3408,
        1152
      ],
      "id": "fe3b5bae-cd7e-4c89-af84-87e0bf5d6360",
      "name": "Has Image?1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://processgate.ai/wp-json/wp/v2/media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Disposition",
              "value": "=attachment; filename=\"{{ $json.filename }}\""
            },
            {
              "name": "Content-Type",
              "value": "image/png"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3616,
        1136
      ],
      "id": "995fedfc-20d0-41e5-9dba-74b244d52d3b",
      "name": "Upload Image to WordPress1",
      "credentials": {
        "wordpressApi": {
          "id": "flqY5YMCvIpv5fpx",
          "name": "Processgate.ai_propojeni"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare data after image upload\nconst uploadResponse = $input.first().json;\nconst prepData = $('Process Image Response1').first().json;\n\nreturn {\n  json: {\n    ...prepData,\n    wpMediaId: uploadResponse.id,\n    wpMediaUrl: uploadResponse.source_url || uploadResponse.guid?.rendered || ''\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3760,
        1136
      ],
      "id": "94201d2f-38b7-44b0-8192-332cecbf748b",
      "name": "Set Image Data1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://processgate.ai/wp-json/wp/v2/posts/{{ $json.wpPostId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"featured_media\": {{ $json.wpMediaId }}\n}",
        "options": {}
      },
      "name": "Set Featured Image1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3936,
        1136
      ],
      "id": "add30a7a-25b8-4040-b8b6-0a1ddd1e34f8",
      "credentials": {
        "wordpressApi": {
          "id": "flqY5YMCvIpv5fpx",
          "name": "Processgate.ai_propojeni"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $vars.AIRTABLE_BASE_ID }}"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $vars.AIRTABLE_ARTICLES_TABLE }}"
        },
        "filterByFormula": "Status='Published'",
        "options": {
          "fields": [
            "Title",
            "Primary Keywords",
            "Secondary Keywords",
            "WordPress URL",
            "Slug",
            "Excerpt"
          ]
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        3712,
        -624
      ],
      "id": "0caa6b24-17ae-447f-8ca8-28b4861bf541",
      "name": "Fetch Published Articles"
    },
    {
      "parameters": {
        "jsCode": "// Prepare data for Linking Agent\nconst publishedArticles = $('Fetch Published Articles').all();\nconst currentArticle = $input.first().json;\n\n// Format published articles for AI analysis\nconst articlesForAnalysis = publishedArticles\n  .filter(a => a.json.fields && a.json.fields['WordPress URL'])\n  .map((a, index) => ({\n    id: index + 1,\n    title: a.json.fields.Title || '',\n    primaryKeywords: a.json.fields['Primary Keywords'] || '',\n    secondaryKeywords: a.json.fields['Secondary Keywords'] || '',\n    url: a.json.fields['WordPress URL'] || '',\n    excerpt: a.json.fields.Excerpt || ''\n  }));\n\nreturn {\n  json: {\n    currentTitle: currentArticle.title,\n    currentContent: currentArticle.content,\n    currentExcerpt: currentArticle.excerpt,\n    currentKeywords: currentArticle.seoKeywords || [],\n    publishedArticles: articlesForAnalysis,\n    // Pass through all original data\n    ...currentArticle\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3936,
        -624
      ],
      "id": "7673f11a-975d-4f64-a4ba-e5660a878fbe",
      "name": "Prepare Linking Data"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyzuj aktuální článek a najdi 2 nejvíce relevantní publikované články pro interní prolinkování.\n\n## AKTUÁLNÍ ČLÁNEK\n**Titulek:** {{ $json.currentTitle }}\n**Excerpt:** {{ $json.currentExcerpt }}\n**Klíčová slova:** {{ JSON.stringify($json.currentKeywords) }}\n\n## OBSAH ČLÁNKU (kde hledáš vhodná místa pro odkazy)\n{{ $json.currentContent }}\n\n## PUBLIKOVANÉ ČLÁNKY (vybíráš z těchto)\n{{ $json.publishedArticles.map(a => `[${a.id}] ${a.title}\\n   Keywords: ${a.primaryKeywords}, ${a.secondaryKeywords}\\n   URL: ${a.url}\\n   Excerpt: ${a.excerpt}`).join('\\n\\n') }}\n\n---\n\n## TVŮJ ÚKOL\n\n1. Vyber přesně 2 publikované články, které mají tematickou souvislost s aktuálním článkem\n2. Pro každý vybraný článek najdi v OBSAHU ČLÁNKU vhodné slovo nebo frázi (2-5 slov), kam vložit odkaz\n3. Fráze musí existovat v obsahu PŘESNĚ tak, jak ji uvádíš (case-sensitive)\n4. Preferuj fráze, které se v obsahu vyskytují pouze jednou\n5. Nevybírej fráze uvnitř existujících HTML tagů (<a>, <strong>, <h2>, etc.)\n\n## PRAVIDLA\n- Vyber články s REÁLNOU tematickou souvislostí (ne náhodné)\n- Odkazy by měly být v různých částech článku (ne vedle sebe)\n- Fráze musí dávat smysl jako anchor text\n- Pokud není dostatek relevantních článků, vrať méně než 2\n\n## FORMÁT ODPOVĚDI (JSON)\n{\n  \"links\": [\n    {\n      \"articleId\": 1,\n      \"articleTitle\": \"Název vybraného článku\",\n      \"url\": \"https://...\",\n      \"anchorText\": \"přesná fráze z obsahu\",\n      \"reason\": \"Proč je tento článek relevantní\"\n    },\n    {\n      \"articleId\": 5,\n      \"articleTitle\": \"Název druhého článku\",\n      \"url\": \"https://...\",\n      \"anchorText\": \"jiná fráze z obsahu\",\n      \"reason\": \"Proč je tento článek relevantní\"\n    }\n  ],\n  \"noLinksReason\": null\n}\n\nPokud nenajdeš žádné relevantní články:\n{\n  \"links\": [],\n  \"noLinksReason\": \"Důvod proč nejsou vhodné články\"\n}",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {
          "systemMessage": "Jsi expert na interní SEO prolinkování pro český tech blog. Tvým úkolem je najít tematicky relevantní články a identifikovat přirozená místa v textu, kam vložit odkazy. Vždy odpovídej POUZE validním JSON objektem."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        4160,
        -624
      ],
      "id": "8bbaceca-aee3-4ce0-aab8-d72eaf4a2c0b",
      "name": "Linking Agent"
    },
    {
      "parameters": {
        "model": "anthropic/claude-sonnet-4-20250514",
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        4016,
        -416
      ],
      "id": "63708295-dde2-438f-bc66-f4f9288168a7",
      "name": "Claude Sonnet (Linking)"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        4192,
        -416
      ],
      "id": "e8c81891-ddd2-4e60-b074-d9eee8de53cf",
      "name": "Gemini Fallback (Linking)"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"required\": [\"links\"],\n  \"properties\": {\n    \"links\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"articleId\": { \"type\": \"number\" },\n          \"articleTitle\": { \"type\": \"string\" },\n          \"url\": { \"type\": \"string\" },\n          \"anchorText\": { \"type\": \"string\" },\n          \"reason\": { \"type\": \"string\" }\n        },\n        \"required\": [\"url\", \"anchorText\"]\n      }\n    },\n    \"noLinksReason\": { \"type\": [\"string\", \"null\"] }\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        4352,
        -416
      ],
      "id": "223953bb-30be-4235-a43e-486137954084",
      "name": "Linking Parser"
    },
    {
      "parameters": {
        "jsCode": "// Insert internal links into content\nconst linkingResult = $json.output;\nconst prepData = $('Prepare Linking Data').first().json;\nlet content = prepData.content;\nlet insertedLinks = [];\n\nif (linkingResult.links && linkingResult.links.length > 0) {\n  for (const link of linkingResult.links) {\n    const anchorText = link.anchorText;\n    const url = link.url;\n    \n    // Escape special regex characters in anchor text\n    const escapedAnchor = anchorText.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n    \n    // Check if anchor text exists in content and is not already in a link\n    // This regex looks for the text NOT inside an existing <a> tag\n    const anchorRegex = new RegExp(\n      `(?<!<a[^>]*>[^<]*)\\\\b(${escapedAnchor})\\\\b(?![^<]*<\\\\/a>)`,\n      'i'\n    );\n    \n    if (anchorRegex.test(content)) {\n      // Replace first occurrence only\n      content = content.replace(\n        anchorRegex,\n        `<a href=\"${url}\" title=\"${(link.articleTitle || '').replace(/\"/g, '&quot;')}\">$1</a>`\n      );\n      insertedLinks.push({\n        anchorText: anchorText,\n        url: url,\n        articleTitle: link.articleTitle\n      });\n    }\n  }\n}\n\n// Return updated data with original structure preserved\nreturn {\n  json: {\n    title: prepData.title,\n    content: content,\n    excerpt: prepData.excerpt,\n    slug: prepData.slug,\n    imageQuery: prepData.imageQuery,\n    wordCount: prepData.wordCount,\n    charCount: prepData.charCount,\n    wordLimitOver: prepData.wordLimitOver,\n    limit: prepData.limit,\n    articleId: prepData.articleId,\n    categories: prepData.categories,\n    tags: prepData.tags,\n    // Linking metadata\n    internalLinksInserted: insertedLinks,\n    internalLinksCount: insertedLinks.length,\n    linkingSkipped: linkingResult.noLinksReason || null\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4496,
        -624
      ],
      "id": "0ab1b32e-5cb2-4183-8769-57d7fa53acba",
      "name": "Insert Internal Links"
    }
  ],
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-01-23T08:06:02.599Z",
      "createdAt": "2026-01-23T08:06:02.599Z",
      "role": "workflow:owner",
      "workflowId": "NuywzeKmOAcxUjkh",
      "projectId": "XqkS7oX8lMj4YbIK"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-23T11:30:00.372Z",
  "versionId": "114f26b9-deff-4492-80c1-b45f122c2a8c"
}