hetzner-2c-4g/Google Forms to Work Contract Document-Y0csB2Y6chTvYZx9.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Google Forms Trigger": {
      "main": [
        [
          {
            "node": "Duplicate Contract Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Duplicate Contract Template": {
      "main": [
        [
          {
            "node": "Replace Placeholders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Placeholders": {
      "main": [
        [
          {
            "node": "Send Email Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-31T21:27:10.346Z",
  "id": "Y0csB2Y6chTvYZx9",
  "isArchived": true,
  "meta": null,
  "name": "Google Forms to Work Contract Document",
  "nodes": [
    {
      "parameters": {
        "content": "## 🔄 Automatizace pracovních smluv\n\nTento workflow automaticky vytváří pracovní smlouvy na základě dat z Google Forms:\n\n1. **Trigger**: Čeká na nové odpovědi z Google Forms\n2. **Duplikace šablony**: Vytvoří kopii šablony pracovní smlouvy\n3. **Vložení dat**: Nahradí zástupné texty daty z formuláře\n4. **Uložení**: Uloží nový dokument s vygenerovanou smlouvou",
        "height": 250,
        "width": 400,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        240,
        240
      ],
      "id": "intro-note",
      "name": "Workflow Overview"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "event": "formResponse",
        "formId": {
          "__rl": true,
          "value": "YOUR_FORM_ID",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleFormsTrigger",
      "typeVersion": 1,
      "position": [
        700,
        400
      ],
      "id": "google-forms-trigger",
      "name": "Google Forms Trigger",
      "webhookId": "google-forms-webhook"
    },
    {
      "parameters": {
        "content": "## ⚠️ Nastavení Google Forms\n\n1. Připojte své Google účet\n2. Vyberte formulář, který chcete sledovat\n3. Ujistěte se, že formulář obsahuje všechna potřebná pole pro smlouvu:\n   - Jméno a příjmení\n   - Datum narození\n   - Adresa\n   - Pozice\n   - Datum nástupu\n   - Plat\n   - atd.",
        "height": 220,
        "width": 320,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        700,
        160
      ],
      "id": "forms-setup-note",
      "name": "Forms Setup Note"
    },
    {
      "parameters": {
        "resource": "document",
        "operation": "create",
        "title": "={{ 'Pracovní smlouva - ' + $json.answers['Jméno a příjmení'] + ' - ' + $now.format('yyyy-MM-dd') }}",
        "folderId": {
          "__rl": true,
          "value": "YOUR_FOLDER_ID",
          "mode": "list"
        },
        "options": {
          "documentContent": "json",
          "documentJson": "={{ $json }}"
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1260,
        400
      ],
      "id": "copy-template",
      "name": "Copy Template Document"
    },
    {
      "parameters": {
        "content": "## 📄 Šablona dokumentu\n\n1. Vytvořte šablonu pracovní smlouvy v Google Docs\n2. Použijte zástupné texty ve formátu {{POLE}}, např:\n   - {{JMENO_PRIJMENI}}\n   - {{DATUM_NAROZENI}}\n   - {{ADRESA}}\n   - {{POZICE}}\n   - {{DATUM_NASTUPU}}\n   - {{PLAT}}\n3. Uložte ID šablony pro použití v workflow",
        "height": 240,
        "width": 320,
        "color": 1
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1260,
        140
      ],
      "id": "template-note",
      "name": "Template Setup Note"
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "YOUR_TEMPLATE_ID",
          "mode": "id"
        },
        "name": "={{ 'Pracovní smlouva - ' + $('Google Forms Trigger').item.json.answers['Jméno a příjmení'] + ' - ' + $now.format('yyyy-MM-dd') }}",
        "sameFolder": false,
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list"
        },
        "folderId": {
          "__rl": true,
          "value": "YOUR_CONTRACTS_FOLDER_ID",
          "mode": "list"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        940,
        400
      ],
      "id": "duplicate-template",
      "name": "Duplicate Contract Template"
    },
    {
      "parameters": {
        "resource": "document",
        "operation": "replaceText",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "replaceText": {
          "replaceText": [
            {
              "searchValue": "{{JMENO_PRIJMENI}}",
              "replaceWithValue": "={{ $('Google Forms Trigger').item.json.answers['Jméno a příjmení'] }}"
            },
            {
              "searchValue": "{{DATUM_NAROZENI}}",
              "replaceWithValue": "={{ $('Google Forms Trigger').item.json.answers['Datum narození'] }}"
            },
            {
              "searchValue": "{{ADRESA}}",
              "replaceWithValue": "={{ $('Google Forms Trigger').item.json.answers['Adresa'] }}"
            },
            {
              "searchValue": "{{POZICE}}",
              "replaceWithValue": "={{ $('Google Forms Trigger').item.json.answers['Pozice'] }}"
            },
            {
              "searchValue": "{{DATUM_NASTUPU}}",
              "replaceWithValue": "={{ $('Google Forms Trigger').item.json.answers['Datum nástupu'] }}"
            },
            {
              "searchValue": "{{PLAT}}",
              "replaceWithValue": "={{ $('Google Forms Trigger').item.json.answers['Plat'] }}"
            },
            {
              "searchValue": "{{DATUM_VYTVORENI}}",
              "replaceWithValue": "={{ $now.format('dd.MM.yyyy') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1540,
        400
      ],
      "id": "replace-placeholders",
      "name": "Replace Placeholders"
    },
    {
      "parameters": {
        "content": "## ✅ Nahrazení zástupných textů\n\nUpravte pole podle vašeho formuláře:\n- Zkontrolujte názvy polí z Google Forms\n- Přidejte nebo odeberte nahrazení podle potřeby\n- Ujistěte se, že zástupné texty v šabloně odpovídají těm v tomto kroku",
        "height": 180,
        "width": 320,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1540,
        200
      ],
      "id": "replace-note",
      "name": "Replace Fields Note"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $('Google Forms Trigger').item.json.answers['Email'] }}",
        "subject": "Vaše pracovní smlouva je připravena",
        "message": "=Dobrý den {{ $('Google Forms Trigger').item.json.answers['Jméno a příjmení'] }},\n\nvaše pracovní smlouva byla úspěšně vygenerována.\n\nOdkaz na dokument: {{ $('Replace Placeholders').item.json.webViewLink }}\n\nProsím zkontrolujte údaje a v případě jakýchkoliv nesrovnalostí nás kontaktujte.\n\nS pozdravem,\nHR oddělení",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1820,
        400
      ],
      "id": "send-email",
      "name": "Send Email Notification"
    },
    {
      "parameters": {
        "content": "## 📧 Email notifikace\n\n1. Připojte Gmail účet\n2. Email se odešle na adresu z formuláře\n3. Obsahuje odkaz na vytvořený dokument\n4. Můžete upravit text emailu podle potřeby",
        "height": 160,
        "width": 280,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1820,
        220
      ],
      "id": "email-note",
      "name": "Email Setup Note"
    },
    {
      "parameters": {
        "content": "## 🔐 Potřebná oprávnění\n\n**Google Forms:**\n- Čtení odpovědí formuláře\n\n**Google Drive:**\n- Čtení souborů\n- Vytváření souborů\n- Kopírování souborů\n\n**Google Docs:**\n- Čtení dokumentů\n- Úprava dokumentů\n\n**Gmail:**\n- Odesílání emailů",
        "height": 280,
        "width": 240,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        960,
        640
      ],
      "id": "permissions-note",
      "name": "Required Permissions"
    }
  ],
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveDataErrorExecution": "all",
    "errorWorkflow": "",
    "timezone": "Europe/Prague",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2025-12-31T21:27:10.346Z",
      "createdAt": "2025-12-31T21:27:10.346Z",
      "role": "workflow:owner",
      "workflowId": "Y0csB2Y6chTvYZx9",
      "projectId": "XqkS7oX8lMj4YbIK"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-01T12:28:22.440Z",
  "versionId": "345f9b19-ac76-47f4-9a91-6b44787f925a"
}