hetzner-2c-4g/HTTP _ API - Deep-Dive-hFkdZAcLyr7UMhBQ.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "1. The Kitchen (GET /menu)": {
      "main": [
        [
          {
            "node": "Respond with Menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. The Kitchen (GET /order)": {
      "main": [
        [
          {
            "node": "IF extra cheese",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. The Kitchen (POST /review)": {
      "main": [
        [
          {
            "node": "Respond to Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4. The Kitchen (GET /secret-dish)": {
      "main": [
        [
          {
            "node": "IF Authorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5. The Kitchen (GET /slow-service)": {
      "main": [
        [
          {
            "node": "Wait 3 seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 3 seconds": {
      "main": [
        [
          {
            "node": "Respond Slowly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Base URL": {
      "main": [
        [
          {
            "node": "1. The Customer (GET Menu Item)",
            "type": "main",
            "index": 0
          },
          {
            "node": "2. The Customer (GET with Query Params)",
            "type": "main",
            "index": 0
          },
          {
            "node": "3. The Customer (POST with Body)",
            "type": "main",
            "index": 0
          },
          {
            "node": "4. The Customer (GET with Headers/Auth)",
            "type": "main",
            "index": 0
          },
          {
            "node": "5. The Customer (Request with Timeout)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Authorized": {
      "main": [
        [
          {
            "node": "Respond with Secret",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond with Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF extra cheese": {
      "main": [
        [
          {
            "node": "Respond with Cheese",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond with Plain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Base URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-28T21:51:20.524Z",
  "id": "hFkdZAcLyr7UMhBQ",
  "isArchived": true,
  "meta": null,
  "name": "HTTP / API - Deep-Dive",
  "nodes": [
    {
      "parameters": {
        "path": "a0e2d9aa-48ad-4d09-8b79-5e0698dfe81d",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "0dbe78fd-970c-4ad2-b952-e1ab2580d811",
      "name": "1. The Kitchen (GET /menu)",
      "type": "n8n-nodes-base.webhook",
      "position": [
        1312,
        512
      ],
      "webhookId": "a0e2d9aa-48ad-4d09-8b79-5e0698dfe81d",
      "typeVersion": 2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "12345",
              "name": "item",
              "type": "string",
              "value": "Pizza"
            },
            {
              "id": "67890",
              "name": "price",
              "type": "number",
              "value": 12
            }
          ]
        },
        "options": {}
      },
      "id": "e1a18609-23f3-41f9-926b-d0b1a13b08d0",
      "name": "Respond with Menu",
      "type": "n8n-nodes-base.set",
      "position": [
        1520,
        512
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "url": "={{ $('Base URL').last().json.your_n8n_base_url }}/menu",
        "options": {}
      },
      "id": "9c213c1f-a5c6-434c-9ef4-3f0e181168d0",
      "name": "1. The Customer (GET Menu Item)",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1008,
        512
      ],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "content": "### Tutorial - WTF is an API?\n\nWelcome! This workflow will teach you the basics of APIs (Application Programming Interfaces).\n\n**What is an API?**\nThink of it like ordering food at a restaurant.\n- **You** are the \"Client\" (the **HTTP Request** node). You want something.\n- The **Kitchen** is the \"Server\" (the **Webhook** node). It has the data/service you want.\n- The **API** is the **Waiter and the Menu**. It's the set of rules and options you have for making a request and getting a response.\n\n\n**How to use this tutorial:**\n1.  Click **\"Execute Workflow\"**. The workflow will run from top to bottom.\n2.  Explore each \"Lesson\" by clicking on the **HTTP Request** node (the Customer) and its corresponding **Webhook** node (the Kitchen).\n3.  Read the sticky note for each lesson to understand the concept being demonstrated.",
        "height": 560,
        "width": 880
      },
      "id": "5059ce5b-f777-467d-abad-1e5e8c54880a",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        128
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "content": "#### Lesson 1: The Basics (Method & URL)\n\nThis is the simplest possible request.\n\n- **URL (Uniform Resource Locator):** This is the **address of the restaurant's kitchen**. The HTTP Request node needs to know exactly where to send the order. We use a special n8n expression to get the Webhook's test address automatically.\n\n- **Method: `GET`**: This is **what you want to do**. `GET` means you simply want to **retrieve** or **get** information. It's like asking the waiter, \"What's on the menu today?\"\n\n\n**➡️ Look at the output of the HTTP Request node. It received exactly what the Webhook is configured to listen to!**",
        "height": 480,
        "width": 880,
        "color": 7
      },
      "id": "56ebb3da-c9c2-4c2a-8edf-a7867bbc4a3e",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        928,
        208
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "url": "={{ $('Base URL').last().json.your_n8n_base_url }}/order",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "extra_cheese",
              "value": "false"
            }
          ]
        },
        "options": {}
      },
      "id": "2ed6022e-1a05-4171-8608-fb2c9b758f67",
      "name": "2. The Customer (GET with Query Params)",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1008,
        1088
      ],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "path": "7e9067e0-5eb5-48fe-bb10-940c6ac0772a",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "0d7028f8-4efe-45f7-a6f4-19f99a2cfae1",
      "name": "2. The Kitchen (GET /order)",
      "type": "n8n-nodes-base.webhook",
      "position": [
        1312,
        1088
      ],
      "webhookId": "7e9067e0-5eb5-48fe-bb10-940c6ac0772a",
      "typeVersion": 2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "12345",
              "name": "order",
              "type": "string",
              "value": "Pizza with extra cheese"
            }
          ]
        },
        "options": {}
      },
      "id": "324b6edc-531f-4d5a-9801-740f5b64da62",
      "name": "Respond with Cheese",
      "type": "n8n-nodes-base.set",
      "position": [
        1744,
        992
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "12345",
              "name": "order",
              "type": "string",
              "value": "Plain Pizza"
            }
          ]
        },
        "options": {}
      },
      "id": "2edfe419-9d38-4372-a8b3-8f477633fc4f",
      "name": "Respond with Plain",
      "type": "n8n-nodes-base.set",
      "position": [
        1744,
        1184
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "#### Lesson 2: Customizing a Request (Query Parameters)\n\nWhat if you want to customize your order? That's what Query Parameters are for.\n\n**Query Parameters:** These are simple options added to the end of the URL after a `?`. They are key-value pairs used to filter, sort, or specify what you want.\n\nIt's like telling the waiter, \"I'll have the pizza... **and can you add extra cheese?**\"\n\n`?extra_cheese=true` is the query parameter.\n\n**➡️ The Webhook node uses an IF node to check for this parameter and changes its response accordingly.\nTry setting the value to `false` in the HTTP Request node and run it again!**",
        "height": 640,
        "width": 1120,
        "color": 7
      },
      "id": "06e34ed9-1bcb-46b6-ac27-00819919d1c3",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        928,
        720
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Base URL').last().json.your_n8n_base_url }}/review",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "comment",
              "value": "I'm so happy !!"
            }
          ]
        },
        "options": {}
      },
      "id": "c48e9d67-ad84-4d71-9eda-ce06c04728ec",
      "name": "3. The Customer (POST with Body)",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1008,
        1680
      ],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "89870903-958c-4403-8bd0-531f716f0226",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "5bdaf7f4-e64f-4e40-a046-281014fd965b",
      "name": "3. The Kitchen (POST /review)",
      "type": "n8n-nodes-base.webhook",
      "position": [
        1312,
        1680
      ],
      "webhookId": "89870903-958c-4403-8bd0-531f716f0226",
      "typeVersion": 2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "12345",
              "name": "status",
              "type": "string",
              "value": "200 review_received"
            },
            {
              "id": "67890",
              "name": "your_comment",
              "type": "string",
              "value": "={{ $json.body.comment }}"
            }
          ]
        },
        "options": {}
      },
      "id": "514679fe-9bd6-4a1f-93e6-ea7ee8c1c3c8",
      "name": "Respond to Review",
      "type": "n8n-nodes-base.set",
      "position": [
        1520,
        1680
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "#### Lesson 3: Sending Data (POST & Body)\n\nSometimes, you don't want to *get* data, you want to *send* it.\n\n- **Method: `POST`**: This method is used to **send new data** to the server. It's like handing the waiter a completed customer feedback card.\n\n- **Body:** This is the **actual data you are sending**. Since you're sending more complex information than a simple query parameter, it goes in a separate \"package\" called the body.\n\n\n**➡️ The HTTP Request sends a JSON object in its body. The Webhook receives it and includes your comment in its response.**",
        "height": 460,
        "width": 880,
        "color": 7
      },
      "id": "c62eb4b5-2c8d-4b2b-90d4-18176c356df3",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        928,
        1408
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "={{ $('Base URL').last().json.your_n8n_base_url }}/secret-dish",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "api-key-wrong"
            }
          ]
        },
        "options": {}
      },
      "id": "bf9eb89b-f679-4246-9023-b56308e0b463",
      "name": "4. The Customer (GET with Headers/Auth)",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1008,
        2240
      ],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "path": "ab2e2db5-79b6-43b1-a6a2-a31cd3edf606",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "43b9ab8b-f2d8-4c89-937e-333182955d16",
      "name": "4. The Kitchen (GET /secret-dish)",
      "type": "n8n-nodes-base.webhook",
      "position": [
        1312,
        2240
      ],
      "webhookId": "ab2e2db5-79b6-43b1-a6a2-a31cd3edf606",
      "typeVersion": 2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "12345",
              "name": "dish",
              "type": "string",
              "value": "The Chef's Special Truffle Pasta"
            }
          ]
        },
        "options": {}
      },
      "id": "a57b3d29-dad9-4f65-a3c1-73265b853f93",
      "name": "Respond with Secret",
      "type": "n8n-nodes-base.set",
      "position": [
        1744,
        2144
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "12345",
              "name": "error",
              "type": "string",
              "value": "You are not authorized"
            }
          ]
        },
        "options": {}
      },
      "id": "e7d9a1a3-28f9-4e6d-aeee-35afa3fa8c20",
      "name": "Respond with Error",
      "type": "n8n-nodes-base.set",
      "position": [
        1744,
        2352
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "#### Lesson 4: Identification (Headers & Auth)\n\nHeaders contain meta-information *about* your request. They're not part of the data itself, but they provide important context. Authentication is a common use case.\n\n- **Headers:** Think of this as **showing your VIP membership card** or whispering a secret password to the waiter. It's information that proves who you are or what your request's properties are.\n\n- **Authentication (Auth):** This is the process of proving your identity. Here, we use a custom header (`x-auth-token`) as a \"secret key\".\n\n\n**➡️ The Webhook checks for the correct secret key in the headers. If it's wrong or missing, it denies the request!**",
        "height": 620,
        "width": 1120,
        "color": 7
      },
      "id": "c3d25ff9-c86f-4f44-a6c1-978037902f12",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        928,
        1904
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "={{ $('Base URL').last().json.your_n8n_base_url }}/slow-service",
        "options": {
          "timeout": 2000
        }
      },
      "id": "800e46b2-ca88-46a2-bc28-77c4b3f95cc9",
      "name": "5. The Customer (Request with Timeout)",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1008,
        2880
      ],
      "typeVersion": 4.1,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "path": "f2a59646-2c68-4867-af3c-fbe13b924339",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "b588563b-7430-4147-a311-4222f335c0d9",
      "name": "5. The Kitchen (GET /slow-service)",
      "type": "n8n-nodes-base.webhook",
      "position": [
        1312,
        2880
      ],
      "webhookId": "f2a59646-2c68-4867-af3c-fbe13b924339",
      "typeVersion": 2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "12345",
              "name": "status",
              "type": "string",
              "value": "Finally, your food is here!"
            }
          ]
        },
        "options": {}
      },
      "id": "628a0a9a-53dd-4e15-8e76-b680bbe6e292",
      "name": "Respond Slowly",
      "type": "n8n-nodes-base.set",
      "position": [
        1744,
        2880
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "#### Lesson 5: Being Patient (Timeout)\n\nAn API request isn't instant. What if the kitchen is really busy?\n\n- **Timeout:** This is the **maximum amount of time (in milliseconds) you are willing to wait** for a response before you give up and walk away.\n\n\nIn this example:\n- The **Kitchen (Webhook)** has a 3-second delay.\n- The **Customer (HTTP Request)** is only willing to wait for 2 seconds (2000 ms).\n\n**➡️ This request is designed to FAIL! The customer gives up before the kitchen can finish the order. This is crucial for preventing your workflows from getting stuck forever waiting for a slow service.**",
        "height": 500,
        "width": 1120,
        "color": 7
      },
      "id": "a02faf37-3cd9-46bc-be8f-946970a566fc",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        928,
        2560
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "amount": 1.5
      },
      "id": "13991d54-a7ac-41a2-8ff3-cb345d4f21e4",
      "name": "Wait 3 seconds",
      "type": "n8n-nodes-base.wait",
      "position": [
        1520,
        2880
      ],
      "webhookId": "b8b7c13f-aa3b-4dd9-8bed-240ee971b31c",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7edededc-2f40-4b8e-b8db-ab4816f1a28e",
              "name": "your_n8n_base_url",
              "type": "string",
              "value": "=your_webhook_production_url_here/tutorial/api"
            }
          ]
        },
        "options": {}
      },
      "id": "b9de426d-f6e9-45be-a9d5-12d7f392decc",
      "name": "Base URL",
      "type": "n8n-nodes-base.set",
      "position": [
        512,
        512
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "ca861c2d-78d9-403b-8bab-28d8e7dcf39c",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.headers['x-api-key'] }}",
              "rightValue": "your-api-key-for-example"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "91b049b5-0a13-437e-9383-8072aa5ba589",
      "name": "IF Authorized",
      "type": "n8n-nodes-base.if",
      "position": [
        1520,
        2240
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "ca861c2d-78d9-403b-8bab-28d8e7dcf39c",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.query.extra_cheese }}",
              "rightValue": "your-api-key-for-example"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "6af0617d-d115-48b5-8e18-512c0bb140db",
      "name": "IF extra cheese",
      "type": "n8n-nodes-base.if",
      "position": [
        1520,
        1088
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "content": "## Was this helpful? Let me know!\n\nI really hope this tutorial helped you understand APIs better. Your feedback is incredibly valuable and helps me create better resources for the n8n community.\n\n### **Share Your Thoughts & Ideas**\n\nWhether you have a suggestion, found a typo, or just want to say thanks, I'd love to hear from you!\nHere's a simple n8n form built for this purpose:\n\n#### ➡️ **[Click here to give feedback](https://api.ia2s.app/form/templates/feedback?template=API%20Tutorial)**\n\n### **Ready to Build Something Great?**\n\nIf you're looking to take your n8n skills or business automation to the next level, I can help.\n\n**🎓 n8n Coaching:** Want to become an n8n pro? I offer one-on-one coaching sessions to help you master workflows, tackle specific problems, and build with confidence.\n#### ➡️ **[Book a Coaching Session](https://api.ia2s.app/form/templates/coaching?template=API%20Tutorial)**\n\n**💼 n8n Consulting:** Have a complex project, an integration challenge, or need a custom workflow built for your business? Let's work together to create a powerful automation solution.\n#### ➡️ **[Inquire About Consulting Services](https://api.ia2s.app/form/templates/consulting?template=API%20Tutorial)**\n\n---\n\nHappy Automating!\nLucas Peyrin",
        "height": 800,
        "width": 540,
        "color": 4
      },
      "id": "5c0a354d-a124-4825-ac99-6bb36070dd52",
      "name": "Sticky Note12",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2080,
        2272
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Credit\nThank you [Lucas Peyrin](https://n8n.io/creators/lucaspeyrin/) for your awesome [101 template](https://n8n.io/workflows/5171-learn-api-fundamentals-with-an-interactive-hands-on-tutorial-workflow/)!",
        "height": 100,
        "width": 420,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "4faff639-3dcd-4828-a3e7-cfaa1c62c1dd",
      "name": "Sticky Note6"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        320,
        512
      ],
      "id": "8b10f1cb-8437-489f-83a1-a7fbeec98219",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-28T21:51:20.524Z",
      "createdAt": "2025-11-28T21:51:20.524Z",
      "role": "workflow:owner",
      "workflowId": "hFkdZAcLyr7UMhBQ",
      "projectId": "XqkS7oX8lMj4YbIK"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-16T14:56:45.125Z",
  "versionId": "017b7b2a-1dbd-436b-b257-44e9da512ee2"
}