hetzner-2c-4g/My workflow 2-e63S0SWelAz0pxUj.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2025-12-17T22:39:54.067Z",
    "createdAt": "2025-12-17T22:39:54.067Z",
    "versionId": "968f8a69-0dbf-424e-8770-77278a1ca238",
    "workflowId": "e63S0SWelAz0pxUj",
    "nodes": [
      {
        "parameters": {
          "public": true,
          "options": {
            "customCss": "/* ===== n8n Chat — Glassy Tech Theme (Merged) ===== */\n\n:root {\n  /* Core palette */\n  --chat--color-primary: #e74266;\n  --chat--color-primary-shade-50: #db4061;\n  --chat--color-primary-shade-100: #cf3c5c;\n  --chat--color-secondary: #20b69e;\n  --chat--color-secondary-shade-50: #1ca08a;\n\n  --chat--color-white: #ffffff;\n  --chat--color-light: rgba(255,255,255,0.10);\n  --chat--color-light-shade-50: rgba(255,255,255,0.14);\n  --chat--color-light-shade-100: rgba(255,255,255,0.22);\n  --chat--color-medium: rgba(255,255,255,0.18);\n  --chat--color-dark: #0c1026;\n  --chat--color-disabled: #8a8d98;\n  --chat--color-typing: #d1d5e0;\n\n  /* Layout */\n  --chat--spacing: 1rem;\n  --chat--border-radius: 14px;\n  --chat--transition-duration: 0.18s;\n\n  /* Window - Centered with max dimensions */\n  --chat--window--width: 100%;\n  --chat--window--height: 100%;\n  --chat--window--max-width: 800px;\n  --chat--window--max-height: 800px;\n  --chat--window--z-index: 9999;\n  --chat--window--border: 1px solid rgba(231,66,102,0.35);\n  --chat--window--border-radius: 24px;\n  --chat--window--margin-bottom: 0;\n\n  /* Header */\n  --chat--header-height: auto;\n  --chat--header--padding: calc(var(--chat--spacing) * 0.85);\n  --chat--header--background: rgba(12,16,38,0.7);\n  --chat--header--color: #e8ecf7;\n  --chat--header--border-top: 1px solid rgba(255,255,255,0.06);\n  --chat--header--border-bottom: 1px solid rgba(255,255,255,0.06);\n  --chat--header--border-left: none;\n  --chat--header--border-right: none;\n  --chat--heading--font-size: 1.25rem;\n  --chat--subtitle--font-size: 0.9rem;\n  --chat--subtitle--line-height: 1.6;\n\n  /* Messages */\n  --chat--message--font-size: 0.98rem;\n  --chat--message--padding: 0.5rem 0.75rem 0.35rem;\n  --chat--message--border-radius: 18px;\n  --chat--message-line-height: 1.5;\n  --chat--message--margin-bottom: 0;\n\n  /* Glass bubbles */\n  --chat--message--bot--background: rgba(255,255,255,0.75);\n  --chat--message--bot--color: #0f1f1c;\n  --chat--message--bot--border: 1px solid rgba(255,255,255,0.10);\n\n  --chat--message--user--background: rgba(231,66,102,0.95);\n  --chat--message--user--color: #ffffff;\n  --chat--message--user--border: 1px solid rgba(231,66,102,0.35);\n\n  --chat--message--pre--background: rgba(12,16,38,0.55);\n  --chat--messages-list--padding: 1rem;\n\n  /* Toggle */\n  --chat--toggle--size: 64px;\n  --chat--toggle--border-radius: 18px;\n  --chat--toggle--background: linear-gradient(135deg, #e74266 0%, #ff6a8a 100%);\n  --chat--toggle--hover--background: linear-gradient(135deg, #db4061 0%, #fb5f80 100%);\n  --chat--toggle--active--background: linear-gradient(135deg, #cf3c5c 0%, #f15577 100%);\n  --chat--toggle--color: #ffffff;\n\n  /* Input */\n  --chat--textarea--height: 52px;\n  --chat--textarea--max-height: 28rem;\n  --chat--input--font-size: 0.98rem;\n  --chat--input--border: 1px solid rgba(255,255,255,0.10);\n  --chat--input--border-radius: 14px;\n  --chat--input--padding: 0.75rem 0.9rem;\n  --chat--input--background: rgba(255,255,255,0.06);\n  --chat--input--text-color: #e9edf7;\n  --chat--input--line-height: 1.5;\n  --chat--input--placeholder--font-size: 0.98rem;\n  --chat--input--border-active: 1px solid rgba(231,66,102,0.55);\n  --chat--input--left--panel--width: 2rem;\n\n  /* Buttons */\n  --chat--button--color: #f5f7fb;\n  --chat--button--background: linear-gradient(135deg, #e74266, #fb5f80);\n  --chat--button--padding: 0.55rem 0.9rem;\n  --chat--button--border-radius: 12px;\n  --chat--button--hover--color: #ffffff;\n  --chat--button--hover--background: linear-gradient(135deg, #db4061, #ff6a8a);\n  --chat--close--button--color-hover: #e74266;\n\n  /* Send / File buttons */\n  --chat--input--send--button--background: rgba(255,255,255,0.06);\n  --chat--input--send--button--color: #e9edf7;\n  --chat--input--send--button--background-hover: rgba(231,66,102,0.20);\n  --chat--input--send--button--color-hover: #ffffff;\n\n  --chat--input--file--button--background: rgba(255,255,255,0.06);\n  --chat--input--file--button--color: #9ee7d9;\n  --chat--input--file--button--background-hover: rgba(32,182,158,0.18);\n  --chat--input--file--button--color-hover: #ffffff;\n\n  /* Body / Footer */\n  --chat--body--background: rgba(12,16,38,0.45);\n  --chat--footer--background: rgba(12,16,38,0.6);\n  --chat--footer--color: #e9edf7;\n}\n\n/* ===== Window Container - Centered with Max Dimensions ===== */\n.n8n-chat,\n.n8n-chat__window,\n.n8n-chat-window,\n[class*=\"n8n-chat__window\"] {\n  position: fixed;\n  top: 50%;\n  left: 50%;\n  transform: translate(-50%, -50%);\n  width: 100%;\n  height: 100%;\n  max-width: 800px;\n  max-height: 800px;\n  margin: 0 auto;\n  font-family: 'Inter', 'Poppins', sans-serif;\n  background:\n    radial-gradient(1000px 500px at 100% -10%, rgba(231,66,102,0.18), transparent 60%),\n    radial-gradient(1000px 500px at -10% 110%, rgba(32,182,158,0.15), transparent 55%),\n    rgba(12,16,38,0.55);\n  border-radius: 24px;\n  border: 1px solid rgba(231,66,102,0.35);\n  overflow: hidden;\n  box-shadow: \n    0 12px 40px rgba(0,0,0,0.45), \n    inset 0 1px 0 rgba(255,255,255,0.03);\n  z-index: 9999;\n}\n\n@supports (backdrop-filter: blur(8px)) {\n  .n8n-chat,\n  .n8n-chat__window,\n  .n8n-chat-window,\n  [class*=\"n8n-chat__window\"] {\n    backdrop-filter: blur(14px) saturate(140%);\n    -webkit-backdrop-filter: blur(14px) saturate(140%);\n  }\n}\n\n/* ===== Messages Layout - Column Flow ===== */\n.n8n-chat__messages,\n.chat-messages-list {\n  display: flex;\n  flex-direction: column;\n  gap: 0.35rem;\n}\n\n/* ===== Message Bubbles - Auto-Width with Max ===== */\n.chat-message {\n  display: block;\n  width: fit-content;\n  max-width: min(70%, 520px);\n  margin-bottom: 0 !important;\n  border-radius: 18px;\n  padding: 0.5rem 0.75rem 0.35rem;\n  white-space: normal;\n  word-break: break-word;\n  box-shadow: 0 8px 24px rgba(0,0,0,0.25);\n}\n\n/* Safari / old browsers fallback */\n@supports not (width: fit-content) {\n  .chat-message {\n    display: inline-block;\n  }\n}\n\n/* Bot message - left aligned */\n.chat-message.bot,\n.chat-message--bot,\n.chat-message.assistant {\n  background: rgba(255,255,255,0.75);\n  color: #0f1f1c;\n  border-radius: 18px 18px 18px 6px;\n  margin-right: auto;\n  backdrop-filter: blur(6px);\n  -webkit-backdrop-filter: blur(6px);\n}\n\n/* User message - right aligned */\n.chat-message.user,\n.chat-message--user,\n.chat-message.mine {\n  margin-left: auto;\n  background: rgba(231,66,102,0.95);\n  color: #ffffff;\n  border-radius: 18px 18px 6px 18px;\n  box-shadow:\n    0 8px 24px rgba(0,0,0,0.35),\n    0 0 0 1px rgba(231,66,102,0.22) inset;\n}\n\n/* ===== Header ===== */\n.n8n-chat__header,\n[class*=\"n8n-chat__header\"] {\n  box-shadow: inset 0 -1px 0 rgba(255,255,255,0.06);\n}\n\n/* ===== Code Blocks ===== */\n.n8n-chat pre,\n.n8n-chat code,\npre code {\n  background: var(--chat--message--pre--background) !important;\n  color: #e9edf7 !important;\n  border: 1px solid rgba(255,255,255,0.10);\n  border-radius: 12px;\n}\n\n/* ===== Input - Hide Scrollbar ===== */\n.n8n-chat textarea,\n[class*=\"textarea\"] {\n  overflow-y: auto;\n  scrollbar-width: none;\n}\n\n.n8n-chat textarea::-webkit-scrollbar {\n  display: none;\n}\n\n/* ===== Send Button ===== */\n[class*=\"send-button\"],\n.n8n-chat__send-button {\n  border: 1px solid rgba(255,255,255,0.12);\n  box-shadow: 0 6px 18px rgba(231,66,102,0.25);\n}\n\n/* ===== Toggle Button ===== */\n.n8n-chat__toggle,\n[class*=\"n8n-chat__toggle\"] {\n  box-shadow:\n    0 0 0 2px rgba(255,255,255,0.10),\n    0 10px 26px rgba(231,66,102,0.45);\n  border: 1px solid rgba(255,255,255,0.12);\n  backdrop-filter: blur(10px);\n  -webkit-backdrop-filter: blur(10px);\n}"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.chatTrigger",
        "typeVersion": 1.4,
        "position": [
          -80,
          -144
        ],
        "id": "3f670de3-4600-4267-97a2-86a2f569af84",
        "name": "When chat message received",
        "webhookId": "8afe9e0f-09d4-4845-a335-8a96e5feccb0"
      },
      {
        "parameters": {
          "needsFallback": true,
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3,
        "position": [
          208,
          -144
        ],
        "id": "dafa13dd-da86-4371-b4ff-80884eb9acfe",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-5.2",
            "mode": "list",
            "cachedResultName": "gpt-5.2"
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          64,
          64
        ],
        "id": "66ba4411-eccc-47f1-94f6-8f3b87830b5e",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "OyAnM4ykrgDRQ4Jq",
            "name": "OpenAI API Zetko"
          }
        }
      },
      {
        "parameters": {
          "modelName": "models/gemini-2.5-pro",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          160,
          160
        ],
        "id": "c576d61b-ea21-4ec5-8bdf-0ca82354531f",
        "name": "Google Gemini Chat Model",
        "credentials": {
          "googlePalmApi": {
            "id": "O18dqBggPBVuy0CJ",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "contextWindowLength": 15
        },
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.3,
        "position": [
          256,
          64
        ],
        "id": "35648c5a-cda5-4609-b48e-8b04250f0f55",
        "name": "Simple Memory"
      },
      {
        "parameters": {},
        "type": "@n8n/n8n-nodes-langchain.toolCalculator",
        "typeVersion": 1,
        "position": [
          384,
          64
        ],
        "id": "39b5e160-4140-443a-99db-1d7d2fa52450",
        "name": "Calculator"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          560,
          -144
        ],
        "id": "ae13a683-5cdb-4c89-ab06-8d4922dde664",
        "name": "HTTP Request",
        "disabled": true
      },
      {
        "parameters": {
          "messages": {
            "message": [
              {
                "content": "={{ $json.action }}"
              }
            ]
          },
          "options": {},
          "requestOptions": {}
        },
        "type": "n8n-nodes-base.perplexityTool",
        "typeVersion": 1,
        "position": [
          560,
          80
        ],
        "id": "9ea5a9ac-9027-4e87-8527-2f0b1b2da271",
        "name": "Message a model in Perplexity",
        "credentials": {
          "perplexityApi": {
            "id": "PqFh65cqJjshoUgd",
            "name": "Perplexity account"
          }
        }
      }
    ],
    "connections": {
      "When chat message received": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 1
            }
          ]
        ]
      },
      "Simple Memory": {
        "ai_memory": [
          [
            {
              "node": "AI Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Calculator": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Message a model in Perplexity": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Jiri Zmidloch",
    "name": null,
    "description": null
  },
  "activeVersionId": "968f8a69-0dbf-424e-8770-77278a1ca238",
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model in Perplexity": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-16T23:40:27.595Z",
  "id": "e63S0SWelAz0pxUj",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "options": {
          "customCss": "/* ===== n8n Chat — Glassy Tech Theme (Merged) ===== */\n\n:root {\n  /* Core palette */\n  --chat--color-primary: #e74266;\n  --chat--color-primary-shade-50: #db4061;\n  --chat--color-primary-shade-100: #cf3c5c;\n  --chat--color-secondary: #20b69e;\n  --chat--color-secondary-shade-50: #1ca08a;\n\n  --chat--color-white: #ffffff;\n  --chat--color-light: rgba(255,255,255,0.10);\n  --chat--color-light-shade-50: rgba(255,255,255,0.14);\n  --chat--color-light-shade-100: rgba(255,255,255,0.22);\n  --chat--color-medium: rgba(255,255,255,0.18);\n  --chat--color-dark: #0c1026;\n  --chat--color-disabled: #8a8d98;\n  --chat--color-typing: #d1d5e0;\n\n  /* Layout */\n  --chat--spacing: 1rem;\n  --chat--border-radius: 14px;\n  --chat--transition-duration: 0.18s;\n\n  /* Window - Centered with max dimensions */\n  --chat--window--width: 100%;\n  --chat--window--height: 100%;\n  --chat--window--max-width: 800px;\n  --chat--window--max-height: 800px;\n  --chat--window--z-index: 9999;\n  --chat--window--border: 1px solid rgba(231,66,102,0.35);\n  --chat--window--border-radius: 24px;\n  --chat--window--margin-bottom: 0;\n\n  /* Header */\n  --chat--header-height: auto;\n  --chat--header--padding: calc(var(--chat--spacing) * 0.85);\n  --chat--header--background: rgba(12,16,38,0.7);\n  --chat--header--color: #e8ecf7;\n  --chat--header--border-top: 1px solid rgba(255,255,255,0.06);\n  --chat--header--border-bottom: 1px solid rgba(255,255,255,0.06);\n  --chat--header--border-left: none;\n  --chat--header--border-right: none;\n  --chat--heading--font-size: 1.25rem;\n  --chat--subtitle--font-size: 0.9rem;\n  --chat--subtitle--line-height: 1.6;\n\n  /* Messages */\n  --chat--message--font-size: 0.98rem;\n  --chat--message--padding: 0.5rem 0.75rem 0.35rem;\n  --chat--message--border-radius: 18px;\n  --chat--message-line-height: 1.5;\n  --chat--message--margin-bottom: 0;\n\n  /* Glass bubbles */\n  --chat--message--bot--background: rgba(255,255,255,0.75);\n  --chat--message--bot--color: #0f1f1c;\n  --chat--message--bot--border: 1px solid rgba(255,255,255,0.10);\n\n  --chat--message--user--background: rgba(231,66,102,0.95);\n  --chat--message--user--color: #ffffff;\n  --chat--message--user--border: 1px solid rgba(231,66,102,0.35);\n\n  --chat--message--pre--background: rgba(12,16,38,0.55);\n  --chat--messages-list--padding: 1rem;\n\n  /* Toggle */\n  --chat--toggle--size: 64px;\n  --chat--toggle--border-radius: 18px;\n  --chat--toggle--background: linear-gradient(135deg, #e74266 0%, #ff6a8a 100%);\n  --chat--toggle--hover--background: linear-gradient(135deg, #db4061 0%, #fb5f80 100%);\n  --chat--toggle--active--background: linear-gradient(135deg, #cf3c5c 0%, #f15577 100%);\n  --chat--toggle--color: #ffffff;\n\n  /* Input */\n  --chat--textarea--height: 52px;\n  --chat--textarea--max-height: 28rem;\n  --chat--input--font-size: 0.98rem;\n  --chat--input--border: 1px solid rgba(255,255,255,0.10);\n  --chat--input--border-radius: 14px;\n  --chat--input--padding: 0.75rem 0.9rem;\n  --chat--input--background: rgba(255,255,255,0.06);\n  --chat--input--text-color: #e9edf7;\n  --chat--input--line-height: 1.5;\n  --chat--input--placeholder--font-size: 0.98rem;\n  --chat--input--border-active: 1px solid rgba(231,66,102,0.55);\n  --chat--input--left--panel--width: 2rem;\n\n  /* Buttons */\n  --chat--button--color: #f5f7fb;\n  --chat--button--background: linear-gradient(135deg, #e74266, #fb5f80);\n  --chat--button--padding: 0.55rem 0.9rem;\n  --chat--button--border-radius: 12px;\n  --chat--button--hover--color: #ffffff;\n  --chat--button--hover--background: linear-gradient(135deg, #db4061, #ff6a8a);\n  --chat--close--button--color-hover: #e74266;\n\n  /* Send / File buttons */\n  --chat--input--send--button--background: rgba(255,255,255,0.06);\n  --chat--input--send--button--color: #e9edf7;\n  --chat--input--send--button--background-hover: rgba(231,66,102,0.20);\n  --chat--input--send--button--color-hover: #ffffff;\n\n  --chat--input--file--button--background: rgba(255,255,255,0.06);\n  --chat--input--file--button--color: #9ee7d9;\n  --chat--input--file--button--background-hover: rgba(32,182,158,0.18);\n  --chat--input--file--button--color-hover: #ffffff;\n\n  /* Body / Footer */\n  --chat--body--background: rgba(12,16,38,0.45);\n  --chat--footer--background: rgba(12,16,38,0.6);\n  --chat--footer--color: #e9edf7;\n}\n\n/* ===== Window Container - Centered with Max Dimensions ===== */\n.n8n-chat,\n.n8n-chat__window,\n.n8n-chat-window,\n[class*=\"n8n-chat__window\"] {\n  position: fixed;\n  top: 50%;\n  left: 50%;\n  transform: translate(-50%, -50%);\n  width: 100%;\n  height: 100%;\n  max-width: 800px;\n  max-height: 800px;\n  margin: 0 auto;\n  font-family: 'Inter', 'Poppins', sans-serif;\n  background:\n    radial-gradient(1000px 500px at 100% -10%, rgba(231,66,102,0.18), transparent 60%),\n    radial-gradient(1000px 500px at -10% 110%, rgba(32,182,158,0.15), transparent 55%),\n    rgba(12,16,38,0.55);\n  border-radius: 24px;\n  border: 1px solid rgba(231,66,102,0.35);\n  overflow: hidden;\n  box-shadow: \n    0 12px 40px rgba(0,0,0,0.45), \n    inset 0 1px 0 rgba(255,255,255,0.03);\n  z-index: 9999;\n}\n\n@supports (backdrop-filter: blur(8px)) {\n  .n8n-chat,\n  .n8n-chat__window,\n  .n8n-chat-window,\n  [class*=\"n8n-chat__window\"] {\n    backdrop-filter: blur(14px) saturate(140%);\n    -webkit-backdrop-filter: blur(14px) saturate(140%);\n  }\n}\n\n/* ===== Messages Layout - Column Flow ===== */\n.n8n-chat__messages,\n.chat-messages-list {\n  display: flex;\n  flex-direction: column;\n  gap: 0.35rem;\n}\n\n/* ===== Message Bubbles - Auto-Width with Max ===== */\n.chat-message {\n  display: block;\n  width: fit-content;\n  max-width: min(70%, 520px);\n  margin-bottom: 0 !important;\n  border-radius: 18px;\n  padding: 0.5rem 0.75rem 0.35rem;\n  white-space: normal;\n  word-break: break-word;\n  box-shadow: 0 8px 24px rgba(0,0,0,0.25);\n}\n\n/* Safari / old browsers fallback */\n@supports not (width: fit-content) {\n  .chat-message {\n    display: inline-block;\n  }\n}\n\n/* Bot message - left aligned */\n.chat-message.bot,\n.chat-message--bot,\n.chat-message.assistant {\n  background: rgba(255,255,255,0.75);\n  color: #0f1f1c;\n  border-radius: 18px 18px 18px 6px;\n  margin-right: auto;\n  backdrop-filter: blur(6px);\n  -webkit-backdrop-filter: blur(6px);\n}\n\n/* User message - right aligned */\n.chat-message.user,\n.chat-message--user,\n.chat-message.mine {\n  margin-left: auto;\n  background: rgba(231,66,102,0.95);\n  color: #ffffff;\n  border-radius: 18px 18px 6px 18px;\n  box-shadow:\n    0 8px 24px rgba(0,0,0,0.35),\n    0 0 0 1px rgba(231,66,102,0.22) inset;\n}\n\n/* ===== Header ===== */\n.n8n-chat__header,\n[class*=\"n8n-chat__header\"] {\n  box-shadow: inset 0 -1px 0 rgba(255,255,255,0.06);\n}\n\n/* ===== Code Blocks ===== */\n.n8n-chat pre,\n.n8n-chat code,\npre code {\n  background: var(--chat--message--pre--background) !important;\n  color: #e9edf7 !important;\n  border: 1px solid rgba(255,255,255,0.10);\n  border-radius: 12px;\n}\n\n/* ===== Input - Hide Scrollbar ===== */\n.n8n-chat textarea,\n[class*=\"textarea\"] {\n  overflow-y: auto;\n  scrollbar-width: none;\n}\n\n.n8n-chat textarea::-webkit-scrollbar {\n  display: none;\n}\n\n/* ===== Send Button ===== */\n[class*=\"send-button\"],\n.n8n-chat__send-button {\n  border: 1px solid rgba(255,255,255,0.12);\n  box-shadow: 0 6px 18px rgba(231,66,102,0.25);\n}\n\n/* ===== Toggle Button ===== */\n.n8n-chat__toggle,\n[class*=\"n8n-chat__toggle\"] {\n  box-shadow:\n    0 0 0 2px rgba(255,255,255,0.10),\n    0 10px 26px rgba(231,66,102,0.45);\n  border: 1px solid rgba(255,255,255,0.12);\n  backdrop-filter: blur(10px);\n  -webkit-backdrop-filter: blur(10px);\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -80,
        -144
      ],
      "id": "3f670de3-4600-4267-97a2-86a2f569af84",
      "name": "When chat message received",
      "webhookId": "8afe9e0f-09d4-4845-a335-8a96e5feccb0"
    },
    {
      "parameters": {
        "needsFallback": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        208,
        -144
      ],
      "id": "dafa13dd-da86-4371-b4ff-80884eb9acfe",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.2",
          "mode": "list",
          "cachedResultName": "gpt-5.2"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        64,
        64
      ],
      "id": "66ba4411-eccc-47f1-94f6-8f3b87830b5e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "OyAnM4ykrgDRQ4Jq",
          "name": "OpenAI API Zetko"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        160,
        160
      ],
      "id": "c576d61b-ea21-4ec5-8bdf-0ca82354531f",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "O18dqBggPBVuy0CJ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        256,
        64
      ],
      "id": "35648c5a-cda5-4609-b48e-8b04250f0f55",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        384,
        64
      ],
      "id": "39b5e160-4140-443a-99db-1d7d2fa52450",
      "name": "Calculator"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        560,
        -144
      ],
      "id": "ae13a683-5cdb-4c89-ab06-8d4922dde664",
      "name": "HTTP Request",
      "disabled": true
    },
    {
      "parameters": {
        "messages": {
          "message": [
            {
              "content": "={{ $json.action }}"
            }
          ]
        },
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.perplexityTool",
      "typeVersion": 1,
      "position": [
        560,
        80
      ],
      "id": "9ea5a9ac-9027-4e87-8527-2f0b1b2da271",
      "name": "Message a model in Perplexity",
      "credentials": {
        "perplexityApi": {
          "id": "PqFh65cqJjshoUgd",
          "name": "Perplexity account"
        }
      }
    }
  ],
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "zVAjJgKV17IWzFP7",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2025-12-16T23:40:27.595Z",
      "createdAt": "2025-12-16T23:40:27.595Z",
      "role": "workflow:owner",
      "workflowId": "e63S0SWelAz0pxUj",
      "projectId": "XqkS7oX8lMj4YbIK"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-12-17T22:39:54.063Z",
  "versionId": "968f8a69-0dbf-424e-8770-77278a1ca238"
}