hetzner-2c-4g/n8n Developer Agent-mM4UU76MtlFEbBz0.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2025-12-31T22:02:50.915Z",
    "createdAt": "2025-12-31T22:02:47.465Z",
    "versionId": "e100fab1-7c91-4818-b165-0b023d04fc89",
    "workflowId": "mM4UU76MtlFEbBz0",
    "nodes": [
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.chatTrigger",
        "typeVersion": 1.1,
        "position": [
          848,
          112
        ],
        "id": "6d077f11-9c4b-4157-925e-59b4a780ef64",
        "name": "When chat message received",
        "webhookId": "d832bc01-555e-4a24-a8cc-31db8fc1c816"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "claude-opus-4-5-20251101",
            "mode": "list",
            "cachedResultName": "Claude Opus 4.5"
          },
          "options": {
            "maxTokensToSample": 8000,
            "thinking": true,
            "thinkingBudget": 1024
          }
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
        "typeVersion": 1.3,
        "position": [
          1264,
          816
        ],
        "id": "83694c3e-128f-4118-b5c9-157065758f8b",
        "name": "Claude Opus 4",
        "credentials": {
          "anthropicApi": {
            "id": "Un8VhObHV3fiqTVr",
            "name": "Anthropic - Translate_To_English"
          }
        }
      },
      {
        "parameters": {
          "operation": "text",
          "options": {}
        },
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1,
        "position": [
          1168,
          624
        ],
        "id": "57c4cbf0-f647-4895-935d-675a67734969",
        "name": "Extract from File"
      },
      {
        "parameters": {
          "operation": "create",
          "workflowObject": "={{ $json.cleanWorkflowObject }}",
          "requestOptions": {}
        },
        "type": "n8n-nodes-base.n8n",
        "typeVersion": 1,
        "position": [
          1856,
          624
        ],
        "id": "dc255a89-6afe-496a-8504-83a56c02ec66",
        "name": "n8n",
        "credentials": {
          "n8nApi": {
            "id": "Ig7f5BT2PKf0yVbH",
            "name": "n8n account zmidloch@z-agency.cz - BackUp"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "f4b8c16e-6788-4c17-b643-94a3f0620860",
                "name": "=Workflow Link",
                "value": "=https://n8n-zagency-u62265.vm.elestio.app/workflow/{{ $json.id }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2016,
          624
        ],
        "id": "30cc4b79-1390-4c25-96e4-81700f31625f",
        "name": "Workflow Link"
      },
      {
        "parameters": {
          "operation": "download",
          "fileId": {
            "__rl": true,
            "value": "1E5Gx7opv3QplvDzZZt7wJqjb63ZbL7z8PO6wuSo9KTQ",
            "mode": "list",
            "cachedResultName": "n8n Documentation",
            "cachedResultUrl": "https://docs.google.com/document/d/1E5Gx7opv3QplvDzZZt7wJqjb63ZbL7z8PO6wuSo9KTQ/edit?usp=drivesdk"
          },
          "options": {
            "googleFileConversion": {
              "conversion": {
                "docsToFormat": "text/plain"
              }
            }
          }
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          1008,
          624
        ],
        "id": "dca6bd15-e24a-483e-82a9-55eb692d2fa5",
        "name": "Get n8n Docs",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "0y8WKhAVB7SLUFcI",
            "name": "Google Drive zmidloch@z-agency.cz"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=User request: {{ $('When Executed by Another Workflow').item.json.query }}",
          "options": {
            "systemMessage": "=# Overview\nYou are an expert AI automation developer specializing in building workflows for n8n. Your job is to translate a human’s natural language request into a fully functional n8n workflow JSON. It should be comprehensive, functional, and importable. It should have 100% valid JSON structure, node types, and connection methods.\n\n## Output\nYour output should only be the final JSON of the full workflow.\n\nYour output must start with a { and must end with a }.\n- Do not include anything before the { (such as ```json or any markdown formatting).\n- Do not include anything after the } (such as closing code blocks like ``` or explanations).\n\nYour output should be a pure JSON object that begins with { and ends with }, ready to be used as the body of a POST request.\n\nThe JSON must:\n- Be syntactically valid and complete\n- Include a `nodes` array with each node containing all required parameters\n- Include a `connections` object that correctly maps outputs to inputs\n- Start with a `trigger` node if one is required for the use case (e.g., Webhook, Schedule, etc.)\n- Contain descriptive names and parameter values relevant to the user request\n- Avoid placeholders unless no reasonable value can be inferred\n- Contain sticky notes that are explaining what's going on within each step and any credentials or connections that still need to be configured. The colors should vary throughout the workflow.\n\nBefore generating the JSON, analyze the request and:\n1. Break it down into logical automation steps\n2. Choose appropriate nodes based on the steps\n3. Properly connect the nodes to reflect execution order\n\nIf the request is ambiguous, make a best guess using standard automation logic.\n\nDo not return explanations, comments, or any output outside of the JSON markdown block.\n\nYou are expected to produce developer-grade output suitable for direct import into n8n.\n\n## API Submission Requirements\nTo automatically create a workflow using the n8n API, your generated JSON must include the following top-level fields in the final object:\n\n- `name` (string): A clear, descriptive workflow name.\n- `nodes` (array): The complete array of node objects used in the workflow.\n- `connections` (object): A valid map of node-to-node connections.\n- `settings` (object): Workflow-level settings (e.g. `saveManualExecutions`, `executionOrder`).\n- `staticData` (null or object): Set to `null` unless specific static data is needed.\n\nExample “settings” object:\n  \"settings\": {\n    \"executionOrder\": \"v1\",\n    \"saveManualExecutions\": true,\n    \"saveDataSuccessExecution\": \"all\",\n    \"saveExecutionProgress\": true,\n    \"saveDataErrorExecution\": \"all\",\n    \"errorWorkflow\": \"\",\n    \"timezone\": \"America/New_York\"\n  }\n\n## n8n Documentation\n\n{{ $json.data }}"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2,
        "position": [
          1328,
          624
        ],
        "id": "f8d09598-78e1-4b60-820d-f79e5182fd6f",
        "name": "n8n Builder"
      },
      {
        "parameters": {
          "content": "# Workflow Builder\n",
          "height": 468,
          "width": 1280,
          "color": 2
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          752,
          528
        ],
        "id": "00532271-5e3b-4335-952f-de7a5dba2617",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "content": "# n8n Developer Agent\n",
          "height": 280,
          "width": 660,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          752,
          0
        ],
        "id": "a5c44405-dd26-4967-8430-5de9c24ef2cd",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          832,
          624
        ],
        "id": "8ea03765-bd5f-4a16-8740-0128e38bec7c",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "description": "Call this tool once you have a finished workflow design to build the workflow.",
          "workflowId": {
            "__rl": true,
            "value": "mM4UU76MtlFEbBz0",
            "mode": "list",
            "cachedResultUrl": "/workflow/mM4UU76MtlFEbBz0",
            "cachedResultName": "n8n Developer Agent"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        },
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [
          1200,
          368
        ],
        "id": "5e3ac6e1-069c-4909-a7aa-e4c73e90e9d9",
        "name": "Developer Tool"
      },
      {
        "parameters": {
          "content": "## Brain\n",
          "height": 200,
          "width": 320,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          752,
          304
        ],
        "id": "0888a527-f6f2-4078-9c89-0acc4898e073",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "content": "## Tool\n",
          "height": 200,
          "width": 320,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1088,
          304
        ],
        "id": "ee597d11-71b1-41ae-888c-3df6b78f938c",
        "name": "Sticky Note3"
      },
      {
        "parameters": {},
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.3,
        "position": [
          928,
          384
        ],
        "id": "b6aeba3a-4f49-422f-aa0b-d87c882fe67e",
        "name": "Simple Memory"
      },
      {
        "parameters": {
          "content": "# 🛠️ Setup Guide  \n**Author:** [Nate Herk](https://www.youtube.com/@nateherk)\n\nFollow the steps below to get this workflow up and running:\n\n### MY RECOMMENDATION\nHook up the chat trigger directly to the workflow builder workflow instead of the \"When executed by another workflow\" trigger. This will make testing easier and keep everything in one execution. \n\nIf you want to take the multi-agent approach, then follow the below instructions. \n\n### ✅ Step 1: Connect Your [OpenRouter](https://openrouter.ai/) API Key  \nThis powers the main LLM agent. Make sure your key is active and added via the HTTP Request or Credential node.\n\n### ✅ Step 2: Add Your [Anthropic](https://console.anthropic.com/dashboard) API Key (Optional)  \nIf you want to enable thinking using Claude Opus 4, connect your Anthropic API key.\n\n### ✅ Step 3: Link the Developer Tool  \nMake sure the node or sub-workflow responsible for building the JSON is properly connected to the main agent. The developer tool should return a structured workflow JSON back to the main flow.\n\n### ✅ Step 4: Add Your n8n API Key  \nCreate your **n8n API credential** and connect it in the credential section. This is what allows the agent to spin up new workflows automatically in your instance.\n\n### ✅ Step 5: Copy the [Google Doc](https://docs.google.com/document/d/1TiRusVo4DbbANwAr7I0GUGDZY3pmEmHZy3k66mRxLCg/edit?usp=sharing)  \nMake a copy in your own Google Suite so you can edit, test, and reference it inside the Google Drive node. Then make sure to connect your Google credentials.\n\n### 🧪 Final Step: Start Testing  \nOnce all connections are made, start prompting the agent and watch it build n8n workflows on demand.\n",
          "height": 860,
          "width": 720
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          0,
          0
        ],
        "id": "e1941610-a84e-4572-8671-a4dfd178a453",
        "name": "Sticky Note4"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-5.2",
            "mode": "list",
            "cachedResultName": "gpt-5.2"
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          768,
          400
        ],
        "id": "f39ac1f5-df10-4e17-a4ff-e6c9ae40e892",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "OyAnM4ykrgDRQ4Jq",
            "name": "OpenAI API Zetko"
          }
        }
      },
      {
        "parameters": {
          "options": {
            "systemMessage": "You are a helpful assistant# Overview\nYour job is to take the incoming query and pass that to the \"Developer Tool\" tool EXACTLY AS YOU RECEIVED IT. Don't change any of the wording.\n\nOnce you receive a workflow link back from the Developer Tool, present it to the human as a clickable link that says \"View your finished workflow\" \n\nThe link should be clickable and take the user to the workflow.\n"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          1040,
          112
        ],
        "id": "f8e75954-0358-4efc-8a21-765736c8db34",
        "name": "n8n Developer"
      },
      {
        "parameters": {
          "jsCode": "// 1. Získáme text z AI. Zkoušíme různé možnosti, kde může být uložen.\nconst item = $input.first().json;\nconst text = item.output?.text || item.text || item.message?.content || JSON.stringify(item);\n\n// 2. Najdeme začátek a konec JSONu (ignorujeme omáčku okolo)\nconst firstOpen = text.indexOf('{');\nconst lastClose = text.lastIndexOf('}');\n\nif (firstOpen === -1 || lastClose === -1) {\n   throw new Error(\"AI odpověď neobsahuje žádný JSON (žádné složené závorky).\");\n}\n\n// 3. Vyřízneme čistý JSON\nconst jsonString = text.substring(firstOpen, lastClose + 1);\n\ntry {\n  // 4. Převedeme text na objekt a pošleme dál\n  return {\n    json: {\n      cleanWorkflowObject: JSON.parse(jsonString)\n    }\n  };\n} catch (error) {\n   throw new Error(\"Vyříznutý text není platný JSON. Chyba: \" + error.message);\n}"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1648,
          624
        ],
        "id": "5ae30516-c3c5-42ee-9819-9654e5dbff86",
        "name": "Code in JavaScript"
      }
    ],
    "connections": {
      "When chat message received": {
        "main": [
          [
            {
              "node": "n8n Developer",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Claude Opus 4": {
        "ai_languageModel": [
          [
            {
              "node": "n8n Builder",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Extract from File": {
        "main": [
          [
            {
              "node": "n8n Builder",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "n8n": {
        "main": [
          [
            {
              "node": "Workflow Link",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get n8n Docs": {
        "main": [
          [
            {
              "node": "Extract from File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "n8n Builder": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Get n8n Docs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Developer Tool": {
        "ai_tool": [
          [
            {
              "node": "n8n Developer",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Simple Memory": {
        "ai_memory": [
          [
            {
              "node": "n8n Developer",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "n8n Developer",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "n8n",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Jiri Zmidloch",
    "name": "Version e100fab1",
    "description": "",
    "autosaved": false
  },
  "activeVersionId": "e100fab1-7c91-4818-b165-0b023d04fc89",
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "n8n Developer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Opus 4": {
      "ai_languageModel": [
        [
          {
            "node": "n8n Builder",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "n8n Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n": {
      "main": [
        [
          {
            "node": "Workflow Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get n8n Docs": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n Builder": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get n8n Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Developer Tool": {
      "ai_tool": [
        [
          {
            "node": "n8n Developer",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "n8n Developer",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "n8n Developer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-31T20:56:20.445Z",
  "id": "mM4UU76MtlFEbBz0",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "n8n Developer Agent",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        848,
        112
      ],
      "id": "6d077f11-9c4b-4157-925e-59b4a780ef64",
      "name": "When chat message received",
      "webhookId": "d832bc01-555e-4a24-a8cc-31db8fc1c816"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-opus-4-5-20251101",
          "mode": "list",
          "cachedResultName": "Claude Opus 4.5"
        },
        "options": {
          "maxTokensToSample": 8000,
          "thinking": true,
          "thinkingBudget": 1024
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1264,
        816
      ],
      "id": "83694c3e-128f-4118-b5c9-157065758f8b",
      "name": "Claude Opus 4",
      "credentials": {
        "anthropicApi": {
          "id": "Un8VhObHV3fiqTVr",
          "name": "Anthropic - Translate_To_English"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1168,
        624
      ],
      "id": "57c4cbf0-f647-4895-935d-675a67734969",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "create",
        "workflowObject": "={{ $json.cleanWorkflowObject }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        1856,
        624
      ],
      "id": "dc255a89-6afe-496a-8504-83a56c02ec66",
      "name": "n8n",
      "credentials": {
        "n8nApi": {
          "id": "Ig7f5BT2PKf0yVbH",
          "name": "n8n account zmidloch@z-agency.cz - BackUp"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f4b8c16e-6788-4c17-b643-94a3f0620860",
              "name": "=Workflow Link",
              "value": "=https://n8n-zagency-u62265.vm.elestio.app/workflow/{{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2016,
        624
      ],
      "id": "30cc4b79-1390-4c25-96e4-81700f31625f",
      "name": "Workflow Link"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1E5Gx7opv3QplvDzZZt7wJqjb63ZbL7z8PO6wuSo9KTQ",
          "mode": "list",
          "cachedResultName": "n8n Documentation",
          "cachedResultUrl": "https://docs.google.com/document/d/1E5Gx7opv3QplvDzZZt7wJqjb63ZbL7z8PO6wuSo9KTQ/edit?usp=drivesdk"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1008,
        624
      ],
      "id": "dca6bd15-e24a-483e-82a9-55eb692d2fa5",
      "name": "Get n8n Docs",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "0y8WKhAVB7SLUFcI",
          "name": "Google Drive zmidloch@z-agency.cz"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User request: {{ $('When Executed by Another Workflow').item.json.query }}",
        "options": {
          "systemMessage": "=# Overview\nYou are an expert AI automation developer specializing in building workflows for n8n. Your job is to translate a human’s natural language request into a fully functional n8n workflow JSON. It should be comprehensive, functional, and importable. It should have 100% valid JSON structure, node types, and connection methods.\n\n## Output\nYour output should only be the final JSON of the full workflow.\n\nYour output must start with a { and must end with a }.\n- Do not include anything before the { (such as ```json or any markdown formatting).\n- Do not include anything after the } (such as closing code blocks like ``` or explanations).\n\nYour output should be a pure JSON object that begins with { and ends with }, ready to be used as the body of a POST request.\n\nThe JSON must:\n- Be syntactically valid and complete\n- Include a `nodes` array with each node containing all required parameters\n- Include a `connections` object that correctly maps outputs to inputs\n- Start with a `trigger` node if one is required for the use case (e.g., Webhook, Schedule, etc.)\n- Contain descriptive names and parameter values relevant to the user request\n- Avoid placeholders unless no reasonable value can be inferred\n- Contain sticky notes that are explaining what's going on within each step and any credentials or connections that still need to be configured. The colors should vary throughout the workflow.\n\nBefore generating the JSON, analyze the request and:\n1. Break it down into logical automation steps\n2. Choose appropriate nodes based on the steps\n3. Properly connect the nodes to reflect execution order\n\nIf the request is ambiguous, make a best guess using standard automation logic.\n\nDo not return explanations, comments, or any output outside of the JSON markdown block.\n\nYou are expected to produce developer-grade output suitable for direct import into n8n.\n\n## API Submission Requirements\nTo automatically create a workflow using the n8n API, your generated JSON must include the following top-level fields in the final object:\n\n- `name` (string): A clear, descriptive workflow name.\n- `nodes` (array): The complete array of node objects used in the workflow.\n- `connections` (object): A valid map of node-to-node connections.\n- `settings` (object): Workflow-level settings (e.g. `saveManualExecutions`, `executionOrder`).\n- `staticData` (null or object): Set to `null` unless specific static data is needed.\n\nExample “settings” object:\n  \"settings\": {\n    \"executionOrder\": \"v1\",\n    \"saveManualExecutions\": true,\n    \"saveDataSuccessExecution\": \"all\",\n    \"saveExecutionProgress\": true,\n    \"saveDataErrorExecution\": \"all\",\n    \"errorWorkflow\": \"\",\n    \"timezone\": \"America/New_York\"\n  }\n\n## n8n Documentation\n\n{{ $json.data }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1328,
        624
      ],
      "id": "f8d09598-78e1-4b60-820d-f79e5182fd6f",
      "name": "n8n Builder"
    },
    {
      "parameters": {
        "content": "# Workflow Builder\n",
        "height": 468,
        "width": 1280,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        752,
        528
      ],
      "id": "00532271-5e3b-4335-952f-de7a5dba2617",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# n8n Developer Agent\n",
        "height": 280,
        "width": 660,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        752,
        0
      ],
      "id": "a5c44405-dd26-4967-8430-5de9c24ef2cd",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        832,
        624
      ],
      "id": "8ea03765-bd5f-4a16-8740-0128e38bec7c",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "description": "Call this tool once you have a finished workflow design to build the workflow.",
        "workflowId": {
          "__rl": true,
          "value": "mM4UU76MtlFEbBz0",
          "mode": "list",
          "cachedResultUrl": "/workflow/mM4UU76MtlFEbBz0",
          "cachedResultName": "n8n Developer Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1200,
        368
      ],
      "id": "5e3ac6e1-069c-4909-a7aa-e4c73e90e9d9",
      "name": "Developer Tool"
    },
    {
      "parameters": {
        "content": "## Brain\n",
        "height": 200,
        "width": 320,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        752,
        304
      ],
      "id": "0888a527-f6f2-4078-9c89-0acc4898e073",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Tool\n",
        "height": 200,
        "width": 320,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1088,
        304
      ],
      "id": "ee597d11-71b1-41ae-888c-3df6b78f938c",
      "name": "Sticky Note3"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        928,
        384
      ],
      "id": "b6aeba3a-4f49-422f-aa0b-d87c882fe67e",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "content": "# 🛠️ Setup Guide  \n**Author:** [Nate Herk](https://www.youtube.com/@nateherk)\n\nFollow the steps below to get this workflow up and running:\n\n### MY RECOMMENDATION\nHook up the chat trigger directly to the workflow builder workflow instead of the \"When executed by another workflow\" trigger. This will make testing easier and keep everything in one execution. \n\nIf you want to take the multi-agent approach, then follow the below instructions. \n\n### ✅ Step 1: Connect Your [OpenRouter](https://openrouter.ai/) API Key  \nThis powers the main LLM agent. Make sure your key is active and added via the HTTP Request or Credential node.\n\n### ✅ Step 2: Add Your [Anthropic](https://console.anthropic.com/dashboard) API Key (Optional)  \nIf you want to enable thinking using Claude Opus 4, connect your Anthropic API key.\n\n### ✅ Step 3: Link the Developer Tool  \nMake sure the node or sub-workflow responsible for building the JSON is properly connected to the main agent. The developer tool should return a structured workflow JSON back to the main flow.\n\n### ✅ Step 4: Add Your n8n API Key  \nCreate your **n8n API credential** and connect it in the credential section. This is what allows the agent to spin up new workflows automatically in your instance.\n\n### ✅ Step 5: Copy the [Google Doc](https://docs.google.com/document/d/1TiRusVo4DbbANwAr7I0GUGDZY3pmEmHZy3k66mRxLCg/edit?usp=sharing)  \nMake a copy in your own Google Suite so you can edit, test, and reference it inside the Google Drive node. Then make sure to connect your Google credentials.\n\n### 🧪 Final Step: Start Testing  \nOnce all connections are made, start prompting the agent and watch it build n8n workflows on demand.\n",
        "height": 860,
        "width": 720
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "e1941610-a84e-4572-8671-a4dfd178a453",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.2",
          "mode": "list",
          "cachedResultName": "gpt-5.2"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        768,
        400
      ],
      "id": "f39ac1f5-df10-4e17-a4ff-e6c9ae40e892",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "OyAnM4ykrgDRQ4Jq",
          "name": "OpenAI API Zetko"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful assistant# Overview\nYour job is to take the incoming query and pass that to the \"Developer Tool\" tool EXACTLY AS YOU RECEIVED IT. Don't change any of the wording.\n\nOnce you receive a workflow link back from the Developer Tool, present it to the human as a clickable link that says \"View your finished workflow\" \n\nThe link should be clickable and take the user to the workflow.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1040,
        112
      ],
      "id": "f8e75954-0358-4efc-8a21-765736c8db34",
      "name": "n8n Developer"
    },
    {
      "parameters": {
        "jsCode": "// 1. Získáme text z AI. Zkoušíme různé možnosti, kde může být uložen.\nconst item = $input.first().json;\nconst text = item.output?.text || item.text || item.message?.content || JSON.stringify(item);\n\n// 2. Najdeme začátek a konec JSONu (ignorujeme omáčku okolo)\nconst firstOpen = text.indexOf('{');\nconst lastClose = text.lastIndexOf('}');\n\nif (firstOpen === -1 || lastClose === -1) {\n   throw new Error(\"AI odpověď neobsahuje žádný JSON (žádné složené závorky).\");\n}\n\n// 3. Vyřízneme čistý JSON\nconst jsonString = text.substring(firstOpen, lastClose + 1);\n\ntry {\n  // 4. Převedeme text na objekt a pošleme dál\n  return {\n    json: {\n      cleanWorkflowObject: JSON.parse(jsonString)\n    }\n  };\n} catch (error) {\n   throw new Error(\"Vyříznutý text není platný JSON. Chyba: \" + error.message);\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1648,
        624
      ],
      "id": "5ae30516-c3c5-42ee-9819-9654e5dbff86",
      "name": "Code in JavaScript"
    }
  ],
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "errorWorkflow": "zVAjJgKV17IWzFP7",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "shared": [
    {
      "updatedAt": "2025-12-31T20:56:20.445Z",
      "createdAt": "2025-12-31T20:56:20.445Z",
      "role": "workflow:owner",
      "workflowId": "mM4UU76MtlFEbBz0",
      "projectId": "XqkS7oX8lMj4YbIK"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-01-01T15:00:32.298Z",
  "versionId": "e100fab1-7c91-4818-b165-0b023d04fc89"
}