hetzner-2c-4g/n8n Developer Agent - Revisited-m4bMBmXm0RFqGR7m.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        []
      ]
    },
    "Parse AI Output": {
      "main": [
        [
          {
            "node": "n8n1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Opus ": {
      "ai_languageModel": [
        [
          {
            "node": "n8n Builder1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "n8n Builder1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n1": {
      "main": [
        [
          {
            "node": "Workflow Link1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get n8n Docs1": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n Builder1": {
      "main": [
        [
          {
            "node": "Parse AI Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Developer Tool1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-03T21:50:12.039Z",
  "id": "m4bMBmXm0RFqGR7m",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "n8n Developer Agent - Revisited",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        912,
        112
      ],
      "id": "752b5601-5b2b-4d11-93cb-f0b110f6eeb1",
      "name": "When chat message received",
      "webhookId": "d832bc01-555e-4a24-a8cc-31db8fc1c816"
    },
    {
      "parameters": {
        "content": "# Workflow Builder\n",
        "height": 340,
        "width": 1504,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        752,
        528
      ],
      "id": "162d130c-fff2-4b3c-9903-8b99a128a5c7",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# n8n Developer Agent\n",
        "height": 280,
        "width": 660,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        752,
        0
      ],
      "id": "478781dd-986e-444c-a2f9-9b99616f4fc1",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        832,
        656
      ],
      "id": "60b4c650-3390-41df-bb52-dc94d7de89d8",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "content": "# 🛠️ Setup Guide  \n**Author:** [Nate Herk](https://www.youtube.com/@nateherk)\n\nFollow the steps below to get this workflow up and running:\n\n### MY RECOMMENDATION\nHook up the chat trigger directly to the workflow builder workflow instead of the \"When executed by another workflow\" trigger. This will make testing easier and keep everything in one execution. \n\nIf you want to take the multi-agent approach, then follow the below instructions. \n\n### ✅ Step 1: Connect Your [OpenRouter](https://openrouter.ai/) API Key  \nThis powers the main LLM agent. Make sure your key is active and added via the HTTP Request or Credential node.\n\n### ✅ Step 2: Add Your [Anthropic](https://console.anthropic.com/dashboard) API Key (Optional)  \nIf you want to enable thinking using Claude Opus 4, connect your Anthropic API key.\n\n### ✅ Step 3: Link the Developer Tool  \nMake sure the node or sub-workflow responsible for building the JSON is properly connected to the main agent. The developer tool should return a structured workflow JSON back to the main flow.\n\n### ✅ Step 4: Add Your n8n API Key  \nCreate your **n8n API credential** and connect it in the credential section. This is what allows the agent to spin up new workflows automatically in your instance.\n\n### ✅ Step 5: Copy the [Google Doc](https://docs.google.com/document/d/1TiRusVo4DbbANwAr7I0GUGDZY3pmEmHZy3k66mRxLCg/edit?usp=sharing)  \nMake a copy in your own Google Suite so you can edit, test, and reference it inside the Google Drive node. Then make sure to connect your Google credentials.\n\n### 🧪 Final Step: Start Testing  \nOnce all connections are made, start prompting the agent and watch it build n8n workflows on demand.\n",
        "height": 860,
        "width": 720
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "63531df9-926e-48be-b5da-095e76d71727",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.output?.text || $input.first().json.text || \"\";\n// Regex to capture { ... } spanning multiple lines, trying to find the outermost object.\nconst match = text.match(/\\{(?:[^{}]|{(?:[^{}]|{[^{}]*})*})*\\}/); // Simple recursive-like regex or just greedy match?\n// Simpler robust approach: Find first { and last }.\nconst start = text.indexOf('{');\nconst end = text.lastIndexOf('}');\nif (start === -1 || end === -1) throw new Error(\"No JSON found\");\nconst jsonStr = text.substring(start, end + 1);\nconst obj = JSON.parse(jsonStr); // This throws if invalid syntax\n// Check structure\nif (!obj.nodes && obj.workflow) return { json: { cleanWorkflowObject: obj.workflow } };\nreturn { json: { cleanWorkflowObject: obj } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1696,
        656
      ],
      "id": "4f4ec8cb-6ba6-4daa-9a2e-fcdef8ae4c98",
      "name": "Parse AI Output"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-opus-4-5-20251101",
          "mode": "list",
          "cachedResultName": "Claude Opus 4.5"
        },
        "options": {
          "maxTokensToSample": 4096
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1360,
        864
      ],
      "id": "840360cd-8ee5-4271-8d68-3816773edfb4",
      "name": "Claude Opus ",
      "credentials": {
        "anthropicApi": {
          "id": "Un8VhObHV3fiqTVr",
          "name": "Anthropic - Translate_To_English"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1264,
        656
      ],
      "id": "5e30bc07-a3d5-4982-a338-c32dff5ea550",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "operation": "create",
        "workflowObject": "={{ $json.workflow }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        1856,
        656
      ],
      "id": "ba001ba8-3ef7-4a77-a9da-36caeeb78d70",
      "name": "n8n1",
      "credentials": {
        "n8nApi": {
          "id": "Ig7f5BT2PKf0yVbH",
          "name": "n8n account zmidloch@z-agency.cz - BackUp"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f4b8c16e-6788-4c17-b643-94a3f0620860",
              "name": "Workflow Link",
              "value": "=https://n8n-zagency-u62265.vm.elestio.app//workflow/{{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2064,
        656
      ],
      "id": "7061c5dc-c2f5-47fb-8b4f-b490d1d3b65b",
      "name": "Workflow Link1"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1TiRusVo4DbbANwAr7I0GUGDZY3pmEmHZy3k66mRxLCg",
          "mode": "list"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1104,
        656
      ],
      "id": "543a5667-54fb-464c-a0e8-ab6612cc65c1",
      "name": "Get n8n Docs1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "0y8WKhAVB7SLUFcI",
          "name": "Google Drive zmidloch@z-agency.cz"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User request: {{ $('When Executed by Another Workflow').item.json.query }}",
        "options": {
          "systemMessage": "=# Overview\nYou are an expert AI automation developer specializing in building workflows for n8n. Your job is to translate a human’s natural language request into a fully functional n8n workflow JSON.\n\n## Output\nYour output should only be the final JSON of the full workflow.\n\nYour output must start with a { and must end with a }.\n- Do not include anything before the { (such as ```json or any markdown formatting).\n- Do not include anything after the } (such as closing code blocks like ``` or explanations).\n\nThe JSON must:\n- Be syntactically valid and complete\n- Include a `nodes` array with each node containing all required parameters\n- Include a `connections` object that correctly maps outputs to inputs\n\n## n8n Documentation\n\n{{ $json.data }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1424,
        656
      ],
      "id": "cf444025-eb4b-41fb-81e4-d77bbb9b581e",
      "name": "n8n Builder1"
    },
    {
      "parameters": {
        "description": "Call this tool once you have a finished workflow design to build the workflow.",
        "workflowId": {
          "__rl": true,
          "value": "m4bMBmXm0RFqGR7m",
          "mode": "id",
          "cachedResultUrl": "/workflow/m4bMBmXm0RFqGR7m"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ $fromAI('query') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1328,
        352
      ],
      "id": "42774a11-407a-421d-bcc7-add6933881e8",
      "name": "Developer Tool1"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1120,
        336
      ],
      "id": "38557d26-23ef-4de2-a91d-4637a25c5e50",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        912,
        352
      ],
      "id": "a214f61f-cf10-48b6-bf32-f86e9fe62df8",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "OyAnM4ykrgDRQ4Jq",
          "name": "OpenAI API Zetko"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "# Overview\nYour job is to take the incoming query and pass that to the \"Developer Tool\" tool EXACTLY AS YOU RECEIVED IT. Don't change any of the wording.\n\nOnce you receive a workflow link back from the Developer Tool, present it to the human as a clickable link that says \"View your finished workflow\"."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1168,
        112
      ],
      "id": "00a96692-da80-4a83-8df0-4afa3f44fabe",
      "name": "AI Agent"
    }
  ],
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "errorWorkflow": "zVAjJgKV17IWzFP7",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "shared": [
    {
      "updatedAt": "2026-01-03T21:50:12.039Z",
      "createdAt": "2026-01-03T21:50:12.039Z",
      "role": "workflow:owner",
      "workflowId": "m4bMBmXm0RFqGR7m",
      "projectId": "XqkS7oX8lMj4YbIK"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-01-20T19:47:05.733Z",
  "versionId": "f1a0bb2f-150b-4fed-8fa7-72aaaf52152e"
}