hetzner-2c-4g/Process Gate AI - Write a WordPress post with AI - Wiki - Gemini 3.0-jncs67DuKTioFxIs.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "OpenAI": {
      "main": [
        [
          {
            "node": "Merge chapters title and text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Settings": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge chapters title and text",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "Message a model",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Upload media": {
      "main": [
        [
          {
            "node": "Set image ID for the post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post on Wordpress": {
      "main": [
        [
          {
            "node": "Generate featured image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final article text": {
      "main": [
        [
          {
            "node": "Post on Wordpress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check data consistency": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate featured image": {
      "main": [
        [
          {
            "node": "Upload media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set image ID for the post": {
      "main": [
        [
          {
            "node": "Form1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge chapters title and text": {
      "main": [
        [
          {
            "node": "Final article text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create post title and structure": {
      "main": [
        []
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Check data consistency",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model in Perplexity": {
      "ai_tool": [
        [
          {
            "node": "Message a model",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-25T10:03:22.881Z",
  "id": "jncs67DuKTioFxIs",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Process Gate AI - Write a WordPress post with AI - Wiki - Gemini 3.0",
  "nodes": [
    {
      "parameters": {
        "content": "## Data check",
        "height": 371.765663140765,
        "width": 301.3874093724939,
        "color": 4
      },
      "id": "0c503cb2-4a7d-4d7e-aeda-300525d2ae8a",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        944,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Checks that the data returned by OpenAI is correct",
        "height": 80,
        "width": 272.8190508599808,
        "color": 7
      },
      "id": "547286f5-c0ca-4746-b3de-dbeef852d0f7",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        960,
        64
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Draft on WordPress",
        "height": 392,
        "width": 302,
        "color": 5
      },
      "id": "3c2bcb49-1353-4e85-8cb7-685bf407d6e3",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2352,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "The article is posted as a draft on WordPress",
        "height": 80,
        "width": 254.77269221373095,
        "color": 7
      },
      "id": "729e3b9d-a119-47c9-9f92-eeac9186e7a1",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2368,
        80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Featured image",
        "height": 389,
        "width": 678,
        "color": 3
      },
      "id": "3f21ea4b-50a5-4c85-bcb9-04ad84e9d4f2",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2672,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "The image is generated with Dall-E, uploaded to WordPress, and then connected to the post as its featured image",
        "height": 80,
        "width": 517.9195082760601,
        "color": 7
      },
      "id": "c8848786-a35a-439b-9d6f-6e5a4054499b",
      "name": "Sticky Note11",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2688,
        80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Starting from the given keywords, generates the article title, subtitle, chapters, and image prompt",
        "height": 80,
        "width": 287.370178643191,
        "color": 7
      },
      "id": "88e28948-1745-428f-b1bf-3c810b811138",
      "name": "Sticky Note12",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        560,
        64
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Article structure",
        "height": 371,
        "width": 360,
        "color": 6
      },
      "id": "cc9b75cf-bcd7-4832-93c4-b08f39dcb820",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        544,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## User form",
        "height": 370.512611879577,
        "width": 239.97343293577688,
        "color": 7
      },
      "id": "2c612dd5-76f0-4db3-a69c-bca0e80242e8",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "The user triggers the post creation",
        "height": 80,
        "width": 199.7721486302032,
        "color": 7
      },
      "id": "58b3e334-eba9-4ab5-962d-0036280d0bf6",
      "name": "Sticky Note13",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        32,
        64
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## User feedback",
        "height": 391,
        "width": 220,
        "color": 7
      },
      "id": "cfe29b89-9dfa-4ade-b2f1-259a1419eac9",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3360,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Final confirmation to the user",
        "height": 80,
        "width": 183.38125554060056,
        "color": 7
      },
      "id": "0917f968-e8de-4499-9a91-1b2d841bd0fb",
      "name": "Sticky Note14",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3392,
        80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nUser is notified to try again since some data is missing",
        "height": 288.4116890365125,
        "width": 281.2716777103785,
        "color": 7
      },
      "id": "a4a4f1a1-7ce0-49c1-acfc-1546731c7e1a",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1280,
        400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nWikipedia is used to write the article",
        "height": 275,
        "width": 340,
        "color": 7
      },
      "id": "e8dd11f8-1cd5-46d1-ac22-adfa6b4dc11d",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        544,
        400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Settings",
        "height": 370.512611879577,
        "width": 226.71615243495023,
        "color": 2
      },
      "id": "ebed8556-1788-4dad-b72e-b180e74540ce",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        288,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Set the URL of your WordPress here",
        "height": 80,
        "width": 179.37633247508526,
        "color": 7
      },
      "id": "7066449e-070f-4511-9afa-c551fcd1cfca",
      "name": "Sticky Note15",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        304,
        64
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Chapters split",
        "height": 370.512611879577,
        "width": 225.47038972308582,
        "color": 2
      },
      "id": "dbd1c0b3-7031-4e85-b7a0-75b0b38cbb79",
      "name": "Sticky Note16",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1280,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Splits out chapter contents from the previous node",
        "height": 80,
        "width": 185.6051460344073,
        "color": 7
      },
      "id": "7c871556-0a8c-4648-b9ef-61c5f4345a44",
      "name": "Sticky Note17",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1312,
        64
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Writes the text for each chapter",
        "height": 80,
        "width": 287.370178643191,
        "color": 7
      },
      "id": "c8252934-83d2-43b4-b3bc-8711dadcab2a",
      "name": "Sticky Note18",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1568,
        64
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Chapters text",
        "height": 370.512611879577,
        "width": 333.40108076977657,
        "color": 6
      },
      "id": "7681ca00-002c-452c-851a-c56049b489ab",
      "name": "Sticky Note19",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1552,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Content preparation",
        "height": 514.2177254645992,
        "width": 420.4253447940705,
        "color": 4
      },
      "id": "79fc266a-0913-4b33-8319-2ce685bd219e",
      "name": "Sticky Note21",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1904,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Merges the content and prepare it before sending it to WordPress",
        "height": 80,
        "width": 368.1523541074699,
        "color": 7
      },
      "id": "0f7e6f7c-56d3-4e94-8301-1b7f8eceda62",
      "name": "Sticky Note22",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1920,
        80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "formTitle": "Create a WordPress post with AI",
        "formDescription": "Fill this form with the required information to create a draft post on WordPress",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Keywords (comma-separated)",
              "requiredField": true
            },
            {
              "fieldLabel": "Number of chapters",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "1"
                  },
                  {
                    "option": "2"
                  },
                  {
                    "option": "3"
                  },
                  {
                    "option": "4"
                  },
                  {
                    "option": "5"
                  },
                  {
                    "option": "6"
                  },
                  {
                    "option": "7"
                  },
                  {
                    "option": "8"
                  },
                  {
                    "option": "9"
                  },
                  {
                    "option": "10"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Max words count",
              "fieldType": "number",
              "requiredField": true
            },
            {
              "fieldLabel": "Language",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "EN"
                  },
                  {
                    "option": "CZ"
                  }
                ]
              }
            }
          ]
        },
        "responseMode": "lastNode",
        "options": {
          "path": "create-wordpress-post"
        }
      },
      "id": "09622908-4038-490b-98da-c943860cb0ba",
      "name": "On form submission",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        64,
        208
      ],
      "webhookId": "a1179051-6765-4f8b-87ff-20f39522457e",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "fieldToSplitOut": "message.content.chapters",
        "options": {}
      },
      "id": "15b84373-26ab-41ce-827b-4d766fd228c5",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        1344,
        208
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Write the HTML body for the chapter of the article: {{ $('Create post title and structure').item.json.message.content.title }}, {{ $('Create post title and structure').item.json.message.content.subtitle }}, which covers {{ $('Settings').item.json[\"keywords\"] }}.\n\nThis is the chapter title: {{ $json.title }}.\nThis is the writing prompt for the chapter: {{ $json.prompt }}.\n\nGuidelines:\n- Return ONLY HTML (no JSON, no Markdown, no explanations).\n- DO NOT include the chapter title and DO NOT use <h1> or <h2>. The workflow will render the chapter title as an <h2>.\n- Structure the content into 3–6 sections using <h3> subheadings.\n- After each <h3>, add 1–3 short <p> paragraphs or a concise <ul>/<ol> list (<li> items).\n- Allowed tags: h3, p, ul, ol, li, strong, em, a.\n- **CRITICAL LINK RULES (for the ENTIRE article, not per chapter):**\n  - Maximum 4 hyperlinks in the ENTIRE article (across all chapters)\n  - You are writing chapter {{ $itemIndex + 1 }} of {{ $input.all().length }}\n  - If this is chapter 1: include 1 link to the official website of the main topic (e.g., openai.com for OpenAI article, claude.ai for Claude article)\n  - If this is chapter 2-3: include maximum 1 Wikipedia link if highly relevant\n  - If this is the last chapter: you may add 1 final relevant link if total count is still under 4\n  - Only link to: official website of the topic, en.wikipedia.org/wiki/*\n  - If you are not 100% certain a URL exists, DO NOT link\n- Aim for about {{ Math.round(($('Settings').item.json.words - 120)/ $('Settings').item.json.chapters) }} words.\n- Keep continuity with surrounding chapters and avoid repetition.\n{{ $itemIndex > 0 ? \"- The previous chapter talks about \" + $input.all()[$itemIndex-1].json.title : \"\" }}\n{{ $itemIndex > 0 ? \"- The prompt for the previous chapter is \" + $input.all()[$itemIndex-1].json.prompt : \"\" }}\n{{ $itemIndex < $input.all().length - 1 ? \"- The following chapter will talk about \" + $input.all()[$itemIndex+1].json.title: \"\" }}\n{{ $itemIndex < $input.all().length - 1 ? \"- The prompt for the following chapter is \" + $input.all()[$itemIndex+1].json.prompt : \"\" }}\n- Consider the previous and following chapters when writing the text for this chapter. The text must be coherent with the previous and following chapters.\n- This chapter should not repeat the concepts already exposed in the previous chapter.\n- This chapter is a part of a larger article so don't include an introduction or conclusions. This chapter should merge with the rest of the article."
            }
          ]
        },
        "options": {}
      },
      "id": "d1efc912-f9f8-4ecf-ab2c-742fd4b5f901",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        1584,
        208
      ],
      "typeVersion": 1.8,
      "credentials": {
        "openAiApi": {
          "id": "OyAnM4ykrgDRQ4Jq",
          "name": "OpenAI_API_Zetko"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c07386d7-9f51-4052-a62d-500e9aff9336",
              "name": "wordpress_url",
              "type": "string",
              "value": "https://processgate.ai/"
            },
            {
              "id": "2bbdd88a-3d66-4407-9b77-32af63f44e11",
              "name": "keywords",
              "type": "string",
              "value": "={{ $json['Keywords (comma-separated)'] }}"
            },
            {
              "id": "4a199e44-1033-446a-a019-e2e1a694009e",
              "name": "chapters",
              "type": "string",
              "value": "={{ $json['Number of chapters'] }}"
            },
            {
              "id": "312d2e97-d1b6-46d9-b2ae-35f7234b5404",
              "name": "words",
              "type": "string",
              "value": "={{ $json['Max words count'] }}"
            },
            {
              "id": "fc29869e-f171-4df9-8eda-9c67c847a08f",
              "name": "Language",
              "value": "={{ $json.Language }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d4e9877c-cfcd-4e52-a93e-52cf42bef5c7",
      "name": "Settings",
      "type": "n8n-nodes-base.set",
      "position": [
        352,
        208
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5",
          "mode": "list",
          "cachedResultName": "GPT-5"
        },
        "messages": {
          "values": [
            {
              "content": "=Write the title, the subtitle, the chapters details, the introduction, the conclusions, and an image prompt for an SEO-friendly article about these topics:\n{{ $json.keywords }}.\n\nInstructions:\n- Return a single JSON object with fields: \"title\", \"subtitle\", \"introduction\", \"conclusions\", \"imagePrompt\", \"chapters\".\n- **CRITICAL: \"title\" must be an ORIGINAL, SEO-optimized headline, NOT just a repetition of the keywords.**\n  - Create a compelling, click-worthy title that incorporates the keywords naturally\n  - Use power words, numbers, or value propositions when appropriate\n  - Keep it between 50-60 characters for optimal SEO\n  - Examples of good titles:\n    - Keywords: \"AI chatbots, customer service\" → Title: \"How AI Chatbots Are Revolutionizing Customer Service in 2025\"\n    - Keywords: \"machine learning, beginners\" → Title: \"Machine Learning for Beginners: Complete Guide to Getting Started\"\n    - Keywords: \"productivity apps, remote work\" → Title: \"10 Productivity Apps That Will Transform Your Remote Work\"\n  - Make the title engaging and promise value to the reader\n- \"subtitle\" should complement the title and add context (1-2 sentences)\n- \"chapters\" is an array of exactly {{ $json.chapters.toString() }} items; each item has:\n  - \"title\": a concise, reader-facing chapter title (no numbering, no colons).\n  - \"prompt\": clear writing instructions for the chapter body.\n- The \"prompt\" for each chapter MUST explicitly require the writer to:\n  - Output valid HTML only, using these tags: h3, p, ul, ol, li, strong, em, a.\n  - Start with several <h3> subheadings (3–6), each followed by 1–3 short paragraphs or a list.\n  - NOT include the chapter title nor any <h1>/<h2>; the workflow will render the chapter title as an <h2>.\n  - **CRITICAL LINK STRATEGY for the ENTIRE article (all chapters combined):**\n    - Maximum 4 links total across the entire article\n    - 1 link MUST point to the official website of the main topic/technology/service being discussed\n    - Remaining 3 links should go to Wikipedia or other authoritative sources\n    - Only include links if you are 100% certain the URL exists\n    - Better to have fewer links than broken links\n    - Hyperlink domains allowed: en.wikipedia.org/wiki/*, official website of the topic (e.g., claude.ai for Claude, openai.com for OpenAI)\n  - **Do not invent URLs. If a suitable page cannot be identified with high confidence, include no link.**\n- \"introduction\" and \"conclusions\": use <p> only. DO NOT include any links in introduction or conclusions.\n- No Markdown anywhere. Cross-check key facts with Wikipedia when relevant; do not mention Wikipedia explicitly."
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "id": "fcf5b24e-aaa2-4990-9faf-a09aaf5260b7",
      "name": "Create post title and structure",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        432,
        816
      ],
      "typeVersion": 1.8,
      "credentials": {
        "openAiApi": {
          "id": "OyAnM4ykrgDRQ4Jq",
          "name": "OpenAI_API_Zetko"
        }
      }
    },
    {
      "parameters": {},
      "id": "95a43e66-5ba7-4503-b658-12302f080872",
      "name": "Wikipedia",
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "position": [
        576,
        448
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "9523cb70-8467-4e65-9ecf-65cb91c29cb7",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $json.message.content.title }}",
              "rightValue": ""
            },
            {
              "id": "d754869d-10fe-4348-807f-2e1bc82a7b41",
              "operator": {
                "type": "array",
                "operation": "lengthGt",
                "rightType": "number"
              },
              "leftValue": "={{ $json.message.content.chapters }}",
              "rightValue": 0
            },
            {
              "id": "79a60fc1-66f8-4cfc-a61b-de528dfb7978",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $json.message.content.subtitle }}",
              "rightValue": ""
            },
            {
              "id": "c0c44d88-1c3d-44ba-9030-6e8fa9f2860f",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $json.message.content.introduction }}",
              "rightValue": ""
            },
            {
              "id": "338cd7e0-d2b8-40f4-838d-3aaf618268d2",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $json.message.content.conclusions }}",
              "rightValue": ""
            },
            {
              "id": "76eb9ba1-7675-403c-9287-ac1319791ffe",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $json.message.content.imagePrompt }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "523dd8a5-3d56-401f-a97a-4769aa65b268",
      "name": "Check data consistency",
      "type": "n8n-nodes-base.if",
      "position": [
        1024,
        208
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "operation": "completion",
        "respondWith": "showText",
        "responseText": "There was a problem creating the article, please refresh the form and try again!"
      },
      "id": "9f9df5ba-2b0f-413e-a1ae-2f4a016abfd1",
      "name": "Form",
      "type": "n8n-nodes-base.form",
      "position": [
        1344,
        464
      ],
      "webhookId": "ae5177cb-b11d-47f5-a52d-c2794bce80f0",
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "b94d1ff2-219e-4b55-b9de-37dbbe4d827f",
      "name": "Merge chapters title and text",
      "type": "n8n-nodes-base.merge",
      "position": [
        1984,
        320
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "jsCode": "let article = \"\";\n\n// --- helper: odstraní ```html/``` a případné <pre><code> obaly, rozkóduje &lt;h3&gt; ---\nfunction clean(html) {\n  if (!html) return \"\";\n  let s = String(html);\n\n  // normalizace „chytrých“ uvozovek, kdyby se objevily kolem backticků\n  s = s.replace(/[“”„]/g, '\"');\n\n  // odstraň code fences ```lang a závěrečné ```\n  s = s.replace(/(^|\\n)\\s*`{3,}\\s*[a-z]*\\s*\\n?/gi, \"\\n\");\n  s = s.replace(/\\n?\\s*`{3,}\\s*($|\\n)/gi, \"\\n\");\n\n  // pro jistotu zruš i případné <pre>/<code> obaly\n  s = s.replace(/<\\/?pre[^>]*>/gi, \"\").replace(/<\\/?code[^>]*>/gi, \"\");\n\n  // rozkóduj nejčastější entity, pokud by přišly escapované\n  s = s.replace(/&lt;/g, \"<\").replace(/&gt;/g, \">\").replace(/&amp;/g, \"&\");\n\n  // Optionally drop <a> tags with unknown domains, keep anchor text\ns = s.replace(/<a\\s+[^>]*href=[\"'](?!https?:\\/\\/(?:en\\.wikipedia\\.org|ai\\.google\\.dev|deepmind\\.google|developers\\.google\\.com|cloud\\.google\\.com)\\/)[^\"']*[\"'][^>]*>(.*?)<\\/a>/gi, '$1');\nreturn s.trim();\n\n}\n\n// Introduction\nconst intro = clean($('Create post title and structure').first().json.message.content.introduction);\narticle += intro;\n\n// Chapters\nfor (const item of $input.all()) {\n  const title = item.json.title || \"\";\n  const body  = clean(item.json.message?.content);\n  article += `<h2>${title}</h2>` + body;\n}\n\n// Conclusions\narticle += `<h2>Conclusions</h2>`;\nconst conclusions = clean($('Create post title and structure').first().json.message.content.conclusions);\narticle += conclusions;\n\nreturn [{ article }];\n"
      },
      "id": "15592f02-876e-4900-bc47-04d8567f638e",
      "name": "Final article text",
      "type": "n8n-nodes-base.code",
      "position": [
        2160,
        208
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "title": "={{ $('Create post title and structure').first().json.message.content.title }}",
        "additionalFields": {
          "content": "={{ $json.article }}",
          "status": "draft"
        }
      },
      "id": "73881184-1bfe-495a-a3b2-9d2c5976fc16",
      "name": "Post on Wordpress",
      "type": "n8n-nodes-base.wordpress",
      "position": [
        2448,
        208
      ],
      "typeVersion": 1,
      "credentials": {
        "wordpressApi": {
          "id": "flqY5YMCvIpv5fpx",
          "name": "Processgate.ai_propojeni"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "=Generate a photographic image to be used as the cover image for the article titled: {{ $('Create post title and structure').first().json.message.content.title }}. This is the prompt for the image: {{ $('Create post title and structure').first().json.message.content.imagePrompt }}, photography, realistic, sigma 85mm f/1.4",
        "options": {
          "size": "1792x1024",
          "style": "natural"
        }
      },
      "id": "b3fe96cb-eb1e-49ac-9862-80155bc95a73",
      "name": "Generate featured image",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        2752,
        208
      ],
      "typeVersion": 1.8,
      "credentials": {
        "openAiApi": {
          "id": "OyAnM4ykrgDRQ4Jq",
          "name": "OpenAI_API_Zetko"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://processgate.ai/wp-json/wp/v2/media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Disposition",
              "value": "=attachment; filename=\"featured-image.png\""
            },
            {
              "name": "Content-Type",
              "value": "= $binary.data.mimeType || 'image/png'"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "id": "bcb2f2c0-5320-401b-8d8c-95f7083a944b",
      "name": "Upload media",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3056,
        208
      ],
      "typeVersion": 4.2,
      "credentials": {
        "wordpressApi": {
          "id": "flqY5YMCvIpv5fpx",
          "name": "Processgate.ai_propojeni"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://processgate.ai/wp-json/wp/v2/posts/{{ $('Post on Wordpress').first().json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "featured_media",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "87378d54-a6f2-470d-af52-c106b5f577b0",
      "name": "Set image ID for the post",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3392,
        208
      ],
      "typeVersion": 4.2,
      "credentials": {
        "wordpressApi": {
          "id": "flqY5YMCvIpv5fpx",
          "name": "Processgate.ai_propojeni"
        }
      }
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Created Successfully!",
        "completionMessage": "=The article {{ $json.title.rendered }} was correctly created as a draft on WordPress!",
        "options": {}
      },
      "id": "29861fb0-7ac9-4813-b353-658143840c63",
      "name": "Form1",
      "type": "n8n-nodes-base.form",
      "position": [
        3632,
        208
      ],
      "webhookId": "b738cf01-5868-4ea9-8f54-d6f3cdaac8f6",
      "typeVersion": 1
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3-pro-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3-pro-preview"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an expert SEO Content Strategist and Researcher. Your task is to generate a structured article plan based on the keywords: {{ $json.keywords }}.\n\n**TARGET LANGUAGE:** You must write all output content (titles, subtitles, prompts, intros) in: **{{ $json.Language }}**.\n\n### PHASE 1: RESEARCH & FACT-CHECKING\nBefore generating the article structure, you MUST gather accurate information using your available tools.\n1.  **Primary Source (Wikipedia):** Search for definitions and core concepts.\n2.  **Secondary Source (Perplexity):** If Wikipedia lacks detail or recent trends (last 12 months), use Perplexity to search the web.\n3.  **Cross-Language Research:** Even if the Target Language is Czech, you may research in English to find better data, but you must translate/adapt the findings for the final output.\n4.  **Link Strategy:** Identify 1 \"official website\" URL and valid Wikipedia/authoritative URLs during this phase.\n\n### PHASE 2: STRUCTURE GENERATION\nBased on Phase 1, generate a single JSON object with fields: \"title\", \"subtitle\", \"introduction\", \"conclusions\", \"imagePrompt\", \"chapters\".\n\n**CONTENT GUIDELINES (Language:{{ $json.Language }} ):**\n- **CRITICAL: \"title\" must be an ORIGINAL, SEO-optimized headline in {{ $json.Language }}.**\n  - Do NOT just repeat the keywords. Make it click-worthy (50-60 chars).\n- \"subtitle\": 1-2 sentences in {{ $json.Language }} adding context.\n- \"introduction\" & \"conclusions\": Use <p> tags only, written in {{ $json.Language }}. NO links here.\n- \"imagePrompt\": **EXCEPTION:** Write this specific field in **ENGLISH** regardless of the target language (best for AI image generators). Describe a high-quality, photorealistic or vector style image suitable for the topic.\n\n**CHAPTER GUIDELINES:**\n- \"chapters\" is an array of exactly {{ $json.chapters.toString() }} items.\n- Each item must have:\n  - \"title\": A concise chapter title in {{ $json.Language }}.\n  - \"prompt\": Clear instructions for the writer node. **IMPORTANT:** This prompt itself must be written in English (instructions to the AI), but it must explicitly tell the writer to generate the content in **{{ $json.Language }}**.\n- The \"prompt\" for each chapter must explicitly require:\n  - \"Write the content in **{{ $json.Language }}**.\"\n  - Output valid HTML (h3, p, ul, ol, li, strong, em, a).\n  - Start with <h3> subheadings.\n  - **LINKING STRATEGY:** Include links found in Phase 1 (Max 4 total in article). 1 Official link + 3 Authority links. Do not invent URLs.\n\n**FINAL OUTPUT FORMAT:**\nReturn ONLY the JSON object. No markdown formatting."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        608,
        208
      ],
      "id": "07ee2380-9665-44e6-88e6-d378bb82e72a",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "O18dqBggPBVuy0CJ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "messages": {
          "message": [
            {
              "content": "=Search for comprehensive details about: {{ $json.keywords }}.\nTarget Language for context: {{ $json.Language }}.\n\nFocus on finding:\n1. The official website URL.\n2. Recent trends and news (last 12 months).\n3. Key facts for an article that will be written in {{ $json.Language }}.\n\nProvide a detailed summary."
            }
          ]
        },
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.perplexityTool",
      "typeVersion": 1,
      "position": [
        752,
        464
      ],
      "id": "3391645b-5175-40b7-8bde-98fe2d3bb059",
      "name": "Message a model in Perplexity",
      "credentials": {
        "perplexityApi": {
          "id": "PqFh65cqJjshoUgd",
          "name": "Perplexity account"
        }
      }
    }
  ],
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-25T10:03:22.881Z",
      "createdAt": "2025-11-25T10:03:22.881Z",
      "role": "workflow:owner",
      "workflowId": "jncs67DuKTioFxIs",
      "projectId": "XqkS7oX8lMj4YbIK"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-11-25T10:02:49.580Z",
      "createdAt": "2025-11-25T10:02:49.580Z",
      "id": "8ISzcEZnawyH5cnG",
      "name": "Wikipedia"
    },
    {
      "updatedAt": "2025-11-25T10:02:49.586Z",
      "createdAt": "2025-11-25T10:02:49.586Z",
      "id": "GyIzdxr7e6a0DKQ8",
      "name": "Wordpress"
    },
    {
      "updatedAt": "2025-11-25T10:02:49.590Z",
      "createdAt": "2025-11-25T10:02:49.590Z",
      "id": "iu8EkneS24SJyD0c",
      "name": "AI"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-12-16T14:52:59.114Z",
  "versionId": "19b47541-599d-451b-992d-7bc51d0cc5b3"
}