hetzner-2c-4g/Process Gate AI - Write a WordPress post with AI - Wiki - final-o4hBNs1xan9GFX5Y.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2025-12-09T21:22:37.769Z",
    "createdAt": "2025-12-09T21:22:37.769Z",
    "versionId": "27b1c7f9-7ddb-4945-8be1-706a44703a0d",
    "workflowId": "o4hBNs1xan9GFX5Y",
    "nodes": [
      {
        "parameters": {
          "content": "## Data check",
          "height": 371.765663140765,
          "width": 301.3874093724939,
          "color": 4
        },
        "id": "19c52e92-9b14-4182-8b7a-6fb594fc22d7",
        "name": "Sticky Note2",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          944,
          0
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "Checks that the data returned by OpenAI is correct",
          "height": 80,
          "width": 272.8190508599808,
          "color": 7
        },
        "id": "b445300d-cb64-47d5-bea8-3fd8121298b7",
        "name": "Sticky Note3",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          960,
          64
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "## Draft on WordPress",
          "height": 392,
          "width": 302,
          "color": 5
        },
        "id": "e596233b-c8de-4874-83bc-73663b8ca658",
        "name": "Sticky Note5",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          2352,
          0
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "The article is posted as a draft on WordPress",
          "height": 80,
          "width": 254.77269221373095,
          "color": 7
        },
        "id": "c460b1df-284d-4d57-8efd-61eb4d6c2634",
        "name": "Sticky Note9",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          2368,
          80
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "## Featured image",
          "height": 389,
          "width": 678,
          "color": 3
        },
        "id": "676d543b-d3f8-45a2-939b-ca8c950bae3e",
        "name": "Sticky Note10",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          2672,
          0
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "The image is generated with Dall-E, uploaded to WordPress, and then connected to the post as its featured image",
          "height": 80,
          "width": 517.9195082760601,
          "color": 7
        },
        "id": "4d4b164f-4a58-4029-9a6b-3878d32f69c0",
        "name": "Sticky Note11",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          2688,
          80
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "Starting from the given keywords, generates the article title, subtitle, chapters, and image prompt",
          "height": 80,
          "width": 287.370178643191,
          "color": 7
        },
        "id": "6b3cf9b7-d62b-4ce4-a21b-36404afedbb8",
        "name": "Sticky Note12",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          560,
          64
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "## Article structure",
          "height": 371,
          "width": 360,
          "color": 6
        },
        "id": "82e2d52d-9d38-4cec-8be3-1983a603f794",
        "name": "Sticky Note",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          544,
          0
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "## User form",
          "height": 370.512611879577,
          "width": 239.97343293577688,
          "color": 7
        },
        "id": "3d457664-4e9e-4ca1-9139-010adbc4e66f",
        "name": "Sticky Note1",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          0,
          0
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "The user triggers the post creation",
          "height": 80,
          "width": 199.7721486302032,
          "color": 7
        },
        "id": "badddf84-6186-44ff-a248-ca1fe29ab78b",
        "name": "Sticky Note13",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          32,
          64
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "## User feedback",
          "height": 391,
          "width": 220,
          "color": 7
        },
        "id": "08cddca9-01fc-4db2-b45d-e5b377491d06",
        "name": "Sticky Note4",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          3360,
          0
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "Final confirmation to the user",
          "height": 80,
          "width": 183.38125554060056,
          "color": 7
        },
        "id": "0f735b4b-32b2-4fb8-baf2-f8208d2f970d",
        "name": "Sticky Note14",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          3392,
          80
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nUser is notified to try again since some data is missing",
          "height": 288.4116890365125,
          "width": 281.2716777103785,
          "color": 7
        },
        "id": "49169414-8d3d-416c-8112-d5ae62d7eb18",
        "name": "Sticky Note6",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1280,
          400
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nWikipedia is used to write the article",
          "height": 275,
          "width": 340,
          "color": 7
        },
        "id": "07b30757-8103-4733-9722-a0ac11cf1b9c",
        "name": "Sticky Note7",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          544,
          400
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "## Settings",
          "height": 370.512611879577,
          "width": 226.71615243495023,
          "color": 2
        },
        "id": "bedab8b4-8b6a-4348-99eb-a3f6e4658f9e",
        "name": "Sticky Note8",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          288,
          0
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "Set the URL of your WordPress here",
          "height": 80,
          "width": 179.37633247508526,
          "color": 7
        },
        "id": "912e4e3e-a1dc-4316-b2e2-2ca08dcfcd78",
        "name": "Sticky Note15",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          304,
          64
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "## Chapters split",
          "height": 370.512611879577,
          "width": 225.47038972308582,
          "color": 2
        },
        "id": "1dc682f4-f6ae-4dd2-96ac-3713a0189e26",
        "name": "Sticky Note16",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1280,
          0
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "Splits out chapter contents from the previous node",
          "height": 80,
          "width": 185.6051460344073,
          "color": 7
        },
        "id": "8da9639f-aab1-41d8-9423-88b0215551cd",
        "name": "Sticky Note17",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1312,
          64
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "Writes the text for each chapter",
          "height": 80,
          "width": 287.370178643191,
          "color": 7
        },
        "id": "2fa92c91-fa99-4140-b650-a79dc0a5d43f",
        "name": "Sticky Note18",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1568,
          64
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "## Chapters text",
          "height": 370.512611879577,
          "width": 333.40108076977657,
          "color": 6
        },
        "id": "616080cb-8184-4005-8d38-157c6aa7b24c",
        "name": "Sticky Note19",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1552,
          0
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "## Content preparation",
          "height": 514.2177254645992,
          "width": 420.4253447940705,
          "color": 4
        },
        "id": "9171a99a-72c3-4c9b-90c1-6cae27914c11",
        "name": "Sticky Note21",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1904,
          0
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "Merges the content and prepare it before sending it to WordPress",
          "height": 80,
          "width": 368.1523541074699,
          "color": 7
        },
        "id": "8926140c-7f9e-48f1-94e0-acae41a5b4d2",
        "name": "Sticky Note22",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1920,
          80
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "formTitle": "Create a WordPress post with AI",
          "formDescription": "Fill this form with the required information to create a draft post on WordPress",
          "formFields": {
            "values": [
              {
                "fieldLabel": "Keywords (comma-separated)",
                "requiredField": true
              },
              {
                "fieldLabel": "Number of chapters",
                "fieldType": "dropdown",
                "fieldOptions": {
                  "values": [
                    {
                      "option": "1"
                    },
                    {
                      "option": "2"
                    },
                    {
                      "option": "3"
                    },
                    {
                      "option": "4"
                    },
                    {
                      "option": "5"
                    },
                    {
                      "option": "6"
                    },
                    {
                      "option": "7"
                    },
                    {
                      "option": "8"
                    },
                    {
                      "option": "9"
                    },
                    {
                      "option": "10"
                    }
                  ]
                },
                "requiredField": true
              },
              {
                "fieldLabel": "Max words count",
                "fieldType": "number",
                "requiredField": true
              }
            ]
          },
          "responseMode": "lastNode",
          "options": {
            "path": "create-wordpress-post"
          }
        },
        "id": "7bacfe1b-a769-47f5-af94-0c3fb15b17a1",
        "name": "On form submission",
        "type": "n8n-nodes-base.formTrigger",
        "position": [
          64,
          208
        ],
        "webhookId": "a1179051-6765-4f8b-87ff-20f39522457e",
        "typeVersion": 2.2
      },
      {
        "parameters": {
          "fieldToSplitOut": "message.content.chapters",
          "options": {}
        },
        "id": "554956f9-e8e1-4383-8a15-e26f705077c5",
        "name": "Split Out",
        "type": "n8n-nodes-base.splitOut",
        "position": [
          1344,
          208
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4o-mini",
            "cachedResultName": "GPT-4O-MINI"
          },
          "messages": {
            "values": [
              {
                "content": "=Write the HTML body for the chapter of the article: {{ $('Create post title and structure').item.json.message.content.title }}, {{ $('Create post title and structure').item.json.message.content.subtitle }}, which covers {{ $('Settings').item.json[\"keywords\"] }}.\n\nThis is the chapter title: {{ $json.title }}.\nThis is the writing prompt for the chapter: {{ $json.prompt }}.\n\nGuidelines:\n- Return ONLY HTML (no JSON, no Markdown, no explanations).\n- DO NOT include the chapter title and DO NOT use <h1> or <h2>. The workflow will render the chapter title as an <h2>.\n- Structure the content into 3–6 sections using <h3> subheadings.\n- After each <h3>, add 1–3 short <p> paragraphs or a concise <ul>/<ol> list (<li> items).\n- Allowed tags: h3, p, ul, ol, li, strong, em, a.\n- **CRITICAL LINK RULES (for the ENTIRE article, not per chapter):**\n  - Maximum 4 hyperlinks in the ENTIRE article (across all chapters)\n  - You are writing chapter {{ $itemIndex + 1 }} of {{ $input.all().length }}\n  - If this is chapter 1: include 1 link to the official website of the main topic (e.g., openai.com for OpenAI article, claude.ai for Claude article)\n  - If this is chapter 2-3: include maximum 1 Wikipedia link if highly relevant\n  - If this is the last chapter: you may add 1 final relevant link if total count is still under 4\n  - Only link to: official website of the topic, en.wikipedia.org/wiki/*\n  - If you are not 100% certain a URL exists, DO NOT link\n- Aim for about {{ Math.round(($('Settings').item.json.words - 120)/ $('Settings').item.json.chapters) }} words.\n- Keep continuity with surrounding chapters and avoid repetition.\n{{ $itemIndex > 0 ? \"- The previous chapter talks about \" + $input.all()[$itemIndex-1].json.title : \"\" }}\n{{ $itemIndex > 0 ? \"- The prompt for the previous chapter is \" + $input.all()[$itemIndex-1].json.prompt : \"\" }}\n{{ $itemIndex < $input.all().length - 1 ? \"- The following chapter will talk about \" + $input.all()[$itemIndex+1].json.title: \"\" }}\n{{ $itemIndex < $input.all().length - 1 ? \"- The prompt for the following chapter is \" + $input.all()[$itemIndex+1].json.prompt : \"\" }}\n- Consider the previous and following chapters when writing the text for this chapter. The text must be coherent with the previous and following chapters.\n- This chapter should not repeat the concepts already exposed in the previous chapter.\n- This chapter is a part of a larger article so don't include an introduction or conclusions. This chapter should merge with the rest of the article."
              }
            ]
          },
          "options": {}
        },
        "id": "db920dc1-2fe6-4267-ae8f-22f932a9d90e",
        "name": "OpenAI",
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "position": [
          1584,
          208
        ],
        "typeVersion": 1.8,
        "credentials": {
          "openAiApi": {
            "id": "OyAnM4ykrgDRQ4Jq",
            "name": "OpenAI_API_Zetko"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "c07386d7-9f51-4052-a62d-500e9aff9336",
                "name": "wordpress_url",
                "type": "string",
                "value": "https://processgate.ai/"
              },
              {
                "id": "2bbdd88a-3d66-4407-9b77-32af63f44e11",
                "name": "keywords",
                "type": "string",
                "value": "={{ $json['Keywords (comma-separated)'] }}"
              },
              {
                "id": "4a199e44-1033-446a-a019-e2e1a694009e",
                "name": "chapters",
                "type": "string",
                "value": "={{ $json['Number of chapters'] }}"
              },
              {
                "id": "312d2e97-d1b6-46d9-b2ae-35f7234b5404",
                "name": "words",
                "type": "string",
                "value": "={{ $json['Max words count'] }}"
              }
            ]
          },
          "options": {}
        },
        "id": "ea740411-cbd0-4029-9746-cf1484c71b23",
        "name": "Settings",
        "type": "n8n-nodes-base.set",
        "position": [
          352,
          208
        ],
        "typeVersion": 3.4
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "gpt-5",
            "mode": "list",
            "cachedResultName": "GPT-5"
          },
          "messages": {
            "values": [
              {
                "content": "=Write the title, the subtitle, the chapters details, the introduction, the conclusions, and an image prompt for an SEO-friendly article about these topics:\n{{ $json.keywords }}.\n\nInstructions:\n- Return a single JSON object with fields: \"title\", \"subtitle\", \"introduction\", \"conclusions\", \"imagePrompt\", \"chapters\".\n- **CRITICAL: \"title\" must be an ORIGINAL, SEO-optimized headline, NOT just a repetition of the keywords.**\n  - Create a compelling, click-worthy title that incorporates the keywords naturally\n  - Use power words, numbers, or value propositions when appropriate\n  - Keep it between 50-60 characters for optimal SEO\n  - Examples of good titles:\n    - Keywords: \"AI chatbots, customer service\" → Title: \"How AI Chatbots Are Revolutionizing Customer Service in 2025\"\n    - Keywords: \"machine learning, beginners\" → Title: \"Machine Learning for Beginners: Complete Guide to Getting Started\"\n    - Keywords: \"productivity apps, remote work\" → Title: \"10 Productivity Apps That Will Transform Your Remote Work\"\n  - Make the title engaging and promise value to the reader\n- \"subtitle\" should complement the title and add context (1-2 sentences)\n- \"chapters\" is an array of exactly {{ $json.chapters.toString() }} items; each item has:\n  - \"title\": a concise, reader-facing chapter title (no numbering, no colons).\n  - \"prompt\": clear writing instructions for the chapter body.\n- The \"prompt\" for each chapter MUST explicitly require the writer to:\n  - Output valid HTML only, using these tags: h3, p, ul, ol, li, strong, em, a.\n  - Start with several <h3> subheadings (3–6), each followed by 1–3 short paragraphs or a list.\n  - NOT include the chapter title nor any <h1>/<h2>; the workflow will render the chapter title as an <h2>.\n  - **CRITICAL LINK STRATEGY for the ENTIRE article (all chapters combined):**\n    - Maximum 4 links total across the entire article\n    - 1 link MUST point to the official website of the main topic/technology/service being discussed\n    - Remaining 3 links should go to Wikipedia or other authoritative sources\n    - Only include links if you are 100% certain the URL exists\n    - Better to have fewer links than broken links\n    - Hyperlink domains allowed: en.wikipedia.org/wiki/*, official website of the topic (e.g., claude.ai for Claude, openai.com for OpenAI)\n  - **Do not invent URLs. If a suitable page cannot be identified with high confidence, include no link.**\n- \"introduction\" and \"conclusions\": use <p> only. DO NOT include any links in introduction or conclusions.\n- No Markdown anywhere. Cross-check key facts with Wikipedia when relevant; do not mention Wikipedia explicitly."
              }
            ]
          },
          "jsonOutput": true,
          "options": {}
        },
        "id": "630f01af-8343-40ab-8e9e-cc2fa9339ce4",
        "name": "Create post title and structure",
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "position": [
          592,
          208
        ],
        "typeVersion": 1.8,
        "credentials": {
          "openAiApi": {
            "id": "OyAnM4ykrgDRQ4Jq",
            "name": "OpenAI_API_Zetko"
          }
        }
      },
      {
        "parameters": {},
        "id": "186e3bc7-7ea4-4c15-b4eb-44da272fcc86",
        "name": "Wikipedia",
        "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
        "position": [
          688,
          480
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "9523cb70-8467-4e65-9ecf-65cb91c29cb7",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                },
                "leftValue": "={{ $json.message.content.title }}",
                "rightValue": ""
              },
              {
                "id": "d754869d-10fe-4348-807f-2e1bc82a7b41",
                "operator": {
                  "type": "array",
                  "operation": "lengthGt",
                  "rightType": "number"
                },
                "leftValue": "={{ $json.message.content.chapters }}",
                "rightValue": 0
              },
              {
                "id": "79a60fc1-66f8-4cfc-a61b-de528dfb7978",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                },
                "leftValue": "={{ $json.message.content.subtitle }}",
                "rightValue": ""
              },
              {
                "id": "c0c44d88-1c3d-44ba-9030-6e8fa9f2860f",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                },
                "leftValue": "={{ $json.message.content.introduction }}",
                "rightValue": ""
              },
              {
                "id": "338cd7e0-d2b8-40f4-838d-3aaf618268d2",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                },
                "leftValue": "={{ $json.message.content.conclusions }}",
                "rightValue": ""
              },
              {
                "id": "76eb9ba1-7675-403c-9287-ac1319791ffe",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                },
                "leftValue": "={{ $json.message.content.imagePrompt }}",
                "rightValue": ""
              }
            ]
          },
          "options": {}
        },
        "id": "8086cfc2-73b3-4f03-bf57-fa6f75341e0a",
        "name": "Check data consistency",
        "type": "n8n-nodes-base.if",
        "position": [
          1024,
          208
        ],
        "typeVersion": 2.2
      },
      {
        "parameters": {
          "operation": "completion",
          "respondWith": "showText",
          "responseText": "There was a problem creating the article, please refresh the form and try again!"
        },
        "id": "7a124ee0-42ed-4a59-95e8-4e5208149939",
        "name": "Form",
        "type": "n8n-nodes-base.form",
        "position": [
          1344,
          464
        ],
        "webhookId": "ae5177cb-b11d-47f5-a52d-c2794bce80f0",
        "typeVersion": 1
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineByPosition",
          "options": {}
        },
        "id": "16e2012e-036c-44e8-ae0e-0174389c66ec",
        "name": "Merge chapters title and text",
        "type": "n8n-nodes-base.merge",
        "position": [
          1984,
          320
        ],
        "typeVersion": 3
      },
      {
        "parameters": {
          "jsCode": "let article = \"\";\n\n// --- helper: odstraní ```html/``` a případné <pre><code> obaly, rozkóduje &lt;h3&gt; ---\nfunction clean(html) {\n  if (!html) return \"\";\n  let s = String(html);\n\n  // normalizace „chytrých“ uvozovek, kdyby se objevily kolem backticků\n  s = s.replace(/[“”„]/g, '\"');\n\n  // odstraň code fences ```lang a závěrečné ```\n  s = s.replace(/(^|\\n)\\s*`{3,}\\s*[a-z]*\\s*\\n?/gi, \"\\n\");\n  s = s.replace(/\\n?\\s*`{3,}\\s*($|\\n)/gi, \"\\n\");\n\n  // pro jistotu zruš i případné <pre>/<code> obaly\n  s = s.replace(/<\\/?pre[^>]*>/gi, \"\").replace(/<\\/?code[^>]*>/gi, \"\");\n\n  // rozkóduj nejčastější entity, pokud by přišly escapované\n  s = s.replace(/&lt;/g, \"<\").replace(/&gt;/g, \">\").replace(/&amp;/g, \"&\");\n\n  // Optionally drop <a> tags with unknown domains, keep anchor text\ns = s.replace(/<a\\s+[^>]*href=[\"'](?!https?:\\/\\/(?:en\\.wikipedia\\.org|ai\\.google\\.dev|deepmind\\.google|developers\\.google\\.com|cloud\\.google\\.com)\\/)[^\"']*[\"'][^>]*>(.*?)<\\/a>/gi, '$1');\nreturn s.trim();\n\n}\n\n// Introduction\nconst intro = clean($('Create post title and structure').first().json.message.content.introduction);\narticle += intro;\n\n// Chapters\nfor (const item of $input.all()) {\n  const title = item.json.title || \"\";\n  const body  = clean(item.json.message?.content);\n  article += `<h2>${title}</h2>` + body;\n}\n\n// Conclusions\narticle += `<h2>Conclusions</h2>`;\nconst conclusions = clean($('Create post title and structure').first().json.message.content.conclusions);\narticle += conclusions;\n\nreturn [{ article }];\n"
        },
        "id": "e54b403b-5d42-4b80-b1b3-75ed1803bed0",
        "name": "Final article text",
        "type": "n8n-nodes-base.code",
        "position": [
          2160,
          208
        ],
        "typeVersion": 2
      },
      {
        "parameters": {
          "title": "={{ $('Create post title and structure').first().json.message.content.title }}",
          "additionalFields": {
            "content": "={{ $json.article }}",
            "status": "draft"
          }
        },
        "id": "0898a131-0de3-475b-8230-242c68b4e6ef",
        "name": "Post on Wordpress",
        "type": "n8n-nodes-base.wordpress",
        "position": [
          2448,
          208
        ],
        "typeVersion": 1,
        "credentials": {
          "wordpressApi": {
            "id": "flqY5YMCvIpv5fpx",
            "name": "Processgate.ai_propojeni"
          }
        }
      },
      {
        "parameters": {
          "resource": "image",
          "prompt": "=Generate a photographic image to be used as the cover image for the article titled: {{ $('Create post title and structure').first().json.message.content.title }}. This is the prompt for the image: {{ $('Create post title and structure').first().json.message.content.imagePrompt }}, photography, realistic, sigma 85mm f/1.4",
          "options": {
            "size": "1792x1024",
            "style": "natural"
          }
        },
        "id": "31bbfa3a-00a8-4f81-b0d4-afff85e7ce5b",
        "name": "Generate featured image",
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "position": [
          2752,
          208
        ],
        "typeVersion": 1.8,
        "credentials": {
          "openAiApi": {
            "id": "OyAnM4ykrgDRQ4Jq",
            "name": "OpenAI_API_Zetko"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://processgate.ai/wp-json/wp/v2/media",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "wordpressApi",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Disposition",
                "value": "=attachment; filename=\"featured-image.png\""
              },
              {
                "name": "Content-Type",
                "value": "= $binary.data.mimeType || 'image/png'"
              }
            ]
          },
          "sendBody": true,
          "contentType": "binaryData",
          "inputDataFieldName": "data",
          "options": {}
        },
        "id": "a7f07070-b49a-49e2-9ca6-ce297efd77fd",
        "name": "Upload media",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          3056,
          208
        ],
        "typeVersion": 4.2,
        "credentials": {
          "wordpressApi": {
            "id": "flqY5YMCvIpv5fpx",
            "name": "Processgate.ai_propojeni"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://processgate.ai/wp-json/wp/v2/posts/{{ $('Post on Wordpress').first().json.id }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "wordpressApi",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "featured_media",
                "value": "={{ $json.id }}"
              }
            ]
          },
          "options": {}
        },
        "id": "574cc7d6-9887-49b5-af36-346c67dbb441",
        "name": "Set image ID for the post",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          3392,
          208
        ],
        "typeVersion": 4.2,
        "credentials": {
          "wordpressApi": {
            "id": "flqY5YMCvIpv5fpx",
            "name": "Processgate.ai_propojeni"
          }
        }
      },
      {
        "parameters": {
          "operation": "completion",
          "completionTitle": "Created Successfully!",
          "completionMessage": "=The article {{ $json.title.rendered }} was correctly created as a draft on WordPress!",
          "options": {}
        },
        "id": "332a126b-e4c2-42c4-9559-700184de564f",
        "name": "Form1",
        "type": "n8n-nodes-base.form",
        "position": [
          3632,
          208
        ],
        "webhookId": "b738cf01-5868-4ea9-8f54-d6f3cdaac8f6",
        "typeVersion": 1
      }
    ],
    "connections": {
      "OpenAI": {
        "main": [
          [
            {
              "node": "Merge chapters title and text",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Settings": {
        "main": [
          [
            {
              "node": "Create post title and structure",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out": {
        "main": [
          [
            {
              "node": "OpenAI",
              "type": "main",
              "index": 0
            },
            {
              "node": "Merge chapters title and text",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Wikipedia": {
        "ai_tool": [
          [
            {
              "node": "Create post title and structure",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Upload media": {
        "main": [
          [
            {
              "node": "Set image ID for the post",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Post on Wordpress": {
        "main": [
          [
            {
              "node": "Generate featured image",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Final article text": {
        "main": [
          [
            {
              "node": "Post on Wordpress",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "On form submission": {
        "main": [
          [
            {
              "node": "Settings",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check data consistency": {
        "main": [
          [
            {
              "node": "Split Out",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Form",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate featured image": {
        "main": [
          [
            {
              "node": "Upload media",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set image ID for the post": {
        "main": [
          [
            {
              "node": "Form1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge chapters title and text": {
        "main": [
          [
            {
              "node": "Final article text",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create post title and structure": {
        "main": [
          [
            {
              "node": "Check data consistency",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Jiri Zmidloch",
    "name": null,
    "description": null
  },
  "activeVersionId": "27b1c7f9-7ddb-4945-8be1-706a44703a0d",
  "connections": {
    "OpenAI": {
      "main": [
        [
          {
            "node": "Merge chapters title and text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Settings": {
      "main": [
        [
          {
            "node": "Create post title and structure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge chapters title and text",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "Create post title and structure",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Upload media": {
      "main": [
        [
          {
            "node": "Set image ID for the post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post on Wordpress": {
      "main": [
        [
          {
            "node": "Generate featured image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final article text": {
      "main": [
        [
          {
            "node": "Post on Wordpress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check data consistency": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate featured image": {
      "main": [
        [
          {
            "node": "Upload media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set image ID for the post": {
      "main": [
        [
          {
            "node": "Form1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge chapters title and text": {
      "main": [
        [
          {
            "node": "Final article text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create post title and structure": {
      "main": [
        [
          {
            "node": "Check data consistency",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-09T21:18:51.163Z",
  "id": "o4hBNs1xan9GFX5Y",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Process Gate AI - Write a WordPress post with AI - Wiki - final",
  "nodes": [
    {
      "parameters": {
        "content": "## Data check",
        "height": 371.765663140765,
        "width": 301.3874093724939,
        "color": 4
      },
      "id": "19c52e92-9b14-4182-8b7a-6fb594fc22d7",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        944,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Checks that the data returned by OpenAI is correct",
        "height": 80,
        "width": 272.8190508599808,
        "color": 7
      },
      "id": "b445300d-cb64-47d5-bea8-3fd8121298b7",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        960,
        64
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Draft on WordPress",
        "height": 392,
        "width": 302,
        "color": 5
      },
      "id": "e596233b-c8de-4874-83bc-73663b8ca658",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2352,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "The article is posted as a draft on WordPress",
        "height": 80,
        "width": 254.77269221373095,
        "color": 7
      },
      "id": "c460b1df-284d-4d57-8efd-61eb4d6c2634",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2368,
        80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Featured image",
        "height": 389,
        "width": 678,
        "color": 3
      },
      "id": "676d543b-d3f8-45a2-939b-ca8c950bae3e",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2672,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "The image is generated with Dall-E, uploaded to WordPress, and then connected to the post as its featured image",
        "height": 80,
        "width": 517.9195082760601,
        "color": 7
      },
      "id": "4d4b164f-4a58-4029-9a6b-3878d32f69c0",
      "name": "Sticky Note11",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2688,
        80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Starting from the given keywords, generates the article title, subtitle, chapters, and image prompt",
        "height": 80,
        "width": 287.370178643191,
        "color": 7
      },
      "id": "6b3cf9b7-d62b-4ce4-a21b-36404afedbb8",
      "name": "Sticky Note12",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        560,
        64
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Article structure",
        "height": 371,
        "width": 360,
        "color": 6
      },
      "id": "82e2d52d-9d38-4cec-8be3-1983a603f794",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        544,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## User form",
        "height": 370.512611879577,
        "width": 239.97343293577688,
        "color": 7
      },
      "id": "3d457664-4e9e-4ca1-9139-010adbc4e66f",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "The user triggers the post creation",
        "height": 80,
        "width": 199.7721486302032,
        "color": 7
      },
      "id": "badddf84-6186-44ff-a248-ca1fe29ab78b",
      "name": "Sticky Note13",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        32,
        64
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## User feedback",
        "height": 391,
        "width": 220,
        "color": 7
      },
      "id": "08cddca9-01fc-4db2-b45d-e5b377491d06",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3360,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Final confirmation to the user",
        "height": 80,
        "width": 183.38125554060056,
        "color": 7
      },
      "id": "0f735b4b-32b2-4fb8-baf2-f8208d2f970d",
      "name": "Sticky Note14",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3392,
        80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nUser is notified to try again since some data is missing",
        "height": 288.4116890365125,
        "width": 281.2716777103785,
        "color": 7
      },
      "id": "49169414-8d3d-416c-8112-d5ae62d7eb18",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1280,
        400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nWikipedia is used to write the article",
        "height": 275,
        "width": 340,
        "color": 7
      },
      "id": "07b30757-8103-4733-9722-a0ac11cf1b9c",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        544,
        400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Settings",
        "height": 370.512611879577,
        "width": 226.71615243495023,
        "color": 2
      },
      "id": "bedab8b4-8b6a-4348-99eb-a3f6e4658f9e",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        288,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Set the URL of your WordPress here",
        "height": 80,
        "width": 179.37633247508526,
        "color": 7
      },
      "id": "912e4e3e-a1dc-4316-b2e2-2ca08dcfcd78",
      "name": "Sticky Note15",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        304,
        64
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Chapters split",
        "height": 370.512611879577,
        "width": 225.47038972308582,
        "color": 2
      },
      "id": "1dc682f4-f6ae-4dd2-96ac-3713a0189e26",
      "name": "Sticky Note16",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1280,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Splits out chapter contents from the previous node",
        "height": 80,
        "width": 185.6051460344073,
        "color": 7
      },
      "id": "8da9639f-aab1-41d8-9423-88b0215551cd",
      "name": "Sticky Note17",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1312,
        64
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Writes the text for each chapter",
        "height": 80,
        "width": 287.370178643191,
        "color": 7
      },
      "id": "2fa92c91-fa99-4140-b650-a79dc0a5d43f",
      "name": "Sticky Note18",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1568,
        64
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Chapters text",
        "height": 370.512611879577,
        "width": 333.40108076977657,
        "color": 6
      },
      "id": "616080cb-8184-4005-8d38-157c6aa7b24c",
      "name": "Sticky Note19",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1552,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Content preparation",
        "height": 514.2177254645992,
        "width": 420.4253447940705,
        "color": 4
      },
      "id": "9171a99a-72c3-4c9b-90c1-6cae27914c11",
      "name": "Sticky Note21",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1904,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Merges the content and prepare it before sending it to WordPress",
        "height": 80,
        "width": 368.1523541074699,
        "color": 7
      },
      "id": "8926140c-7f9e-48f1-94e0-acae41a5b4d2",
      "name": "Sticky Note22",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1920,
        80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "formTitle": "Create a WordPress post with AI",
        "formDescription": "Fill this form with the required information to create a draft post on WordPress",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Keywords (comma-separated)",
              "requiredField": true
            },
            {
              "fieldLabel": "Number of chapters",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "1"
                  },
                  {
                    "option": "2"
                  },
                  {
                    "option": "3"
                  },
                  {
                    "option": "4"
                  },
                  {
                    "option": "5"
                  },
                  {
                    "option": "6"
                  },
                  {
                    "option": "7"
                  },
                  {
                    "option": "8"
                  },
                  {
                    "option": "9"
                  },
                  {
                    "option": "10"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Max words count",
              "fieldType": "number",
              "requiredField": true
            }
          ]
        },
        "responseMode": "lastNode",
        "options": {
          "path": "create-wordpress-post"
        }
      },
      "id": "7bacfe1b-a769-47f5-af94-0c3fb15b17a1",
      "name": "On form submission",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        64,
        208
      ],
      "webhookId": "a1179051-6765-4f8b-87ff-20f39522457e",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "fieldToSplitOut": "message.content.chapters",
        "options": {}
      },
      "id": "554956f9-e8e1-4383-8a15-e26f705077c5",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        1344,
        208
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Write the HTML body for the chapter of the article: {{ $('Create post title and structure').item.json.message.content.title }}, {{ $('Create post title and structure').item.json.message.content.subtitle }}, which covers {{ $('Settings').item.json[\"keywords\"] }}.\n\nThis is the chapter title: {{ $json.title }}.\nThis is the writing prompt for the chapter: {{ $json.prompt }}.\n\nGuidelines:\n- Return ONLY HTML (no JSON, no Markdown, no explanations).\n- DO NOT include the chapter title and DO NOT use <h1> or <h2>. The workflow will render the chapter title as an <h2>.\n- Structure the content into 3–6 sections using <h3> subheadings.\n- After each <h3>, add 1–3 short <p> paragraphs or a concise <ul>/<ol> list (<li> items).\n- Allowed tags: h3, p, ul, ol, li, strong, em, a.\n- **CRITICAL LINK RULES (for the ENTIRE article, not per chapter):**\n  - Maximum 4 hyperlinks in the ENTIRE article (across all chapters)\n  - You are writing chapter {{ $itemIndex + 1 }} of {{ $input.all().length }}\n  - If this is chapter 1: include 1 link to the official website of the main topic (e.g., openai.com for OpenAI article, claude.ai for Claude article)\n  - If this is chapter 2-3: include maximum 1 Wikipedia link if highly relevant\n  - If this is the last chapter: you may add 1 final relevant link if total count is still under 4\n  - Only link to: official website of the topic, en.wikipedia.org/wiki/*\n  - If you are not 100% certain a URL exists, DO NOT link\n- Aim for about {{ Math.round(($('Settings').item.json.words - 120)/ $('Settings').item.json.chapters) }} words.\n- Keep continuity with surrounding chapters and avoid repetition.\n{{ $itemIndex > 0 ? \"- The previous chapter talks about \" + $input.all()[$itemIndex-1].json.title : \"\" }}\n{{ $itemIndex > 0 ? \"- The prompt for the previous chapter is \" + $input.all()[$itemIndex-1].json.prompt : \"\" }}\n{{ $itemIndex < $input.all().length - 1 ? \"- The following chapter will talk about \" + $input.all()[$itemIndex+1].json.title: \"\" }}\n{{ $itemIndex < $input.all().length - 1 ? \"- The prompt for the following chapter is \" + $input.all()[$itemIndex+1].json.prompt : \"\" }}\n- Consider the previous and following chapters when writing the text for this chapter. The text must be coherent with the previous and following chapters.\n- This chapter should not repeat the concepts already exposed in the previous chapter.\n- This chapter is a part of a larger article so don't include an introduction or conclusions. This chapter should merge with the rest of the article."
            }
          ]
        },
        "options": {}
      },
      "id": "db920dc1-2fe6-4267-ae8f-22f932a9d90e",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        1584,
        208
      ],
      "typeVersion": 1.8,
      "credentials": {
        "openAiApi": {
          "id": "OyAnM4ykrgDRQ4Jq",
          "name": "OpenAI_API_Zetko"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c07386d7-9f51-4052-a62d-500e9aff9336",
              "name": "wordpress_url",
              "type": "string",
              "value": "https://processgate.ai/"
            },
            {
              "id": "2bbdd88a-3d66-4407-9b77-32af63f44e11",
              "name": "keywords",
              "type": "string",
              "value": "={{ $json['Keywords (comma-separated)'] }}"
            },
            {
              "id": "4a199e44-1033-446a-a019-e2e1a694009e",
              "name": "chapters",
              "type": "string",
              "value": "={{ $json['Number of chapters'] }}"
            },
            {
              "id": "312d2e97-d1b6-46d9-b2ae-35f7234b5404",
              "name": "words",
              "type": "string",
              "value": "={{ $json['Max words count'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ea740411-cbd0-4029-9746-cf1484c71b23",
      "name": "Settings",
      "type": "n8n-nodes-base.set",
      "position": [
        352,
        208
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5",
          "mode": "list",
          "cachedResultName": "GPT-5"
        },
        "messages": {
          "values": [
            {
              "content": "=Write the title, the subtitle, the chapters details, the introduction, the conclusions, and an image prompt for an SEO-friendly article about these topics:\n{{ $json.keywords }}.\n\nInstructions:\n- Return a single JSON object with fields: \"title\", \"subtitle\", \"introduction\", \"conclusions\", \"imagePrompt\", \"chapters\".\n- **CRITICAL: \"title\" must be an ORIGINAL, SEO-optimized headline, NOT just a repetition of the keywords.**\n  - Create a compelling, click-worthy title that incorporates the keywords naturally\n  - Use power words, numbers, or value propositions when appropriate\n  - Keep it between 50-60 characters for optimal SEO\n  - Examples of good titles:\n    - Keywords: \"AI chatbots, customer service\" → Title: \"How AI Chatbots Are Revolutionizing Customer Service in 2025\"\n    - Keywords: \"machine learning, beginners\" → Title: \"Machine Learning for Beginners: Complete Guide to Getting Started\"\n    - Keywords: \"productivity apps, remote work\" → Title: \"10 Productivity Apps That Will Transform Your Remote Work\"\n  - Make the title engaging and promise value to the reader\n- \"subtitle\" should complement the title and add context (1-2 sentences)\n- \"chapters\" is an array of exactly {{ $json.chapters.toString() }} items; each item has:\n  - \"title\": a concise, reader-facing chapter title (no numbering, no colons).\n  - \"prompt\": clear writing instructions for the chapter body.\n- The \"prompt\" for each chapter MUST explicitly require the writer to:\n  - Output valid HTML only, using these tags: h3, p, ul, ol, li, strong, em, a.\n  - Start with several <h3> subheadings (3–6), each followed by 1–3 short paragraphs or a list.\n  - NOT include the chapter title nor any <h1>/<h2>; the workflow will render the chapter title as an <h2>.\n  - **CRITICAL LINK STRATEGY for the ENTIRE article (all chapters combined):**\n    - Maximum 4 links total across the entire article\n    - 1 link MUST point to the official website of the main topic/technology/service being discussed\n    - Remaining 3 links should go to Wikipedia or other authoritative sources\n    - Only include links if you are 100% certain the URL exists\n    - Better to have fewer links than broken links\n    - Hyperlink domains allowed: en.wikipedia.org/wiki/*, official website of the topic (e.g., claude.ai for Claude, openai.com for OpenAI)\n  - **Do not invent URLs. If a suitable page cannot be identified with high confidence, include no link.**\n- \"introduction\" and \"conclusions\": use <p> only. DO NOT include any links in introduction or conclusions.\n- No Markdown anywhere. Cross-check key facts with Wikipedia when relevant; do not mention Wikipedia explicitly."
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "id": "630f01af-8343-40ab-8e9e-cc2fa9339ce4",
      "name": "Create post title and structure",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        592,
        208
      ],
      "typeVersion": 1.8,
      "credentials": {
        "openAiApi": {
          "id": "OyAnM4ykrgDRQ4Jq",
          "name": "OpenAI_API_Zetko"
        }
      }
    },
    {
      "parameters": {},
      "id": "186e3bc7-7ea4-4c15-b4eb-44da272fcc86",
      "name": "Wikipedia",
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "position": [
        688,
        480
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "9523cb70-8467-4e65-9ecf-65cb91c29cb7",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $json.message.content.title }}",
              "rightValue": ""
            },
            {
              "id": "d754869d-10fe-4348-807f-2e1bc82a7b41",
              "operator": {
                "type": "array",
                "operation": "lengthGt",
                "rightType": "number"
              },
              "leftValue": "={{ $json.message.content.chapters }}",
              "rightValue": 0
            },
            {
              "id": "79a60fc1-66f8-4cfc-a61b-de528dfb7978",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $json.message.content.subtitle }}",
              "rightValue": ""
            },
            {
              "id": "c0c44d88-1c3d-44ba-9030-6e8fa9f2860f",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $json.message.content.introduction }}",
              "rightValue": ""
            },
            {
              "id": "338cd7e0-d2b8-40f4-838d-3aaf618268d2",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $json.message.content.conclusions }}",
              "rightValue": ""
            },
            {
              "id": "76eb9ba1-7675-403c-9287-ac1319791ffe",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $json.message.content.imagePrompt }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "8086cfc2-73b3-4f03-bf57-fa6f75341e0a",
      "name": "Check data consistency",
      "type": "n8n-nodes-base.if",
      "position": [
        1024,
        208
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "operation": "completion",
        "respondWith": "showText",
        "responseText": "There was a problem creating the article, please refresh the form and try again!"
      },
      "id": "7a124ee0-42ed-4a59-95e8-4e5208149939",
      "name": "Form",
      "type": "n8n-nodes-base.form",
      "position": [
        1344,
        464
      ],
      "webhookId": "ae5177cb-b11d-47f5-a52d-c2794bce80f0",
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "16e2012e-036c-44e8-ae0e-0174389c66ec",
      "name": "Merge chapters title and text",
      "type": "n8n-nodes-base.merge",
      "position": [
        1984,
        320
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "jsCode": "let article = \"\";\n\n// --- helper: odstraní ```html/``` a případné <pre><code> obaly, rozkóduje &lt;h3&gt; ---\nfunction clean(html) {\n  if (!html) return \"\";\n  let s = String(html);\n\n  // normalizace „chytrých“ uvozovek, kdyby se objevily kolem backticků\n  s = s.replace(/[“”„]/g, '\"');\n\n  // odstraň code fences ```lang a závěrečné ```\n  s = s.replace(/(^|\\n)\\s*`{3,}\\s*[a-z]*\\s*\\n?/gi, \"\\n\");\n  s = s.replace(/\\n?\\s*`{3,}\\s*($|\\n)/gi, \"\\n\");\n\n  // pro jistotu zruš i případné <pre>/<code> obaly\n  s = s.replace(/<\\/?pre[^>]*>/gi, \"\").replace(/<\\/?code[^>]*>/gi, \"\");\n\n  // rozkóduj nejčastější entity, pokud by přišly escapované\n  s = s.replace(/&lt;/g, \"<\").replace(/&gt;/g, \">\").replace(/&amp;/g, \"&\");\n\n  // Optionally drop <a> tags with unknown domains, keep anchor text\ns = s.replace(/<a\\s+[^>]*href=[\"'](?!https?:\\/\\/(?:en\\.wikipedia\\.org|ai\\.google\\.dev|deepmind\\.google|developers\\.google\\.com|cloud\\.google\\.com)\\/)[^\"']*[\"'][^>]*>(.*?)<\\/a>/gi, '$1');\nreturn s.trim();\n\n}\n\n// Introduction\nconst intro = clean($('Create post title and structure').first().json.message.content.introduction);\narticle += intro;\n\n// Chapters\nfor (const item of $input.all()) {\n  const title = item.json.title || \"\";\n  const body  = clean(item.json.message?.content);\n  article += `<h2>${title}</h2>` + body;\n}\n\n// Conclusions\narticle += `<h2>Conclusions</h2>`;\nconst conclusions = clean($('Create post title and structure').first().json.message.content.conclusions);\narticle += conclusions;\n\nreturn [{ article }];\n"
      },
      "id": "e54b403b-5d42-4b80-b1b3-75ed1803bed0",
      "name": "Final article text",
      "type": "n8n-nodes-base.code",
      "position": [
        2160,
        208
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "title": "={{ $('Create post title and structure').first().json.message.content.title }}",
        "additionalFields": {
          "content": "={{ $json.article }}",
          "status": "draft"
        }
      },
      "id": "0898a131-0de3-475b-8230-242c68b4e6ef",
      "name": "Post on Wordpress",
      "type": "n8n-nodes-base.wordpress",
      "position": [
        2448,
        208
      ],
      "typeVersion": 1,
      "credentials": {
        "wordpressApi": {
          "id": "flqY5YMCvIpv5fpx",
          "name": "Processgate.ai_propojeni"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "=Generate a photographic image to be used as the cover image for the article titled: {{ $('Create post title and structure').first().json.message.content.title }}. This is the prompt for the image: {{ $('Create post title and structure').first().json.message.content.imagePrompt }}, photography, realistic, sigma 85mm f/1.4",
        "options": {
          "size": "1792x1024",
          "style": "natural"
        }
      },
      "id": "31bbfa3a-00a8-4f81-b0d4-afff85e7ce5b",
      "name": "Generate featured image",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        2752,
        208
      ],
      "typeVersion": 1.8,
      "credentials": {
        "openAiApi": {
          "id": "OyAnM4ykrgDRQ4Jq",
          "name": "OpenAI_API_Zetko"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://processgate.ai/wp-json/wp/v2/media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Disposition",
              "value": "=attachment; filename=\"featured-image.png\""
            },
            {
              "name": "Content-Type",
              "value": "= $binary.data.mimeType || 'image/png'"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "id": "a7f07070-b49a-49e2-9ca6-ce297efd77fd",
      "name": "Upload media",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3056,
        208
      ],
      "typeVersion": 4.2,
      "credentials": {
        "wordpressApi": {
          "id": "flqY5YMCvIpv5fpx",
          "name": "Processgate.ai_propojeni"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://processgate.ai/wp-json/wp/v2/posts/{{ $('Post on Wordpress').first().json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "featured_media",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "574cc7d6-9887-49b5-af36-346c67dbb441",
      "name": "Set image ID for the post",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3392,
        208
      ],
      "typeVersion": 4.2,
      "credentials": {
        "wordpressApi": {
          "id": "flqY5YMCvIpv5fpx",
          "name": "Processgate.ai_propojeni"
        }
      }
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Created Successfully!",
        "completionMessage": "=The article {{ $json.title.rendered }} was correctly created as a draft on WordPress!",
        "options": {}
      },
      "id": "332a126b-e4c2-42c4-9559-700184de564f",
      "name": "Form1",
      "type": "n8n-nodes-base.form",
      "position": [
        3632,
        208
      ],
      "webhookId": "b738cf01-5868-4ea9-8f54-d6f3cdaac8f6",
      "typeVersion": 1
    }
  ],
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Prague",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "zVAjJgKV17IWzFP7"
  },
  "shared": [
    {
      "updatedAt": "2025-12-09T21:18:51.163Z",
      "createdAt": "2025-12-09T21:18:51.163Z",
      "role": "workflow:owner",
      "workflowId": "o4hBNs1xan9GFX5Y",
      "projectId": "XqkS7oX8lMj4YbIK"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-11-25T10:02:49.590Z",
      "createdAt": "2025-11-25T10:02:49.590Z",
      "id": "iu8EkneS24SJyD0c",
      "name": "AI"
    },
    {
      "updatedAt": "2025-11-25T10:02:49.586Z",
      "createdAt": "2025-11-25T10:02:49.586Z",
      "id": "GyIzdxr7e6a0DKQ8",
      "name": "Wordpress"
    },
    {
      "updatedAt": "2025-11-25T10:02:49.580Z",
      "createdAt": "2025-11-25T10:02:49.580Z",
      "id": "8ISzcEZnawyH5cnG",
      "name": "Wikipedia"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-12-09T21:33:22.511Z",
  "versionId": "27b1c7f9-7ddb-4945-8be1-706a44703a0d"
}