hetzner-2c-4g/Processgate.ai - Translate CZ_to_EN-nIXfhKHUN0xJidAX.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-01-22T09:41:27.289Z",
    "createdAt": "2026-01-22T09:41:23.693Z",
    "versionId": "50edfc75-9a89-471c-8132-6510348429ef",
    "workflowId": "nIXfhKHUN0xJidAX",
    "nodes": [
      {
        "parameters": {
          "content": "## Wordpress Webhook - Airtable\nKdyž vznikne na webu nový CZ článek, tak tak se vytvoří záznam v Airtable",
          "height": 416,
          "width": 1104,
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          272,
          -576
        ],
        "typeVersion": 1,
        "id": "20a61a61-fc12-4a90-b9d2-aba17a29ae53",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "28f0c6e4-5fcc-4960-917a-f1da7d91eba1",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          368,
          -416
        ],
        "id": "863e53e6-8307-4cb6-9882-2e9e0d8c6a65",
        "name": "Webhook",
        "webhookId": "28f0c6e4-5fcc-4960-917a-f1da7d91eba1"
      },
      {
        "parameters": {
          "operation": "get",
          "postId": "={{ $json.body.post_id }}",
          "options": {}
        },
        "type": "n8n-nodes-base.wordpress",
        "typeVersion": 1,
        "position": [
          752,
          -416
        ],
        "id": "36254957-54a1-49d6-94be-e7292e362526",
        "name": "Get a post",
        "credentials": {
          "wordpressApi": {
            "id": "flqY5YMCvIpv5fpx",
            "name": "Processgate.ai_propojeni"
          }
        }
      },
      {
        "parameters": {
          "operation": "create",
          "base": {
            "__rl": true,
            "value": "app75Y90Vp6abIF1u",
            "mode": "list",
            "cachedResultName": "Překlad CZ-EN processgate.ai",
            "cachedResultUrl": "https://airtable.com/app75Y90Vp6abIF1u"
          },
          "table": {
            "__rl": true,
            "value": "tblAsvbCC7ZvChht8",
            "mode": "list",
            "cachedResultName": "Proces překladu",
            "cachedResultUrl": "https://airtable.com/app75Y90Vp6abIF1u/tblAsvbCC7ZvChht8"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "WP ID": "={{ $json.id }}",
              "Název": "={{ $json.title.rendered }}",
              "Status": "K překladu",
              "URL": "={{ $('Get a post').item.json.link }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "WP ID",
                "displayName": "WP ID",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "URL",
                "displayName": "URL",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Název",
                "displayName": "Název",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Status",
                "displayName": "Status",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "options",
                "options": [
                  {
                    "name": "K překladu",
                    "value": "K překladu"
                  },
                  {
                    "name": "Přeložit",
                    "value": "Přeložit"
                  },
                  {
                    "name": "Přeloženo",
                    "value": "Přeloženo"
                  }
                ],
                "readOnly": false,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.airtable",
        "typeVersion": 2.1,
        "position": [
          1152,
          -432
        ],
        "id": "8009ce26-f44e-4040-9102-b8d82f0686e6",
        "name": "Create a record",
        "credentials": {
          "airtableTokenApi": {
            "id": "112UtIzO07XgrN7A",
            "name": "Airtable - zmidloch@z-agency.cz"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "55e26024-8069-4722-b46e-a5736ff8ab72",
                "leftValue": "={{ $json.body.post.post_type }}",
                "rightValue": "revision",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              },
              {
                "id": "a01f5f20-fded-408e-b68d-bd3873c3cbb9",
                "leftValue": "={{ $json.body.post.post_status }}",
                "rightValue": "publish",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.3,
        "position": [
          560,
          -416
        ],
        "id": "667f76c9-c23f-4a06-94a7-3b1b3fa6b20c",
        "name": "Only Post"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "f553a4b2-9d94-468d-bb29-05757dcf6781",
                "leftValue": "={{ $('Webhook').item.json.body.taxonomies.language.cs.slug }}",
                "rightValue": "cs",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          944,
          -416
        ],
        "id": "28887690-a2dc-4c29-b81b-eea5f7ab4202",
        "name": "Only Czech Language"
      },
      {
        "parameters": {
          "content": "## Translation of Czech Wordpress Post to English\n\n**Airtable** . [Table for Posts and for STATUS change](https://airtable.com/app75Y90Vp6abIF1u/tblAsvbCC7ZvChht8/viwe74zIu1XgCf5sD?blocks=hide)\n\n**Webhook** Wordpress plugin - WP Webhooks (Post Created - only Published an only Post)\n\n**Image** Same image for both posts (HTTP request - Set Image)",
          "height": 928,
          "width": 688,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -464,
          -576
        ],
        "typeVersion": 1,
        "id": "605c5662-6751-448c-9f32-4faa5d28598a",
        "name": "Sticky Note6"
      },
      {
        "parameters": {
          "content": "## Trigger for Translation - Status\n",
          "height": 416,
          "width": 464
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          288,
          -32
        ],
        "typeVersion": 1,
        "id": "e7894502-ade7-4042-bb88-b5e7cdf7dfe2",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "content": "## Get Post - Translate - Format\nPřepínač pošle ščánek do překládajícího agenta na Gemini 3 Pro",
          "height": 528,
          "width": 752
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          800,
          -32
        ],
        "typeVersion": 1,
        "id": "7506504c-6b5d-41d1-9f8e-cf984d2f71ca",
        "name": "Sticky Note3"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "c3e0bf0f-74bd-488d-9ad3-b741742d9b07",
                "leftValue": "={{ $json.fields.Status }}",
                "rightValue": "Přeložit",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          704,
          144
        ],
        "id": "0ee6b32f-0b95-4d58-a351-9f4383a22d9a",
        "name": "Status - Preklad"
      },
      {
        "parameters": {
          "operation": "get",
          "postId": "={{ $json.fields[\"WP ID\"] }}",
          "options": {}
        },
        "type": "n8n-nodes-base.wordpress",
        "typeVersion": 1,
        "position": [
          1072,
          96
        ],
        "id": "91d6238a-bde2-4307-a256-b76ef33d7066",
        "name": "Get Post for Translation",
        "credentials": {
          "wordpressApi": {
            "id": "flqY5YMCvIpv5fpx",
            "name": "Processgate.ai_propojeni"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Přelož a adaptuj následující data WordPress článku z češtiny do angličtiny (US English).\n\nJsi zkušený technologický copywriter a překladatel se specializací na AI, automatizaci, LLM a produktivitu práce. Tvým cílem je vytvořit text, který zní přirozeně, odborně a čtivě, nikoliv jako strojový překlad.\n\n--- VSTUPNÍ DATA ---\nTitle: {{ $json.title.rendered }}\nContent: {{ $json.content.rendered }}\nExcerpt: {{ $json.excerpt.rendered }}\n\n--- INSTRUKCE PRO PŘEKLAD ---\n\n1. ZACHOVÁNÍ STRUKTURY A FORMÁTU (KRITICKÉ):\n   - Musíš striktně dodržet původní HTML strukturu.\n   - Neměň hierarchii nadpisů (pokud je v textu <h2>, musí zůstat <h2>, neměň ho na <h3> ani na tučný text).\n   - Zachovej všechny HTML tagy (<p>, <ul>, <li>, <strong>, <blockquote>, <a>) a atributy (class, id, href) přesně tak, jak jsou. Překládej pouze text uvnitř těchto elementů.\n   - Pokud narazíš na formátování, které nelze v angličtině replikovat 1:1, prioritou je zachovat technickou validitu HTML kódu.\n\n2. STYL, TÓN A LOKALIZACE:\n   - Piš jako expert pro experty. Používej správnou terminologii (např. \"remote work workflows\" místo \"work from home processes\").\n   - Idiomy a fráze: Nepřekládej doslovně. Pokud narazíš na české přísloví, idiom nebo specifický obrat, nahraď ho anglickým ekvivalentem, který dává smysl v kontextu moderních technologií a byznysu. Text musí mít \"flow\".\n\n3. URL SLUG:\n   - Vytvoř SEO-friendly URL slug z anglického nadpisu (pouze malá písmena, čísla a pomlčky, odstraň stop-words).\n\n4. VÝSTUPNÍ FORMÁT:\n   - Vrať POUZE validní JSON objekt.\n   - Žádný markdown (```json), žádný úvodní text.\n   - Dbej na správné \"escapování\" uvozovek uvnitř HTML obsahu, aby byl JSON validní.\n\n--- POŽADOVANÁ STRUKTURA JSON ---\n{\n  \"translated_title\": \"Anglický nadpis\",\n  \"translated_content\": \"Anglický HTML obsah (se zachovanými tagy)\",\n  \"translated_excerpt\": \"Anglický perex\",\n  \"translated_slug\": \"english-slug-example\"\n}",
          "hasOutputParser": true,
          "needsFallback": true,
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3,
        "position": [
          1280,
          96
        ],
        "id": "2e87a56f-029c-46cd-9b87-ccd104489c9f",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "claude-opus-4-5-20251101",
            "mode": "list",
            "cachedResultName": "Claude Opus 4.5"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
        "typeVersion": 1.3,
        "position": [
          1248,
          304
        ],
        "id": "8a0cee57-efd8-4b09-be7e-c063b0bc8ccc",
        "name": "Anthropic Chat Model",
        "credentials": {
          "anthropicApi": {
            "id": "Un8VhObHV3fiqTVr",
            "name": "Anthropic - Translate_To_English"
          }
        }
      },
      {
        "parameters": {
          "title": "={{ $json.translated_title }}",
          "additionalFields": {
            "content": "={{ $json.translated_content }}",
            "slug": "={{ $json.translated_slug }}",
            "categories": "={{ $('Get Post for Translation').item.json.categories }}",
            "tags": "={{ $('Get Post for Translation').item.json.tags }}"
          }
        },
        "type": "n8n-nodes-base.wordpress",
        "typeVersion": 1,
        "position": [
          1920,
          240
        ],
        "id": "d44055f2-18fe-4945-ae7b-b44c7f2b5136",
        "name": "Create a post",
        "credentials": {
          "wordpressApi": {
            "id": "flqY5YMCvIpv5fpx",
            "name": "Processgate.ai_propojeni"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// 1. Získáme textový výstup z AI\nlet aiOutput = $input.item.json.output;\n\n// 2. OČIŠTĚNÍ: Odstraníme \"```json\", \"```\" a případné mezery okolo\n// Tento regulární výraz najde začátek i konec code blocku a smaže ho\nif (typeof aiOutput === 'string') {\n  aiOutput = aiOutput.replace(/^```json/i, '').replace(/^```/, '').replace(/```$/, '').trim();\n  \n  // Pojistka: Pokud AI přidalo nějaký text před nebo za JSON (např. \"Zde je JSON:\"),\n  // najdeme první '{' a poslední '}' a vezmeme jen to mezi tím.\n  const firstBrace = aiOutput.indexOf('{');\n  const lastBrace = aiOutput.lastIndexOf('}');\n  \n  if (firstBrace !== -1 && lastBrace !== -1) {\n    aiOutput = aiOutput.substring(firstBrace, lastBrace + 1);\n  }\n}\n\n// 3. Převedeme na objekt\ntry {\n  return JSON.parse(aiOutput);\n} catch (error) {\n  // Pokud to stále nejde, vyhodíme chybu s výpisem toho, co se nepovedlo parsovat\n  throw new Error(\"Nepodařilo se parsovat JSON. AI vrátilo: \" + aiOutput);\n}"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1712,
          240
        ],
        "id": "9ee2a60b-1565-4fb7-8a64-ca00b27ae0cf",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "=https://processgate.ai/wp-json/wp/v2/posts/{{ $json.id }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "wordpressApi",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"featured_media\": {{ $('Get Post for Translation').item.json.featured_media }}\n}",
          "options": {}
        },
        "id": "219347c3-35ef-47cb-aa62-d34b007f03d3",
        "name": "Set image ID for the post",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          2144,
          240
        ],
        "typeVersion": 4.2,
        "credentials": {
          "wordpressApi": {
            "id": "flqY5YMCvIpv5fpx",
            "name": "Processgate.ai_propojeni"
          }
        }
      },
      {
        "parameters": {
          "content": "## Post Article + Set Featured Image\nSame picture for both languages CZ and EN",
          "height": 432,
          "width": 864
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1664,
          64
        ],
        "typeVersion": 1,
        "id": "3a53df5e-d554-465f-bb79-65ab9e6d3811",
        "name": "Sticky Note7"
      },
      {
        "parameters": {
          "content": "## Airtable Update\nName and URL of new post",
          "height": 432,
          "width": 432
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1264,
          576
        ],
        "typeVersion": 1,
        "id": "ffdc6324-5bda-46a3-9d70-b8b5e5772a43",
        "name": "Sticky Note8"
      },
      {
        "parameters": {
          "operation": "update",
          "postId": "={{ $json.id }}",
          "updateFields": {
            "status": "publish"
          }
        },
        "type": "n8n-nodes-base.wordpress",
        "typeVersion": 1,
        "position": [
          2320,
          240
        ],
        "id": "ba86a01e-347b-47eb-8601-2febb46dc6a7",
        "name": "Publish",
        "credentials": {
          "wordpressApi": {
            "id": "flqY5YMCvIpv5fpx",
            "name": "Processgate.ai_propojeni"
          }
        }
      },
      {
        "parameters": {
          "url": "https://processgate.ai/wp-json/wp/v2/tags",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "wordpressApi",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "include",
                "value": "={{ $('Get Post for Translation').item.json.tags && $('Get Post for Translation').item.json.tags.length > 0 ? $('Get Post for Translation').item.json.tags.join(',') : 0 }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          704,
          752
        ],
        "id": "ad65fa0f-0788-4428-a754-7da07eb7b054",
        "name": "Get CZ Tags",
        "alwaysOutputData": true,
        "credentials": {
          "wordpressApi": {
            "id": "flqY5YMCvIpv5fpx",
            "name": "Processgate.ai_propojeni"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// ... (začátek kódu zůstává stejný: získání ID, categories, tags atd.) ...\n\n// 1. Získání ID\nconst czPostIdRaw = $('Get Post for Translation').item.json.id;\nconst enPostIdRaw = $('Set image ID for the post').item.json.id; \n\nconst czPostId = parseInt(czPostIdRaw);\nconst enPostId = parseInt(enPostIdRaw);\n\n// 2. Kontroly...\nif (!czPostId || isNaN(czPostId)) throw new Error(\"Chybí ID českého článku!\");\nif (!enPostId || isNaN(enPostId)) throw new Error(\"Chybí ID anglického článku!\");\n\nconst langCodeCZ = 'cs'; \nconst langCodeEN = 'en'; \n\n// 3. Mapa překladů\nconst translationsMap = {};\ntranslationsMap[langCodeCZ] = czPostId;\ntranslationsMap[langCodeEN] = enPostId;\n\n// ... (Kód pro kategorie a tagy nechte tak, jak byl) ...\nlet enCategoryIds = [];\n// ... (váš kód pro kategorie) ...\n\n// 4. FINÁLNÍ BODY - ZMĚNA NÁZVU POLE\nconst requestBody = {\n  status: 'publish',\n  \n  // TADY JE ZMĚNA: Používáme náš vlastní název, aby se to nehádalo s Polylangem\n  _n8n_polylang_pair: translationsMap \n};\n\n// Přidání kategorií/tagů\nif (typeof enCategoryIds !== 'undefined' && enCategoryIds.length > 0) requestBody.categories = enCategoryIds;\nif (typeof enTagIds !== 'undefined' && enTagIds.length > 0) requestBody.tags = enTagIds;\n\nreturn {\n  json: {\n    targetPostId: enPostId,\n    body: requestBody\n  }\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          864,
          752
        ],
        "id": "af5baa31-de63-428f-8332-e401f24b704a",
        "name": "Map IDs to EN"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://processgate.ai/wp-json/wp/v2/posts/{{ $json.targetPostId }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "wordpressApi",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify($json.body) }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1024,
          752
        ],
        "id": "1510be4d-0de9-4fd4-b196-45364790f626",
        "name": "Update Post Taxonomies",
        "credentials": {
          "wordpressApi": {
            "id": "flqY5YMCvIpv5fpx",
            "name": "Processgate.ai_propojeni"
          }
        }
      },
      {
        "parameters": {
          "content": "## Categories & Tags Update\n",
          "height": 432,
          "width": 880
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          320,
          576
        ],
        "typeVersion": 1,
        "id": "6a61c76f-b604-4264-ba7d-326891b71585",
        "name": "Sticky Note9"
      },
      {
        "parameters": {
          "url": "https://processgate.ai/wp-json/wp/v2/categories",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "wordpressApi",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "include",
                "value": "={{ $('Get Post for Translation').item.json.categories && $('Get Post for Translation').item.json.categories.length > 0 ? $('Get Post for Translation').item.json.categories.join(',') : 0 }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          528,
          752
        ],
        "id": "0e57d94e-22b1-40a1-b73d-58e386351d0f",
        "name": "Get CZ Categories",
        "alwaysOutputData": true,
        "credentials": {
          "httpHeaderAuth": {
            "id": "iShv4anYkU0xcul0",
            "name": "Header Auth Tabidoo Obchod"
          },
          "wordpressApi": {
            "id": "flqY5YMCvIpv5fpx",
            "name": "Processgate.ai_propojeni"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "base": {
            "__rl": true,
            "value": "app75Y90Vp6abIF1u",
            "mode": "list",
            "cachedResultName": "Překlad CZ-EN processgate.ai",
            "cachedResultUrl": "https://airtable.com/app75Y90Vp6abIF1u"
          },
          "table": {
            "__rl": true,
            "value": "tblAsvbCC7ZvChht8",
            "mode": "list",
            "cachedResultName": "Proces překladu",
            "cachedResultUrl": "https://airtable.com/app75Y90Vp6abIF1u/tblAsvbCC7ZvChht8"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "WP ID": "={{ $('Map IDs to EN').item.json.body._n8n_polylang_pair.cs }}",
              "Status": "Přeloženo",
              "New URL": "={{ $json.link }}",
              "New Name": "={{ $json.title.rendered }}"
            },
            "matchingColumns": [
              "WP ID"
            ],
            "schema": [
              {
                "id": "id",
                "displayName": "id",
                "required": false,
                "defaultMatch": true,
                "display": true,
                "type": "string",
                "readOnly": true,
                "removed": true
              },
              {
                "id": "WP ID",
                "displayName": "WP ID",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "URL",
                "displayName": "URL",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Název",
                "displayName": "Název",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Status",
                "displayName": "Status",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "options",
                "options": [
                  {
                    "name": "K překladu",
                    "value": "K překladu"
                  },
                  {
                    "name": "Přeložit",
                    "value": "Přeložit"
                  },
                  {
                    "name": "Přeloženo",
                    "value": "Přeloženo"
                  }
                ],
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Změna Statusu",
                "displayName": "Změna Statusu",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": true,
                "removed": false
              },
              {
                "id": "New Name",
                "displayName": "New Name",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "New URL",
                "displayName": "New URL",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.airtable",
        "typeVersion": 2.1,
        "position": [
          1392,
          752
        ],
        "id": "41f6cf79-1529-4023-afe8-faadd0bc7964",
        "name": "Update record",
        "credentials": {
          "airtableTokenApi": {
            "id": "112UtIzO07XgrN7A",
            "name": "Airtable - zmidloch@z-agency.cz"
          }
        }
      },
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          },
          "authentication": "airtableTokenApi",
          "baseId": {
            "__rl": true,
            "value": "https://airtable.com/app75Y90Vp6abIF1u/tblAsvbCC7ZvChht8/viwe74zIu1XgCf5sD",
            "mode": "url"
          },
          "tableId": {
            "__rl": true,
            "value": "https://airtable.com/app75Y90Vp6abIF1u/tblAsvbCC7ZvChht8/viwe74zIu1XgCf5sD",
            "mode": "url"
          },
          "triggerField": "Změna Statusu",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.airtableTrigger",
        "typeVersion": 1,
        "position": [
          304,
          160
        ],
        "id": "489e3afe-baa6-420c-b4fb-9fe148440b45",
        "name": "Airtable Trigger",
        "credentials": {
          "airtableTokenApi": {
            "id": "112UtIzO07XgrN7A",
            "name": "Airtable - zmidloch@z-agency.cz"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          480,
          160
        ],
        "id": "3d8b5ca1-5412-413a-8206-e3f0fac4a8ac",
        "name": "Loop Over Items"
      },
      {
        "parameters": {
          "modelName": "models/gemini-flash-latest",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          1088,
          288
        ],
        "id": "2cf8f2ed-1984-4ea3-a7aa-a010e171b945",
        "name": "Google Gemini Chat Model",
        "credentials": {
          "googlePalmApi": {
            "id": "uLXCpqN3fa4ZXZmj",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Only Post",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get a post": {
        "main": [
          [
            {
              "node": "Only Czech Language",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create a record": {
        "main": [
          []
        ]
      },
      "Only Post": {
        "main": [
          [
            {
              "node": "Get a post",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Only Czech Language": {
        "main": [
          [
            {
              "node": "Create a record",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Status - Preklad": {
        "main": [
          [
            {
              "node": "Get Post for Translation",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Post for Translation": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Anthropic Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 1
            }
          ]
        ]
      },
      "Create a post": {
        "main": [
          [
            {
              "node": "Set image ID for the post",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Create a post",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set image ID for the post": {
        "main": [
          [
            {
              "node": "Publish",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Publish": {
        "main": [
          [
            {
              "node": "Get CZ Categories",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get CZ Tags": {
        "main": [
          [
            {
              "node": "Map IDs to EN",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Map IDs to EN": {
        "main": [
          [
            {
              "node": "Update Post Taxonomies",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Post Taxonomies": {
        "main": [
          [
            {
              "node": "Update record",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get CZ Categories": {
        "main": [
          [
            {
              "node": "Get CZ Tags",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Airtable Trigger": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [],
          [
            {
              "node": "Status - Preklad",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update record": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Jiri Zmidloch",
    "name": "Version 50edfc75",
    "description": "",
    "autosaved": false
  },
  "activeVersionId": "50edfc75-9a89-471c-8132-6510348429ef",
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Only Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a post": {
      "main": [
        [
          {
            "node": "Only Czech Language",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a record": {
      "main": [
        []
      ]
    },
    "Only Post": {
      "main": [
        [
          {
            "node": "Get a post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Only Czech Language": {
      "main": [
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status - Preklad": {
      "main": [
        [
          {
            "node": "Get Post for Translation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Post for Translation": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Create a post": {
      "main": [
        [
          {
            "node": "Set image ID for the post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Create a post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set image ID for the post": {
      "main": [
        [
          {
            "node": "Publish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish": {
      "main": [
        [
          {
            "node": "Get CZ Categories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get CZ Tags": {
      "main": [
        [
          {
            "node": "Map IDs to EN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map IDs to EN": {
      "main": [
        [
          {
            "node": "Update Post Taxonomies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Post Taxonomies": {
      "main": [
        [
          {
            "node": "Update record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get CZ Categories": {
      "main": [
        [
          {
            "node": "Get CZ Tags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable Trigger": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Status - Preklad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update record": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-20T22:59:31.468Z",
  "id": "nIXfhKHUN0xJidAX",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Processgate.ai - Translate CZ_to_EN",
  "nodes": [
    {
      "parameters": {
        "content": "## Wordpress Webhook - Airtable\nKdyž vznikne na webu nový CZ článek, tak tak se vytvoří záznam v Airtable",
        "height": 416,
        "width": 1104,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        272,
        -576
      ],
      "typeVersion": 1,
      "id": "20a61a61-fc12-4a90-b9d2-aba17a29ae53",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "28f0c6e4-5fcc-4960-917a-f1da7d91eba1",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        368,
        -416
      ],
      "id": "863e53e6-8307-4cb6-9882-2e9e0d8c6a65",
      "name": "Webhook",
      "webhookId": "28f0c6e4-5fcc-4960-917a-f1da7d91eba1"
    },
    {
      "parameters": {
        "operation": "get",
        "postId": "={{ $json.body.post_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        752,
        -416
      ],
      "id": "36254957-54a1-49d6-94be-e7292e362526",
      "name": "Get a post",
      "credentials": {
        "wordpressApi": {
          "id": "flqY5YMCvIpv5fpx",
          "name": "Processgate.ai_propojeni"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "app75Y90Vp6abIF1u",
          "mode": "list",
          "cachedResultName": "Překlad CZ-EN processgate.ai",
          "cachedResultUrl": "https://airtable.com/app75Y90Vp6abIF1u"
        },
        "table": {
          "__rl": true,
          "value": "tblAsvbCC7ZvChht8",
          "mode": "list",
          "cachedResultName": "Proces překladu",
          "cachedResultUrl": "https://airtable.com/app75Y90Vp6abIF1u/tblAsvbCC7ZvChht8"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "WP ID": "={{ $json.id }}",
            "Název": "={{ $json.title.rendered }}",
            "Status": "K překladu",
            "URL": "={{ $('Get a post').item.json.link }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "WP ID",
              "displayName": "WP ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Název",
              "displayName": "Název",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "K překladu",
                  "value": "K překladu"
                },
                {
                  "name": "Přeložit",
                  "value": "Přeložit"
                },
                {
                  "name": "Přeloženo",
                  "value": "Přeloženo"
                }
              ],
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1152,
        -432
      ],
      "id": "8009ce26-f44e-4040-9102-b8d82f0686e6",
      "name": "Create a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "112UtIzO07XgrN7A",
          "name": "Airtable - zmidloch@z-agency.cz"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "55e26024-8069-4722-b46e-a5736ff8ab72",
              "leftValue": "={{ $json.body.post.post_type }}",
              "rightValue": "revision",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "a01f5f20-fded-408e-b68d-bd3873c3cbb9",
              "leftValue": "={{ $json.body.post.post_status }}",
              "rightValue": "publish",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        560,
        -416
      ],
      "id": "667f76c9-c23f-4a06-94a7-3b1b3fa6b20c",
      "name": "Only Post"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f553a4b2-9d94-468d-bb29-05757dcf6781",
              "leftValue": "={{ $('Webhook').item.json.body.taxonomies.language.cs.slug }}",
              "rightValue": "cs",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        944,
        -416
      ],
      "id": "28887690-a2dc-4c29-b81b-eea5f7ab4202",
      "name": "Only Czech Language"
    },
    {
      "parameters": {
        "content": "## Translation of Czech Wordpress Post to English\n\n**Airtable** . [Table for Posts and for STATUS change](https://airtable.com/app75Y90Vp6abIF1u/tblAsvbCC7ZvChht8/viwe74zIu1XgCf5sD?blocks=hide)\n\n**Webhook** Wordpress plugin - WP Webhooks (Post Created - only Published an only Post)\n\n**Image** Same image for both posts (HTTP request - Set Image)",
        "height": 928,
        "width": 688,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -464,
        -576
      ],
      "typeVersion": 1,
      "id": "605c5662-6751-448c-9f32-4faa5d28598a",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Trigger for Translation - Status\n",
        "height": 416,
        "width": 464
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        288,
        -32
      ],
      "typeVersion": 1,
      "id": "e7894502-ade7-4042-bb88-b5e7cdf7dfe2",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Get Post - Translate - Format\nPřepínač pošle ščánek do překládajícího agenta na Gemini 3 Pro",
        "height": 528,
        "width": 752
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        800,
        -32
      ],
      "typeVersion": 1,
      "id": "7506504c-6b5d-41d1-9f8e-cf984d2f71ca",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c3e0bf0f-74bd-488d-9ad3-b741742d9b07",
              "leftValue": "={{ $json.fields.Status }}",
              "rightValue": "Přeložit",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        704,
        144
      ],
      "id": "0ee6b32f-0b95-4d58-a351-9f4383a22d9a",
      "name": "Status - Preklad"
    },
    {
      "parameters": {
        "operation": "get",
        "postId": "={{ $json.fields[\"WP ID\"] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        1072,
        96
      ],
      "id": "91d6238a-bde2-4307-a256-b76ef33d7066",
      "name": "Get Post for Translation",
      "credentials": {
        "wordpressApi": {
          "id": "flqY5YMCvIpv5fpx",
          "name": "Processgate.ai_propojeni"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Přelož a adaptuj následující data WordPress článku z češtiny do angličtiny (US English).\n\nJsi zkušený technologický copywriter a překladatel se specializací na AI, automatizaci, LLM a produktivitu práce. Tvým cílem je vytvořit text, který zní přirozeně, odborně a čtivě, nikoliv jako strojový překlad.\n\n--- VSTUPNÍ DATA ---\nTitle: {{ $json.title.rendered }}\nContent: {{ $json.content.rendered }}\nExcerpt: {{ $json.excerpt.rendered }}\n\n--- INSTRUKCE PRO PŘEKLAD ---\n\n1. ZACHOVÁNÍ STRUKTURY A FORMÁTU (KRITICKÉ):\n   - Musíš striktně dodržet původní HTML strukturu.\n   - Neměň hierarchii nadpisů (pokud je v textu <h2>, musí zůstat <h2>, neměň ho na <h3> ani na tučný text).\n   - Zachovej všechny HTML tagy (<p>, <ul>, <li>, <strong>, <blockquote>, <a>) a atributy (class, id, href) přesně tak, jak jsou. Překládej pouze text uvnitř těchto elementů.\n   - Pokud narazíš na formátování, které nelze v angličtině replikovat 1:1, prioritou je zachovat technickou validitu HTML kódu.\n\n2. STYL, TÓN A LOKALIZACE:\n   - Piš jako expert pro experty. Používej správnou terminologii (např. \"remote work workflows\" místo \"work from home processes\").\n   - Idiomy a fráze: Nepřekládej doslovně. Pokud narazíš na české přísloví, idiom nebo specifický obrat, nahraď ho anglickým ekvivalentem, který dává smysl v kontextu moderních technologií a byznysu. Text musí mít \"flow\".\n\n3. URL SLUG:\n   - Vytvoř SEO-friendly URL slug z anglického nadpisu (pouze malá písmena, čísla a pomlčky, odstraň stop-words).\n\n4. VÝSTUPNÍ FORMÁT:\n   - Vrať POUZE validní JSON objekt.\n   - Žádný markdown (```json), žádný úvodní text.\n   - Dbej na správné \"escapování\" uvozovek uvnitř HTML obsahu, aby byl JSON validní.\n\n--- POŽADOVANÁ STRUKTURA JSON ---\n{\n  \"translated_title\": \"Anglický nadpis\",\n  \"translated_content\": \"Anglický HTML obsah (se zachovanými tagy)\",\n  \"translated_excerpt\": \"Anglický perex\",\n  \"translated_slug\": \"english-slug-example\"\n}",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1280,
        96
      ],
      "id": "2e87a56f-029c-46cd-9b87-ccd104489c9f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-opus-4-5-20251101",
          "mode": "list",
          "cachedResultName": "Claude Opus 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1248,
        304
      ],
      "id": "8a0cee57-efd8-4b09-be7e-c063b0bc8ccc",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "Un8VhObHV3fiqTVr",
          "name": "Anthropic - Translate_To_English"
        }
      }
    },
    {
      "parameters": {
        "title": "={{ $json.translated_title }}",
        "additionalFields": {
          "content": "={{ $json.translated_content }}",
          "slug": "={{ $json.translated_slug }}",
          "categories": "={{ $('Get Post for Translation').item.json.categories }}",
          "tags": "={{ $('Get Post for Translation').item.json.tags }}"
        }
      },
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        1920,
        240
      ],
      "id": "d44055f2-18fe-4945-ae7b-b44c7f2b5136",
      "name": "Create a post",
      "credentials": {
        "wordpressApi": {
          "id": "flqY5YMCvIpv5fpx",
          "name": "Processgate.ai_propojeni"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Získáme textový výstup z AI\nlet aiOutput = $input.item.json.output;\n\n// 2. OČIŠTĚNÍ: Odstraníme \"```json\", \"```\" a případné mezery okolo\n// Tento regulární výraz najde začátek i konec code blocku a smaže ho\nif (typeof aiOutput === 'string') {\n  aiOutput = aiOutput.replace(/^```json/i, '').replace(/^```/, '').replace(/```$/, '').trim();\n  \n  // Pojistka: Pokud AI přidalo nějaký text před nebo za JSON (např. \"Zde je JSON:\"),\n  // najdeme první '{' a poslední '}' a vezmeme jen to mezi tím.\n  const firstBrace = aiOutput.indexOf('{');\n  const lastBrace = aiOutput.lastIndexOf('}');\n  \n  if (firstBrace !== -1 && lastBrace !== -1) {\n    aiOutput = aiOutput.substring(firstBrace, lastBrace + 1);\n  }\n}\n\n// 3. Převedeme na objekt\ntry {\n  return JSON.parse(aiOutput);\n} catch (error) {\n  // Pokud to stále nejde, vyhodíme chybu s výpisem toho, co se nepovedlo parsovat\n  throw new Error(\"Nepodařilo se parsovat JSON. AI vrátilo: \" + aiOutput);\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1712,
        240
      ],
      "id": "9ee2a60b-1565-4fb7-8a64-ca00b27ae0cf",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://processgate.ai/wp-json/wp/v2/posts/{{ $json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"featured_media\": {{ $('Get Post for Translation').item.json.featured_media }}\n}",
        "options": {}
      },
      "id": "219347c3-35ef-47cb-aa62-d34b007f03d3",
      "name": "Set image ID for the post",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2144,
        240
      ],
      "typeVersion": 4.2,
      "credentials": {
        "wordpressApi": {
          "id": "flqY5YMCvIpv5fpx",
          "name": "Processgate.ai_propojeni"
        }
      }
    },
    {
      "parameters": {
        "content": "## Post Article + Set Featured Image\nSame picture for both languages CZ and EN",
        "height": 432,
        "width": 864
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1664,
        64
      ],
      "typeVersion": 1,
      "id": "3a53df5e-d554-465f-bb79-65ab9e6d3811",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## Airtable Update\nName and URL of new post",
        "height": 432,
        "width": 432
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1264,
        576
      ],
      "typeVersion": 1,
      "id": "ffdc6324-5bda-46a3-9d70-b8b5e5772a43",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "operation": "update",
        "postId": "={{ $json.id }}",
        "updateFields": {
          "status": "publish"
        }
      },
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        2320,
        240
      ],
      "id": "ba86a01e-347b-47eb-8601-2febb46dc6a7",
      "name": "Publish",
      "credentials": {
        "wordpressApi": {
          "id": "flqY5YMCvIpv5fpx",
          "name": "Processgate.ai_propojeni"
        }
      }
    },
    {
      "parameters": {
        "url": "https://processgate.ai/wp-json/wp/v2/tags",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "include",
              "value": "={{ $('Get Post for Translation').item.json.tags && $('Get Post for Translation').item.json.tags.length > 0 ? $('Get Post for Translation').item.json.tags.join(',') : 0 }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        704,
        752
      ],
      "id": "ad65fa0f-0788-4428-a754-7da07eb7b054",
      "name": "Get CZ Tags",
      "alwaysOutputData": true,
      "credentials": {
        "wordpressApi": {
          "id": "flqY5YMCvIpv5fpx",
          "name": "Processgate.ai_propojeni"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ... (začátek kódu zůstává stejný: získání ID, categories, tags atd.) ...\n\n// 1. Získání ID\nconst czPostIdRaw = $('Get Post for Translation').item.json.id;\nconst enPostIdRaw = $('Set image ID for the post').item.json.id; \n\nconst czPostId = parseInt(czPostIdRaw);\nconst enPostId = parseInt(enPostIdRaw);\n\n// 2. Kontroly...\nif (!czPostId || isNaN(czPostId)) throw new Error(\"Chybí ID českého článku!\");\nif (!enPostId || isNaN(enPostId)) throw new Error(\"Chybí ID anglického článku!\");\n\nconst langCodeCZ = 'cs'; \nconst langCodeEN = 'en'; \n\n// 3. Mapa překladů\nconst translationsMap = {};\ntranslationsMap[langCodeCZ] = czPostId;\ntranslationsMap[langCodeEN] = enPostId;\n\n// ... (Kód pro kategorie a tagy nechte tak, jak byl) ...\nlet enCategoryIds = [];\n// ... (váš kód pro kategorie) ...\n\n// 4. FINÁLNÍ BODY - ZMĚNA NÁZVU POLE\nconst requestBody = {\n  status: 'publish',\n  \n  // TADY JE ZMĚNA: Používáme náš vlastní název, aby se to nehádalo s Polylangem\n  _n8n_polylang_pair: translationsMap \n};\n\n// Přidání kategorií/tagů\nif (typeof enCategoryIds !== 'undefined' && enCategoryIds.length > 0) requestBody.categories = enCategoryIds;\nif (typeof enTagIds !== 'undefined' && enTagIds.length > 0) requestBody.tags = enTagIds;\n\nreturn {\n  json: {\n    targetPostId: enPostId,\n    body: requestBody\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        752
      ],
      "id": "af5baa31-de63-428f-8332-e401f24b704a",
      "name": "Map IDs to EN"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://processgate.ai/wp-json/wp/v2/posts/{{ $json.targetPostId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1024,
        752
      ],
      "id": "1510be4d-0de9-4fd4-b196-45364790f626",
      "name": "Update Post Taxonomies",
      "credentials": {
        "wordpressApi": {
          "id": "flqY5YMCvIpv5fpx",
          "name": "Processgate.ai_propojeni"
        }
      }
    },
    {
      "parameters": {
        "content": "## Categories & Tags Update\n",
        "height": 432,
        "width": 880
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        320,
        576
      ],
      "typeVersion": 1,
      "id": "6a61c76f-b604-4264-ba7d-326891b71585",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "url": "https://processgate.ai/wp-json/wp/v2/categories",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "include",
              "value": "={{ $('Get Post for Translation').item.json.categories && $('Get Post for Translation').item.json.categories.length > 0 ? $('Get Post for Translation').item.json.categories.join(',') : 0 }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        528,
        752
      ],
      "id": "0e57d94e-22b1-40a1-b73d-58e386351d0f",
      "name": "Get CZ Categories",
      "alwaysOutputData": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "iShv4anYkU0xcul0",
          "name": "Header Auth Tabidoo Obchod"
        },
        "wordpressApi": {
          "id": "flqY5YMCvIpv5fpx",
          "name": "Processgate.ai_propojeni"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app75Y90Vp6abIF1u",
          "mode": "list",
          "cachedResultName": "Překlad CZ-EN processgate.ai",
          "cachedResultUrl": "https://airtable.com/app75Y90Vp6abIF1u"
        },
        "table": {
          "__rl": true,
          "value": "tblAsvbCC7ZvChht8",
          "mode": "list",
          "cachedResultName": "Proces překladu",
          "cachedResultUrl": "https://airtable.com/app75Y90Vp6abIF1u/tblAsvbCC7ZvChht8"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "WP ID": "={{ $('Map IDs to EN').item.json.body._n8n_polylang_pair.cs }}",
            "Status": "Přeloženo",
            "New URL": "={{ $json.link }}",
            "New Name": "={{ $json.title.rendered }}"
          },
          "matchingColumns": [
            "WP ID"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "WP ID",
              "displayName": "WP ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Název",
              "displayName": "Název",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "K překladu",
                  "value": "K překladu"
                },
                {
                  "name": "Přeložit",
                  "value": "Přeložit"
                },
                {
                  "name": "Přeloženo",
                  "value": "Přeloženo"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Změna Statusu",
              "displayName": "Změna Statusu",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "New Name",
              "displayName": "New Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "New URL",
              "displayName": "New URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1392,
        752
      ],
      "id": "41f6cf79-1529-4023-afe8-faadd0bc7964",
      "name": "Update record",
      "credentials": {
        "airtableTokenApi": {
          "id": "112UtIzO07XgrN7A",
          "name": "Airtable - zmidloch@z-agency.cz"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "authentication": "airtableTokenApi",
        "baseId": {
          "__rl": true,
          "value": "https://airtable.com/app75Y90Vp6abIF1u/tblAsvbCC7ZvChht8/viwe74zIu1XgCf5sD",
          "mode": "url"
        },
        "tableId": {
          "__rl": true,
          "value": "https://airtable.com/app75Y90Vp6abIF1u/tblAsvbCC7ZvChht8/viwe74zIu1XgCf5sD",
          "mode": "url"
        },
        "triggerField": "Změna Statusu",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.airtableTrigger",
      "typeVersion": 1,
      "position": [
        304,
        160
      ],
      "id": "489e3afe-baa6-420c-b4fb-9fe148440b45",
      "name": "Airtable Trigger",
      "credentials": {
        "airtableTokenApi": {
          "id": "112UtIzO07XgrN7A",
          "name": "Airtable - zmidloch@z-agency.cz"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        480,
        160
      ],
      "id": "3d8b5ca1-5412-413a-8206-e3f0fac4a8ac",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "modelName": "models/gemini-flash-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1088,
        288
      ],
      "id": "2cf8f2ed-1984-4ea3-a7aa-a010e171b945",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "uLXCpqN3fa4ZXZmj",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "timezone": "Europe/Prague",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "zVAjJgKV17IWzFP7"
  },
  "shared": [
    {
      "updatedAt": "2025-12-20T22:59:31.468Z",
      "createdAt": "2025-12-20T22:59:31.468Z",
      "role": "workflow:owner",
      "workflowId": "nIXfhKHUN0xJidAX",
      "projectId": "XqkS7oX8lMj4YbIK"
    }
  ],
  "staticData": {
    "node:Airtable Trigger": {
      "lastTimeChecked": "2026-01-24T08:56:50Z"
    }
  },
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2026-01-22T09:41:23.690Z",
  "versionId": "50edfc75-9a89-471c-8132-6510348429ef"
}