hetzner-2c-4g/QRlytics Event Badge Generator-bWtMSGM84u7h1Ff77zQnD.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Badge Generation Form": {
      "main": [
        [
          {
            "node": "Generate Badge Array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Badge Array": {
      "main": [
        [
          {
            "node": "Loop Over Badges",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Badges": {
      "main": [
        [
          {
            "node": "Create QR via API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Summarize Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create QR via API": {
      "main": [
        [
          {
            "node": "Rate Limit Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit Wait": {
      "main": [
        [
          {
            "node": "Download QR Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download QR Image": {
      "main": [
        [
          {
            "node": "Upload to Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Google Drive": {
      "main": [
        [
          {
            "node": "Loop End",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop End": {
      "main": [
        [
          {
            "node": "Loop Over Badges",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Results": {
      "main": [
        [
          {
            "node": "Notify Completion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-02-02T23:47:05.318Z",
  "id": "bWtMSGM84u7h1Ff77zQnD",
  "isArchived": false,
  "meta": null,
  "name": "QRlytics Event Badge Generator",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Generate Event Badges",
        "formDescription": "Create unique QR codes for event badges/wristbands in bulk",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Number of Badges",
              "fieldType": "number",
              "placeholder": "e.g., 5000",
              "requiredField": true
            },
            {
              "fieldLabel": "Event Prefix",
              "placeholder": "e.g., FESTIVAL2026",
              "requiredField": true
            },
            {
              "fieldLabel": "Redirect URL",
              "placeholder": "https://your-event.com/scan",
              "requiredField": true
            },
            {
              "fieldLabel": "Google Drive Folder ID",
              "placeholder": "Folder ID from Google Drive",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "35a6ac77-93fc-4c64-81df-987ba0b2c225",
      "name": "Badge Generation Form",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        288,
        -240
      ],
      "webhookId": "c7329534-a767-4692-a85d-03842c0c563f"
    },
    {
      "parameters": {
        "jsCode": "// Generate array of badge items to create\nconst form = $input.first().json;\nconst count = parseInt(form['Number of Badges']) || 10;\nconst prefix = form['Event Prefix'] || 'BADGE';\nconst redirectUrl = form['Redirect URL'] || 'https://example.com';\nconst folderId = form['Google Drive Folder ID'];\n\n// Generate array of items\nconst badges = [];\nfor (let i = 1; i <= count; i++) {\n  const badgeId = `${prefix}-${String(i).padStart(4, '0')}`;\n  badges.push({\n    index: i,\n    badge_id: badgeId,\n    redirect_url: `${redirectUrl}?badge=${badgeId}`,\n    folder_id: folderId,\n    prefix: prefix,\n    total_count: count\n  });\n}\n\nreturn badges.map(b => ({ json: b }));"
      },
      "id": "bc0c8692-d54a-4aca-a579-9e4f2744dabe",
      "name": "Generate Badge Array",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        -240
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "5fdf98a3-919d-401c-b2ad-f3db137d5262",
      "name": "Loop Over Badges",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        736,
        -240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.qrlytics.eu/v1/qr",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $json.badge_id }}"
            },
            {
              "name": "type",
              "value": "url"
            },
            {
              "name": "content",
              "value": "={{ $json.redirect_url }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ad5c4b5c-630b-44eb-aee0-34acec7b2b2c",
      "name": "Create QR via API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        960,
        -240
      ]
    },
    {
      "parameters": {
        "amount": 0.1
      },
      "id": "2c044086-2806-4347-af94-0f06ebd3e243",
      "name": "Rate Limit Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1168,
        -240
      ],
      "webhookId": "72f5d2ff-80b5-4e81-b5a4-093d00aa0c72"
    },
    {
      "parameters": {
        "url": "={{ $('Create QR via API').item.json.qr_image_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "4d341771-1b30-47de-8ea4-85f24be272ab",
      "name": "Download QR Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1392,
        -240
      ]
    },
    {
      "parameters": {
        "name": "={{ $('Loop Over Badges').item.json.badge_id }}.png",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Loop Over Badges').item.json.folder_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "e468aef5-84c8-4aaa-9f5b-a03a1e64a885",
      "name": "Upload to Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1616,
        -240
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "5882cd69-3e8b-4e63-b3b8-4343c329099e",
      "name": "Loop End",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1840,
        -240
      ]
    },
    {
      "parameters": {
        "jsCode": "// Summarize results\nconst items = $input.all();\nconst first = items[0]?.json || {};\n\nreturn [{\n  json: {\n    success: true,\n    message: `Successfully generated ${items.length} QR codes`,\n    prefix: first.prefix || 'BADGES',\n    total_created: items.length,\n    folder_id: first.folder_id,\n    sample_badge: first.badge_id\n  }\n}];"
      },
      "id": "b0c50496-73e8-44fa-8cb7-1983b2ea174a",
      "name": "Summarize Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2048,
        -240
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "YOUR_SLACK_CHANNEL_ID",
          "mode": "id"
        },
        "text": "=:ticket: *Badge Generation Complete!*\n\n:white_check_mark: Created *{{ $json.total_created }}* QR codes\n:label: Prefix: `{{ $json.prefix }}`\n:file_folder: Saved to Google Drive folder\n\n_Ready for printing!_",
        "otherOptions": {}
      },
      "id": "e27ae3fe-2236-456c-a024-8662069a8f3b",
      "name": "Notify Completion",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        2272,
        -240
      ],
      "webhookId": "e6d6ed2e-4749-4c23-a54f-02b58864e0c7"
    }
  ],
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-02-02T23:47:05.318Z",
      "createdAt": "2026-02-02T23:47:05.318Z",
      "role": "workflow:owner",
      "workflowId": "bWtMSGM84u7h1Ff77zQnD",
      "projectId": "XqkS7oX8lMj4YbIK"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2026-02-02T23:47:03.718Z",
      "createdAt": "2026-02-02T23:47:03.718Z",
      "id": "ZirZUhiYHB43VIYg",
      "name": "API"
    },
    {
      "updatedAt": "2026-02-02T23:47:03.717Z",
      "createdAt": "2026-02-02T23:47:03.717Z",
      "id": "uRz9lYtCobGZmFD7",
      "name": "Badge Generator"
    },
    {
      "updatedAt": "2026-02-02T23:47:03.661Z",
      "createdAt": "2026-02-02T23:47:03.661Z",
      "id": "wZoFlvt56BRYRpC7",
      "name": "Event"
    },
    {
      "updatedAt": "2026-02-02T21:52:10.331Z",
      "createdAt": "2026-02-02T21:52:10.331Z",
      "id": "oF8e5bd7fSdXLo6C",
      "name": "QRlytics"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-02-02T23:47:05.318Z",
  "versionId": "4fa3f9e6-f993-42ea-81d0-9d9fc4e2feae"
}