hetzner-2c-4g/Qrlytics Blog Generator-V0mH3i0KVXn5IsJUQCWfB.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set Scheduled Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Set Webhook Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Scheduled Source": {
      "main": [
        [
          {
            "node": "Merge Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Webhook Source": {
      "main": [
        [
          {
            "node": "Merge Sources",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Sources": {
      "main": [
        [
          {
            "node": "Fetch Existing Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Existing Articles": {
      "main": [
        [
          {
            "node": "Determine Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Determine Config": {
      "main": [
        [
          {
            "node": "Tavily Research",
            "type": "main",
            "index": 0
          },
          {
            "node": "Perplexity Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tavily Research": {
      "main": [
        [
          {
            "node": "Aggregate Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Perplexity Research": {
      "main": [
        [
          {
            "node": "Aggregate Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Research": {
      "main": [
        [
          {
            "node": "Content Planner Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Content Planner Agent": {
      "main": [
        [
          {
            "node": "Parse Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Plan": {
      "main": [
        [
          {
            "node": "Content Writer Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Content Writer Agent": {
      "main": [
        [
          {
            "node": "Fetch Published Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Published Articles": {
      "main": [
        [
          {
            "node": "Internal Linking Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Internal Linking Agent": {
      "main": [
        [
          {
            "node": "Process Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Content": {
      "main": [
        [
          {
            "node": "Save to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Supabase": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Content Planner Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Planner Fallback": {
      "ai_languageModel": [
        [
          {
            "node": "Content Planner Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Content Writer Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Planner Fallback1": {
      "ai_languageModel": [
        [
          {
            "node": "Content Writer Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "OpenRouter Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Internal Linking Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Planner Fallback2": {
      "ai_languageModel": [
        [
          {
            "node": "Internal Linking Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-28T22:41:25.234Z",
  "id": "V0mH3i0KVXn5IsJUQCWfB",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Qrlytics Blog Generator",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1,4"
            }
          ]
        }
      },
      "id": "caf6c157-f72e-43bf-aa4c-cc61c074b096",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1072,
        464
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "qrlytics-blog-generate",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "e32b432b-843a-4305-8082-ac38ea6968bb",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1072,
        688
      ],
      "webhookId": "qrlytics-blog-generate"
    },
    {
      "parameters": {
        "content": "## Qrlytics Blog Generator\n\n**Triggers:**\n- Schedule: Mon + Thu @ 8:00 AM\n- Webhook: One-time generation\n\n**Pipeline:**\n1. Research (Tavily + Perplexity)\n2. Content Planning (AI Agent)\n3. Article Writing (AI Agent)\n4. Internal Linking (3 links)\n5. QRlytics Promotion\n6. Save to Supabase\n\n**Models:**\n- Primary: Claude Sonnet 4\n- Fallback: Gemini 2.0 Flash",
        "height": 460,
        "width": 320,
        "color": 6
      },
      "id": "7b5fec87-15a7-4ff3-8fa1-9228050da46f",
      "name": "Info",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1472,
        288
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "source",
              "name": "source",
              "value": "scheduled",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c63b33ff-a103-4723-a425-b9d052f4b263",
      "name": "Set Scheduled Source",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -848,
        464
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "source",
              "name": "source",
              "value": "webhook",
              "type": "string"
            },
            {
              "id": "articleId",
              "name": "articleId",
              "value": "={{ $json.body?.articleId || $json.articleId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "74b3659d-99a1-4927-8b26-7f0c33ddc795",
      "name": "Set Webhook Source",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -848,
        688
      ]
    },
    {
      "parameters": {},
      "id": "e5cf9ba2-7f28-4369-b667-091efa16d3b0",
      "name": "Merge Sources",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -624,
        560
      ]
    },
    {
      "parameters": {
        "url": "https://supabase-zagency-u62265.vm.elestio.app/rest/v1/blog_articles",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "id,title,slug,article_type,status,primary_keywords"
            },
            {
              "name": "status",
              "value": "neq.archived"
            },
            {
              "name": "limit",
              "value": "50"
            }
          ]
        },
        "options": {}
      },
      "id": "9779c9eb-1d44-4ab5-a773-a2bdcf2ba913",
      "name": "Fetch Existing Articles",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -400,
        560
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "iShv4anYkU0xcul0",
          "name": "Header Auth Tabidoo Obchod"
        },
        "supabaseApi": {
          "id": "BI8O6iiU4BpDylT5",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const articles = $input.first().json;\nconst source = $('Merge Sources').first().json;\n\nconst articleTypes = ['hot_news', 'tips', 'comparison', 'tutorial', 'case_study', 'event', 'deep_dive', 'beginners_guide', 'trends', 'tool_review'];\nconst typeCounts = {};\narticleTypes.forEach(t => typeCounts[t] = articles.filter(a => a.article_type === t).length);\n\nlet selectedType = articleTypes[0];\nlet minCount = Infinity;\narticleTypes.forEach(t => { if (typeCounts[t] < minCount) { minCount = typeCounts[t]; selectedType = t; }});\n\nconst topics = [\n  'QR code marketing strategies for small businesses',\n  'GPS tracking and location analytics best practices', \n  'Treasure hunting apps and QR code integration',\n  'Geocaching technology trends',\n  'Campaign tracking with QR codes',\n  'QR codes for restaurant menus',\n  'Event marketing with dynamic QR codes',\n  'Retail analytics using QR technology'\n];\n\nreturn {\n  json: {\n    selectedType,\n    suggestedTopic: topics[Math.floor(Math.random() * topics.length)],\n    existingTitles: articles.map(a => a.title).slice(0, 15),\n    source: source.source\n  }\n};"
      },
      "id": "3c2246a4-f90d-46c1-93aa-09c22c0b2a32",
      "name": "Determine Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        560
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "tavilyApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"{{ $json.suggestedTopic }} 2025\",\n  \"search_depth\": \"advanced\",\n  \"max_results\": 8\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "bb2f06dc-0b48-457c-8a2d-b0664de7a2b7",
      "name": "Tavily Research",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        48,
        464
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "iShv4anYkU0xcul0",
          "name": "Header Auth Tabidoo Obchod"
        },
        "tavilyApi": {
          "id": "KmiWEKpArgJSNmSk",
          "name": "Tavily account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "perplexityApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar-pro\",\n  \"messages\": [{\"role\": \"user\", \"content\": \"Research: {{ $('Determine Config').item.json.suggestedTopic }}. Provide keywords, audience insights, and key angles.\"}],\n  \"max_tokens\": 2000\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "1f246c83-99f1-476d-b1fe-f5532217af7f",
      "name": "Perplexity Research",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        48,
        672
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "iShv4anYkU0xcul0",
          "name": "Header Auth Tabidoo Obchod"
        },
        "perplexityApi": {
          "id": "PqFh65cqJjshoUgd",
          "name": "Perplexity account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const config = $('Determine Config').first().json;\nconst tavily = $('Tavily Research').first().json;\nconst perplexity = $('Perplexity Research').first().json;\n\nreturn {\n  json: {\n    articleType: config.selectedType,\n    topic: config.suggestedTopic,\n    existingTitles: config.existingTitles,\n    research: {\n      tavily: (tavily.results || []).slice(0, 5).map(r => ({title: r.title, content: r.content?.substring(0, 400)})),\n      perplexity: perplexity.choices?.[0]?.message?.content || ''\n    }\n  }\n};"
      },
      "id": "78f948b8-0f22-4613-9aea-fef0f555a28a",
      "name": "Aggregate Research",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        560
      ]
    },
    {
      "parameters": {
        "needsFallback": true,
        "options": {
          "systemMessage": "You are an SEO content strategist. Create article plans in valid JSON format only."
        }
      },
      "id": "3b655c69-d418-4c6d-b0f3-827bb12737a9",
      "name": "Content Planner Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        432,
        560
      ]
    },
    {
      "parameters": {
        "options": {
          "maxOutputTokens": 4096,
          "temperature": 0.4
        }
      },
      "id": "6c8a1623-72cd-4581-b529-4ec9c59cd57b",
      "name": "Gemini Planner Fallback",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        432,
        768
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "uLXCpqN3fa4ZXZmj",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nlet plan;\ntry {\n  const cleaned = (typeof input.output === 'string') ? input.output.replace(/```json\\n?/g, '').replace(/```/g, '').trim() : input.output;\n  plan = typeof cleaned === 'string' ? JSON.parse(cleaned) : cleaned;\n} catch (e) {\n  plan = {title: 'Marketing Article', slug: 'article-' + Date.now(), excerpt: 'Learn about marketing.', primaryKeywords: ['marketing'], outline: [{h2: 'Introduction'}]};\n}\nconst research = $('Aggregate Research').first().json;\nreturn {json: {plan, articleType: research.articleType, research: research.research}};"
      },
      "id": "c7495149-7a22-411d-812b-b2ccbe764d95",
      "name": "Parse Plan",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        560
      ]
    },
    {
      "parameters": {
        "needsFallback": true,
        "options": {
          "systemMessage": "You are an expert blog writer. Write comprehensive, SEO-optimized articles in Markdown format with ## and ### headings."
        }
      },
      "id": "08ca5337-d4be-4734-9a1b-8e3e9b7ae523",
      "name": "Content Writer Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        928,
        560
      ]
    },
    {
      "parameters": {
        "url": "https://supabase-zagency-u62265.vm.elestio.app/rest/v1/blog_articles",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "id,title,slug,excerpt"
            },
            {
              "name": "status",
              "value": "eq.published"
            },
            {
              "name": "limit",
              "value": "10"
            }
          ]
        },
        "options": {}
      },
      "id": "5a0175c6-5eba-4ddd-bf90-ac499ab2316a",
      "name": "Fetch Published Articles",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1216,
        560
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "iShv4anYkU0xcul0",
          "name": "Header Auth Tabidoo Obchod"
        },
        "supabaseApi": {
          "id": "BI8O6iiU4BpDylT5",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "needsFallback": true,
        "options": {
          "systemMessage": "You are an SEO expert. Add 3 internal links [text](/blog/slug) and 1-2 natural QRlytics mentions to articles."
        }
      },
      "id": "b3e1f9aa-43ed-4b21-a960-c090840b776d",
      "name": "Internal Linking Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1440,
        592
      ]
    },
    {
      "parameters": {
        "jsCode": "const plan = $('Parse Plan').first().json.plan;\nconst content = $('Internal Linking Agent').first().json.output;\nconst wordCount = content.split(/\\s+/).length;\nconst links = (content.match(/\\[([^\\]]+)\\]\\(\\/blog\\/([^)]+)\\)/g) || []).map(m => {\n  const p = m.match(/\\[([^\\]]+)\\]\\(\\/blog\\/([^)]+)\\)/);\n  return p ? {anchor: p[1], slug: p[2]} : null;\n}).filter(Boolean);\n\nreturn {json: {\n  title: plan.title,\n  slug: plan.slug,\n  excerpt: plan.excerpt || plan.metaDescription,\n  content,\n  meta_title: plan.metaTitle || plan.title,\n  meta_description: plan.metaDescription || plan.excerpt,\n  primary_keywords: plan.primaryKeywords || [],\n  secondary_keywords: plan.secondaryKeywords || [],\n  key_takeaways: plan.keyPoints?.slice(0, 5) || [],\n  outline: plan.outline,\n  word_count: wordCount,\n  reading_time_minutes: Math.ceil(wordCount / 200),\n  mentions_qrlytics: content.toLowerCase().includes('qrlytics'),\n  internal_links: links,\n  article_type: $('Parse Plan').first().json.articleType,\n  status: 'review'\n}};"
      },
      "id": "73e20e7f-6860-4615-866c-2f7318a83262",
      "name": "Process Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1744,
        592
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://supabase-zagency-u62265.vm.elestio.app/rest/v1/blog_articles",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "d453f760-5e04-4b4c-bb24-ea55e8c6a70b",
      "name": "Save to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1968,
        592
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "iShv4anYkU0xcul0",
          "name": "Header Auth Tabidoo Obchod"
        },
        "supabaseApi": {
          "id": "BI8O6iiU4BpDylT5",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": true, \"articleId\": \"{{ $json[0]?.id }}\", \"title\": {{ JSON.stringify($json[0]?.title) }}, \"status\": \"review\"}",
        "options": {}
      },
      "id": "822b5f00-6f01-40e0-ab04-8ac6756b4295",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2192,
        592
      ]
    },
    {
      "parameters": {
        "content": "## Credentials Setup\n\n**1. Supabase API** (Header Auth)\n- Name: `apikey`\n- Value: `<service_role_key>`\n- Also: `Authorization: Bearer <key>`\n\n**2. Anthropic** - API Key\n\n**3. Google AI Studio** - API Key\n\n**4. Tavily API** (Header Auth)\n- Name: `api-key`\n\n**5. Perplexity API** (Header Auth)\n- Name: `Authorization`\n- Value: `Bearer <key>`",
        "height": 320,
        "width": 280,
        "color": 4
      },
      "id": "1668f7d2-f478-4bf8-a50b-82ad81463f08",
      "name": "Credentials",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2016,
        240
      ]
    },
    {
      "parameters": {
        "model": "anthropic/claude-sonnet-4.5",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        288,
        768
      ],
      "id": "16cfa5e3-0941-4528-881d-80f02ffc2689",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "XpZg3NCm0vRTBA75",
          "name": "OpenRouter Z-AGENCY 2026"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "maxOutputTokens": 4096,
          "temperature": 0.4
        }
      },
      "id": "b5eee42c-ea57-44c6-965e-f37a6c3cd382",
      "name": "Gemini Planner Fallback1",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        976,
        800
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "uLXCpqN3fa4ZXZmj",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "model": "anthropic/claude-sonnet-4.5",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        864,
        800
      ],
      "id": "4d6a1434-0c65-4bae-839a-a2d32c6fa803",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "XpZg3NCm0vRTBA75",
          "name": "OpenRouter Z-AGENCY 2026"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "maxOutputTokens": 4096,
          "temperature": 0.4
        }
      },
      "id": "d716dbac-db5b-418a-b57a-18df1cfc10b4",
      "name": "Gemini Planner Fallback2",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1504,
        832
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "uLXCpqN3fa4ZXZmj",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "model": "anthropic/claude-sonnet-4.5",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1360,
        832
      ],
      "id": "feb4e3a5-f3e3-4de4-8678-bf5854ab0398",
      "name": "OpenRouter Chat Model2",
      "credentials": {
        "openRouterApi": {
          "id": "XpZg3NCm0vRTBA75",
          "name": "OpenRouter Z-AGENCY 2026"
        }
      }
    }
  ],
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Europe/Prague",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "zVAjJgKV17IWzFP7"
  },
  "shared": [
    {
      "updatedAt": "2026-01-28T22:41:25.234Z",
      "createdAt": "2026-01-28T22:41:25.234Z",
      "role": "workflow:owner",
      "workflowId": "V0mH3i0KVXn5IsJUQCWfB",
      "projectId": "XqkS7oX8lMj4YbIK"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2026-01-28T23:51:25.600Z",
  "versionId": "46aa6297-4855-4334-9fc6-be191de0585a"
}