hetzner-2c-4g/Ranní souhrn událostí z kalendářů-cny3VomOYyY3NvIZ.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Pracovn칤 kalend치콏",
            "type": "main",
            "index": 0
          },
          {
            "node": "Osobn칤 kalend치콏",
            "type": "main",
            "index": 0
          },
          {
            "node": "Hobby kalend치콏",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pracovn칤 kalend치콏": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Osobn칤 kalend치콏": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Hobby kalend치콏": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Form치tov치n칤 ud치lost칤",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form치tov치n칤 ud치lost칤": {
      "main": [
        [
          {
            "node": "Nastavit p콏칤jemce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nastavit p콏칤jemce": {
      "main": [
        [
          {
            "node": "Poslat email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-31T21:18:37.602Z",
  "id": "cny3VomOYyY3NvIZ",
  "isArchived": true,
  "meta": null,
  "name": "Rann칤 souhrn ud치lost칤 z kalend치콏콢",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        220,
        300
      ],
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "content": "## 游깬 Spou코t캩캜 workflow\nWorkflow se spust칤 ka쬯칳 den v 7:00 r치no a po코le v치m p콏ehled v코ech ud치lost칤 z va코ich kalend치콏콢.",
        "height": 120,
        "width": 300,
        "color": 1
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        220,
        120
      ],
      "id": "note1-2345-6789-abcd-ef1234567890",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "Pracovn칤",
          "mode": "list"
        },
        "timeMin": "={{ $now.startOf('day').toISO() }}",
        "timeMax": "={{ $now.endOf('day').toISO() }}",
        "options": {
          "singleEvents": true,
          "orderBy": "startTime"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.1,
      "position": [
        480,
        200
      ],
      "id": "b2c3d4e5-f6a7-8901-bcde-f23456789012",
      "name": "Pracovn칤 kalend치콏",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "undefined",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "Osobn칤",
          "mode": "list"
        },
        "timeMin": "={{ $now.startOf('day').toISO() }}",
        "timeMax": "={{ $now.endOf('day').toISO() }}",
        "options": {
          "singleEvents": true,
          "orderBy": "startTime"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.1,
      "position": [
        480,
        300
      ],
      "id": "c3d4e5f6-a789-0123-cdef-345678901234",
      "name": "Osobn칤 kalend치콏",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "undefined",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "Hobby",
          "mode": "list"
        },
        "timeMin": "={{ $now.startOf('day').toISO() }}",
        "timeMax": "={{ $now.endOf('day').toISO() }}",
        "options": {
          "singleEvents": true,
          "orderBy": "startTime"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.1,
      "position": [
        480,
        400
      ],
      "id": "d4e5f6a7-8901-2345-def0-456789012345",
      "name": "Hobby kalend치콏",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "undefined",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "content": "## 游늰 Na캜ten칤 ud치lost칤\nTyto t콏i uzly na캜tou v코echny ud치losti z dne코n칤ho dne z va코ich t콏칤 Google kalend치콏콢.\n\n丘멆잺 **D콢le쬴t칠:** Mus칤te p콏ipojit sv칠 Google 칰캜ty a vybrat spr치vn칠 kalend치콏e!",
        "height": 250,
        "width": 320,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        760,
        250
      ],
      "id": "note2-3456-7890-bcde-f12345678901",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        720,
        300
      ],
      "id": "e5f6a789-0123-4567-ef01-567890123456",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "const pracovniEvents = $input.item.json.pracovni || [];\nconst osobniEvents = $input.item.json.osobni || [];\nconst hobbyEvents = $input.item.json.hobby || [];\n\nfunction formatTime(dateString) {\n  if (!dateString) return 'Cel칳 den';\n  const date = new Date(dateString);\n  return date.toLocaleTimeString('cs-CZ', { hour: '2-digit', minute: '2-digit' });\n}\n\nfunction formatDate(dateString) {\n  const date = new Date(dateString);\n  return date.toLocaleDateString('cs-CZ', { weekday: 'long', day: 'numeric', month: 'long', year: 'numeric' });\n}\n\nfunction formatEvents(events, calendarName, emoji) {\n  if (events.length === 0) return `<h3>${emoji} ${calendarName}</h3><p style=\"color: #666;\">콯치dn칠 ud치losti</p>`;\n  \n  let html = `<h3>${emoji} ${calendarName}</h3><ul style=\"list-style-type: none; padding: 0;\">`;\n  \n  events.forEach(event => {\n    const time = formatTime(event.start?.dateTime || event.start?.date);\n    const title = event.summary || 'Bez n치zvu';\n    const location = event.location ? `<br><small style=\"color: #666;\">游늸 ${event.location}</small>` : '';\n    const description = event.description ? `<br><small style=\"color: #888;\">${event.description.substring(0, 100)}${event.description.length > 100 ? '...' : ''}</small>` : '';\n    \n    html += `<li style=\"margin-bottom: 15px; padding: 10px; background-color: #f5f5f5; border-radius: 5px;\">\n      <strong>${time}</strong> - ${title}${location}${description}\n    </li>`;\n  });\n  \n  html += '</ul>';\n  return html;\n}\n\nconst today = formatDate(new Date());\n\nconst emailContent = `\n<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }\n    h2 { color: #2c3e50; border-bottom: 2px solid #3498db; padding-bottom: 10px; }\n    h3 { color: #34495e; margin-top: 25px; }\n    .container { max-width: 600px; margin: 0 auto; padding: 20px; }\n    .header { background-color: #3498db; color: white; padding: 20px; text-align: center; border-radius: 10px 10px 0 0; }\n    .content { background-color: white; padding: 20px; border: 1px solid #ddd; border-radius: 0 0 10px 10px; }\n    .footer { text-align: center; margin-top: 20px; color: #666; font-size: 12px; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>游 V치코 denn칤 p콏ehled</h1>\n      <p>${today}</p>\n    </div>\n    <div class=\"content\">\n      ${formatEvents(pracovniEvents, 'Pracovn칤 kalend치콏', '游눺')}\n      ${formatEvents(osobniEvents, 'Osobn칤 kalend치콏', '游녻')}\n      ${formatEvents(hobbyEvents, 'Hobby kalend치콏', '游꿛')}\n    </div>\n    <div class=\"footer\">\n      <p>P콏ejeme v치m produktivn칤 den! 游</p>\n    </div>\n  </div>\n</body>\n</html>\n`;\n\nreturn {\n  emailContent,\n  subject: `游늰 Dne코n칤 ud치losti - ${today}`\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        940,
        300
      ],
      "id": "f6a78901-2345-6789-f012-678901234567",
      "name": "Form치tov치n칤 ud치lost칤"
    },
    {
      "parameters": {
        "content": "## 游꿛 Form치tov치n칤\nTento k칩d zpracuje v코echny ud치losti a vytvo콏칤 z nich kr치sn캩 naform치tovan칳 HTML email s:\n- Rozd캩len칤m podle kalend치콏콢\n- 캛asem a n치zvem ud치losti\n- M칤stem kon치n칤\n- Kr치tk칳m popisem",
        "height": 150,
        "width": 300,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1100,
        140
      ],
      "id": "note3-4567-8901-cdef-234567890123",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "{{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.emailContent }}",
        "options": {
          "attachmentsUi": {}
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1340,
        300
      ],
      "id": "a7890123-4567-8901-a012-789012345678",
      "name": "Poslat email",
      "credentials": {
        "gmailOAuth2": {
          "id": "undefined",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Nastavte svou emailovou adresu\nconst recipientEmail = 'vas-email@gmail.com';\n\nreturn {\n  ...items[0].json,\n  to: recipientEmail\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        300
      ],
      "id": "b8901234-5678-9012-b123-890123456789",
      "name": "Nastavit p콏칤jemce"
    },
    {
      "parameters": {
        "content": "## 游닎 Odesl치n칤 emailu\n丘멆잺 **D콢le쬴t칠 nastaven칤:**\n1. P콏ipojte sv콢j Gmail 칰캜et\n2. V uzlu \"Nastavit p콏칤jemce\" zm캩켿te emailovou adresu na va코i vlastn칤",
        "height": 140,
        "width": 300,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1500,
        200
      ],
      "id": "note4-5678-9012-def0-345678901234",
      "name": "Sticky Note3"
    }
  ],
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveDataErrorExecution": "all",
    "errorWorkflow": "",
    "timezone": "Europe/Prague",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2025-12-31T21:18:37.602Z",
      "createdAt": "2025-12-31T21:18:37.602Z",
      "role": "workflow:owner",
      "workflowId": "cny3VomOYyY3NvIZ",
      "projectId": "XqkS7oX8lMj4YbIK"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-01T12:28:08.795Z",
  "versionId": "8bf2b39e-cabd-46d5-9930-5d0b2b50aac3"
}