hetzner-2c-4g/Supabase Backup Cleanup (30 days)-rwk3cuzPgoYsjdQF.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-02-07T11:39:43.860Z",
    "createdAt": "2026-02-07T11:39:39.393Z",
    "versionId": "93fc63df-add9-4d6d-81e5-0c08b963e9d1",
    "workflowId": "rwk3cuzPgoYsjdQF",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 3 * * 0"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          0,
          304
        ],
        "id": "schedule-cleanup",
        "name": "Weekly Sunday 3:00 UTC"
      },
      {
        "parameters": {
          "resource": "fileFolder",
          "queryString": "supabase_backup_",
          "returnAll": true,
          "filter": {
            "folderId": {
              "__rl": true,
              "value": "https://drive.google.com/drive/u/0/folders/1aqya4VKZemxb4rmid432TJzgaPM70xe2",
              "mode": "url"
            }
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          272,
          304
        ],
        "id": "gdrive-list",
        "name": "List Backup Files",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "0y8WKhAVB7SLUFcI",
            "name": "Google Drive zmidloch@z-agency.cz"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const files = $input.all();\nconst cutoffDate = new Date();\ncutoffDate.setDate(cutoffDate.getDate() - 30);\n\nconst oldFiles = files.filter(item => {\n  const createdTime = new Date(item.json.createdTime || item.json.createdDate);\n  return createdTime < cutoffDate;\n});\n\nif (oldFiles.length === 0) {\n  return [];\n}\n\nconsole.log('Files to delete: ' + oldFiles.length);\nreturn oldFiles.map(item => ({\n  json: {\n    fileId: item.json.id,\n    fileName: item.json.name,\n    createdTime: item.json.createdTime || item.json.createdDate\n  }\n}));"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          528,
          304
        ],
        "id": "code-filter",
        "name": "Filter Old Files (30+ days)"
      },
      {
        "parameters": {
          "operation": "deleteFile",
          "fileId": {
            "__rl": true,
            "value": "={{ $json.fileId }}",
            "mode": "id"
          },
          "options": {
            "deletePermanently": true
          }
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          784,
          304
        ],
        "id": "gdrive-delete",
        "name": "Delete Old Backup",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "0y8WKhAVB7SLUFcI",
            "name": "Google Drive zmidloch@z-agency.cz"
          }
        }
      },
      {
        "parameters": {
          "sendTo": "zmidloch@z-agency.cz",
          "subject": "=Backup Cleanup - {{ $input.all().length }} old backups deleted",
          "message": "=<h3>Backup Cleanup</h3><p>Deleted <b>{{ $input.all().length }}</b> backups older than 30 days from Google Drive.</p><hr><p style='color:#666;'><em>n8n automated cleanup</em></p>",
          "options": {}
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          1040,
          304
        ],
        "id": "gmail-cleanup",
        "name": "Email Cleanup Report",
        "webhookId": "ecb39952-0d8d-49ff-b592-ebbb2f3fb327",
        "credentials": {
          "gmailOAuth2": {
            "id": "qNSaYVEcaWOf5U3k",
            "name": "Gmail zmidloch@z-agency.cz"
          }
        }
      },
      {
        "parameters": {
          "content": "## Backup Cleanup\n\n**Schedule:** Sunday 3:00 UTC\n**Retention:** 30 days\n**Folder:** Supabase-Elestio",
          "height": 200,
          "width": 300,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -80,
          -16
        ],
        "id": "sticky-cleanup",
        "name": "Sticky Note"
      }
    ],
    "connections": {
      "Weekly Sunday 3:00 UTC": {
        "main": [
          [
            {
              "node": "List Backup Files",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "List Backup Files": {
        "main": [
          [
            {
              "node": "Filter Old Files (30+ days)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter Old Files (30+ days)": {
        "main": [
          [
            {
              "node": "Delete Old Backup",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Delete Old Backup": {
        "main": [
          [
            {
              "node": "Email Cleanup Report",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Jiri Zmidloch",
    "name": "Version 93fc63df",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "93fc63df-add9-4d6d-81e5-0c08b963e9d1",
  "connections": {
    "Weekly Sunday 3:00 UTC": {
      "main": [
        [
          {
            "node": "List Backup Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Backup Files": {
      "main": [
        [
          {
            "node": "Filter Old Files (30+ days)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Old Files (30+ days)": {
      "main": [
        [
          {
            "node": "Delete Old Backup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old Backup": {
      "main": [
        [
          {
            "node": "Email Cleanup Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-02-07T00:46:16.178Z",
  "id": "rwk3cuzPgoYsjdQF",
  "isArchived": false,
  "meta": null,
  "name": "Supabase Backup Cleanup (30 days)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 3 * * 0"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        304
      ],
      "id": "schedule-cleanup",
      "name": "Weekly Sunday 3:00 UTC"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "supabase_backup_",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "https://drive.google.com/drive/u/0/folders/1aqya4VKZemxb4rmid432TJzgaPM70xe2",
            "mode": "url"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        272,
        304
      ],
      "id": "gdrive-list",
      "name": "List Backup Files",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "0y8WKhAVB7SLUFcI",
          "name": "Google Drive zmidloch@z-agency.cz"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const files = $input.all();\nconst cutoffDate = new Date();\ncutoffDate.setDate(cutoffDate.getDate() - 30);\n\nconst oldFiles = files.filter(item => {\n  const createdTime = new Date(item.json.createdTime || item.json.createdDate);\n  return createdTime < cutoffDate;\n});\n\nif (oldFiles.length === 0) {\n  return [];\n}\n\nconsole.log('Files to delete: ' + oldFiles.length);\nreturn oldFiles.map(item => ({\n  json: {\n    fileId: item.json.id,\n    fileName: item.json.name,\n    createdTime: item.json.createdTime || item.json.createdDate\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        304
      ],
      "id": "code-filter",
      "name": "Filter Old Files (30+ days)"
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.fileId }}",
          "mode": "id"
        },
        "options": {
          "deletePermanently": true
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        784,
        304
      ],
      "id": "gdrive-delete",
      "name": "Delete Old Backup",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "0y8WKhAVB7SLUFcI",
          "name": "Google Drive zmidloch@z-agency.cz"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "zmidloch@z-agency.cz",
        "subject": "=Backup Cleanup - {{ $input.all().length }} old backups deleted",
        "message": "=<h3>Backup Cleanup</h3><p>Deleted <b>{{ $input.all().length }}</b> backups older than 30 days from Google Drive.</p><hr><p style='color:#666;'><em>n8n automated cleanup</em></p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1040,
        304
      ],
      "id": "gmail-cleanup",
      "name": "Email Cleanup Report",
      "webhookId": "ecb39952-0d8d-49ff-b592-ebbb2f3fb327",
      "credentials": {
        "gmailOAuth2": {
          "id": "qNSaYVEcaWOf5U3k",
          "name": "Gmail zmidloch@z-agency.cz"
        }
      }
    },
    {
      "parameters": {
        "content": "## Backup Cleanup\n\n**Schedule:** Sunday 3:00 UTC\n**Retention:** 30 days\n**Folder:** Supabase-Elestio",
        "height": 200,
        "width": 300,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -80,
        -16
      ],
      "id": "sticky-cleanup",
      "name": "Sticky Note"
    }
  ],
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "zVAjJgKV17IWzFP7"
  },
  "shared": [
    {
      "updatedAt": "2026-02-07T00:46:16.178Z",
      "createdAt": "2026-02-07T00:46:16.178Z",
      "role": "workflow:owner",
      "workflowId": "rwk3cuzPgoYsjdQF",
      "projectId": "XqkS7oX8lMj4YbIK"
    }
  ],
  "staticData": {
    "node:Weekly Sunday 3:00 UTC": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-02-07T15:00:19.971Z",
  "versionId": "93fc63df-add9-4d6d-81e5-0c08b963e9d1"
}