hetzner-2c-4g/Tabidoo Contact to Google Contact - webhook copy-kKa3ZaY3yCxIGoKs.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Get many contacts",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get many contacts": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Create a contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-10T13:05:48.623Z",
  "id": "kKa3ZaY3yCxIGoKs",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Tabidoo Contact to Google Contact - webhook copy",
  "nodes": [
    {
      "parameters": {
        "content": "Get data from Tabidoo",
        "height": 288,
        "width": 384
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -400,
        -64
      ],
      "typeVersion": 1,
      "id": "80d28a70-aa25-4229-82ad-c00a67686565",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Upload data to Google Contacts",
        "height": 288,
        "width": 160
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1008,
        -64
      ],
      "typeVersion": 1,
      "id": "fe8f29f3-2a4c-4c0e-aaaf-e756fb341e57",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Transform data",
        "height": 288,
        "width": 352
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        16,
        -64
      ],
      "typeVersion": 1,
      "id": "da0fadc0-bfe0-40df-b1e1-0fbfa75b3c17",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "familyName": "={{ $('Edit Fields').item.json['Příjmení'] }} - {{ $json.Firma }}",
        "givenName": "={{ $('Edit Fields').item.json['Jméno'] }}",
        "additionalFields": {
          "companyUi": {
            "companyValues": [
              {
                "name": "={{ $json.Firma }}"
              }
            ]
          },
          "emailsUi": {
            "emailsValues": [
              {
                "type": "work",
                "value": "={{ $json['E-mail'] }}"
              }
            ]
          },
          "group": [
            "contactGroups/3e5124ca0d24388a"
          ],
          "phoneUi": {
            "phoneValues": [
              {
                "type": "mobile",
                "value": "={{ $json.Telefon }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.googleContacts",
      "typeVersion": 1,
      "position": [
        1040,
        16
      ],
      "id": "5a1d72d1-9bba-41e3-b126-ca937a59d84f",
      "name": "Create a contact"
    },
    {
      "parameters": {
        "url": "=https://app.tabidoo.cloud/api/v2/apps/obchod-1b4y/tables/kontakty/data??filter=email(eq)'{{ $json.body.data.fields.email.href }}'",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -144,
        48
      ],
      "id": "d1c18f8f-330f-4d7f-ab7e-7971cef47aa4",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7d914171-33e6-4490-925a-dd83c215e207",
              "name": "Jméno",
              "value": "={{ $json.fields.name }}",
              "type": "string"
            },
            {
              "id": "189bebab-a895-4cc9-857f-ed7475ba018f",
              "name": "Příjmení",
              "value": "={{ $json.fields.x82amtoz3m }}",
              "type": "string"
            },
            {
              "id": "be9c3263-c750-4e58-82b2-e9a48a0ed064",
              "name": "Firma",
              "value": "={{ $json.fields.company.fields.nazev }}",
              "type": "string"
            },
            {
              "id": "e6d3a711-d098-4925-bd98-0664f5da3e16",
              "name": "E-mail",
              "value": "={{ $json.fields.email.href }}",
              "type": "string"
            },
            {
              "id": "c6517087-4901-4515-a221-97a87fa0f40d",
              "name": "Telefon",
              "value": "={{ $json.fields.phoneNumber }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        48
      ],
      "id": "19073556-beb0-4bfc-8bba-2c25122ca4bd",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        48,
        48
      ],
      "id": "932f3abe-eb1e-43b1-8fb7-b28ad8f89414",
      "name": "Split Out"
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 1,
        "fields": [
          "metadata",
          "names",
          "phoneNumbers",
          "emailAddresses"
        ],
        "useQuery": "={{ $json['E-mail'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleContacts",
      "typeVersion": 1,
      "position": [
        512,
        -48
      ],
      "id": "40cf823a-898c-496e-8b09-fbe4a7147fcc",
      "name": "Get many contacts",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "content": "Check data",
        "height": 288,
        "width": 576
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        384,
        -64
      ],
      "typeVersion": 1,
      "id": "e08cba0c-a432-440d-adba-7c9998f6af0e",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8c32cb83-88fd-4f87-a185-a1ad5b3714e1",
              "leftValue": "={{ $json.resourceName }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        816,
        64
      ],
      "id": "3aefdaca-0941-4cfe-9f37-7b268f16fbed",
      "name": "If"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        672,
        64
      ],
      "id": "c1f64d41-c81b-4114-ac11-bebaa5b325c8",
      "name": "Merge"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "3af62699-5b7b-4008-a7e2-95250cb8b1f6",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -368,
        48
      ],
      "id": "9f0d6125-e8a7-4082-84f8-186096a92f67",
      "name": "Webhook",
      "webhookId": "3af62699-5b7b-4008-a7e2-95250cb8b1f6",
      "disabled": true
    }
  ],
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "zVAjJgKV17IWzFP7",
    "timezone": "Europe/Prague"
  },
  "shared": [
    {
      "updatedAt": "2025-12-10T13:05:48.623Z",
      "createdAt": "2025-12-10T13:05:48.623Z",
      "role": "workflow:owner",
      "workflowId": "kKa3ZaY3yCxIGoKs",
      "projectId": "XqkS7oX8lMj4YbIK"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-12-16T14:18:21.662Z",
  "versionId": "6246c83a-a946-4ee6-b992-4eca2e30696c"
}