hetzner-2c-4g/TerraHunt Sales Autopilot - Supabase-bTX4gb7VSZ9e4A7i.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Create a record": {
      "main": [
        []
      ]
    },
    "Data Format for Airtable": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wordpress Forminator Webhook": {
      "main": [
        [
          {
            "node": "Data Format for Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stripe Payment Succeeded Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update record": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP - GET GAMES",
            "type": "main",
            "index": 0
          },
          {
            "node": "Copy file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Update record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - GET GAMES": {
      "main": [
        [
          {
            "node": "HTTP POST EVENT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP POST EVENT": {
      "main": [
        [
          {
            "node": "HTTP GET EVENT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP GET EVENT": {
      "main": [
        [
          {
            "node": "Update Event Information",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Event Information": {
      "main": [
        [
          {
            "node": "Create Personalized Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copy file": {
      "main": [
        [
          {
            "node": "Move file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move file": {
      "main": [
        [
          {
            "node": "Update a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a document": {
      "main": [
        [
          {
            "node": "Update DOC Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update DOC Status": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable PDF Upload": {
      "main": [
        [
          {
            "node": "Update Airtable Upload Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Airtable Upload Status": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Update Client Email Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Post PDF to UOL": {
      "main": [
        [
          {
            "node": "Update UOL Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message to Client - Tutorials & QR": {
      "main": [
        [
          {
            "node": "Update Event Information1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Personalized Message": {
      "main": [
        [
          {
            "node": "Message to Client - Tutorials & QR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "HTTP Post PDF to UOL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update PDF Status": {
      "main": [
        [
          {
            "node": "Airtable PDF Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Share file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Share file": {
      "main": [
        [
          {
            "node": "Update PDF Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-07T22:29:56.631Z",
  "id": "bTX4gb7VSZ9e4A7i",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "TerraHunt Sales Autopilot - Supabase",
  "nodes": [
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appRH0mydJXkeEQIJ",
          "mode": "list",
          "cachedResultName": "TerraHunt Sales Autopilot ",
          "cachedResultUrl": "https://airtable.com/appRH0mydJXkeEQIJ"
        },
        "table": {
          "__rl": true,
          "value": "tblWfEAxc3ARNesff",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appRH0mydJXkeEQIJ/tblWfEAxc3ARNesff"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Kupující - Jméno a Příjmení": "={{ $('Wordpress Forminator Webhook').item.json.body.name_1 }}",
            "Kupující - Email": "={{ $('Wordpress Forminator Webhook').item.json.body.confirm_email_1 }}",
            "Kupující - Telefon": "={{ $('Wordpress Forminator Webhook').item.json.body.phone_1 }}",
            "Kupující - Město": "={{ $('Wordpress Forminator Webhook').item.json.body.address_1_city }}",
            "Kupující - Adresa": "={{ $('Wordpress Forminator Webhook').item.json.body.address_1_street_address }}",
            "Kupující - PSČ": "={{ $('Wordpress Forminator Webhook').item.json.body.address_1_zip }}",
            "Kupující - Stát": "={{ $('Wordpress Forminator Webhook').item.json.body.address_1_country }}",
            "Celková cena": "={{ $json.nodes[0].parameters.assignments.assignments[3].value }}",
            "Cena za tým": "={{ $('Wordpress Forminator Webhook').item.json.body.calculation_2 }}",
            "Počet týmů": "={{ $json.nodes[0].parameters.assignments.assignments[4].value }}",
            "Délka hry": "={{ $json.nodes[0].parameters.assignments.assignments[2].value }}",
            "Hráč - Jméno a Příjmení": "={{ $('Wordpress Forminator Webhook').item.json.body.name_2 }}",
            "Hráč - Email": "={{ $('Wordpress Forminator Webhook').item.json.body.email_2 }}",
            "Hráč - Telefon": "={{ $('Wordpress Forminator Webhook').item.json.body.phone_2 }}",
            "Stripe platba": "Čeká se na platbu",
            "Datum hry": "={{ $json.nodes[0].parameters.assignments.assignments[0].value }}",
            "Název hry": "Treasure Hunt Budapest",
            "ID objednávky": "={{ $('Wordpress Forminator Webhook').item.json.body.form_uid }}",
            "Start hry": "={{ $json.nodes[0].parameters.assignments.assignments[0].value }}",
            "Konec hry": "={{ $json.nodes[0].parameters.assignments.assignments[1].value }}",
            "ID Stripe platby": "={{ $('Wordpress Forminator Webhook').item.json.body.paymentid }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID objednávky",
              "displayName": "ID objednávky",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Datum a čas objednávky",
              "displayName": "Datum a čas objednávky",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Kupující - Jméno a Příjmení",
              "displayName": "Kupující - Jméno a Příjmení",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Kupující - Telefon",
              "displayName": "Kupující - Telefon",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Kupující - Email",
              "displayName": "Kupující - Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Kupující - Adresa",
              "displayName": "Kupující - Adresa",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Kupující - Město",
              "displayName": "Kupující - Město",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Kupující - PSČ",
              "displayName": "Kupující - PSČ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Kupující - Stát",
              "displayName": "Kupující - Stát",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Hráč - Jméno a Příjmení",
              "displayName": "Hráč - Jméno a Příjmení",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Hráč - Telefon",
              "displayName": "Hráč - Telefon",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Hráč - Email",
              "displayName": "Hráč - Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Název hry",
              "displayName": "Název hry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Datum hry",
              "displayName": "Datum hry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Start hry",
              "displayName": "Start hry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Délka hry",
              "displayName": "Délka hry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Konec hry",
              "displayName": "Konec hry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Počet týmů",
              "displayName": "Počet týmů",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Cena za tým",
              "displayName": "Cena za tým",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Celková cena",
              "displayName": "Celková cena",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Stripe platba",
              "displayName": "Stripe platba",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Čeká se na platbu",
                  "value": "Čeká se na platbu"
                },
                {
                  "name": "Zaplaceno",
                  "value": "Zaplaceno"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "ID Stripe platby",
              "displayName": "ID Stripe platby",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        768,
        48
      ],
      "id": "0ee50940-367d-425f-a95b-763df25658d2",
      "name": "Create a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "112UtIzO07XgrN7A",
          "name": "Airtable - zmidloch@z-agency.cz"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appRH0mydJXkeEQIJ",
          "mode": "list",
          "cachedResultName": "TerraHunt Sales Autopilot ",
          "cachedResultUrl": "https://airtable.com/appRH0mydJXkeEQIJ"
        },
        "table": {
          "__rl": true,
          "value": "tblWfEAxc3ARNesff",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appRH0mydJXkeEQIJ/tblWfEAxc3ARNesff"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID Stripe platby": "={{ $('Stripe Payment Succeeded Webhook').item.json.body.data.object.id }}",
            "Stripe platba": "Zaplaceno",
            "Last 4 Digits": "={{ $json.card.last4 }}",
            "Brand": "={{ $json.card.brand }}",
            "Country": "={{ $json.card.country }}"
          },
          "matchingColumns": [
            "ID Stripe platby"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "ID objednávky",
              "displayName": "ID objednávky",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Datum a čas objednávky",
              "displayName": "Datum a čas objednávky",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Kupující - Jméno a Příjmení",
              "displayName": "Kupující - Jméno a Příjmení",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Kupující - Telefon",
              "displayName": "Kupující - Telefon",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Kupující - Email",
              "displayName": "Kupující - Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Kupující - Adresa",
              "displayName": "Kupující - Adresa",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Kupující - Město",
              "displayName": "Kupující - Město",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Kupující - PSČ",
              "displayName": "Kupující - PSČ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Kupující - Stát",
              "displayName": "Kupující - Stát",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Hráč - Jméno a Příjmení",
              "displayName": "Hráč - Jméno a Příjmení",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Hráč - Telefon",
              "displayName": "Hráč - Telefon",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Hráč - Email",
              "displayName": "Hráč - Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Název hry",
              "displayName": "Název hry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Datum hry",
              "displayName": "Datum hry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Start hry",
              "displayName": "Start hry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Délka hry",
              "displayName": "Délka hry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Konec hry",
              "displayName": "Konec hry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Počet týmů",
              "displayName": "Počet týmů",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Cena za tým",
              "displayName": "Cena za tým",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Celková cena",
              "displayName": "Celková cena",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Stripe platba",
              "displayName": "Stripe platba",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Čeká se na platbu",
                  "value": "Čeká se na platbu"
                },
                {
                  "name": "Zaplaceno",
                  "value": "Zaplaceno"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "ID Stripe platby",
              "displayName": "ID Stripe platby",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Brand",
              "displayName": "Brand",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last 4 Digits",
              "displayName": "Last 4 Digits",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Country",
              "displayName": "Country",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Receipt Status",
              "displayName": "Receipt Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "options": [
                {
                  "name": "Created DOC",
                  "value": "Created DOC"
                },
                {
                  "name": "Created PDF",
                  "value": "Created PDF"
                },
                {
                  "name": "Saved Airtable",
                  "value": "Saved Airtable"
                },
                {
                  "name": "Uploaded to UOL",
                  "value": "Uploaded to UOL"
                },
                {
                  "name": "Sent to Client",
                  "value": "Sent to Client"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Receipt",
              "displayName": "Receipt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        592,
        480
      ],
      "id": "cee2ad40-64d1-4356-b89b-f1b0f4ef1a8e",
      "name": "Update record",
      "credentials": {
        "airtableTokenApi": {
          "id": "112UtIzO07XgrN7A",
          "name": "Airtable - zmidloch@z-agency.cz"
        }
      }
    },
    {
      "parameters": {
        "content": "## Submit Website Form\n**Customer fills out and submits form from website including Stripe payment**\n\n[Test Website Link](https://autopilot.terrahunt.cz/)",
        "height": 352,
        "width": 416
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -176,
        -352
      ],
      "typeVersion": 1,
      "id": "9f8b90f6-a96b-4439-8c26-f9fd72e0f756",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Edit Fields\n**Reformatting items from Webhook so that Supabase accepts them**",
        "height": 352,
        "width": 304
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        272,
        -352
      ],
      "typeVersion": 1,
      "id": "7810fe26-8056-4b6e-b0df-0ed6d1d6eaec",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Supabase Post Created\n**All items are saved for billing, pairing with Stripe, and client game parameters, according to which the event is then launched on the server. \nITEM FOR PAIRING - Payment ID**\n\n[Base link](https://supabase.com/dashboard/project/njjkoyhwklazxfkuqggx/editor/17484?schema=public)",
        "height": 352,
        "width": 592
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        624,
        -352
      ],
      "typeVersion": 1,
      "id": "85594e95-ea2f-45c3-8441-2ee12d601b9a",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"assignments\": [\n    {\n      \"id\": \"start_game_iso\",\n      \"name\": \"zacatek_hry\",\n      \"value\": \"={{ $json.body.date_1.split('.').reverse().join('-') }}T{{ $json.body.time_1.trim() }}:00\",\n      \"type\": \"string\"\n    },\n    {\n      \"id\": \"duration_minutes\",\n      \"name\": \"delka_hry_minuty\",\n      \"value\": \"{{ parseFloat($json.body.select_4.replace(/[^\\d,]/g, '').replace(',', '.')) * 60 }}\",\n      \"type\": \"number\"\n    },\n    {\n      \"id\": \"end_game_iso\",\n      \"name\": \"konec_hry\",\n      \"value\": \"={{ (() => { const d = new Date($json.body.date_1.split('.').reverse().join('-') + 'T' + $json.body.time_1.trim()); const dur = parseFloat($json.body.select_4.replace(/[^\\d,]/g, '').replace(',', '.')); d.setMinutes(d.getMinutes() + (dur * 60)); return d.toISOString().split('.')[0]; })() }}\",\n      \"type\": \"string\"\n    },\n    {\n      \"id\": \"price_num\",\n      \"name\": \"cena_cislo\",\n      \"value\": \"={{ Number($json.body.calculation_1) }}\",\n      \"type\": \"number\"\n    },\n    {\n      \"id\": \"th_id\",\n      \"name\": \"th_id\",\n      \"value\": \"={{ Number($json.body.hidden_1) }}\",\n      \"type\": \"number\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        368,
        -176
      ],
      "id": "fb23f617-f99c-4441-8099-5c03022d8868",
      "name": "Data Format for Airtable"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "c0d737c1-423e-496c-83f7-1f50c9aed731",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -32,
        -176
      ],
      "id": "c8fe5eb8-8c2b-4e73-9ddd-f616809a6d1b",
      "name": "Wordpress Forminator Webhook",
      "webhookId": "c0d737c1-423e-496c-83f7-1f50c9aed731"
    },
    {
      "parameters": {
        "content": "## Stripe Payment Succeeded Webhook\n**If Payment Succeeded**  webhook is sent - PAYMENT ID INCLUDED  - need to be paired with Airtable post",
        "height": 336,
        "width": 336
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -160,
        320
      ],
      "typeVersion": 1,
      "id": "9d0f6000-8fe5-4fa4-9f91-d5a928398de0",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "1f9ebb7f-1d20-419f-b4c9-cc5585fb0716",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -48,
        480
      ],
      "id": "7b40d0ad-1f59-4853-a772-941e29f8bff2",
      "name": "Stripe Payment Succeeded Webhook",
      "webhookId": "1f9ebb7f-1d20-419f-b4c9-cc5585fb0716"
    },
    {
      "parameters": {
        "content": "## Stripe-Airtable Pairing\n**If Payment Succeeded** change status of payment in Airtable",
        "height": 336,
        "width": 256
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        528,
        320
      ],
      "typeVersion": 1,
      "id": "d27d4716-d314-4362-a440-bdd002d2adf2",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "25fd7588-6742-4cc1-8139-954c92709eeb",
              "leftValue": "={{ $json.fields['ID Stripe platby'] }}",
              "rightValue": "={{ $('Stripe Payment Succeeded Webhook').item.json.body.data.object.id }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        912,
        576
      ],
      "id": "be8710e8-a208-4343-968c-c577a38755c6",
      "name": "If"
    },
    {
      "parameters": {
        "content": "## Pairing check\n**If Yes** Continue ! - **If no** Send a message!",
        "height": 384,
        "width": 416
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        848,
        320
      ],
      "typeVersion": 1,
      "id": "d81f78a6-93cb-43ac-bbbd-37a64799aa83",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "url": "=https://api.stripe.com/v1/payment_methods/{{ $json.body.data.object.payment_method }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "stripeApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        272,
        480
      ],
      "id": "f14a514a-491c-4d89-aa8c-77309eb8de94",
      "name": "HTTP Request",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "stripeApi": {
          "id": "0ZpFJqgoU0OQpDBU",
          "name": "Stripe account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Additional Card Information\n**Card brand, last 4 digits**  ",
        "height": 336,
        "width": 272
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        208,
        320
      ],
      "typeVersion": 1,
      "id": "88d6f52a-f29f-45b1-a4c1-3271ed3676bc",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "##  Send Receipt Email",
        "height": 560,
        "width": 432
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3392,
        -320
      ],
      "typeVersion": 1,
      "id": "6548e1c3-c7d9-4cfa-95fa-64afc189ddfb",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "## Get Games IDs",
        "height": 336,
        "width": 336
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -160,
        944
      ],
      "typeVersion": 1,
      "id": "72f74558-572c-48c2-8587-1228aa6cbb84",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "## Create Treasure Hunt Event",
        "height": 336,
        "width": 336
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        288,
        944
      ],
      "typeVersion": 1,
      "id": "2115c9bd-23f7-4d6a-886e-a69492473be9",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "## Get Event Information",
        "height": 336,
        "width": 336
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        704,
        944
      ],
      "typeVersion": 1,
      "id": "52d7ef28-3d03-4c9e-bf5d-a47dbe585922",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "##  Personalized Message to Client",
        "height": 592,
        "width": 800
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1760,
        944
      ],
      "typeVersion": 1,
      "id": "2f873d12-b857-4cd3-a97a-91e86f075cce",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.fields['Kupující - Email'] }}",
        "subject": "=Invoice No.{{ $json.fields['ID objednávky'] }} {{ $json.fields['Název hry'] }}",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n<style>\n  body { font-family: Arial, sans-serif; line-height: 1.6; color: #333333; margin: 0; padding: 0; }\n  .container { max-width: 600px; margin: 20px auto; padding: 0; border: 1px solid #e0e0e0; border-radius: 5px; background-color: #ffffff; overflow: hidden; }\n  .header { background-color: #f8f9fa; padding: 20px; text-align: center; border-bottom: 3px solid #007bff; }\n  .content { padding: 30px 20px; }\n  .highlight { color: #007bff; font-weight: bold; }\n  .footer { font-size: 12px; text-align: center; color: #888888; background-color: #f9f9f9; padding: 20px; border-top: 1px solid #eeeeee; }\n  .footer a { color: #888888; text-decoration: none; }\n  .footer strong { color: #555555; }\n</style>\n</head>\n<body>\n\n<div class=\"container\">\n  <div class=\"header\">\n    <h2 style=\"margin:0;\">Thank You for Your Order!</h2>\n  </div>\n\n  <div class=\"content\">\n    <p>Dear <strong>{{ $json[\"Kupující - Jméno a Příjmení\"] }}</strong>,</p>\n\n    <p>We are thrilled that you have chosen to play <strong>{{ $json[\"Název hry\"] }}</strong> with us! This email confirms that we have successfully received your order.</p>\n\n    <h3>📄 Your Invoice</h3>\n    <p>Please find your invoice attached to this email in PDF format.</p>\n\n    <hr style=\"border: 0; border-top: 1px solid #eee; margin: 25px 0;\">\n\n    <h3>🎮 What Happens Next?</h3>\n    <p>You are probably eager to start playing, but don't worry about the details just yet.</p>\n    \n    <p><strong>Look out for another email from us shortly.</strong></p>\n    \n    <p>In that upcoming email, you will receive:</p>\n    <ul>\n      <li>Detailed instructions on how to start the game.</li>\n      <li>Game rules and guidelines.</li>\n      <li>Useful tips and recommendations for the best experience.</li>\n    </ul>\n\n    <p style=\"margin-top: 30px;\">Best regards,<br>\n    <strong>TerraHunt Gaming Platform Team</strong></p>\n  </div>\n\n  <div class=\"footer\">\n    <p>In case of any problems, please do not hesitate to contact us:</p>\n    \n    <p><strong>Z-AGENCY s.r.o.</strong><br>\n    Karlova 1054/38, 614 00 Brno<br>\n    Czech Republic, Europe</p>\n    \n    <p>\n      <a href=\"mailto:info@z-agency.cz\">info@z-agency.cz</a><br>\n      <a href=\"tel:+420542211935\">+420 542 211 935</a>\n    </p>\n\n    <p style=\"margin-top: 20px; font-size: 11px;\">\n      &copy; 2025 Z-Agency. All rights reserved.<br>\n      Order ID: {{ $json[\"ID objednávky\"] }}\n    </p>\n  </div>\n</div>\n\n</body>\n</html>",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        3648,
        -112
      ],
      "id": "2a9624f2-aca7-48b7-9d51-cefdfacdb6de",
      "name": "Send a message",
      "webhookId": "440359dc-9f05-4d5c-9450-4881a4e9baf3",
      "credentials": {
        "gmailOAuth2": {
          "id": "cUMqdo7XCF6noXLb",
          "name": "Gmail-info@z-agency.cz"
        }
      }
    },
    {
      "parameters": {
        "content": "## Online Accounting  \n**Upload receipt into UOL**",
        "height": 304,
        "width": 384
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3392,
        320
      ],
      "typeVersion": 1,
      "id": "eb6202e5-cd3d-4ff2-8b5c-6ca2770e25e0",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -64,
        1056
      ],
      "id": "9829a565-dc9b-4707-b8a0-e6be19d1fe17",
      "name": "HTTP - GET GAMES"
    },
    {
      "parameters": {
        "method": "POST",
        "authentication": "genericCredentialType",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ID hry - interní název z public.terrahunt.com"
            },
            {
              "name": "Název eventu - interní název z public.terrahunt.com",
              "value": "={{ $('Update record').item.json.fields['Název hry'] }}"
            },
            {
              "name": "Datum a čas - Start eventu - interní název z public.terrahunt.com",
              "value": "={{ $('Update record').item.json.fields['Start hry'] }}"
            },
            {
              "name": "Datum a čas - Konec Eventu - interní název z public.terrahunt.com",
              "value": "={{ $('Update record').item.json.fields['Konec hry'] }}"
            },
            {
              "name": "Počet týmů - interní název z public.terrahunt.com",
              "value": "={{ $('Update record').item.json.fields['Počet týmů'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        384,
        1056
      ],
      "id": "43102c3e-b142-473f-8c99-219e2b2dd2c8",
      "name": "HTTP POST EVENT"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        784,
        1056
      ],
      "id": "94e7dae7-67b2-485f-b777-8b0dea07e3b0",
      "name": "HTTP GET EVENT"
    },
    {
      "parameters": {
        "content": "## Airtable Update Information\n**UPDATE!**\n- Game ID\n- Event ID\n- EVENT Status - Ready to play / Live / Finished\n- Event code\n- QR code",
        "height": 592,
        "width": 416
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1232,
        944
      ],
      "typeVersion": 1,
      "id": "1154e128-83a7-4870-b4de-fa3fdfb9e8ce",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1344,
        1216
      ],
      "id": "131d3e68-df69-4e41-8f12-77caab3784fb",
      "name": "Update Event Information",
      "credentials": {
        "airtableTokenApi": {
          "id": "112UtIzO07XgrN7A",
          "name": "Airtable - zmidloch@z-agency.cz"
        }
      }
    },
    {
      "parameters": {
        "content": "## Accounting Section - Receipt Operations",
        "height": 80,
        "width": 2288,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1440,
        -464
      ],
      "typeVersion": 1,
      "id": "dc2e8558-bc20-491a-b386-963dc20a4c48",
      "name": "Sticky Note18"
    },
    {
      "parameters": {
        "content": "## TerraHunt Game Server Section",
        "height": 80,
        "width": 1200,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -160,
        832
      ],
      "typeVersion": 1,
      "id": "9ccc02e3-0613-4d42-982b-620960df89e8",
      "name": "Sticky Note19"
    },
    {
      "parameters": {
        "content": "## Website Section",
        "height": 80,
        "width": 1392,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -176,
        -464
      ],
      "typeVersion": 1,
      "id": "5a9bda0a-3b47-41ab-bc0e-f754b7d5e359",
      "name": "Sticky Note20"
    },
    {
      "parameters": {
        "content": "## Stripe Section",
        "height": 80,
        "width": 1424,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -160,
        208
      ],
      "typeVersion": 1,
      "id": "b38cabfc-8388-40be-a47c-1f9f63873828",
      "name": "Sticky Note21"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2320,
        1216
      ],
      "id": "9a4ec214-9e07-48f1-98e0-e70779542fd9",
      "name": "Update Event Information1",
      "credentials": {
        "airtableTokenApi": {
          "id": "112UtIzO07XgrN7A",
          "name": "Airtable - zmidloch@z-agency.cz"
        }
      }
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "1i80iux_rFtmFcfL88Q2IvYUwew7RZAsLxfc2Y-KAamM",
          "mode": "list",
          "cachedResultName": "Template_Receipt_Stripe",
          "cachedResultUrl": "https://docs.google.com/document/d/1i80iux_rFtmFcfL88Q2IvYUwew7RZAsLxfc2Y-KAamM/edit?usp=drivesdk"
        },
        "name": "={{ $json.fields[\"Datum a čas objednávky\"] }}-{{ $json.fields[\"Kupující - Jméno a Příjmení\"] }}-{{ $json.fields['Název hry'] }}-Invoice-{{ $json.fields['ID Stripe platby'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1472,
        -128
      ],
      "id": "a35c6a08-d469-48c7-998e-316dc16e0346",
      "name": "Copy file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "0y8WKhAVB7SLUFcI",
          "name": "Google Drive zmidloch@z-agency.cz"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "value": "0ABzTOUwe2D1zUk9PVA",
          "mode": "list",
          "cachedResultName": "12 - Autopilot TerraHUnt",
          "cachedResultUrl": "https://drive.google.com/drive/folders/0ABzTOUwe2D1zUk9PVA"
        },
        "folderId": {
          "__rl": true,
          "value": "1MpW_IzSbwUHNa1Zpa9a-ODiLRXjFdPSW",
          "mode": "list",
          "cachedResultName": "2026",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1MpW_IzSbwUHNa1Zpa9a-ODiLRXjFdPSW"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1632,
        -128
      ],
      "id": "55a32c60-cd70-474b-ad6d-a65ece216070",
      "name": "Move file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "0y8WKhAVB7SLUFcI",
          "name": "Google Drive zmidloch@z-agency.cz"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "replaceAll",
              "text": " {{client_name}}",
              "replaceText": "={{ $('If').item.json.fields['Kupující - Jméno a Příjmení'] }}"
            },
            {
              "action": "replaceAll",
              "text": " {{client_address}}",
              "replaceText": "={{ $('If').item.json.fields['Kupující - Adresa'] }} {{ $('If').item.json.fields['Kupující - PSČ'] }} {{ $('If').item.json.fields['Kupující - Město'] }} {{ $('If').item.json.fields['Kupující - Stát'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{{client_email}}",
              "replaceText": "={{ $('If').item.json.fields['Kupující - Email'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{{client_phone}}",
              "replaceText": "={{ $('If').item.json.fields['Kupující - Telefon'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{{order_id}}",
              "replaceText": "={{ $('If').item.json.fields['ID objednávky'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{{date}}",
              "replaceText": "={{ $('If').item.json.fields['Datum a čas objednávky'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{{payment_status}}",
              "replaceText": "={{ $('If').item.json.fields['Stripe platba'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{{card_brand}}",
              "replaceText": "={{ $('If').item.json.fields.Brand }}"
            },
            {
              "action": "replaceAll",
              "text": "{{card_last4}}",
              "replaceText": "={{ $('If').item.json.fields['Last 4 Digits'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{{item_name}}",
              "replaceText": "={{ $('If').item.json.fields['Název hry'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{{game_date}}",
              "replaceText": "={{ $('If').item.json.fields['Start hry'] }} - {{ $('If').item.json.fields['Konec hry'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{{total_price}}",
              "replaceText": "={{ $('Update record').item.json.fields['Celková cena'].toString() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1792,
        -128
      ],
      "id": "7161e29c-e5cf-4779-aa43-6faf98a7259e",
      "name": "Update a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "z7r7DjjMY49jRh08",
          "name": "Google Docs zmidloch@z-agency.cz"
        }
      }
    },
    {
      "parameters": {
        "content": "## Receipt Creation\n**Google Disc Template File Manipulation  - Duplication of template, moving template to directory, set name, fill up, update Airtable status** \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nTemplate:\nhttps://docs.google.com/document/d/1i80iux_rFtmFcfL88Q2IvYUwew7RZAsLxfc2Y-KAamM/edit?usp=sharing",
        "height": 560,
        "width": 656
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1440,
        -336
      ],
      "typeVersion": 1,
      "id": "da5278ad-638c-4231-89d3-90ef326648a7",
      "name": "Sticky Note17"
    },
    {
      "parameters": {
        "content": "## PDF Receipt Creation and Manipulation\n**Finalize receipt operations** ",
        "height": 560,
        "width": 1168
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2160,
        -320
      ],
      "typeVersion": 1,
      "id": "e32f2f5a-682c-4263-ab9f-8c2a44ae4046",
      "name": "Sticky Note22"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Update a document').item.json.documentId }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2192,
        -112
      ],
      "id": "23f86cb4-0599-4ad9-8655-28347c87b6ba",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "0y8WKhAVB7SLUFcI",
          "name": "Google Drive zmidloch@z-agency.cz"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appRH0mydJXkeEQIJ",
          "mode": "list",
          "cachedResultName": "TerraHunt - Sales Autopilot ",
          "cachedResultUrl": "https://airtable.com/appRH0mydJXkeEQIJ"
        },
        "table": {
          "__rl": true,
          "value": "tblWfEAxc3ARNesff",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appRH0mydJXkeEQIJ/tblWfEAxc3ARNesff"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Update record').item.json.id }}",
            "Receipt Status": "={{ ($('Update record').item.json.fields['Vase_Pole_Tagy'] || []).concat(['Created DOC']) }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "ID objednávky",
              "displayName": "ID objednávky",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Datum a čas objednávky",
              "displayName": "Datum a čas objednávky",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Kupující - Jméno a Příjmení",
              "displayName": "Kupující - Jméno a Příjmení",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Kupující - Telefon",
              "displayName": "Kupující - Telefon",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Kupující - Email",
              "displayName": "Kupující - Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Kupující - Adresa",
              "displayName": "Kupující - Adresa",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Kupující - Město",
              "displayName": "Kupující - Město",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Kupující - PSČ",
              "displayName": "Kupující - PSČ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Kupující - Stát",
              "displayName": "Kupující - Stát",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Hráč - Jméno a Příjmení",
              "displayName": "Hráč - Jméno a Příjmení",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Hráč - Telefon",
              "displayName": "Hráč - Telefon",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Hráč - Email",
              "displayName": "Hráč - Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Název hry",
              "displayName": "Název hry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Datum hry",
              "displayName": "Datum hry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Start hry",
              "displayName": "Start hry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Délka hry",
              "displayName": "Délka hry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Konec hry",
              "displayName": "Konec hry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Počet týmů",
              "displayName": "Počet týmů",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Cena za tým",
              "displayName": "Cena za tým",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Celková cena",
              "displayName": "Celková cena",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Stripe platba",
              "displayName": "Stripe platba",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Čeká se na platbu",
                  "value": "Čeká se na platbu"
                },
                {
                  "name": "Zaplaceno",
                  "value": "Zaplaceno"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "ID Stripe platby",
              "displayName": "ID Stripe platby",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Brand",
              "displayName": "Brand",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Last 4 Digits",
              "displayName": "Last 4 Digits",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Country",
              "displayName": "Country",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Receipt Status",
              "displayName": "Receipt Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "options": [
                {
                  "name": "Created DOC",
                  "value": "Created DOC"
                },
                {
                  "name": "Created PDF",
                  "value": "Created PDF"
                },
                {
                  "name": "Saved Airtable",
                  "value": "Saved Airtable"
                },
                {
                  "name": "Uploaded to UOL",
                  "value": "Uploaded to UOL"
                },
                {
                  "name": "Sent to Client",
                  "value": "Sent to Client"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Receipt",
              "displayName": "Receipt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1952,
        -128
      ],
      "id": "a5b97198-3efc-47a8-a34f-3273fa5b3dc5",
      "name": "Update DOC Status",
      "credentials": {
        "airtableTokenApi": {
          "id": "112UtIzO07XgrN7A",
          "name": "Airtable - zmidloch@z-agency.cz"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appRH0mydJXkeEQIJ",
          "mode": "list",
          "cachedResultName": "TerraHunt - Sales Autopilot ",
          "cachedResultUrl": "https://airtable.com/appRH0mydJXkeEQIJ"
        },
        "table": {
          "__rl": true,
          "value": "tblWfEAxc3ARNesff",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appRH0mydJXkeEQIJ/tblWfEAxc3ARNesff"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Receipt": "=[\n  {\n    \"url\": \"{{ $('Upload file').item.json.webContentLink }}\",\n    \"filename\": \"{{ $('Upload file').item.json.name }}\"\n  }\n]",
            "id": "={{ $('Update record').first().json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "ID objednávky",
              "displayName": "ID objednávky",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Datum a čas objednávky",
              "displayName": "Datum a čas objednávky",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Kupující - Jméno a Příjmení",
              "displayName": "Kupující - Jméno a Příjmení",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Kupující - Telefon",
              "displayName": "Kupující - Telefon",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Kupující - Email",
              "displayName": "Kupující - Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Kupující - Adresa",
              "displayName": "Kupující - Adresa",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Kupující - Město",
              "displayName": "Kupující - Město",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Kupující - PSČ",
              "displayName": "Kupující - PSČ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Kupující - Stát",
              "displayName": "Kupující - Stát",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Hráč - Jméno a Příjmení",
              "displayName": "Hráč - Jméno a Příjmení",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Hráč - Telefon",
              "displayName": "Hráč - Telefon",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Hráč - Email",
              "displayName": "Hráč - Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Název hry",
              "displayName": "Název hry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Datum hry",
              "displayName": "Datum hry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Start hry",
              "displayName": "Start hry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Délka hry",
              "displayName": "Délka hry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Konec hry",
              "displayName": "Konec hry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Počet týmů",
              "displayName": "Počet týmů",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Cena za tým",
              "displayName": "Cena za tým",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Celková cena",
              "displayName": "Celková cena",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Stripe platba",
              "displayName": "Stripe platba",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Čeká se na platbu",
                  "value": "Čeká se na platbu"
                },
                {
                  "name": "Zaplaceno",
                  "value": "Zaplaceno"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "ID Stripe platby",
              "displayName": "ID Stripe platby",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Brand",
              "displayName": "Brand",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Last 4 Digits",
              "displayName": "Last 4 Digits",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Country",
              "displayName": "Country",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Receipt Status",
              "displayName": "Receipt Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "options": [
                {
                  "name": "Created DOC",
                  "value": "Created DOC"
                },
                {
                  "name": "Created PDF",
                  "value": "Created PDF"
                },
                {
                  "name": "Saved Airtable",
                  "value": "Saved Airtable"
                },
                {
                  "name": "Uploaded to UOL",
                  "value": "Uploaded to UOL"
                },
                {
                  "name": "Sent to Client",
                  "value": "Sent to Client"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Receipt",
              "displayName": "Receipt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        3008,
        -112
      ],
      "id": "7490435d-749d-4c1f-97f7-5758a8442247",
      "name": "Airtable PDF Upload",
      "credentials": {
        "airtableTokenApi": {
          "id": "112UtIzO07XgrN7A",
          "name": "Airtable - zmidloch@z-agency.cz"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appRH0mydJXkeEQIJ",
          "mode": "list",
          "cachedResultName": "TerraHunt - Sales Autopilot ",
          "cachedResultUrl": "https://airtable.com/appRH0mydJXkeEQIJ"
        },
        "table": {
          "__rl": true,
          "value": "tblWfEAxc3ARNesff",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appRH0mydJXkeEQIJ/tblWfEAxc3ARNesff"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Receipt Status": "={{ ($('Update record').item.json.fields['Receipt Status'] || []).concat(['Created DOC', 'Created PDF', 'Saved Airtable']) }}",
            "ID objednávky": "={{ $json.fields['ID objednávky'] }}"
          },
          "matchingColumns": [
            "ID objednávky"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "ID objednávky",
              "displayName": "ID objednávky",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Datum a čas objednávky",
              "displayName": "Datum a čas objednávky",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Kupující - Jméno a Příjmení",
              "displayName": "Kupující - Jméno a Příjmení",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Kupující - Telefon",
              "displayName": "Kupující - Telefon",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Kupující - Email",
              "displayName": "Kupující - Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Kupující - Adresa",
              "displayName": "Kupující - Adresa",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Kupující - Město",
              "displayName": "Kupující - Město",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Kupující - PSČ",
              "displayName": "Kupující - PSČ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Kupující - Stát",
              "displayName": "Kupující - Stát",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Hráč - Jméno a Příjmení",
              "displayName": "Hráč - Jméno a Příjmení",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Hráč - Telefon",
              "displayName": "Hráč - Telefon",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Hráč - Email",
              "displayName": "Hráč - Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Název hry",
              "displayName": "Název hry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Datum hry",
              "displayName": "Datum hry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Start hry",
              "displayName": "Start hry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Délka hry",
              "displayName": "Délka hry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Konec hry",
              "displayName": "Konec hry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Počet týmů",
              "displayName": "Počet týmů",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Cena za tým",
              "displayName": "Cena za tým",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Celková cena",
              "displayName": "Celková cena",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Stripe platba",
              "displayName": "Stripe platba",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Čeká se na platbu",
                  "value": "Čeká se na platbu"
                },
                {
                  "name": "Zaplaceno",
                  "value": "Zaplaceno"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "ID Stripe platby",
              "displayName": "ID Stripe platby",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Brand karty",
              "displayName": "Brand karty",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Poslední 4 čísla",
              "displayName": "Poslední 4 čísla",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Země vydání",
              "displayName": "Země vydání",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Receipt Status",
              "displayName": "Receipt Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "options": [
                {
                  "name": "Created DOC",
                  "value": "Created DOC"
                },
                {
                  "name": "Created PDF",
                  "value": "Created PDF"
                },
                {
                  "name": "Saved Airtable",
                  "value": "Saved Airtable"
                },
                {
                  "name": "Uploaded to UOL",
                  "value": "Uploaded to UOL"
                },
                {
                  "name": "Sent to Client",
                  "value": "Sent to Client"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Receipt",
              "displayName": "Receipt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        3184,
        -112
      ],
      "id": "4f9862ab-cc8c-4207-ac82-3813c56c5cee",
      "name": "Update Airtable Upload Status",
      "credentials": {
        "airtableTokenApi": {
          "id": "112UtIzO07XgrN7A",
          "name": "Airtable - zmidloch@z-agency.cz"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appRH0mydJXkeEQIJ",
          "mode": "list",
          "cachedResultName": "TerraHunt - Sales Autopilot ",
          "cachedResultUrl": "https://airtable.com/appRH0mydJXkeEQIJ"
        },
        "table": {
          "__rl": true,
          "value": "tblWfEAxc3ARNesff",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appRH0mydJXkeEQIJ/tblWfEAxc3ARNesff"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID objednávky": "={{ $('Airtable PDF Upload').item.json.fields['ID objednávky'] }}",
            "Receipt Status": "={{ ($('Update record').item.json.fields['Receipt Status'] || []).concat(['Created DOC', 'Created PDF', 'Saved Airtable', 'Sent to Client']) }}"
          },
          "matchingColumns": [
            "ID objednávky"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "ID objednávky",
              "displayName": "ID objednávky",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Datum a čas objednávky",
              "displayName": "Datum a čas objednávky",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Kupující - Jméno a Příjmení",
              "displayName": "Kupující - Jméno a Příjmení",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Kupující - Telefon",
              "displayName": "Kupující - Telefon",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Kupující - Email",
              "displayName": "Kupující - Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Kupující - Adresa",
              "displayName": "Kupující - Adresa",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Kupující - Město",
              "displayName": "Kupující - Město",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Kupující - PSČ",
              "displayName": "Kupující - PSČ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Kupující - Stát",
              "displayName": "Kupující - Stát",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Hráč - Jméno a Příjmení",
              "displayName": "Hráč - Jméno a Příjmení",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Hráč - Telefon",
              "displayName": "Hráč - Telefon",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Hráč - Email",
              "displayName": "Hráč - Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Název hry",
              "displayName": "Název hry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Datum hry",
              "displayName": "Datum hry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Start hry",
              "displayName": "Start hry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Délka hry",
              "displayName": "Délka hry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Konec hry",
              "displayName": "Konec hry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Počet týmů",
              "displayName": "Počet týmů",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Cena za tým",
              "displayName": "Cena za tým",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Celková cena",
              "displayName": "Celková cena",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Stripe platba",
              "displayName": "Stripe platba",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Čeká se na platbu",
                  "value": "Čeká se na platbu"
                },
                {
                  "name": "Zaplaceno",
                  "value": "Zaplaceno"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "ID Stripe platby",
              "displayName": "ID Stripe platby",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Brand karty",
              "displayName": "Brand karty",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Poslední 4 čísla",
              "displayName": "Poslední 4 čísla",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Země vydání",
              "displayName": "Země vydání",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Receipt Status",
              "displayName": "Receipt Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "options": [
                {
                  "name": "Created DOC",
                  "value": "Created DOC"
                },
                {
                  "name": "Created PDF",
                  "value": "Created PDF"
                },
                {
                  "name": "Saved Airtable",
                  "value": "Saved Airtable"
                },
                {
                  "name": "Uploaded to UOL",
                  "value": "Uploaded to UOL"
                },
                {
                  "name": "Sent to Client",
                  "value": "Sent to Client"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Receipt",
              "displayName": "Receipt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        3904,
        -112
      ],
      "id": "3aa9dadf-8066-4949-84be-eb0efdb5578c",
      "name": "Update Client Email Status",
      "credentials": {
        "airtableTokenApi": {
          "id": "112UtIzO07XgrN7A",
          "name": "Airtable - zmidloch@z-agency.cz"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://zagency.ucetnictvi.uol.cz/api/v1/uploaded_documents",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3440,
        464
      ],
      "id": "8aedc8e9-b4b7-4d86-a20e-d4d99563060b",
      "name": "HTTP Post PDF to UOL",
      "alwaysOutputData": false,
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpBasicAuth": {
          "id": "g9sUvJe5xEHSB4fE",
          "name": "UOL API Z-AGENCY"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appRH0mydJXkeEQIJ",
          "mode": "list",
          "cachedResultName": "TerraHunt - Sales Autopilot ",
          "cachedResultUrl": "https://airtable.com/appRH0mydJXkeEQIJ"
        },
        "table": {
          "__rl": true,
          "value": "tblWfEAxc3ARNesff",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appRH0mydJXkeEQIJ/tblWfEAxc3ARNesff"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Receipt Status": "{{ ($('Update record').item.json.fields['Receipt Status'] || []).concat(['Created DOC', 'Created PDF', 'Saved Airtable', 'Sent to Client', 'Uploaded to UOL']) }}",
            "ID objednávky": "={{ $('Code in JavaScript1').item.json.fields['ID objednávky'] }}"
          },
          "matchingColumns": [
            "ID objednávky"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "ID objednávky",
              "displayName": "ID objednávky",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Datum a čas objednávky",
              "displayName": "Datum a čas objednávky",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Kupující - Jméno a Příjmení",
              "displayName": "Kupující - Jméno a Příjmení",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Kupující - Telefon",
              "displayName": "Kupující - Telefon",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Kupující - Email",
              "displayName": "Kupující - Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Kupující - Adresa",
              "displayName": "Kupující - Adresa",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Kupující - Město",
              "displayName": "Kupující - Město",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Kupující - PSČ",
              "displayName": "Kupující - PSČ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Kupující - Stát",
              "displayName": "Kupující - Stát",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Hráč - Jméno a Příjmení",
              "displayName": "Hráč - Jméno a Příjmení",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Hráč - Telefon",
              "displayName": "Hráč - Telefon",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Hráč - Email",
              "displayName": "Hráč - Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Název hry",
              "displayName": "Název hry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Datum hry",
              "displayName": "Datum hry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Start hry",
              "displayName": "Start hry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Délka hry",
              "displayName": "Délka hry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Konec hry",
              "displayName": "Konec hry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Počet týmů",
              "displayName": "Počet týmů",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Cena za tým",
              "displayName": "Cena za tým",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Celková cena",
              "displayName": "Celková cena",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Stripe platba",
              "displayName": "Stripe platba",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Čeká se na platbu",
                  "value": "Čeká se na platbu"
                },
                {
                  "name": "Zaplaceno",
                  "value": "Zaplaceno"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "ID Stripe platby",
              "displayName": "ID Stripe platby",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Brand karty",
              "displayName": "Brand karty",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Poslední 4 čísla",
              "displayName": "Poslední 4 čísla",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Země vydání",
              "displayName": "Země vydání",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Receipt Status",
              "displayName": "Receipt Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "options": [
                {
                  "name": "Created DOC",
                  "value": "Created DOC"
                },
                {
                  "name": "Created PDF",
                  "value": "Created PDF"
                },
                {
                  "name": "Saved Airtable",
                  "value": "Saved Airtable"
                },
                {
                  "name": "Uploaded to UOL",
                  "value": "Uploaded to UOL"
                },
                {
                  "name": "Sent to Client",
                  "value": "Sent to Client"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Receipt",
              "displayName": "Receipt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        3632,
        464
      ],
      "id": "008de439-b538-42f6-9037-84a46f852e65",
      "name": "Update UOL Status",
      "credentials": {
        "airtableTokenApi": {
          "id": "112UtIzO07XgrN7A",
          "name": "Airtable - zmidloch@z-agency.cz"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2096,
        1216
      ],
      "id": "96d6d70b-f156-4a62-8cb3-d22edb3bd789",
      "name": "Message to Client - Tutorials & QR",
      "webhookId": "4eff823d-4eb9-47d2-a060-ebf82c95f1f4",
      "credentials": {
        "gmailOAuth2": {
          "id": "cUMqdo7XCF6noXLb",
          "name": "Gmail-info@z-agency.cz"
        }
      }
    },
    {
      "parameters": {
        "content": "## Create and Send Instructions to Client",
        "height": 80,
        "width": 1872,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1232,
        816
      ],
      "typeVersion": 1,
      "id": "c7e482f3-1641-4188-87db-540e9635cd33",
      "name": "Sticky Note23"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1840,
        1216
      ],
      "id": "c4ecdc0c-1e5d-4535-bc84-76d5c5f78bda",
      "name": "Create Personalized Message"
    },
    {
      "parameters": {
        "sendTo": "zmidloch@z-agency.cz",
        "subject": "⚠️ ALERT: Neshoda ID platby (Stripe vs Airtable) - {{ $json.fields['ID objednávky'] || 'Bez ID' }}",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n<meta charset=\"utf-8\">\n</head>\n<body style=\"margin: 0; padding: 0; background-color: #f4f4f4; font-family: Arial, Helvetica, sans-serif;\">\n\n<table width=\"100%\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color: #f4f4f4;\">\n    <tr>\n        <td align=\"center\" style=\"padding: 20px;\">\n            \n            <table width=\"600\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color: #ffffff; border-radius: 8px; overflow: hidden; box-shadow: 0 2px 5px rgba(0,0,0,0.1); max-width: 600px;\">\n                \n                <tr>\n                    <td style=\"background-color: #D32F2F; padding: 20px; text-align: center; color: #ffffff;\">\n                        <h2 style=\"margin: 0; font-size: 24px; font-weight: bold;\">Chyba párování platby</h2>\n                        <p style=\"margin: 5px 0 0 0; font-size: 14px; opacity: 0.9;\">Automatický report z n8n</p>\n                    </td>\n                </tr>\n\n                <tr>\n                    <td style=\"padding: 30px 30px 10px 30px; color: #333333; font-size: 16px; line-height: 1.5;\">\n                        Dobrý den,\n                        <br><br>\n                        Workflow narazilo na problém při kontrole platby. ID, které přišlo ze Stripe Webhooku, se <strong>neshoduje</strong> s ID, které je uloženo u nalezeného záznamu v Airtable.\n                        <br><br>\n                        Systém proto <strong>neprovedl aktualizaci</strong> záznamu, aby nedošlo k chybě.\n                    </td>\n                </tr>\n\n                <tr>\n                    <td style=\"padding: 10px 30px;\">\n                        <table width=\"100%\" border=\"0\" cellpadding=\"15\" cellspacing=\"0\" style=\"background-color: #fff4e5; border: 1px solid #ffcc80; border-radius: 4px;\">\n                            <tr>\n                                <td style=\"color: #663c00;\">\n                                    <strong style=\"display: block; font-size: 12px; text-transform: uppercase; color: #995c00;\">Nově přijaté ID (Stripe):</strong>\n                                    <code style=\"font-family: Consolas, 'Courier New', monospace; font-size: 16px; color: #2e7d32; background-color: #fff; padding: 2px 5px; border-radius: 3px;\">{{ $('Stripe Payment Succeeded Webhook').item.json.body.data.object.id }}</code>\n                                    \n                                    <br><br>\n                                    \n                                    <strong style=\"display: block; font-size: 12px; text-transform: uppercase; color: #995c00;\">Uložené ID (Airtable):</strong>\n                                    <code style=\"font-family: Consolas, 'Courier New', monospace; font-size: 16px; color: #c62828; background-color: #fff; padding: 2px 5px; border-radius: 3px;\">{{ $json.fields['ID Stripe platby'] }}</code>\n                                </td>\n                            </tr>\n                        </table>\n                    </td>\n                </tr>\n\n                <tr>\n                    <td style=\"padding: 20px 30px;\">\n                        <h3 style=\"margin: 0 0 15px 0; font-size: 16px; border-bottom: 2px solid #eeeeee; padding-bottom: 10px; color: #555555;\">🔍 Kontext záznamu</h3>\n                        \n                        <table width=\"100%\" border=\"0\" cellpadding=\"5\" cellspacing=\"0\" style=\"font-size: 14px; color: #333333;\">\n                            <tr>\n                                <td width=\"140\" style=\"font-weight: bold; color: #777;\">Jméno klienta:</td>\n                                <td>{{ $json.fields['Kupující - Jméno a Příjmení'] || 'Nenalezeno' }}</td>\n                            </tr>\n                            <tr>\n                                <td style=\"font-weight: bold; color: #777;\">Email:</td>\n                                <td>{{ $json.fields['Kupující - Email'] || 'Nenalezeno' }}</td>\n                            </tr>\n                            <tr>\n                                <td style=\"font-weight: bold; color: #777;\">ID Objednávky:</td>\n                                <td>{{ $json.fields['ID objednávky'] || 'Nenalezeno' }}</td>\n                            </tr>\n                            <tr>\n                                <td style=\"font-weight: bold; color: #777;\">Record ID:</td>\n                                <td style=\"font-family: monospace; color: #888;\">{{ $json.id }}</td>\n                            </tr>\n                        </table>\n                    </td>\n                </tr>\n\n                <tr>\n                    <td style=\"background-color: #eeeeee; padding: 15px; text-align: center; color: #888888; font-size: 12px;\">\n                        Toto je automaticky generovaná zpráva z n8n workflow.<br>\n                        Nereagujte na tento email.\n                    </td>\n                </tr>\n\n            </table>\n        </td>\n    </tr>\n</table>\n\n</body>\n</html>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1136,
        400
      ],
      "id": "9348730b-7c8a-48d8-9c3a-0144b09d8916",
      "name": "Send Error Message",
      "webhookId": "9a162bdf-a7b4-41cc-bbbc-f3ffbe08e256",
      "credentials": {
        "gmailOAuth2": {
          "id": "cUMqdo7XCF6noXLb",
          "name": "Gmail-info@z-agency.cz"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const b = item.binary?.data;\nif (!b) throw new Error('Chybí item.binary.data');\n\nb.fileName = `${item.json.fields['Datum a čas objednávky']}-${item.json.fields['Kupující - Jméno a Příjmení']}-${item.json.fields['Název hry']}-Invoice.pdf`;\n\n// volitelně (většinou už máš)\nb.mimeType = 'application/pdf';\n\nreturn item;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2336,
        -112
      ],
      "id": "9c178d8b-e3c3-4598-9b68-63607dfbcff9",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appRH0mydJXkeEQIJ",
          "mode": "list",
          "cachedResultName": "TerraHunt - Sales Autopilot ",
          "cachedResultUrl": "https://airtable.com/appRH0mydJXkeEQIJ"
        },
        "table": {
          "__rl": true,
          "value": "tblWfEAxc3ARNesff",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appRH0mydJXkeEQIJ/tblWfEAxc3ARNesff"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Update record').item.json.id }}",
            "Receipt Status": "={{ ($('Update record').item.json.fields['Receipt Status'] || []).concat(['Created DOC', 'Created PDF']) }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "ID objednávky",
              "displayName": "ID objednávky",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Datum a čas objednávky",
              "displayName": "Datum a čas objednávky",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Kupující - Jméno a Příjmení",
              "displayName": "Kupující - Jméno a Příjmení",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Kupující - Telefon",
              "displayName": "Kupující - Telefon",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Kupující - Email",
              "displayName": "Kupující - Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Kupující - Adresa",
              "displayName": "Kupující - Adresa",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Kupující - Město",
              "displayName": "Kupující - Město",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Kupující - PSČ",
              "displayName": "Kupující - PSČ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Kupující - Stát",
              "displayName": "Kupující - Stát",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Hráč - Jméno a Příjmení",
              "displayName": "Hráč - Jméno a Příjmení",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Hráč - Telefon",
              "displayName": "Hráč - Telefon",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Hráč - Email",
              "displayName": "Hráč - Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Název hry",
              "displayName": "Název hry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Datum hry",
              "displayName": "Datum hry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Start hry",
              "displayName": "Start hry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Délka hry",
              "displayName": "Délka hry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Konec hry",
              "displayName": "Konec hry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Počet týmů",
              "displayName": "Počet týmů",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Cena za tým",
              "displayName": "Cena za tým",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Celková cena",
              "displayName": "Celková cena",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Stripe platba",
              "displayName": "Stripe platba",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Čeká se na platbu",
                  "value": "Čeká se na platbu"
                },
                {
                  "name": "Zaplaceno",
                  "value": "Zaplaceno"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "ID Stripe platby",
              "displayName": "ID Stripe platby",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Brand",
              "displayName": "Brand",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Last 4 Digits",
              "displayName": "Last 4 Digits",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Country",
              "displayName": "Country",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Receipt Status",
              "displayName": "Receipt Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "options": [
                {
                  "name": "Created DOC",
                  "value": "Created DOC"
                },
                {
                  "name": "Created PDF",
                  "value": "Created PDF"
                },
                {
                  "name": "Saved Airtable",
                  "value": "Saved Airtable"
                },
                {
                  "name": "Uploaded to UOL",
                  "value": "Uploaded to UOL"
                },
                {
                  "name": "Sent to Client",
                  "value": "Sent to Client"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Receipt",
              "displayName": "Receipt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2832,
        -112
      ],
      "id": "d7e38d5c-6038-4320-bdf3-d5eacea046bd",
      "name": "Update PDF Status",
      "credentials": {
        "airtableTokenApi": {
          "id": "112UtIzO07XgrN7A",
          "name": "Airtable - zmidloch@z-agency.cz"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $json.fields[\"Datum a čas objednávky\"] }}-{{ $json.fields[\"Kupující - Jméno a Příjmení\"] }}-{{ $json.fields['Název hry'] }}-Invoice-{{ $json.fields['ID Stripe platby'] }}.pdf",
        "driveId": {
          "__rl": true,
          "value": "0ABzTOUwe2D1zUk9PVA",
          "mode": "list",
          "cachedResultName": "12 - Autopilot TerraHUnt",
          "cachedResultUrl": "https://drive.google.com/drive/folders/0ABzTOUwe2D1zUk9PVA"
        },
        "folderId": {
          "__rl": true,
          "value": "1MpW_IzSbwUHNa1Zpa9a-ODiLRXjFdPSW",
          "mode": "list",
          "cachedResultName": "2026",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1MpW_IzSbwUHNa1Zpa9a-ODiLRXjFdPSW"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2496,
        -112
      ],
      "id": "6984a812-1151-4042-b634-5e0372caaa49",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "0y8WKhAVB7SLUFcI",
          "name": "Google Drive zmidloch@z-agency.cz"
        }
      }
    },
    {
      "parameters": {
        "operation": "share",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Upload file').item.json.id }}",
          "mode": "id"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "reader",
            "type": "anyone"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2672,
        -112
      ],
      "id": "88b80d08-ef77-48ed-b12b-f26e408d5183",
      "name": "Share file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "0y8WKhAVB7SLUFcI",
          "name": "Google Drive zmidloch@z-agency.cz"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3488,
        48
      ],
      "id": "b7f149fe-8358-4c09-8365-6acb8099b74d",
      "name": "Merge"
    },
    {
      "parameters": {
        "tableId": "Autopilot_Sales",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "order_id",
              "fieldValue": "={{ $('Wordpress Forminator Webhook').item.json.body.form_uid }}"
            },
            {
              "fieldId": "order_datetime",
              "fieldValue": "={{ $('Wordpress Forminator Webhook').item.json.body.entry_time }}"
            },
            {
              "fieldId": "buyer_name",
              "fieldValue": "={{ $('Wordpress Forminator Webhook').item.json.body.name_1 }}"
            },
            {
              "fieldId": "buyer_phone",
              "fieldValue": "={{ $('Wordpress Forminator Webhook').item.json.body.phone_1 }}"
            },
            {
              "fieldId": "buyer_email",
              "fieldValue": "={{ $('Wordpress Forminator Webhook').item.json.body.email_1 }}"
            },
            {
              "fieldId": "buyer_address",
              "fieldValue": "={{ $('Wordpress Forminator Webhook').item.json.body.address_1_street_address }}"
            },
            {
              "fieldId": "buyer_city",
              "fieldValue": "={{ $('Wordpress Forminator Webhook').item.json.body.address_1_city }}"
            },
            {
              "fieldId": "buyer_postcode",
              "fieldValue": "={{ $('Wordpress Forminator Webhook').item.json.body.address_1_zip }}"
            },
            {
              "fieldId": "buyer_country",
              "fieldValue": "={{ $('Wordpress Forminator Webhook').item.json.body.address_1_country }}"
            },
            {
              "fieldId": "player_name",
              "fieldValue": "={{ $('Wordpress Forminator Webhook').item.json.body.name_2 }}"
            },
            {
              "fieldId": "player_phone",
              "fieldValue": "={{ $('Wordpress Forminator Webhook').item.json.body.phone_2 }}"
            },
            {
              "fieldId": "player_email",
              "fieldValue": "={{ $('Wordpress Forminator Webhook').item.json.body.email_2 }}"
            },
            {
              "fieldId": "game_name",
              "fieldValue": "={{ $('Wordpress Forminator Webhook').item.json.body.form_title }}"
            },
            {
              "fieldId": "game_date",
              "fieldValue": "={{ $('Wordpress Forminator Webhook').item.json.body.date_1 }}"
            },
            {
              "fieldId": "game_start",
              "fieldValue": "={{ $json.assignments[0].value }}"
            },
            {
              "fieldId": "duration_min",
              "fieldValue": "={{ $json.assignments[1].value }}"
            },
            {
              "fieldId": "game_end",
              "fieldValue": "={{ $json.assignments[2].value }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        816,
        -176
      ],
      "id": "303599a0-7ae4-46ae-bac3-0e09c317054f",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "BI8O6iiU4BpDylT5",
          "name": "Supabase account"
        }
      }
    }
  ],
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "zVAjJgKV17IWzFP7",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-01-07T22:29:56.631Z",
      "createdAt": "2026-01-07T22:29:56.631Z",
      "role": "workflow:owner",
      "workflowId": "bTX4gb7VSZ9e4A7i",
      "projectId": "XqkS7oX8lMj4YbIK"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-01-07T23:57:44.054Z",
  "versionId": "df66ea8c-bc2c-4024-91d4-d235ad2e9a76"
}