hetzner-2c-4g/Terrahunt Solution - Upload Invocies to UOL-Mh6dcUP16r24JbJF.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-01-07T15:08:30.713Z",
    "createdAt": "2026-01-07T15:08:23.924Z",
    "versionId": "17188f3f-fb97-4bbd-b5dd-8ce7f8b936ea",
    "workflowId": "Mh6dcUP16r24JbJF",
    "nodes": [
      {
        "parameters": {
          "content": "## Terrahunt Solution  - UOL Invoices/Documents Upload\n**A new document in Muj počítač/2026/To Upload is uploaded to UOL documents and then moved to Uploaded folder** ",
          "height": 528,
          "width": 1424,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          0,
          0
        ],
        "typeVersion": 1,
        "id": "5b856f94-ae23-4d1f-af91-a2f1975e976e",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyHour"
              }
            ]
          },
          "triggerOn": "specificFolder",
          "folderToWatch": {
            "__rl": true,
            "value": "1OYCaWaoS0vV5Cq2Fk-GMVOgs6COFoviO",
            "mode": "list",
            "cachedResultName": "T_To_Upload",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1OYCaWaoS0vV5Cq2Fk-GMVOgs6COFoviO"
          },
          "event": "fileCreated",
          "options": {}
        },
        "type": "n8n-nodes-base.googleDriveTrigger",
        "typeVersion": 1,
        "position": [
          128,
          176
        ],
        "id": "c16364ef-a87d-4ca8-8faf-1d4c2e71f815",
        "name": "Discover a New File in To Upload Folder1",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "0y8WKhAVB7SLUFcI",
            "name": "Google Drive zmidloch@z-agency.cz"
          }
        }
      },
      {
        "parameters": {
          "operation": "download",
          "fileId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          },
          "options": {
            "googleFileConversion": {
              "conversion": {
                "docsToFormat": "application/pdf"
              }
            }
          }
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          688,
          192
        ],
        "id": "915c1c53-85c0-4da0-8117-6f635dce9cc0",
        "name": "Download file1",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "0y8WKhAVB7SLUFcI",
            "name": "Google Drive zmidloch@z-agency.cz"
          }
        }
      },
      {
        "parameters": {
          "operation": "move",
          "fileId": {
            "__rl": true,
            "value": "={{ $('Download file1').item.json.id }}",
            "mode": "id"
          },
          "driveId": {
            "__rl": true,
            "value": "My Drive",
            "mode": "list",
            "cachedResultName": "My Drive",
            "cachedResultUrl": "https://drive.google.com/drive/my-drive"
          },
          "folderId": {
            "__rl": true,
            "value": "1I0Qhfpt_Wj7simhwoRBde4RecRTgDze3",
            "mode": "list",
            "cachedResultName": "T_Uploaded",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1I0Qhfpt_Wj7simhwoRBde4RecRTgDze3"
          }
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          1120,
          304
        ],
        "id": "3711de18-cdc5-4135-b2f0-c8b64013f355",
        "name": "Move File to Uploaded Folder1",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "0y8WKhAVB7SLUFcI",
            "name": "Google Drive zmidloch@z-agency.cz"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          416,
          176
        ],
        "id": "ff438316-dd68-4dfb-9fc6-841fa25073f9",
        "name": "Loop Over Items1"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://terrahuntsol.ucetnictvi.uol.cz/api/v1/uploaded_documents",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBasicAuth",
          "sendBody": true,
          "contentType": "multipart-form-data",
          "bodyParameters": {
            "parameters": [
              {
                "parameterType": "formBinaryData",
                "name": "file",
                "inputDataFieldName": "data"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          896,
          192
        ],
        "id": "069f2c77-72ec-4a41-a261-f1cdc7ea36ef",
        "name": "Upload PDF to UOL server Terrahunt Solution",
        "alwaysOutputData": true,
        "credentials": {
          "httpBasicAuth": {
            "id": "SU8tLQqVawJIojwj",
            "name": "UOL API - Terrahunt Solution"
          }
        }
      }
    ],
    "connections": {
      "Discover a New File in To Upload Folder1": {
        "main": [
          [
            {
              "node": "Loop Over Items1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download file1": {
        "main": [
          [
            {
              "node": "Upload PDF to UOL server Terrahunt Solution",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Move File to Uploaded Folder1": {
        "main": [
          [
            {
              "node": "Loop Over Items1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items1": {
        "main": [
          [],
          [
            {
              "node": "Download file1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload PDF to UOL server Terrahunt Solution": {
        "main": [
          [
            {
              "node": "Move File to Uploaded Folder1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Jiri Zmidloch",
    "name": "Version 17188f3f",
    "description": "",
    "autosaved": false
  },
  "activeVersionId": "17188f3f-fb97-4bbd-b5dd-8ce7f8b936ea",
  "connections": {
    "Discover a New File in To Upload Folder1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Upload PDF to UOL server Terrahunt Solution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move File to Uploaded Folder1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload PDF to UOL server Terrahunt Solution": {
      "main": [
        [
          {
            "node": "Move File to Uploaded Folder1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-07T15:08:23.924Z",
  "id": "Mh6dcUP16r24JbJF",
  "isArchived": false,
  "meta": null,
  "name": "Terrahunt Solution - Upload Invocies to UOL",
  "nodes": [
    {
      "parameters": {
        "content": "## Terrahunt Solution  - UOL Invoices/Documents Upload\n**A new document in Muj počítač/2026/To Upload is uploaded to UOL documents and then moved to Uploaded folder** ",
        "height": 528,
        "width": 1424,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "5b856f94-ae23-4d1f-af91-a2f1975e976e",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1OYCaWaoS0vV5Cq2Fk-GMVOgs6COFoviO",
          "mode": "list",
          "cachedResultName": "T_To_Upload",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1OYCaWaoS0vV5Cq2Fk-GMVOgs6COFoviO"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        128,
        176
      ],
      "id": "c16364ef-a87d-4ca8-8faf-1d4c2e71f815",
      "name": "Discover a New File in To Upload Folder1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "0y8WKhAVB7SLUFcI",
          "name": "Google Drive zmidloch@z-agency.cz"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        688,
        192
      ],
      "id": "915c1c53-85c0-4da0-8117-6f635dce9cc0",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "0y8WKhAVB7SLUFcI",
          "name": "Google Drive zmidloch@z-agency.cz"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Download file1').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1I0Qhfpt_Wj7simhwoRBde4RecRTgDze3",
          "mode": "list",
          "cachedResultName": "T_Uploaded",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1I0Qhfpt_Wj7simhwoRBde4RecRTgDze3"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1120,
        304
      ],
      "id": "3711de18-cdc5-4135-b2f0-c8b64013f355",
      "name": "Move File to Uploaded Folder1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "0y8WKhAVB7SLUFcI",
          "name": "Google Drive zmidloch@z-agency.cz"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        416,
        176
      ],
      "id": "ff438316-dd68-4dfb-9fc6-841fa25073f9",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://terrahuntsol.ucetnictvi.uol.cz/api/v1/uploaded_documents",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        896,
        192
      ],
      "id": "069f2c77-72ec-4a41-a261-f1cdc7ea36ef",
      "name": "Upload PDF to UOL server Terrahunt Solution",
      "alwaysOutputData": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "SU8tLQqVawJIojwj",
          "name": "UOL API - Terrahunt Solution"
        }
      }
    }
  ],
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "zVAjJgKV17IWzFP7"
  },
  "shared": [
    {
      "updatedAt": "2026-01-07T15:08:23.924Z",
      "createdAt": "2026-01-07T15:08:23.924Z",
      "role": "workflow:owner",
      "workflowId": "Mh6dcUP16r24JbJF",
      "projectId": "XqkS7oX8lMj4YbIK"
    }
  ],
  "staticData": {
    "node:Discover a New File in To Upload Folder1": {
      "lastTimeChecked": "2026-02-08T05:05:09Z"
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-01-07T15:08:38.189Z",
  "versionId": "17188f3f-fb97-4bbd-b5dd-8ce7f8b936ea"
}