hetzner-2c-4g/TerraHunt Sales Autopilot - TEST VERSION copy-4R81nuKygouPIGFs.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Create a record": {
      "main": [
        []
      ]
    },
    "Data Format for Airtable": {
      "main": [
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wordpress Forminator Webhook": {
      "main": [
        [
          {
            "node": "Data Format for Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stripe Payment Succeeded Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update record": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP - GET GAMES",
            "type": "main",
            "index": 0
          },
          {
            "node": "Copy file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Update record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - GET GAMES": {
      "main": [
        [
          {
            "node": "HTTP POST EVENT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP POST EVENT": {
      "main": [
        [
          {
            "node": "HTTP GET EVENT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP GET EVENT": {
      "main": [
        [
          {
            "node": "Update Event Information",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Event Information": {
      "main": [
        [
          {
            "node": "Create Personalized Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copy file": {
      "main": [
        [
          {
            "node": "Move file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move file": {
      "main": [
        [
          {
            "node": "Update file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update file": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Update a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a document": {
      "main": [
        [
          {
            "node": "Update DOC Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Update PDF Status",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Post PDF to UOL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update PDF Status": {
      "main": [
        [
          {
            "node": "Airtable PDF Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update DOC Status": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable PDF Upload": {
      "main": [
        [
          {
            "node": "Update Airtable Upload Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Airtable Upload Status": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Update Client Email Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Post PDF to UOL": {
      "main": [
        [
          {
            "node": "Update UOL Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message to Client - Tutorials & QR": {
      "main": [
        [
          {
            "node": "Update Event Information1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Personalized Message": {
      "main": [
        [
          {
            "node": "Message to Client - Tutorials & QR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-30T12:31:52.048Z",
  "id": "4R81nuKygouPIGFs",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "TerraHunt Sales Autopilot - TEST VERSION copy",
  "nodes": [
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appRH0mydJXkeEQIJ",
          "mode": "list",
          "cachedResultName": "TerraHunt Sales Autopilot ",
          "cachedResultUrl": "https://airtable.com/appRH0mydJXkeEQIJ"
        },
        "table": {
          "__rl": true,
          "value": "tblWfEAxc3ARNesff",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appRH0mydJXkeEQIJ/tblWfEAxc3ARNesff"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Kupující - Jméno a Příjmení": "={{ $('Wordpress Forminator Webhook').item.json.body.name_1 }}",
            "Kupující - Email": "={{ $('Wordpress Forminator Webhook').item.json.body.confirm_email_1 }}",
            "Kupující - Telefon": "={{ $('Wordpress Forminator Webhook').item.json.body.phone_1 }}",
            "Kupující - Město": "={{ $('Wordpress Forminator Webhook').item.json.body.address_1_city }}",
            "Kupující - Adresa": "={{ $('Wordpress Forminator Webhook').item.json.body.address_1_street_address }}",
            "Kupující - PSČ": "={{ $('Wordpress Forminator Webhook').item.json.body.address_1_zip }}",
            "Kupující - Stát": "={{ $('Wordpress Forminator Webhook').item.json.body.address_1_country }}",
            "Celková cena": "={{ $json.nodes[0].parameters.assignments.assignments[3].value }}",
            "Cena za tým": "={{ $('Wordpress Forminator Webhook').item.json.body.calculation_2 }}",
            "Počet týmů": "={{ $json.nodes[0].parameters.assignments.assignments[4].value }}",
            "Délka hry": "={{ $json.nodes[0].parameters.assignments.assignments[2].value }}",
            "Hráč - Jméno a Příjmení": "={{ $('Wordpress Forminator Webhook').item.json.body.name_2 }}",
            "Hráč - Email": "={{ $('Wordpress Forminator Webhook').item.json.body.email_2 }}",
            "Hráč - Telefon": "={{ $('Wordpress Forminator Webhook').item.json.body.phone_2 }}",
            "Stripe platba": "Čeká se na platbu",
            "Datum hry": "={{ $json.nodes[0].parameters.assignments.assignments[0].value }}",
            "Název hry": "Treasure Hunt Budapest",
            "ID objednávky": "={{ $('Wordpress Forminator Webhook').item.json.body.form_uid }}",
            "Start hry": "={{ $json.nodes[0].parameters.assignments.assignments[0].value }}",
            "Konec hry": "={{ $json.nodes[0].parameters.assignments.assignments[1].value }}",
            "ID Stripe platby": "={{ $('Wordpress Forminator Webhook').item.json.body.paymentid }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID objednávky",
              "displayName": "ID objednávky",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Datum a čas objednávky",
              "displayName": "Datum a čas objednávky",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Kupující - Jméno a Příjmení",
              "displayName": "Kupující - Jméno a Příjmení",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Kupující - Telefon",
              "displayName": "Kupující - Telefon",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Kupující - Email",
              "displayName": "Kupující - Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Kupující - Adresa",
              "displayName": "Kupující - Adresa",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Kupující - Město",
              "displayName": "Kupující - Město",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Kupující - PSČ",
              "displayName": "Kupující - PSČ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Kupující - Stát",
              "displayName": "Kupující - Stát",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Hráč - Jméno a Příjmení",
              "displayName": "Hráč - Jméno a Příjmení",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Hráč - Telefon",
              "displayName": "Hráč - Telefon",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Hráč - Email",
              "displayName": "Hráč - Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Název hry",
              "displayName": "Název hry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Datum hry",
              "displayName": "Datum hry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Start hry",
              "displayName": "Start hry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Délka hry",
              "displayName": "Délka hry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Konec hry",
              "displayName": "Konec hry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Počet týmů",
              "displayName": "Počet týmů",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Cena za tým",
              "displayName": "Cena za tým",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Celková cena",
              "displayName": "Celková cena",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Stripe platba",
              "displayName": "Stripe platba",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Čeká se na platbu",
                  "value": "Čeká se na platbu"
                },
                {
                  "name": "Zaplaceno",
                  "value": "Zaplaceno"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "ID Stripe platby",
              "displayName": "ID Stripe platby",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        784,
        -176
      ],
      "id": "4134598f-6ee3-4913-b877-53e7d6839467",
      "name": "Create a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "112UtIzO07XgrN7A",
          "name": "Airtable - zmidloch@z-agency.cz"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appRH0mydJXkeEQIJ",
          "mode": "list",
          "cachedResultName": "TerraHunt Sales Autopilot ",
          "cachedResultUrl": "https://airtable.com/appRH0mydJXkeEQIJ"
        },
        "table": {
          "__rl": true,
          "value": "tblWfEAxc3ARNesff",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appRH0mydJXkeEQIJ/tblWfEAxc3ARNesff"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID Stripe platby": "={{ $json.body.data.object.id }}",
            "Stripe platba": "Zaplaceno",
            "Délka hry": 0,
            "Počet týmů": 0,
            "Cena za tým": 0,
            "Celková cena": 0,
            "Brand karty": "={{ $json.card.networks.available[0] }}",
            "Poslední 4 čísla": "={{ $json.card.last4 }}",
            "Země vydání": "={{ $json.card.country }}"
          },
          "matchingColumns": [
            "ID Stripe platby"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "ID objednávky",
              "displayName": "ID objednávky",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Datum a čas objednávky",
              "displayName": "Datum a čas objednávky",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Kupující - Jméno a Příjmení",
              "displayName": "Kupující - Jméno a Příjmení",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Kupující - Telefon",
              "displayName": "Kupující - Telefon",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Kupující - Email",
              "displayName": "Kupující - Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Kupující - Adresa",
              "displayName": "Kupující - Adresa",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Kupující - Město",
              "displayName": "Kupující - Město",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Kupující - PSČ",
              "displayName": "Kupující - PSČ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Kupující - Stát",
              "displayName": "Kupující - Stát",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Hráč - Jméno a Příjmení",
              "displayName": "Hráč - Jméno a Příjmení",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Hráč - Telefon",
              "displayName": "Hráč - Telefon",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Hráč - Email",
              "displayName": "Hráč - Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Název hry",
              "displayName": "Název hry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Datum hry",
              "displayName": "Datum hry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Start hry",
              "displayName": "Start hry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Délka hry",
              "displayName": "Délka hry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Konec hry",
              "displayName": "Konec hry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Počet týmů",
              "displayName": "Počet týmů",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Cena za tým",
              "displayName": "Cena za tým",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Celková cena",
              "displayName": "Celková cena",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Stripe platba",
              "displayName": "Stripe platba",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Čeká se na platbu",
                  "value": "Čeká se na platbu"
                },
                {
                  "name": "Zaplaceno",
                  "value": "Zaplaceno"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "ID Stripe platby",
              "displayName": "ID Stripe platby",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Brand karty",
              "displayName": "Brand karty",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Poslední 4 čísla",
              "displayName": "Poslední 4 čísla",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Země vydání",
              "displayName": "Země vydání",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        592,
        480
      ],
      "id": "8b3e2778-e0bc-41a8-b26f-da693786a3f4",
      "name": "Update record",
      "credentials": {
        "airtableTokenApi": {
          "id": "112UtIzO07XgrN7A",
          "name": "Airtable - zmidloch@z-agency.cz"
        }
      }
    },
    {
      "parameters": {
        "content": "## Submit Website Form\n**Customer fills out and submits form from website including Stripe payment**\n\n[Test Website Link](https://autopilot.terrahunt.cz/)",
        "height": 352,
        "width": 416
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -176,
        -352
      ],
      "typeVersion": 1,
      "id": "4541f280-1223-4a97-9230-0c747591f563",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Edit Fields\n**Reformatting items from Webhook so that Airtable accepts them**",
        "height": 352,
        "width": 304
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        272,
        -352
      ],
      "typeVersion": 1,
      "id": "dba6a955-702b-4046-9771-1de89b28b95e",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Airtable Base Post Created\n**All items are saved for billing, pairing with Stripe, and client game parameters, according to which the event is then launched on the server. \nITEM FOR PAIRING - Payment ID**\n\n[Base link](https://airtable.com/appRH0mydJXkeEQIJ/tblWfEAxc3ARNesff/viww9GaFA6BbtK3xk?blocks=hide)",
        "height": 352,
        "width": 592
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        624,
        -352
      ],
      "typeVersion": 1,
      "id": "85410f44-707f-409e-8f8f-cb24f8d42c9f",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"nodes\": [\n    {\n      \"parameters\": {\n        \"assignments\": {\n          \"assignments\": [\n            {\n              \"id\": \"start_game_iso\",\n              \"name\": \"Zacatek_Hry\",\n              \"value\": \"{{ $json.body.date_1.split('.').reverse().join('-') }}T{{ $json.body.time_1_hours.toString().padStart(2, '0') }}:{{ $json.body.time_1_minutes.toString().padStart(2, '0') }}:00\",\n              \"type\": \"string\"\n            },\n            {\n              \"id\": \"end_game_iso\",\n              \"name\": \"Konec_Hry\",\n              \"value\": \"{{ (() => { const d = $json.body.date_1.split('.'); const start = new Date(parseInt(d[2]), parseInt(d[1]) - 1, parseInt(d[0]), parseInt($json.body.time_1_hours), parseInt($json.body.time_1_minutes)); const duration = parseFloat(JSON.parse($json.body.select_4)[0].replace(',', '.')); start.setMinutes(start.getMinutes() + (duration * 60)); const pad = (n) => n.toString().padStart(2, '0'); return start.getFullYear() + '-' + pad(start.getMonth() + 1) + '-' + pad(start.getDate()) + 'T' + pad(start.getHours()) + ':' + pad(start.getMinutes()) + ':00'; })() }}\",\n              \"type\": \"string\"\n            },\n            {\n              \"id\": \"duration_formatted\",\n              \"name\": \"Delka_Hry_Format\",\n              \"value\": \"{{ Math.floor(parseFloat(JSON.parse($json.body.select_4)[0].replace(',', '.'))).toString() + ':' + Math.round((parseFloat(JSON.parse($json.body.select_4)[0].replace(',', '.')) % 1) * 60).toString().padStart(2, '0') }}\",\n              \"type\": \"string\"\n            },\n            {\n              \"id\": \"price_num\",\n              \"name\": \"Cena_Cislo\",\n              \"value\": \"{{ $json.body.calculation_1 ? parseFloat($json.body.calculation_1) : 0 }}\",\n              \"type\": \"number\"\n            },\n            {\n              \"id\": \"teams_num\",\n              \"name\": \"Pocet_Tymu_Cislo\",\n              \"value\": \"{{ $json.body.number_1 ? parseInt($json.body.number_1) : 0 }}\",\n              \"type\": \"number\"\n            },\n            {\n              \"id\": \"custom_id\",\n              \"name\": \"TH_ID\",\n              \"value\": \"{{ $json.body.hidden_1 }}\",\n              \"type\": \"string\"\n            }\n          ]\n        },\n        \"options\": {}\n      },\n      \"id\": \"edit-fields-formatted-string\",\n      \"name\": \"Formatovani Dat\",\n      \"type\": \"n8n-nodes-base.set\",\n      \"typeVersion\": 3.4,\n      \"position\": [\n        460,\n        0\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        384,
        -176
      ],
      "id": "a91081a5-da93-4445-bc39-44a45422dd05",
      "name": "Data Format for Airtable"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "a12559db-d240-4c7e-869c-aeda1b5f3629",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -32,
        -176
      ],
      "id": "e08e810b-aaf0-4040-90d3-2cf8d529e28e",
      "name": "Wordpress Forminator Webhook",
      "webhookId": "a12559db-d240-4c7e-869c-aeda1b5f3629",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Stripe Payment Succeeded Webhook\n**If Payment Succeeded**  webhook is sent - PAYMENT ID INCLUDED  - need to be paired with Airtable post",
        "height": 336,
        "width": 336
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -160,
        320
      ],
      "typeVersion": 1,
      "id": "73a0ee3a-6d36-4728-aab3-3b6c1927e65e",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fe571560-b896-45f0-a131-d13474b8e577",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -48,
        480
      ],
      "id": "1e16906a-5420-4124-b543-cc53a639878f",
      "name": "Stripe Payment Succeeded Webhook",
      "webhookId": "fe571560-b896-45f0-a131-d13474b8e577",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Stripe-Airtable Pairing\n**If Payment Succeeded** change status of payment in Airtable",
        "height": 336,
        "width": 256
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        528,
        320
      ],
      "typeVersion": 1,
      "id": "c2352df1-6f93-41dd-a159-fd6a7fec6104",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "25fd7588-6742-4cc1-8139-954c92709eeb",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        912,
        576
      ],
      "id": "a8c7cf17-7e86-4ad2-8061-87b232e776c6",
      "name": "If"
    },
    {
      "parameters": {
        "content": "## Pairing check\n**If Yes** Continue ! - **If no** Send a message!",
        "height": 384,
        "width": 416
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        848,
        320
      ],
      "typeVersion": 1,
      "id": "169c12bb-1101-4f32-a8d5-4f375d4d1f31",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1424,
        592
      ],
      "id": "1c4eed0b-ba3b-472b-a221-8bc4392f476e",
      "name": "Send Error Message",
      "webhookId": "df99da07-d736-466b-b2e3-c95e74fc5cfc",
      "credentials": {
        "telegramApi": {
          "id": "UrrMYed7rpj32cus",
          "name": "TelegramSef"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "url": "=https://api.stripe.com/v1/payment_methods/{{ $json.body.data.object.payment_method }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "stripeApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        272,
        480
      ],
      "id": "3e1728ce-ef1e-4956-a256-8e8705c6e625",
      "name": "HTTP Request",
      "credentials": {
        "stripeApi": {
          "id": "0ZpFJqgoU0OQpDBU",
          "name": "Stripe account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Additional Card Information\n**Card brand, last 4 digits**  ",
        "height": 336,
        "width": 272
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        208,
        320
      ],
      "typeVersion": 1,
      "id": "566f2a2c-79f3-4851-bf95-b0b5314ae167",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "##  Send Receipt Email",
        "height": 560,
        "width": 432
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3520,
        -112
      ],
      "typeVersion": 1,
      "id": "fc4448c9-0845-4483-9eea-3f1fdd0ea4a2",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "## Get Games IDs",
        "height": 336,
        "width": 336
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -160,
        944
      ],
      "typeVersion": 1,
      "id": "ffaf10f8-35ad-41b5-9a7d-6e6127d62936",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "## Create Treasure Hunt Event",
        "height": 336,
        "width": 336
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        288,
        944
      ],
      "typeVersion": 1,
      "id": "8c667541-e9c3-4d04-8e86-2cce35e41d4b",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "## Get Event Information",
        "height": 336,
        "width": 336
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        704,
        944
      ],
      "typeVersion": 1,
      "id": "825f36b2-a591-4ed6-a413-9e69816e40ec",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "##  Personalized Message to Client",
        "height": 592,
        "width": 800
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1760,
        944
      ],
      "typeVersion": 1,
      "id": "499194a8-5eba-4bd3-96c0-be65d2e2e808",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        3568,
        96
      ],
      "id": "f38c25d2-78c0-4e5c-acd7-f9d2a99fe4b1",
      "name": "Send a message",
      "webhookId": "f3210ce8-2889-4043-a88c-a2265144b426",
      "credentials": {
        "gmailOAuth2": {
          "id": "cUMqdo7XCF6noXLb",
          "name": "Gmail-info@z-agency.cz"
        }
      }
    },
    {
      "parameters": {
        "content": "## Online Accounting  \n**Upload receipt into UOL**",
        "height": 304,
        "width": 384
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3520,
        480
      ],
      "typeVersion": 1,
      "id": "9a16a40f-f955-4091-baa5-34a4efb8eaeb",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -64,
        1056
      ],
      "id": "400d4cc1-4c55-41ec-b984-d82bfd1b5894",
      "name": "HTTP - GET GAMES"
    },
    {
      "parameters": {
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ID hry - interní název z public.terrahunt.com"
            },
            {
              "name": "Název eventu - interní název z public.terrahunt.com"
            },
            {
              "name": "Datum a čas - Start eventu - interní název z public.terrahunt.com"
            },
            {
              "name": "Datum a čas - Konec Eventu - interní název z public.terrahunt.com"
            },
            {
              "name": "Počet týmů - interní název z public.terrahunt.com"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        384,
        1056
      ],
      "id": "abd75d8c-4682-4409-9b95-ffbcb30e828a",
      "name": "HTTP POST EVENT"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        784,
        1056
      ],
      "id": "bbc9096c-551d-4f88-902a-9ec588bce6bb",
      "name": "HTTP GET EVENT"
    },
    {
      "parameters": {
        "content": "## Airtable Update Information\n**UPDATE!**\n- Game ID\n- Event ID\n- EVENT Status - Ready to play / Live / Finished\n- Event code\n- QR code",
        "height": 592,
        "width": 416
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1232,
        944
      ],
      "typeVersion": 1,
      "id": "0e473a6d-efac-47e1-9f4d-09a891c4d082",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1344,
        1216
      ],
      "id": "44bf3735-de2b-4979-be25-bc9d2a8c9358",
      "name": "Update Event Information",
      "credentials": {
        "airtableTokenApi": {
          "id": "112UtIzO07XgrN7A",
          "name": "Airtable - zmidloch@z-agency.cz"
        }
      }
    },
    {
      "parameters": {
        "content": "## Accounting Section - Receipt Operations",
        "height": 80,
        "width": 2288,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1728,
        -240
      ],
      "typeVersion": 1,
      "id": "ae82fa91-ef75-4439-8743-3b3a929b3c0e",
      "name": "Sticky Note18"
    },
    {
      "parameters": {
        "content": "## TerraHunt Game Server Section",
        "height": 80,
        "width": 1200,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -160,
        832
      ],
      "typeVersion": 1,
      "id": "ac255da3-0a0c-4cbc-873f-66027bb110d3",
      "name": "Sticky Note19"
    },
    {
      "parameters": {
        "content": "## Website Section",
        "height": 80,
        "width": 1392,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -176,
        -464
      ],
      "typeVersion": 1,
      "id": "cbef58c4-b3c1-425e-a5e6-6eeea1ca7960",
      "name": "Sticky Note20"
    },
    {
      "parameters": {
        "content": "## Stripe Section",
        "height": 80,
        "width": 1424,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -160,
        208
      ],
      "typeVersion": 1,
      "id": "842ff321-dd05-4257-a726-a00bd159fdec",
      "name": "Sticky Note21"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2320,
        1216
      ],
      "id": "0d6d0db3-7645-4091-b348-7798841f3fd0",
      "name": "Update Event Information1",
      "credentials": {
        "airtableTokenApi": {
          "id": "112UtIzO07XgrN7A",
          "name": "Airtable - zmidloch@z-agency.cz"
        }
      }
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "1i80iux_rFtmFcfL88Q2IvYUwew7RZAsLxfc2Y-KAamM",
          "mode": "list",
          "cachedResultName": "Template_Receipt_Stripe",
          "cachedResultUrl": "https://docs.google.com/document/d/1i80iux_rFtmFcfL88Q2IvYUwew7RZAsLxfc2Y-KAamM/edit?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1760,
        96
      ],
      "id": "2820fe4f-ef97-4b2d-82c3-52a44329ea99",
      "name": "Copy file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "0y8WKhAVB7SLUFcI",
          "name": "Google Drive zmidloch@z-agency.cz"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "value": "0ABzTOUwe2D1zUk9PVA",
          "mode": "list",
          "cachedResultName": "12 - Autopilot TerraHUnt",
          "cachedResultUrl": "https://drive.google.com/drive/folders/0ABzTOUwe2D1zUk9PVA"
        },
        "folderId": {
          "__rl": true,
          "value": "1MpW_IzSbwUHNa1Zpa9a-ODiLRXjFdPSW",
          "mode": "list",
          "cachedResultName": "2026",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1MpW_IzSbwUHNa1Zpa9a-ODiLRXjFdPSW"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1888,
        96
      ],
      "id": "6c86e667-a264-49c8-80cb-1291e540deb8",
      "name": "Move file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "0y8WKhAVB7SLUFcI",
          "name": "Google Drive zmidloch@z-agency.cz"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "newUpdatedFileName": "={{ $('Webhook').item.json.body.data.fields.jmeno_prijmeni + ' DPP ' + new Date().getDate() + '.' + (new Date().getMonth() + 1) + '.' + new Date().getFullYear() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2016,
        96
      ],
      "id": "8ed21278-12f9-44ce-a087-008e60555455",
      "name": "Update file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "0y8WKhAVB7SLUFcI",
          "name": "Google Drive zmidloch@z-agency.cz"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $('Update file').item.json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "replaceAll",
              "text": "{{JMENO}}",
              "replaceText": "={{ $('Webhook').item.json.body.data.fields.jmeno_prijmeni }}"
            },
            {
              "action": "replaceAll",
              "text": "{{RODNE_CISLO}}",
              "replaceText": "={{ $('Webhook').item.json.body.data.fields.rodne_cislo }}"
            },
            {
              "action": "replaceAll",
              "text": "{{BYDLISTE}}",
              "replaceText": "={{ $('Webhook').item.json.body.data.fields.trvale_bydliste }}"
            },
            {
              "action": "replaceAll",
              "text": "{{DATUM_NAROZENI}}",
              "replaceText": "={{ $json.datum_narozeni_formatovano }}"
            },
            {
              "action": "replaceAll",
              "text": "{{MISTO_NAROZENI}}",
              "replaceText": "={{ $('Webhook').item.json.body.data.fields.misto_narozeni }}"
            },
            {
              "action": "replaceAll",
              "text": "{{ZDRAVOTNI_POJISTOVNA}}",
              "replaceText": "={{ $('Webhook').item.json.body.data.fields.zdravotni_pojistovna }}"
            },
            {
              "action": "replaceAll",
              "text": "{{CISLO_UCTU}}",
              "replaceText": "={{ $('Webhook').item.json.body.data.fields.cislo_uctu }}"
            },
            {
              "action": "replaceAll",
              "text": "{{DOKLAD_SK}}",
              "replaceText": "={{ $('Webhook').item.json.body.data.fields.cislo_dokladu }}"
            },
            {
              "action": "replaceAll",
              "text": "{{TELEFON}}",
              "replaceText": "={{ $('Webhook').item.json.body.data.fields.telefon }}"
            },
            {
              "action": "replaceAll",
              "text": "{{EMAIL}}",
              "replaceText": "={{ $('Webhook').item.json.body.data.fields.email.href }}"
            },
            {
              "action": "replaceAll",
              "text": "{{DATUM}}",
              "replaceText": "={{ $json.datum_vytvoreni_smlouvy }}"
            },
            {
              "action": "replaceAll",
              "text": "{{RODNE_JMENO}}",
              "replaceText": "={{ $('Webhook').item.json.body.data.fields.rodne_jmeno }}"
            },
            {
              "action": "replaceAll",
              "text": "{{PLATNOST_OD}} ",
              "replaceText": "={{ $json.datum_vytvoreni_smlouvy }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        2336,
        96
      ],
      "id": "73307f5e-ff50-46f7-aabc-fc5e7ac7a37c",
      "name": "Update a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "z7r7DjjMY49jRh08",
          "name": "Google Docs zmidloch@z-agency.cz"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "for (const item of items) {\n    // Získání celého bloku 'fields' z Webhooku\n    const fields = $('Webhook').first().json.body.data.fields;\n    \n    // ==========================================================\n    // 1. Datum narození (načítáme z pole 'datum_narozeni')\n    // ==========================================================\n    // ZDE BYLA ZMĚNA: Používáme správný název pole\n    const isoDateString1 = fields.datum_narozeni;\n    \n    if (isoDateString1) {\n        const dateObj1 = new Date(isoDateString1);\n        // Protože datum končí na Z (UTC), getUTCDate vrátí správný den\n        const day1 = dateObj1.getUTCDate();\n        const month1 = dateObj1.getUTCMonth() + 1; \n        const year1 = dateObj1.getUTCFullYear();\n        \n        // Výsledek např: 10.7.2006\n        item.json.datum_narozeni_formatovano = `${day1}.${month1}.${year1}`;\n    } else {\n        item.json.datum_narozeni_formatovano = 'CHYBA: Datum narození nenalezeno';\n    }\n    \n    // ==========================================================\n    // 2. Datum vytvoření smlouvy (AKTUÁLNÍ DATUM)\n    // ==========================================================\n    const dateObj2 = new Date(); \n    \n    const day2 = dateObj2.getDate();\n    const month2 = dateObj2.getMonth() + 1; \n    const year2 = dateObj2.getFullYear();\n    \n    item.json.datum_vytvoreni_smlouvy = `${day2}.${month2}.${year2}`;\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2176,
        96
      ],
      "id": "d3a28447-7f07-485a-a139-529ccc9514e3",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "content": "## Receipt Creation\n**Google Disc Template File Manipulation  - Duplication of template, moving template to directory, set name, fill up, update Airtable status** \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nTemplate:\nhttps://docs.google.com/document/d/1i80iux_rFtmFcfL88Q2IvYUwew7RZAsLxfc2Y-KAamM/edit?usp=sharing",
        "height": 560,
        "width": 912
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1728,
        -112
      ],
      "typeVersion": 1,
      "id": "ad40f18a-5a9c-4794-891b-7d5d46d948a7",
      "name": "Sticky Note17"
    },
    {
      "parameters": {
        "content": "## PDF Receipt Creation and Manipulation\n**Finalize receipt operations** ",
        "height": 560,
        "width": 800
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2672,
        -112
      ],
      "typeVersion": 1,
      "id": "6550a806-2b87-49f6-9270-4bbe7b0a6af4",
      "name": "Sticky Note22"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.mimeType }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2720,
        96
      ],
      "id": "400e38de-7b48-4ec0-a7c9-4bee0b5c3c49",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "0y8WKhAVB7SLUFcI",
          "name": "Google Drive zmidloch@z-agency.cz"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appRH0mydJXkeEQIJ",
          "mode": "list",
          "cachedResultName": "TerraHunt - Sales Autopilot ",
          "cachedResultUrl": "https://airtable.com/appRH0mydJXkeEQIJ"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2880,
        96
      ],
      "id": "ad2ba6d1-7fc0-4f70-bffa-bf252c06438e",
      "name": "Update PDF Status",
      "credentials": {
        "airtableTokenApi": {
          "id": "112UtIzO07XgrN7A",
          "name": "Airtable - zmidloch@z-agency.cz"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appRH0mydJXkeEQIJ",
          "mode": "list",
          "cachedResultName": "TerraHunt - Sales Autopilot ",
          "cachedResultUrl": "https://airtable.com/appRH0mydJXkeEQIJ"
        },
        "table": {
          "__rl": true,
          "value": "tblWfEAxc3ARNesff",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appRH0mydJXkeEQIJ/tblWfEAxc3ARNesff"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Délka hry": 0,
            "Počet týmů": 0,
            "Cena za tým": 0,
            "Celková cena": 0
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "ID objednávky",
              "displayName": "ID objednávky",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Datum a čas objednávky",
              "displayName": "Datum a čas objednávky",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Kupující - Jméno a Příjmení",
              "displayName": "Kupující - Jméno a Příjmení",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Kupující - Telefon",
              "displayName": "Kupující - Telefon",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Kupující - Email",
              "displayName": "Kupující - Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Kupující - Adresa",
              "displayName": "Kupující - Adresa",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Kupující - Město",
              "displayName": "Kupující - Město",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Kupující - PSČ",
              "displayName": "Kupující - PSČ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Kupující - Stát",
              "displayName": "Kupující - Stát",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Hráč - Jméno a Příjmení",
              "displayName": "Hráč - Jméno a Příjmení",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Hráč - Telefon",
              "displayName": "Hráč - Telefon",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Hráč - Email",
              "displayName": "Hráč - Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Název hry",
              "displayName": "Název hry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Datum hry",
              "displayName": "Datum hry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Start hry",
              "displayName": "Start hry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Délka hry",
              "displayName": "Délka hry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Konec hry",
              "displayName": "Konec hry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Počet týmů",
              "displayName": "Počet týmů",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Cena za tým",
              "displayName": "Cena za tým",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Celková cena",
              "displayName": "Celková cena",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Stripe platba",
              "displayName": "Stripe platba",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Čeká se na platbu",
                  "value": "Čeká se na platbu"
                },
                {
                  "name": "Zaplaceno",
                  "value": "Zaplaceno"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "ID Stripe platby",
              "displayName": "ID Stripe platby",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Brand karty",
              "displayName": "Brand karty",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Poslední 4 čísla",
              "displayName": "Poslední 4 čísla",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Země vydání",
              "displayName": "Země vydání",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Receipt Status",
              "displayName": "Receipt Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "options": [
                {
                  "name": "Created DOC",
                  "value": "Created DOC"
                },
                {
                  "name": "Created PDF",
                  "value": "Created PDF"
                },
                {
                  "name": "Saved Airtable",
                  "value": "Saved Airtable"
                },
                {
                  "name": "Uploaded to UOL",
                  "value": "Uploaded to UOL"
                },
                {
                  "name": "Sent to Client",
                  "value": "Sent to Client"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Receipt",
              "displayName": "Receipt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2496,
        96
      ],
      "id": "74141d0d-1317-4eeb-bdac-e8c74d0b7b0d",
      "name": "Update DOC Status",
      "credentials": {
        "airtableTokenApi": {
          "id": "112UtIzO07XgrN7A",
          "name": "Airtable - zmidloch@z-agency.cz"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appRH0mydJXkeEQIJ",
          "mode": "list",
          "cachedResultName": "TerraHunt - Sales Autopilot ",
          "cachedResultUrl": "https://airtable.com/appRH0mydJXkeEQIJ"
        },
        "table": {
          "__rl": true,
          "value": "tblWfEAxc3ARNesff",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appRH0mydJXkeEQIJ/tblWfEAxc3ARNesff"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Délka hry": 0,
            "Počet týmů": 0,
            "Cena za tým": 0,
            "Celková cena": 0
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "ID objednávky",
              "displayName": "ID objednávky",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Datum a čas objednávky",
              "displayName": "Datum a čas objednávky",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Kupující - Jméno a Příjmení",
              "displayName": "Kupující - Jméno a Příjmení",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Kupující - Telefon",
              "displayName": "Kupující - Telefon",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Kupující - Email",
              "displayName": "Kupující - Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Kupující - Adresa",
              "displayName": "Kupující - Adresa",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Kupující - Město",
              "displayName": "Kupující - Město",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Kupující - PSČ",
              "displayName": "Kupující - PSČ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Kupující - Stát",
              "displayName": "Kupující - Stát",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Hráč - Jméno a Příjmení",
              "displayName": "Hráč - Jméno a Příjmení",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Hráč - Telefon",
              "displayName": "Hráč - Telefon",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Hráč - Email",
              "displayName": "Hráč - Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Název hry",
              "displayName": "Název hry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Datum hry",
              "displayName": "Datum hry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Start hry",
              "displayName": "Start hry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Délka hry",
              "displayName": "Délka hry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Konec hry",
              "displayName": "Konec hry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Počet týmů",
              "displayName": "Počet týmů",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Cena za tým",
              "displayName": "Cena za tým",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Celková cena",
              "displayName": "Celková cena",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Stripe platba",
              "displayName": "Stripe platba",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Čeká se na platbu",
                  "value": "Čeká se na platbu"
                },
                {
                  "name": "Zaplaceno",
                  "value": "Zaplaceno"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "ID Stripe platby",
              "displayName": "ID Stripe platby",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Brand karty",
              "displayName": "Brand karty",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Poslední 4 čísla",
              "displayName": "Poslední 4 čísla",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Země vydání",
              "displayName": "Země vydání",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Receipt Status",
              "displayName": "Receipt Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "options": [
                {
                  "name": "Created DOC",
                  "value": "Created DOC"
                },
                {
                  "name": "Created PDF",
                  "value": "Created PDF"
                },
                {
                  "name": "Saved Airtable",
                  "value": "Saved Airtable"
                },
                {
                  "name": "Uploaded to UOL",
                  "value": "Uploaded to UOL"
                },
                {
                  "name": "Sent to Client",
                  "value": "Sent to Client"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Receipt",
              "displayName": "Receipt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        3056,
        96
      ],
      "id": "a044c507-e7bb-44fc-8605-c79b08d89984",
      "name": "Airtable PDF Upload",
      "credentials": {
        "airtableTokenApi": {
          "id": "112UtIzO07XgrN7A",
          "name": "Airtable - zmidloch@z-agency.cz"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appRH0mydJXkeEQIJ",
          "mode": "list",
          "cachedResultName": "TerraHunt - Sales Autopilot ",
          "cachedResultUrl": "https://airtable.com/appRH0mydJXkeEQIJ"
        },
        "table": {
          "__rl": true,
          "value": "tblWfEAxc3ARNesff",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appRH0mydJXkeEQIJ/tblWfEAxc3ARNesff"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "ID objednávky",
              "displayName": "ID objednávky",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Datum a čas objednávky",
              "displayName": "Datum a čas objednávky",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Kupující - Jméno a Příjmení",
              "displayName": "Kupující - Jméno a Příjmení",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Kupující - Telefon",
              "displayName": "Kupující - Telefon",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Kupující - Email",
              "displayName": "Kupující - Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Kupující - Adresa",
              "displayName": "Kupující - Adresa",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Kupující - Město",
              "displayName": "Kupující - Město",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Kupující - PSČ",
              "displayName": "Kupující - PSČ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Kupující - Stát",
              "displayName": "Kupující - Stát",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Hráč - Jméno a Příjmení",
              "displayName": "Hráč - Jméno a Příjmení",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Hráč - Telefon",
              "displayName": "Hráč - Telefon",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Hráč - Email",
              "displayName": "Hráč - Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Název hry",
              "displayName": "Název hry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Datum hry",
              "displayName": "Datum hry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Start hry",
              "displayName": "Start hry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Délka hry",
              "displayName": "Délka hry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Konec hry",
              "displayName": "Konec hry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Počet týmů",
              "displayName": "Počet týmů",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Cena za tým",
              "displayName": "Cena za tým",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Celková cena",
              "displayName": "Celková cena",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Stripe platba",
              "displayName": "Stripe platba",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Čeká se na platbu",
                  "value": "Čeká se na platbu"
                },
                {
                  "name": "Zaplaceno",
                  "value": "Zaplaceno"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "ID Stripe platby",
              "displayName": "ID Stripe platby",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Brand karty",
              "displayName": "Brand karty",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Poslední 4 čísla",
              "displayName": "Poslední 4 čísla",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Země vydání",
              "displayName": "Země vydání",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Receipt Status",
              "displayName": "Receipt Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "options": [
                {
                  "name": "Created DOC",
                  "value": "Created DOC"
                },
                {
                  "name": "Created PDF",
                  "value": "Created PDF"
                },
                {
                  "name": "Saved Airtable",
                  "value": "Saved Airtable"
                },
                {
                  "name": "Uploaded to UOL",
                  "value": "Uploaded to UOL"
                },
                {
                  "name": "Sent to Client",
                  "value": "Sent to Client"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Receipt",
              "displayName": "Receipt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        3248,
        96
      ],
      "id": "1692cb04-ea59-4a77-8d5e-ad7c7e7251aa",
      "name": "Update Airtable Upload Status",
      "credentials": {
        "airtableTokenApi": {
          "id": "112UtIzO07XgrN7A",
          "name": "Airtable - zmidloch@z-agency.cz"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appRH0mydJXkeEQIJ",
          "mode": "list",
          "cachedResultName": "TerraHunt - Sales Autopilot ",
          "cachedResultUrl": "https://airtable.com/appRH0mydJXkeEQIJ"
        },
        "table": {
          "__rl": true,
          "value": "tblWfEAxc3ARNesff",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appRH0mydJXkeEQIJ/tblWfEAxc3ARNesff"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "ID objednávky",
              "displayName": "ID objednávky",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Datum a čas objednávky",
              "displayName": "Datum a čas objednávky",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Kupující - Jméno a Příjmení",
              "displayName": "Kupující - Jméno a Příjmení",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Kupující - Telefon",
              "displayName": "Kupující - Telefon",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Kupující - Email",
              "displayName": "Kupující - Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Kupující - Adresa",
              "displayName": "Kupující - Adresa",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Kupující - Město",
              "displayName": "Kupující - Město",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Kupující - PSČ",
              "displayName": "Kupující - PSČ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Kupující - Stát",
              "displayName": "Kupující - Stát",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Hráč - Jméno a Příjmení",
              "displayName": "Hráč - Jméno a Příjmení",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Hráč - Telefon",
              "displayName": "Hráč - Telefon",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Hráč - Email",
              "displayName": "Hráč - Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Název hry",
              "displayName": "Název hry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Datum hry",
              "displayName": "Datum hry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Start hry",
              "displayName": "Start hry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Délka hry",
              "displayName": "Délka hry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Konec hry",
              "displayName": "Konec hry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Počet týmů",
              "displayName": "Počet týmů",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Cena za tým",
              "displayName": "Cena za tým",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Celková cena",
              "displayName": "Celková cena",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Stripe platba",
              "displayName": "Stripe platba",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Čeká se na platbu",
                  "value": "Čeká se na platbu"
                },
                {
                  "name": "Zaplaceno",
                  "value": "Zaplaceno"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "ID Stripe platby",
              "displayName": "ID Stripe platby",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Brand karty",
              "displayName": "Brand karty",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Poslední 4 čísla",
              "displayName": "Poslední 4 čísla",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Země vydání",
              "displayName": "Země vydání",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Receipt Status",
              "displayName": "Receipt Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "options": [
                {
                  "name": "Created DOC",
                  "value": "Created DOC"
                },
                {
                  "name": "Created PDF",
                  "value": "Created PDF"
                },
                {
                  "name": "Saved Airtable",
                  "value": "Saved Airtable"
                },
                {
                  "name": "Uploaded to UOL",
                  "value": "Uploaded to UOL"
                },
                {
                  "name": "Sent to Client",
                  "value": "Sent to Client"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Receipt",
              "displayName": "Receipt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        3776,
        96
      ],
      "id": "3bea3088-1efa-417b-afa3-868882f74c30",
      "name": "Update Client Email Status",
      "credentials": {
        "airtableTokenApi": {
          "id": "112UtIzO07XgrN7A",
          "name": "Airtable - zmidloch@z-agency.cz"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3568,
        624
      ],
      "id": "5e14c6b4-e7ed-43e5-8fb3-2c616e688a4c",
      "name": "HTTP Post PDF to UOL"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appRH0mydJXkeEQIJ",
          "mode": "list",
          "cachedResultName": "TerraHunt - Sales Autopilot ",
          "cachedResultUrl": "https://airtable.com/appRH0mydJXkeEQIJ"
        },
        "table": {
          "__rl": true,
          "value": "tblWfEAxc3ARNesff",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appRH0mydJXkeEQIJ/tblWfEAxc3ARNesff"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Délka hry": 0,
            "Počet týmů": 0,
            "Cena za tým": 0,
            "Celková cena": 0
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "ID objednávky",
              "displayName": "ID objednávky",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Datum a čas objednávky",
              "displayName": "Datum a čas objednávky",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Kupující - Jméno a Příjmení",
              "displayName": "Kupující - Jméno a Příjmení",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Kupující - Telefon",
              "displayName": "Kupující - Telefon",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Kupující - Email",
              "displayName": "Kupující - Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Kupující - Adresa",
              "displayName": "Kupující - Adresa",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Kupující - Město",
              "displayName": "Kupující - Město",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Kupující - PSČ",
              "displayName": "Kupující - PSČ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Kupující - Stát",
              "displayName": "Kupující - Stát",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Hráč - Jméno a Příjmení",
              "displayName": "Hráč - Jméno a Příjmení",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Hráč - Telefon",
              "displayName": "Hráč - Telefon",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Hráč - Email",
              "displayName": "Hráč - Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Název hry",
              "displayName": "Název hry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Datum hry",
              "displayName": "Datum hry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Start hry",
              "displayName": "Start hry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Délka hry",
              "displayName": "Délka hry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Konec hry",
              "displayName": "Konec hry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Počet týmů",
              "displayName": "Počet týmů",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Cena za tým",
              "displayName": "Cena za tým",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Celková cena",
              "displayName": "Celková cena",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Stripe platba",
              "displayName": "Stripe platba",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Čeká se na platbu",
                  "value": "Čeká se na platbu"
                },
                {
                  "name": "Zaplaceno",
                  "value": "Zaplaceno"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "ID Stripe platby",
              "displayName": "ID Stripe platby",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Brand karty",
              "displayName": "Brand karty",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Poslední 4 čísla",
              "displayName": "Poslední 4 čísla",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Země vydání",
              "displayName": "Země vydání",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Receipt Status",
              "displayName": "Receipt Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "options": [
                {
                  "name": "Created DOC",
                  "value": "Created DOC"
                },
                {
                  "name": "Created PDF",
                  "value": "Created PDF"
                },
                {
                  "name": "Saved Airtable",
                  "value": "Saved Airtable"
                },
                {
                  "name": "Uploaded to UOL",
                  "value": "Uploaded to UOL"
                },
                {
                  "name": "Sent to Client",
                  "value": "Sent to Client"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Receipt",
              "displayName": "Receipt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        3760,
        624
      ],
      "id": "2b695d9e-31db-4eb9-8a74-38e5a71da08c",
      "name": "Update UOL Status",
      "credentials": {
        "airtableTokenApi": {
          "id": "112UtIzO07XgrN7A",
          "name": "Airtable - zmidloch@z-agency.cz"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2096,
        1216
      ],
      "id": "b30a834b-d7cc-4df3-8ecc-a857d8187449",
      "name": "Message to Client - Tutorials & QR",
      "webhookId": "02138876-0b53-4535-a32b-6d3824d68287",
      "credentials": {
        "gmailOAuth2": {
          "id": "cUMqdo7XCF6noXLb",
          "name": "Gmail-info@z-agency.cz"
        }
      }
    },
    {
      "parameters": {
        "content": "## Create and Send Instructions to Client",
        "height": 80,
        "width": 1872,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1232,
        816
      ],
      "typeVersion": 1,
      "id": "e310f9d0-6d6f-4462-9049-08a82079d100",
      "name": "Sticky Note23"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1840,
        1216
      ],
      "id": "d601962f-fe77-411a-ae61-79042797f026",
      "name": "Create Personalized Message"
    }
  ],
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "zVAjJgKV17IWzFP7",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2025-12-30T12:31:52.048Z",
      "createdAt": "2025-12-30T12:31:52.048Z",
      "role": "workflow:owner",
      "workflowId": "4R81nuKygouPIGFs",
      "projectId": "XqkS7oX8lMj4YbIK"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-12-30T13:09:33.157Z",
  "versionId": "3de3bcbc-6946-4a3b-92e4-442a0432445f"
}