hetzner-2c-4g/Vytvoření schůzky v Google Kalendáři a odeslání pozvánek-ujq0yPWtYflKXFC6.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Manuální spuštění": {
      "main": [
        [
          {
            "node": "Nastavit data schůzky",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nastavit data schůzky": {
      "main": [
        [
          {
            "node": "Google Kalendář",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Kalendář": {
      "main": [
        [
          {
            "node": "Rozdělit účastníky",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rozdělit účastníky": {
      "main": [
        [
          {
            "node": "Příprava dat pro email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Příprava dat pro email": {
      "main": [
        [
          {
            "node": "Gmail - Odeslat pozvánky",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-25T21:45:23.820Z",
  "id": "ujq0yPWtYflKXFC6",
  "isArchived": true,
  "meta": null,
  "name": "Vytvoření schůzky v Google Kalendáři a odeslání pozvánek",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "id": "a1b2c3d4-e5f6-4a5b-8c9d-0e1f2a3b4c5d",
      "name": "Manuální spuštění"
    },
    {
      "parameters": {
        "content": "## Vstupní data\nNastavte vstupní data pro schůzku:\n- Název schůzky\n- Datum a čas\n- Trvání\n- Seznam účastníků (emailové adresy)\n- Popis schůzky\n\n**Poznámka:** Můžete použít Form Trigger nebo Webhook místo manuálního spuštění.",
        "height": 280,
        "width": 320,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        140,
        80
      ],
      "id": "b2c3d4e5-f6a7-4b5c-9d0e-1f2a3b4c5d6e",
      "name": "Sticky Note - Vstup"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1b2c3d4-e5f6-4a5b-8c9d",
              "name": "nazevSchuzky",
              "value": "Týdenní schůzka týmu",
              "type": "string"
            },
            {
              "id": "b2c3d4e5-f6a7-4b5c-9d0e",
              "name": "datumCas",
              "value": "2024-01-15T10:00:00",
              "type": "string"
            },
            {
              "id": "c3d4e5f6-a7b8-4c5d-0e1f",
              "name": "trvani",
              "value": "60",
              "type": "number"
            },
            {
              "id": "d4e5f6a7-b8c9-4d5e-1f2a",
              "name": "ucastnici",
              "value": "jan.novak@firma.cz, petra.svobodova@firma.cz, tomas.kral@firma.cz",
              "type": "string"
            },
            {
              "id": "e5f6a7b8-c9d0-4e5f-2a3b",
              "name": "popis",
              "value": "Pravidelná týdenní schůzka týmu - review projektů, plánování úkolů a diskuze.",
              "type": "string"
            },
            {
              "id": "f6a7b8c9-d0e1-4f5a-3b4c",
              "name": "lokace",
              "value": "Místnost 301 / Online",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        440,
        300
      ],
      "id": "c3d4e5f6-a7b8-4c5d-9d0e-1f2a3b4c5d6e",
      "name": "Nastavit data schůzky"
    },
    {
      "parameters": {
        "content": "## Příprava dat\nZde se nastaví všechny potřebné informace o schůzce.\n\n**Upravte dle potřeby:**\n- název schůzky\n- datum a čas\n- trvání (v minutách)\n- seznam účastníků oddělený čárkami\n- popis a lokaci",
        "height": 240,
        "width": 300,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        360,
        80
      ],
      "id": "d4e5f6a7-b8c9-4d5e-0e1f-2a3b4c5d6e7f",
      "name": "Sticky Note - Příprava"
    },
    {
      "parameters": {
        "operation": "create",
        "calendarId": {
          "__rl": true,
          "mode": "list",
          "value": "primary"
        },
        "start": "={{ $json.datumCas }}",
        "end": "={{ new Date(new Date($json.datumCas).getTime() + $json.trvani * 60000).toISOString() }}",
        "summary": "={{ $json.nazevSchuzky }}",
        "additionalFields": {
          "attendees": "={{ $json.ucastnici.split(',').map(email => email.trim()) }}",
          "description": "={{ $json.popis }}",
          "location": "={{ $json.lokace }}",
          "sendUpdates": "all"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 2,
      "position": [
        660,
        300
      ],
      "id": "e5f6a7b8-c9d0-4e5f-1f2a-3b4c5d6e7f8a",
      "name": "Google Kalendář",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "google-calendar-credentials-id",
          "name": "Google Calendar účet"
        }
      }
    },
    {
      "parameters": {
        "content": "## Vytvoření události\nVytvoří událost v Google Kalendáři s:\n- Začátkem a koncem\n- Seznamem účastníků\n- Popisem a lokací\n\n**Potřebné nastavení:**\n✓ Připojit Google Calendar účet\n✓ Povolit přístup ke kalendáři",
        "height": 260,
        "width": 300,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        580,
        80
      ],
      "id": "f6a7b8c9-d0e1-4f5a-2a3b-4c5d6e7f8a9b",
      "name": "Sticky Note - Kalendář"
    },
    {
      "parameters": {
        "fieldToSplitOut": "={{ $json.ucastnici.split(',') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        880,
        300
      ],
      "id": "a7b8c9d0-e1f2-4a5b-3b4c-5d6e7f8a9b0c",
      "name": "Rozdělit účastníky"
    },
    {
      "parameters": {
        "content": "## Rozdělení účastníků\nRozdělí seznam účastníků na jednotlivé položky, aby každý dostal samostatný email.",
        "height": 180,
        "width": 260,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        820,
        80
      ],
      "id": "b8c9d0e1-f2a3-4b5c-4c5d-6e7f8a9b0c1d",
      "name": "Sticky Note - Rozdělení"
    },
    {
      "parameters": {
        "operation": "send",
        "sendTo": "={{ $json.email.trim() }}",
        "subject": "=Pozvánka: {{ $('Google Kalendář').item.json.summary }}",
        "emailType": "html",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }\n    .container { max-width: 600px; margin: 0 auto; padding: 20px; }\n    .header { background-color: #4285f4; color: white; padding: 20px; text-align: center; }\n    .content { background-color: #f9f9f9; padding: 20px; margin: 20px 0; }\n    .detail { margin: 10px 0; padding: 10px; background-color: white; }\n    .label { font-weight: bold; color: #555; }\n    .button { display: inline-block; padding: 12px 24px; background-color: #4285f4; color: white; text-decoration: none; border-radius: 4px; margin: 20px 0; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>📅 Pozvánka na schůzku</h1>\n    </div>\n    <div class=\"content\">\n      <h2>{{ $('Google Kalendář').item.json.summary }}</h2>\n      \n      <div class=\"detail\">\n        <span class=\"label\">🕐 Datum a čas:</span><br>\n        {{ new Date($('Google Kalendář').item.json.start.dateTime).toLocaleString('cs-CZ', { dateStyle: 'full', timeStyle: 'short' }) }}\n      </div>\n      \n      <div class=\"detail\">\n        <span class=\"label\">⏱️ Trvání:</span><br>\n        {{ $('Nastavit data schůzky').item.json.trvani }} minut\n      </div>\n      \n      <div class=\"detail\">\n        <span class=\"label\">📍 Lokace:</span><br>\n        {{ $('Google Kalendář').item.json.location || 'Neurčeno' }}\n      </div>\n      \n      <div class=\"detail\">\n        <span class=\"label\">📝 Popis:</span><br>\n        {{ $('Google Kalendář').item.json.description || 'Bez popisu' }}\n      </div>\n      \n      <div style=\"text-align: center;\">\n        <a href=\"{{ $('Google Kalendář').item.json.htmlLink }}\" class=\"button\">Zobrazit v kalendáři</a>\n      </div>\n      \n      <p style=\"margin-top: 20px; color: #666; font-size: 14px;\">\n        Tato událost byla automaticky přidána do vašeho Google Kalendáře.\n      </p>\n    </div>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1100,
        300
      ],
      "id": "c9d0e1f2-a3b4-4c5d-5d6e-7f8a9b0c1d2e",
      "name": "Gmail - Odeslat pozvánky",
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-credentials-id",
          "name": "Gmail účet"
        }
      }
    },
    {
      "parameters": {
        "content": "## Odeslání pozvánek\nOdešle každému účastníkovi personalizovanou emailovou pozvánku s:\n- Detaily schůzky\n- Odkazem do kalendáře\n- Pěkným HTML formátováním\n\n**Potřebné nastavení:**\n✓ Připojit Gmail účet\n✓ Povolit odesílání emailů",
        "height": 280,
        "width": 300,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1020,
        80
      ],
      "id": "d0e1f2a3-b4c5-4d5e-6e7f-8a9b0c1d2e3f",
      "name": "Sticky Note - Email"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1b2c3d4-e5f6-7a8b",
              "name": "email",
              "value": "={{ $json }}",
              "type": "string"
            },
            {
              "id": "b2c3d4e5-f6a7-8b9c",
              "name": "nazevSchuzky",
              "value": "={{ $('Google Kalendář').item.json.summary }}",
              "type": "string"
            },
            {
              "id": "c3d4e5f6-a7b8-9c0d",
              "name": "datumCas",
              "value": "={{ $('Google Kalendář').item.json.start.dateTime }}",
              "type": "string"
            },
            {
              "id": "d4e5f6a7-b8c9-0d1e",
              "name": "odkaz",
              "value": "={{ $('Google Kalendář').item.json.htmlLink }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1100,
        480
      ],
      "id": "e1f2a3b4-c5d6-4e5f-7f8a-9b0c1d2e3f4a",
      "name": "Příprava dat pro email"
    }
  ],
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveDataErrorExecution": "all",
    "errorWorkflow": "",
    "timezone": "Europe/Prague",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2025-12-25T21:45:23.820Z",
      "createdAt": "2025-12-25T21:45:23.820Z",
      "role": "workflow:owner",
      "workflowId": "ujq0yPWtYflKXFC6",
      "projectId": "XqkS7oX8lMj4YbIK"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-25T22:10:10.720Z",
  "versionId": "3c66c93b-4c98-4d60-baa4-e972513326fe"
}