hetzner-2c-4g/Z-AGENCY - Upload Invoices to UOL-kvYWV9ea7tr9CqUz.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-01-07T15:09:07.175Z",
    "createdAt": "2026-01-07T15:09:03.502Z",
    "versionId": "01351532-eaab-40cd-b63a-0b2a4ac6ea60",
    "workflowId": "kvYWV9ea7tr9CqUz",
    "nodes": [
      {
        "parameters": {
          "content": "## Z-AGENCY  - UOL Invoices/Documents Upload\n**A new document in Muj počítač/2026/To Upload is uploaded to UOL documents and then moved to Uploaded folder** ",
          "height": 528,
          "width": 1424,
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -160,
          -400
        ],
        "typeVersion": 1,
        "id": "60f7332a-7e7d-45eb-ac78-f47a8165a5c1",
        "name": "Sticky Note18"
      },
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyHour"
              }
            ]
          },
          "triggerOn": "specificFolder",
          "folderToWatch": {
            "__rl": true,
            "value": "1iEk_YSqbbpx2D1QMNUpfyKRlWfvYtgBu",
            "mode": "list",
            "cachedResultName": "Z_To_Upload",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1iEk_YSqbbpx2D1QMNUpfyKRlWfvYtgBu"
          },
          "event": "fileCreated",
          "options": {}
        },
        "type": "n8n-nodes-base.googleDriveTrigger",
        "typeVersion": 1,
        "position": [
          -32,
          -224
        ],
        "id": "22457866-3794-41ee-a742-1d96b30f3868",
        "name": "Discover a New File in To Upload Folder",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "0y8WKhAVB7SLUFcI",
            "name": "Google Drive zmidloch@z-agency.cz"
          }
        }
      },
      {
        "parameters": {
          "operation": "download",
          "fileId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          },
          "options": {
            "googleFileConversion": {
              "conversion": {
                "docsToFormat": "application/pdf"
              }
            }
          }
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          528,
          -208
        ],
        "id": "ab472c5f-5f53-4bc8-ad5f-708c9d4e0cfd",
        "name": "Download file",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "0y8WKhAVB7SLUFcI",
            "name": "Google Drive zmidloch@z-agency.cz"
          }
        }
      },
      {
        "parameters": {
          "operation": "move",
          "fileId": {
            "__rl": true,
            "value": "={{ $('Download file').item.json.id }}",
            "mode": "id"
          },
          "driveId": {
            "__rl": true,
            "value": "My Drive",
            "mode": "list",
            "cachedResultName": "My Drive",
            "cachedResultUrl": "https://drive.google.com/drive/my-drive"
          },
          "folderId": {
            "__rl": true,
            "value": "1khXxR0fop5CyVlrCyuN88Kw5Ifg2re2x",
            "mode": "list",
            "cachedResultName": "Z_Uploaded",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1khXxR0fop5CyVlrCyuN88Kw5Ifg2re2x"
          }
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          960,
          -96
        ],
        "id": "a509ac40-aaf5-4db8-a11a-82f034bcb2b5",
        "name": "Move File to Uploaded Folder",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "0y8WKhAVB7SLUFcI",
            "name": "Google Drive zmidloch@z-agency.cz"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          256,
          -224
        ],
        "id": "6aaa7cb4-322b-4cff-81ed-9a7b92313ea7",
        "name": "Loop Over Items"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://zagency.ucetnictvi.uol.cz/api/v1/uploaded_documents",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBasicAuth",
          "sendBody": true,
          "contentType": "multipart-form-data",
          "bodyParameters": {
            "parameters": [
              {
                "parameterType": "formBinaryData",
                "name": "file",
                "inputDataFieldName": "data"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          736,
          -208
        ],
        "id": "f1f11b04-e954-4392-bc3f-c8e16bd4a510",
        "name": "Upload PDF to UOL server - Z-AGENCY",
        "alwaysOutputData": true,
        "credentials": {
          "httpBasicAuth": {
            "id": "g9sUvJe5xEHSB4fE",
            "name": "UOL API Z-AGENCY"
          }
        }
      }
    ],
    "connections": {
      "Discover a New File in To Upload Folder": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download file": {
        "main": [
          [
            {
              "node": "Upload PDF to UOL server - Z-AGENCY",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [],
          [
            {
              "node": "Download file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Move File to Uploaded Folder": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload PDF to UOL server - Z-AGENCY": {
        "main": [
          [
            {
              "node": "Move File to Uploaded Folder",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Jiri Zmidloch",
    "name": "Version 01351532",
    "description": "",
    "autosaved": false
  },
  "activeVersionId": "01351532-eaab-40cd-b63a-0b2a4ac6ea60",
  "connections": {
    "Discover a New File in To Upload Folder": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Upload PDF to UOL server - Z-AGENCY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move File to Uploaded Folder": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload PDF to UOL server - Z-AGENCY": {
      "main": [
        [
          {
            "node": "Move File to Uploaded Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-02T14:13:43.870Z",
  "id": "kvYWV9ea7tr9CqUz",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Z-AGENCY - Upload Invoices to UOL",
  "nodes": [
    {
      "parameters": {
        "content": "## Z-AGENCY  - UOL Invoices/Documents Upload\n**A new document in Muj počítač/2026/To Upload is uploaded to UOL documents and then moved to Uploaded folder** ",
        "height": 528,
        "width": 1424,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -160,
        -400
      ],
      "typeVersion": 1,
      "id": "60f7332a-7e7d-45eb-ac78-f47a8165a5c1",
      "name": "Sticky Note18"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1iEk_YSqbbpx2D1QMNUpfyKRlWfvYtgBu",
          "mode": "list",
          "cachedResultName": "Z_To_Upload",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1iEk_YSqbbpx2D1QMNUpfyKRlWfvYtgBu"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -32,
        -224
      ],
      "id": "22457866-3794-41ee-a742-1d96b30f3868",
      "name": "Discover a New File in To Upload Folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "0y8WKhAVB7SLUFcI",
          "name": "Google Drive zmidloch@z-agency.cz"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        528,
        -208
      ],
      "id": "ab472c5f-5f53-4bc8-ad5f-708c9d4e0cfd",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "0y8WKhAVB7SLUFcI",
          "name": "Google Drive zmidloch@z-agency.cz"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Download file').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1khXxR0fop5CyVlrCyuN88Kw5Ifg2re2x",
          "mode": "list",
          "cachedResultName": "Z_Uploaded",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1khXxR0fop5CyVlrCyuN88Kw5Ifg2re2x"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        960,
        -96
      ],
      "id": "a509ac40-aaf5-4db8-a11a-82f034bcb2b5",
      "name": "Move File to Uploaded Folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "0y8WKhAVB7SLUFcI",
          "name": "Google Drive zmidloch@z-agency.cz"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        256,
        -224
      ],
      "id": "6aaa7cb4-322b-4cff-81ed-9a7b92313ea7",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://zagency.ucetnictvi.uol.cz/api/v1/uploaded_documents",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        736,
        -208
      ],
      "id": "f1f11b04-e954-4392-bc3f-c8e16bd4a510",
      "name": "Upload PDF to UOL server - Z-AGENCY",
      "alwaysOutputData": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "g9sUvJe5xEHSB4fE",
          "name": "UOL API Z-AGENCY"
        }
      }
    }
  ],
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "zVAjJgKV17IWzFP7",
    "timezone": "Europe/Prague"
  },
  "shared": [
    {
      "updatedAt": "2026-01-02T14:13:43.870Z",
      "createdAt": "2026-01-02T14:13:43.870Z",
      "role": "workflow:owner",
      "workflowId": "kvYWV9ea7tr9CqUz",
      "projectId": "XqkS7oX8lMj4YbIK"
    }
  ],
  "staticData": {
    "node:Discover a New File in To Upload Folder": {
      "lastTimeChecked": "2026-02-02T10:00:08Z"
    },
    "node:Discover a New File in To Upload Folder1": {
      "lastTimeChecked": "2026-01-07T15:05:33Z"
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-01-07T15:09:03.499Z",
  "versionId": "01351532-eaab-40cd-b63a-0b2a4ac6ea60"
}